In [1]:
import pandas
import pysdql

path = r'T:\UG4-Proj\datasets'
answer_path = r'T:\UG4-Proj\datasets'

customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
region = pandas.read_table(rf'{path}\region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

# r = r.merge(orders, how='inner', left_on='o_orderkey', right_on='l_orderkey')

In [2]:
# TPCH - 1
'''
l_shipdate <= date '1998-12-01' - interval ':1' day (3)
'''
var1 = '1998-09-05'
r = lineitem[lineitem['l_shipdate'] <= var1]

r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

r = r.groupby(['l_returnflag', 'l_linestatus'], as_index=False).agg(sum_qty=('l_quantity', 'sum'),
                                                    sum_base_price=('l_extendedprice', 'sum'),
                                                    sum_disc_price=('disc_price', 'sum'),
                                                    sum_charge=('charge', 'sum'),
                                                    avg_qty=('l_quantity', 'mean'),
                                                    avg_price=('l_extendedprice', 'mean'),
                                                    avg_disc=('l_discount', 'mean'),
                                                    count_order=('l_returnflag', 'count')
                                                    )
r

C:\Users\Y\AppData\Local\Temp\ipykernel_20052\3106525084.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
C:\Users\Y\AppData\Local\Temp\ipykernel_20052\3106525084.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

,l_returnflag,l_linestatus,sum_qty,sum_base_price,sum_disc_price,sum_charge,avg_qty,avg_price,avg_disc,count_order
0,A,F,380456,5.323482e+08,5.058224e+08,5.261659e+08,25.575155,35785.709307,0.050081,14876
1,N,F,8971,1.238480e+07,1.179826e+07,1.228249e+07,25.778736,35588.509684,0.047759,348
2,N,O,744494,1.043800e+09,9.919186e+08,1.031681e+09,25.458879,35694.000167,0.049925,29243
3,R,F,381449,5.345944e+08,5.079965e+08,5.285242e+08,25.597168,35874.006533,0.049828,14902

In [3]:
# # TPCH - 2
# '''
# p_partkey = ps_partkey
# and s_suppkey = ps_suppkey
# and s_nationkey = n_nationkey
# and n_regionkey = r_regionkey
# and r_name = ':3'
# '''
# var1 = 3
# var2 = 'TIN'
# var3 = 'AMERICA'
# # r = partsupp.merge(supplier, how='inner', left_on='ps_suppkey', right_on='s_suppkey')\
# #     .merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')\
# #     .merge(region, how='inner', left_on='n_regionkey', right_on='r_regionkey')
# r = partsupp.merge(supplier, how='inner', left_on='ps_suppkey', right_on='s_suppkey')\
#     .merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')\
#     .merge(region, how='inner', left_on='n_regionkey', right_on='r_regionkey')

# r = r[(r['r_name'] == var3)].groupby(['ps_partkey'], as_index=False).min()

# s = part.merge(partsupp, how='inner', left_on='p_partkey', right_on='ps_partkey')\
#     .merge(supplier, how='inner', left_on='ps_suppkey', right_on='s_suppkey')\
#     .merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')\
#     .merge(region, how='inner', left_on='n_regionkey', right_on='r_regionkey')

# s = s[(s['p_size'] == 3)
#       & s['p_type'].str.endswith(var2)
#       & (s['r_name'] == var3)]

# t = s.merge(r, how='inner', left_on='p_partkey', right_on='ps_partkey')
# # [['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
# print(t)

In [71]:
# TPCH - 3

import pandas

var1 = 'BUILDING'
var2 = '1995-03-22'

customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = customer.merge(orders, how='inner', left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, how='inner', left_on='o_orderkey', right_on='l_orderkey')

r = r[(r['c_mktsegment'] == var1)
      & (r['o_orderdate'] < var2)
      & (r['l_shipdate'] > var2)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority'], as_index=False) \
    .agg(revenue=('value', 'sum'))

   l_orderkey o_orderdate  o_shippriority     revenue
0         742  1994-12-23               0  43728.0480
1         775  1995-03-18               0  55713.6063
2         998  1994-11-26               0   6811.4340
3        1637  1995-02-08               0  87438.8481
4        2883  1995-01-23               0  36666.9612
5        3430  1994-12-12               0   4726.6775
6        3492  1994-11-24               0  43716.0724
7        5191  1994-12-11               0  49378.3094

In [5]:
# TPCH - 4

In [74]:
# TPCH - 5
import pandas

var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year

customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pandas.read_table(rf'{path}\region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

r = customer.merge(orders, how='inner', left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, how='inner', left_on='o_orderkey', right_on='l_orderkey')
r = r.merge(supplier, how='inner', left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')
r = r.merge(region, how='inner', left_on='n_regionkey', right_on='r_regionkey')

r = r[r['c_nationkey'] == r['s_nationkey']]

r = r[(r['r_name'] == var1)
      & (r['o_orderdate'] >= var2)
      & (r['o_orderdate'] < var3)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r.groupby(['n_name'], as_index=False).agg(revenue=('value', 'sum'))

  n_name      revenue
0   IRAN  183980.5992
1   IRAQ  194852.3952

In [7]:
# TPCH - 6

import pandas
import pysdql

var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)



r = lineitem[(lineitem.l_shipdate >= var1) & (lineitem.l_shipdate < var2)
             & (lineitem.l_discount > var3) & (lineitem.l_discount < var4)
             & (lineitem.l_quantity < var5)]

r['value'] = r['l_extendedprice'] * r['l_discount']

r.agg(revenue=('value', 'sum'))

C:\Users\Y\AppData\Local\Temp\ipykernel_20052\2730390909.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['value'] = r['l_extendedprice'] * r['l_discount']

               value
revenue  391097.1246

In [39]:
# TPCH - 7

import pandas

var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

r1 = supplier.merge(n1, how='inner', left_on='s_nationkey', right_on='n1_nationkey')
r1 = r1.merge(lineitem, how='inner', left_on='s_suppkey', right_on='l_suppkey')

r2 = customer.merge(n2, how='inner', left_on='c_nationkey', right_on='n2_nationkey')
r2 = r2.merge(orders, how='inner', left_on='c_custkey', right_on='o_custkey')

r = r1.merge(r2, how='inner', left_on='l_orderkey', right_on='o_orderkey')

r = r[(((r['n1_name'] == var1) & (r['n2_name'] == var2)) | ((r['n1_name'] == var2) & (r['n2_name'] == var1)))
      & (r['l_shipdate'] >= '1995-01-01') & (r['l_shipdate'] <= '1996-12-31')]

r['supp_nation'] = r['n1_name']
r['cust_nation'] = r['n2_name']
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['l_year'] = pandas.DatetimeIndex(r['l_shipdate']).year

r.groupby(['supp_nation', 'cust_nation', 'l_year'], as_index=False).agg(revenue=('volume', 'sum'))

  supp_nation cust_nation  l_year      revenue
0     MOROCCO        PERU    1995  228013.9886
1     MOROCCO        PERU    1996  180769.5690
2        PERU     MOROCCO    1995  306687.8357
3        PERU     MOROCCO    1996  203568.8640

In [67]:
# TPCH - 8

import pandas
import numpy
import pysdql

var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
region = pandas.read_table(rf'{path}\region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

sub_r = region[(region['r_name'] == var2)]
sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')]

r1 = n1.merge(sub_r, how='inner', left_on='n1_regionkey', right_on='r_regionkey')

r2 = part.merge(lineitem, how='inner', left_on='p_partkey', right_on='l_partkey')
r2 = r2.merge(orders, how='inner', left_on='l_orderkey', right_on='o_orderkey')
r2 = r2.merge(customer, how='inner', left_on='o_custkey', right_on='c_custkey')

r = r1.merge(r2, how='inner', left_on='n1_nationkey', right_on='c_nationkey')
r = r.merge(supplier, how='inner', left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(n2, how='inner', left_on='s_nationkey', right_on='n2_nationkey')

r['o_year'] = pandas.DatetimeIndex(r['l_shipdate']).year
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['nation'] = r['n2_name']

r = r[['o_year', 'volume', 'nation']]

r['value1'] = numpy.where(r['nation'] == var1, r['volume'], 0)

r = r.groupby(['o_year'], as_index=False).agg(value2=('value1', 'sum'), value3=('volume', 'sum'))

r['revenue'] = r['value2'] / r['value3']

r = r.drop(columns=['value2', 'value3'])

r

   o_year   revenue
0    1992  0.070415
1    1993  0.142208
2    1994  0.105156
3    1995  0.098828
4    1996  0.123844
5    1997  0.098915
6    1998  0.148591

In [55]:
# TPCH - 9
var1 = 'cornflower'

part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_p = part[part['p_name'].str.startswith(var1)]

r1 = sub_p.merge(partsupp, how='inner', left_on='p_partkey', right_on='ps_partkey')
r2 = supplier.merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')
r2 = r2.merge(r1, how='inner', left_on='s_suppkey', right_on='ps_suppkey')
r = r2.merge(lineitem, how='inner', left_on='s_suppkey', right_on='l_suppkey')
r = r[r['ps_suppkey'] == r['l_suppkey']]
r = r.merge(orders, how='inner', left_on='l_orderkey', right_on='o_orderkey')

r['nation'] = r['n_name']
r['o_year'] = pandas.DatetimeIndex(r['o_orderdate']).year
r['amount'] = r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']

r = r[['nation', 'o_year', 'amount']]

r.groupby(['nation', 'o_year'], as_index=False).agg(sum_profit=('amount', 'sum'))

            nation  o_year    sum_profit
0        ARGENTINA    1992  1.826905e+06
1        ARGENTINA    1993  1.708000e+06
2        ARGENTINA    1994  1.682303e+06
3        ARGENTINA    1995  1.642867e+06
4        ARGENTINA    1996  1.600254e+06
5        ARGENTINA    1997  1.551643e+06
6        ARGENTINA    1998  1.034894e+06
7         ETHIOPIA    1992  6.783066e+04
8         ETHIOPIA    1993  1.310032e+05
9         ETHIOPIA    1994  1.249977e+05
10        ETHIOPIA    1995  1.087640e+05
11        ETHIOPIA    1996  1.087642e+05
12        ETHIOPIA    1997  1.003667e+05
13        ETHIOPIA    1998  7.626036e+04
14            IRAN    1992  2.310845e+06
15            IRAN    1993  3.500465e+06
16            IRAN    1994  3.328477e+06
17            IRAN    1995  3.201628e+06
18            IRAN    1996  4.247712e+06
19            IRAN    1997  3.608563e+06
20            IRAN    1998  2.346427e+06
21            IRAQ    1992  2.501161e+06
22            IRAQ    1993  2.250890e+06
23            IRAQ    1994  1.889431e+06
24            IRAQ    1995  2.111850e+06
25            IRAQ    1996  2.867742e+06
26            IRAQ    1997  3.115742e+06
27            IRAQ    1998  1.527688e+06
28           KENYA    1992  1.478981e+06
29           KENYA    1993  1.335882e+06
30           KENYA    1994  1.268858e+06
31           KENYA    1995  1.082219e+06
32           KENYA    1996  1.171141e+06
33           KENYA    1997  1.297320e+06
34           KENYA    1998  8.256732e+05
35            PERU    1992  1.608645e+06
36            PERU    1993  1.483257e+06
37            PERU    1994  1.494881e+06
38            PERU    1995  1.756830e+06
39            PERU    1996  1.734677e+06
40            PERU    1997  1.797978e+06
41            PERU    1998  8.912391e+05
42  UNITED KINGDOM    1992  1.299814e+06
43  UNITED KINGDOM    1993  1.255631e+06
44  UNITED KINGDOM    1994  1.023569e+06
45  UNITED KINGDOM    1995  1.169880e+06
46  UNITED KINGDOM    1996  1.506323e+06
47  UNITED KINGDOM    1997  1.050517e+06
48  UNITED KINGDOM    1998  8.326410e+05

In [70]:
# TPCH - 10
var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month

customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

part_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]

r = customer.merge(part_o, how='inner', left_on='c_custkey', right_on='o_custkey')
r = r.merge(nation, how='inner', left_on='c_nationkey', right_on='n_nationkey')

part_l = lineitem[lineitem['l_returnflag'] == 'R']
r = r.merge(part_l, how='inner', left_on='o_custkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'c_phone', 'n_name', 'c_address', 'c_comment']).agg(revenue=('value', 'sum'))

                                                                                                                                                       revenue
c_custkey c_name             c_acctbal c_phone         n_name c_address                         c_comment
64        Customer#000000064 -646.64   13-558-731-7204 CANADA MbCeGY20kaKK3oalJD,OT             structions after the quietly ironic theodolites...  19672.2960
70        Customer#000000070  4867.52  32-828-107-2832 RUSSIA mFowIuhnHjp2GjCiYYavkW kUwOjIaTCQ fter the special asymptotes. ideas after the un...  40120.1103
97        Customer#000000097  2164.48  27-588-919-5638 PERU   OApyejbhJG,0Iw3j rd1M             haggle slyly. bold, special ideas are blithely ...  61459.7804
131       Customer#000000131  8595.53  21-840-210-3572 IRAQ   jyN6lAjb1FtH10rMC,XzlWyCBrg75     jole special packages. furiously final dependen...  43260.4800