# TPCH - 1 ✅

### SQL - 1

```
select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= date '1998-12-01' - interval ':1' day
group by
	l_returnflag,
	l_linestatus
```

### pysdql - 1

In [1]:
from datetime import datetime, timedelta
import pysdql

days = 76
var1 = (datetime.strptime('1998-12-01', "%Y-%m-%d") + timedelta(days=days)).strftime("%Y-%m-%d")
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
r = lineitem[(lineitem['l_shipdate'] <= var1)]
r = r.groupby(['l_returnflag', 'l_linestatus']) \
    .agg(sum_qty=(r['l_quantity'], 'sum'),
         sum_base_price=(r['l_extendedprice'], 'sum'),
         sum_disc_price=(r['l_extendedprice'] * (1 - r['l_discount']), 'sum'),
         sum_charge=(r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax']), 'sum'),
         avg_qty=(r['l_quantity'], 'avg'),
         avg_price=(r['l_extendedprice'], 'avg'),
         avg_disc=(r['l_discount'], 'avg'),
         count_order=('*', 'count'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-1').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((lin_k.l_shipdate <= date(19990215))) then { lin_k -> 1 } else {  }
let tmpa = sum (<l_k, l_v> in lmp) { < l_returnflag=l_k.l_returnflag, l_linestatus=l_k.l_linestatus > -> < sum_qty=l_k.l_quantity * l_v, sum_base_price=l_k.l_extendedprice * l_v, sum_disc_price=(l_k.l_extendedprice * (1 - l_k.l_discount)) * l_v, sum_charge=((l_k.l_extendedprice * (1 - l_k.l_discount)) * (1 + l_k.l_tax)) * l_v, avg_qty_sum=l_k.l_quantity * l_v, avg_qty_count=l_v, avg_price_sum=l_k.l_extendedprice * l_v, avg_price_count=l_v, avg_disc_sum=l_k.l_discount * l_v, avg_disc_count=l_v, count_order=l_v > }
let agg_lmp = sum (<ta_k, ta_v> in tmpa) { < l_returnflag=ta_k.l_returnflag, l_linestatus=ta_k.l_linestatus, sum_qty=ta_v.sum_qty, sum_base_price=ta_v.sum_base_price, sum_disc_price=ta_v.sum_disc_price, sum_charge=ta_v.sum_charge, avg_qty=(ta_v.avg_qty_sum / ta_v.avg_qty_count), avg_price=(ta_v.avg_price_sum / ta_v.avg_price_count), avg_disc=(ta_v.avg_disc_sum / ta_v.avg_disc_count), count_order=ta_v.count_order > -> 1 }
agg_lmp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<l_returnflag = A, l_linestatus = F, sum_qty = 37474, sum_base_price = 3.7569624639999956E7, sum_disc_price = 3.567619209700001E7, sum_charge = 3.710141622242408E7, avg_qty = 25.35453315290934, avg_price = 25419.231826792937, avg_disc = 0.05086603518267946, count_order = 1478> -> 1, <l_returnflag = R, l_linestatus = F, sum_qty = 36511, sum_base_price = 3.657084124000005E7, sum_disc_price = 3.47384728758E7, sum_charge = 3.6169060112192966E7, avg_qty = 25.059025394646532, avg_price = 25100.096938915613, avg_disc = 0.050027453671928776, count_order = 1457> -> 1, <l_returnflag = N, l_linestatus = F, sum_qty = 1041, sum_base_price = 1041301.0700000003, sum_disc_price = 999060.8979999999, sum_charge = 1036450.8022800001, avg_qty = 27.39473684210526, avg_price = 27402.65973684211, avg_disc = 0.042894736842105284, count_order = 38> -> 1, <l_returnflag = N, l_linestatus = O, sum_qty = 77372, sum_base_price = 7.759263143000013E7, sum_disc_price = 7.375810409310006E7, sum_charge = 7.670202845039211E7, avg_qty = 25.518469656992085, avg_price = 25591.237279023786, avg_disc = 0.04971635883905017, count_order = 3032> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:29:52
========================================================
pysdql execution time: 16.074352979660034
export sdql script "tpch-1.sdql" to "T:/UG4-Proj/output/tpch-1.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-1.sdql

{<l_returnflag = A, l_linestatus = F, sum_qty = 37474, sum_base_price = 3.7569624639999956E7, sum_disc_price = 3.567619209700001E7, sum_charge = 3.710141622242408E7, avg_qty = 25.35453315290934, avg_price = 25419.231826792937, avg_disc = 0.05086603518267946, count_order = 1478> -> 1, <l_returnflag = R, l_linestatus = F, sum_qty = 36511, sum_base_price = 3.657084124000005E7, sum_disc_price = 3.47384728758E7, sum_charge = 3.6169060112192966E7, avg_qty = 25.059025394646532, avg_price = 25100.096938915613, avg_disc = 0.050027453671928776, count_order = 1457> -> 1, <l_returnflag = N, l_linestatus = F, sum_qty = 1041, sum_base_price = 1041301.0700000003, sum_disc_price = 999060.8979999999, sum_charge = 1036450.8022800001, avg_qty = 27.39473684210526, avg_price = 27402.65973684211, avg_disc = 0.042894736842105284, count_order = 38> -> 1, <l_returnflag = N, l_linestatus = O, sum_qty = 77372, sum_base_price = 7.759263143000013E7, sum_disc_price = 7.375810409310006E7, sum_charge = 7.670202845039211E7, avg_qty = 25.518469656992085, avg_price = 25591.237279023786, avg_disc = 0.04971635883905017, count_order = 3032> -> 1}

### pandas - 1

In [2]:
import pandas
import pysdql
from datetime import datetime, timedelta

d1 = datetime.strptime('1998-12-01', "%Y-%m-%d")
d3 = d1 + timedelta(days=76)
var1 = d3.strftime("%Y-%m-%d")

path = r'T:\UG4-Proj\datasets'
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[lineitem['l_shipdate'] <= var1]

r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

r.groupby(['l_returnflag', 'l_linestatus'], as_index=False).agg(sum_qty=('l_quantity', 'sum'),
                                                                 sum_base_price=('l_extendedprice', 'sum'),
                                                                 sum_disc_price=('disc_price', 'sum'),
                                                                 sum_charge=('charge', 'sum'),
                                                                 avg_qty=('l_quantity', 'mean'),
                                                                 avg_price=('l_extendedprice', 'mean'),
                                                                 avg_disc=('l_discount', 'mean'),
                                                                 count_order=('l_returnflag', 'count')
                                                                 )

,l_returnflag,l_linestatus,sum_qty,sum_base_price,sum_disc_price,sum_charge,avg_qty,avg_price,avg_disc,count_order
0,A,F,37474,37569624.64,3.567619e+07,3.710142e+07,25.354533,25419.231827,0.050866,1478
1,N,F,1041,1041301.07,9.990609e+05,1.036451e+06,27.394737,27402.659737,0.042895,38
2,N,O,77372,77592631.43,7.375810e+07,7.670203e+07,25.518470,25591.237279,0.049716,3032
3,R,F,36511,36570841.24,3.473847e+07,3.616906e+07,25.059025,25100.096939,0.050027,1457

# TPCH - 2 ✅

### SQL - 2

```
select
	s_acctbal,
	s_name,
	n_name,
	p_partkey,
	p_mfgr,
	s_address,
	s_phone,
	s_comment
from
	part,
	supplier,
	partsupp,
	nation,
	region
where
	p_partkey = ps_partkey
	and s_suppkey = ps_suppkey
	and p_size = :1
	and p_type like '%:2'
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = ':3'
	and ps_supplycost = (
		select
			min(ps_supplycost)
		from
			partsupp,
			supplier,
			nation,
			region
		where
			p_partkey = ps_partkey
			and s_suppkey = ps_suppkey
			and s_nationkey = n_nationkey
			and n_regionkey = r_regionkey
			and r_name = ':3'
	)
```

### pysdql - 2

In [3]:
import pysdql

var1 = 14
var2 = 'BRASS'
var3 = 'EUROPE'

part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
partsupp = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/partsupp.tbl', header=pysdql.PARTSUPP_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)
region = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/region.tbl', header=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var3].rename('sub_r')
r1 = nation.merge(sub_r, on=nation['n_regionkey'] == sub_r['r_regionkey'])
r1 = r1.merge(supplier, on=r1['n_nationkey'] == supplier['s_nationkey'])
r1 = r1.merge(partsupp, on=r1['s_suppkey'] == partsupp['ps_suppkey'])
r1 = r1.groupby(['ps_partkey', 'ps_suppkey']).agg(min_partkey=r1['ps_partkey'],
                                                  min_suppkey=r1['ps_suppkey'],
                                                  min_supplycost=(r1['ps_supplycost'], 'min')).rename('r1')
sub_p = part[part['p_size'] == var1]
sub_p = sub_p[sub_p['p_type'].endswith(var2)].rename('sub_p')
r2 = nation.merge(sub_r, on=nation['n_regionkey'] == sub_r['r_regionkey'])
r2 = r2.merge(supplier, on=r2['n_nationkey'] == supplier['s_nationkey'])
r2 = r2.merge(partsupp, on=r2['s_suppkey'] == partsupp['ps_suppkey'])
r2 = r2.merge(sub_p, on=r2['ps_partkey'] == sub_p['p_partkey'], name='r2')
r = r1.merge(r2, on=(r1['min_partkey'] == r2['ps_partkey'])
                    & (r1['min_suppkey'] == r2['ps_suppkey'])
                    & (r1['min_supplycost'] == r2['ps_supplycost']))
r = r[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-2').run(r).export().to()

========================================================
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let pmp = sum (<par_k, par_v> in part) if ((par_k.p_size == 14)) then { par_k -> 1 } else {  }
let tmp = sum (<p_k, p_v> in pmp) if (ext(`StrEndsWith`, p_k.p_type, "BRASS")) then { p_k -> 1 } else {  }
let sub_p = tmp
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/partsupp.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "EUROPE")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let Rm0 = sum (<nat_k, nat_v> in nation) sum (<sr_k, sr_v> in sub_r) if ((nat_k.n_regionkey == sr_k.r_regionkey)) then { concat(nat_k, sr_k) -> nat_v * sr_v } else {  }
let Rm1 = sum (<nat_k, nat_v> in nation) sum (<sr_k, sr_v> in sub_r) if ((nat_k.n_regionkey == sr_k.r_regionkey)) then { concat(nat_k, sr_k) -> nat_v * sr_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<sup_k, sup_v> in supplier) if ((r1_k.n_nationkey == sup_k.s_nationkey)) then { concat(r1_k, sup_k) -> r1_v * sup_v } else {  }
let Rm3 = sum (<r2_k, r2_v> in Rm2) sum (<psup_k, psup_v> in partsupp) if ((r2_k.s_suppkey == psup_k.ps_suppkey)) then { concat(r2_k, psup_k) -> r2_v * psup_v } else {  }
let r2 = sum (<r3_k, r3_v> in Rm3) sum (<sp_k, sp_v> in sub_p) if ((r3_k.ps_partkey == sp_k.p_partkey)) then { concat(r3_k, sp_k) -> r3_v * sp_v } else {  }
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "EUROPE")) then { reg_k -> 1 } else {  }
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<sup_k, sup_v> in supplier) if ((r0_k.n_nationkey == sup_k.s_nationkey)) then { concat(r0_k, sup_k) -> r0_v * sup_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<psup_k, psup_v> in partsupp) if ((r1_k.s_suppkey == psup_k.ps_suppkey)) then { concat(r1_k, psup_k) -> r1_v * psup_v } else {  }
let tmpa = sum (<r2_k, r2_v> in Rm2) { < ps_partkey=r2_k.ps_partkey, ps_suppkey=r2_k.ps_suppkey > -> < min_supplycost=promote[mnpr](r2_k.ps_supplycost) * promote[mnpr](r2_v) > }
let agg_Rm2 = sum (<ta_k, ta_v> in tmpa) { < min_partkey=ta_k.ps_partkey, min_suppkey=ta_k.ps_suppkey, min_supplycost=ta_v.min_supplycost > -> 1 }
let r1 = agg_Rm2
let Rm0 = sum (<r1_k, r1_v> in r1) sum (<r2_k, r2_v> in r2) if ((((r1_k.min_partkey == r2_k.ps_partkey) && (r1_k.min_suppkey == r2_k.ps_suppkey)) && (r1_k.min_supplycost == promote[mnpr](r2_k.ps_supplycost)))) then { concat(r1_k, r2_k) -> r1_v * r2_v } else {  }
let tmpb = sum (<r0_k, r0_v> in Rm0) { < s_acctbal=r0_k.s_acctbal, s_name=r0_k.s_name, n_name=r0_k.n_name, p_partkey=r0_k.p_partkey, p_mfgr=r0_k.p_mfgr, s_address=r0_k.s_address, s_phone=r0_k.s_phone, s_comment=r0_k.s_comment > -> 1 }
tmpb
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_acctbal = 6820.35, s_name = Supplier#000000007, n_name = UNITED KINGDOM, p_partkey = 4, p_mfgr = Manufacturer#3, s_address = s,4TicNGB4uO6PaSqNBUq, s_phone = 33-990-965-2201, s_comment = s unwind silently furiously regular courts. final requests are deposits. requests wake quietly blit
> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:30:08
========================================================
pysdql execution time: 15.676047325134277
export sdql script "tpch-2.sdql" to "T:/UG4-Proj/output/tpch-2.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-2.sdql

{<s_acctbal = 6820.35, s_name = Supplier#000000007, n_name = UNITED KINGDOM, p_partkey = 4, p_mfgr = Manufacturer#3, s_address = s,4TicNGB4uO6PaSqNBUq, s_phone = 33-990-965-2201, s_comment = s unwind silently furiously regular courts. final requests are deposits. requests wake quietly blit> -> 1}

### pandas - 2

In [4]:
import pandas
import pysdql

var1 = 14
var2 = 'BRASS'
var3 = 'EUROPE'

path = r'T:\UG4-Proj\datasets'
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
region = pandas.read_table(rf'{path}\region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_r = region[(region['r_name'] == var3)]

r1 = partsupp.merge(supplier, left_on='ps_suppkey', right_on='s_suppkey')\
    .merge(nation, left_on='s_nationkey', right_on='n_nationkey')\
    .merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r1 = r1.groupby(['ps_partkey', 'ps_suppkey'], as_index=False).agg(min_supplycost=('ps_supplycost', 'min'))

r1['min_partkey'] = r1['ps_partkey']
r1['min_suppkey'] = r1['ps_suppkey']

sub_p = part[part['p_size'] == var1]
sub_p = sub_p[sub_p['p_type'].str.endswith(var2)]

r2 = sub_p.merge(partsupp, how='inner', left_on='p_partkey', right_on='ps_partkey')\
    .merge(supplier, how='inner', left_on='ps_suppkey', right_on='s_suppkey')\
    .merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')\
    .merge(sub_r, how='inner', left_on='n_regionkey', right_on='r_regionkey')

r = r1.merge(r2,
             left_on=['min_partkey', 'min_suppkey', 'min_supplycost'],
             right_on=['ps_partkey', 'ps_suppkey', 'ps_supplycost'])

r[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]

,s_acctbal,s_name,n_name,p_partkey,p_mfgr,s_address,s_phone,s_comment
0,6820.35,Supplier#000000007,UNITED KINGDOM,4,Manufacturer#3,"s,4TicNGB4uO6PaSqNBUq",33-990-965-2201,s unwind silently furiously regular courts. fi...

# TPCH - 3 ✅

### SQL - 3

```
select
	l_orderkey,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer,
	orders,
	lineitem
where
	c_mktsegment = ':1'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < date ':2'
	and l_shipdate > date ':2'
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
```

### pysdql - 3

In [5]:
import pysdql
var1 = 'BUILDING'
var2 = '1995-03-22'
customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
sub_c = customer[customer['c_mktsegment'] == var1].rename('sub_c')
sub_o = orders[orders['o_orderdate'] < var2].rename('sub_o')
sub_l = lineitem[lineitem['l_shipdate'] > var2].rename('sub_l')
r = sub_c.merge(sub_o, on=(sub_c['c_custkey'] == sub_o['o_custkey']))
r = r.merge(sub_l, on=(r['o_orderkey'] == sub_l['l_orderkey']))
r = r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority']) \
    .agg(revenue=((r['l_extendedprice'] * (1 - r['l_discount'])), 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-3').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((date(19950322) < lin_k.l_shipdate)) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if ((ord_k.o_orderdate < date(19950322))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let cmp = sum (<cus_k, cus_v> in customer) if ((cus_k.c_mktsegment == "BUILDING")) then { cus_k -> 1 } else {  }
let sub_c = cmp
let Rm0 = sum (<sc_k, sc_v> in sub_c) sum (<so_k, so_v> in sub_o) if ((sc_k.c_custkey == so_k.o_custkey)) then { concat(sc_k, so_k) -> sc_v * so_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<sl_k, sl_v> in sub_l) if ((r0_k.o_orderkey == sl_k.l_orderkey)) then { concat(r0_k, sl_k) -> r0_v * sl_v } else {  }
let tmp = sum (<r1_k, r1_v> in Rm1) { < l_orderkey=r1_k.l_orderkey, o_orderdate=r1_k.o_orderdate, o_shippriority=r1_k.o_shippriority > -> < revenue=(r1_k.l_extendedprice * (1 - r1_k.l_discount)) * r1_v > }
let agg_Rm1 = sum (<t_k, t_v> in tmp) { < l_orderkey=t_k.l_orderkey, o_orderdate=t_k.o_orderdate, o_shippriority=t_k.o_shippriority, revenue=t_v.revenue > -> 1 }
agg_Rm1
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<l_orderkey = 3492, o_orderdate = DateValue(19941124), o_shippriority = 0, revenue = 43716.072400000005> -> 1, <l_orderkey = 1637, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 87438.8481> -> 1, <l_orderkey = 775, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 55713.6063> -> 1, <l_orderkey = 998, o_orderdate = DateValue(19941126), o_shippriority = 0, revenue = 6811.434> -> 1, <l_orderkey = 742, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 43728.048> -> 1, <l_orderkey = 5191, o_orderdate = DateValue(19941211), o_shippriority = 0, revenue = 49378.309400000006> -> 1, <l_orderkey = 3430, o_orderdate = DateValue(19941212), o_shippriority = 0, revenue = 4726.6775> -> 1, <l_orderkey = 2883, o_orderdate = DateValue(19950123), o_shippriority = 0, revenue = 36666.9612> -> 1}
[success] Total time: 2 s, completed 2022年7月28日 下午1:30:25
========================================================
pysdql execution time: 16.333950519561768
export sdql script "tpch-3.sdql" to "T:/UG4-Proj/output/tpch-3.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-3.sdql

{<l_orderkey = 3492, o_orderdate = DateValue(19941124), o_shippriority = 0, revenue = 43716.072400000005> -> 1, <l_orderkey = 1637, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 87438.8481> -> 1, <l_orderkey = 775, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 55713.6063> -> 1, <l_orderkey = 998, o_orderdate = DateValue(19941126), o_shippriority = 0, revenue = 6811.434> -> 1, <l_orderkey = 742, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 43728.048> -> 1, <l_orderkey = 5191, o_orderdate = DateValue(19941211), o_shippriority = 0, revenue = 49378.309400000006> -> 1, <l_orderkey = 3430, o_orderdate = DateValue(19941212), o_shippriority = 0, revenue = 4726.6775> -> 1, <l_orderkey = 2883, o_orderdate = DateValue(19950123), o_shippriority = 0, revenue = 36666.9612> -> 1}

### pandas - 3

In [6]:
import pandas

var1 = 'BUILDING'
var2 = '1995-03-22'

path = r'T:\UG4-Proj\datasets'
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = customer.merge(orders, how='inner', left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, how='inner', left_on='o_orderkey', right_on='l_orderkey')

r = r[(r['c_mktsegment'] == var1)
      & (r['o_orderdate'] < var2)
      & (r['l_shipdate'] > var2)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority'], as_index=False) \
    .agg(revenue=('value', 'sum'))

   l_orderkey o_orderdate  o_shippriority     revenue
0         742  1994-12-23               0  43728.0480
1         775  1995-03-18               0  55713.6063
2         998  1994-11-26               0   6811.4340
3        1637  1995-02-08               0  87438.8481
4        2883  1995-01-23               0  36666.9612
5        3430  1994-12-12               0   4726.6775
6        3492  1994-11-24               0  43716.0724
7        5191  1994-12-11               0  49378.3094

# TPCH - 4 ✅

### SQL - 4

```
select
	o_orderpriority,
	count(*) as order_count
from
	orders
where
	o_orderdate >= date ':1'
	and o_orderdate < date ':1' + interval '3' month
	and exists (
		select
			*
		from
			lineitem
		where
			l_orderkey = o_orderkey
			and l_commitdate < l_receiptdate
	)
group by
	o_orderpriority
```

### pysdql - 4

In [7]:
var1 = '1996-05-01'
var2 = '1996-08-01'  # var1 + 3 month

lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)

sub_l = lineitem[(lineitem['l_commitdate'] < lineitem['l_receiptdate'])].rename('sub_l')
sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)].rename('sub_o')

r = sub_o[sub_o['o_orderkey'].exists(sub_l['l_orderkey'])]

r = r.groupby(['o_orderpriority']).agg(order_count=('*', 'count'))

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-4').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((lin_k.l_commitdate < lin_k.l_receiptdate)) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19960501) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19960801)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let exists_sub_l = sum (<so_k, so_v> in sub_o) sum (<sl_k, sl_v> in sub_l) if ((so_k.o_orderkey == sl_k.l_orderkey)) then { < o_orderkey=so_k.o_orderkey > -> 1 } else { < o_orderkey=so_k.o_orderkey > -> 0 }
let smp = sum (<so_k, so_v> in sub_o) if ((exists_sub_l(< o_orderkey=so_k.o_orderkey >) != 0)) then { so_k -> 1 } else {  }
let tmpa = sum (<s_k, s_v> in smp) { < o_orderpriority=s_k.o_orderpriority > -> < order_count=s_v > }
let agg_smp = sum (<ta_k, ta_v> in tmpa) { < o_orderpriority=ta_k.o_orderpriority, order_count=ta_v.order_count > -> 1 }
agg_smp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<o_orderpriority = 4-NOT SPECIFIED, order_count = 12> -> 1, <o_orderpriority = 2-HIGH, order_count = 6> -> 1, <o_orderpriority = 5-LOW, order_count = 4> -> 1, <o_orderpriority = 1-URGENT, order_count = 10> -> 1, <o_orderpriority = 3-MEDIUM, order_count = 9> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:30:41
========================================================
pysdql execution time: 16.19235920906067
export sdql script "tpch-4.sdql" to "T:/UG4-Proj/output/tpch-4.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-4.sdql

{<o_orderpriority = 4-NOT SPECIFIED, order_count = 12> -> 1, <o_orderpriority = 2-HIGH, order_count = 6> -> 1, <o_orderpriority = 5-LOW, order_count = 4> -> 1, <o_orderpriority = 1-URGENT, order_count = 10> -> 1, <o_orderpriority = 3-MEDIUM, order_count = 9> -> 1}

### pandas - 4

In [8]:
import pandas
import numpy

var1 = '1996-05-01'
var2 = '1996-08-01'  # var1 + 3 month

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]

r = sub_o.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')

r['exists'] = numpy.select(
[
    (r['l_commitdate'] < r['l_receiptdate'])
],
[
    1
],
default=0)

r = r.groupby(['o_orderpriority', 'o_orderkey'], as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] > 0]

r.groupby(['o_orderpriority'], as_index=False).agg(order_count=('o_orderkey', 'count'))

   o_orderpriority  order_count
0         1-URGENT           10
1           2-HIGH            6
2         3-MEDIUM            9
3  4-NOT SPECIFIED           12
4            5-LOW            4

# TPCH - 5 ✅

### SQL - 5

```
select
	n_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue
from
	customer,
	orders,
	lineitem,
	supplier,
	nation,
	region
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and l_suppkey = s_suppkey
	and c_nationkey = s_nationkey
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = ':1'
	and o_orderdate >= date ':2'
	and o_orderdate < date ':2' + interval '1' year
group by
	n_name
```

### pysdql - 5

In [9]:
var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year
customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)
region = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/region.tbl', header=pysdql.REGION_COLS)
sub_r = region[region['r_name'] == var1].rename('sub_r')
sub_o = orders[(orders['o_orderdate'] >= var2) & (orders['o_orderdate'] < var3)].rename('sub_o')

r = sub_r.merge(nation, on=(sub_r['r_regionkey'] == nation['n_regionkey']))
r = r.merge(customer, on=(r['n_nationkey'] == customer['c_nationkey']))
r = r.merge(sub_o, on=(r['c_custkey'] == sub_o['o_custkey']))
r = r.merge(lineitem, on=(r['o_orderkey'] == lineitem['l_orderkey']))
r = r.merge(supplier, on=(r['c_nationkey'] == supplier['s_nationkey'])
                         & (r['n_nationkey'] == supplier['s_nationkey'])
                         & (r['l_suppkey'] == supplier['s_suppkey']))

r = r.groupby(['n_name']).agg(revenue=((r['l_extendedprice'] * (1 - r['l_discount'])), 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-5').run(r).export().to()

========================================================
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19950101) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19960101)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "MIDDLE EAST")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let Rm0 = sum (<sr_k, sr_v> in sub_r) sum (<nat_k, nat_v> in nation) if ((sr_k.r_regionkey == nat_k.n_regionkey)) then { concat(sr_k, nat_k) -> sr_v * nat_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<cus_k, cus_v> in customer) if ((r0_k.n_nationkey == cus_k.c_nationkey)) then { concat(r0_k, cus_k) -> r0_v * cus_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<so_k, so_v> in sub_o) if ((r1_k.c_custkey == so_k.o_custkey)) then { concat(r1_k, so_k) -> r1_v * so_v } else {  }
let Rm3 = sum (<r2_k, r2_v> in Rm2) sum (<lin_k, lin_v> in lineitem) if ((r2_k.o_orderkey == lin_k.l_orderkey)) then { concat(r2_k, lin_k) -> r2_v * lin_v } else {  }
let Rm4 = sum (<r3_k, r3_v> in Rm3) sum (<sup_k, sup_v> in supplier) if ((((r3_k.c_nationkey == sup_k.s_nationkey) && (r3_k.n_nationkey == sup_k.s_nationkey)) && (r3_k.l_suppkey == sup_k.s_suppkey))) then { concat(r3_k, sup_k) -> r3_v * sup_v } else {  }
let tmpa = sum (<r4_k, r4_v> in Rm4) { < n_name=r4_k.n_name > -> < revenue=(r4_k.l_extendedprice * (1 - r4_k.l_discount)) * r4_v > }
let agg_Rm4 = sum (<ta_k, ta_v> in tmpa) { < n_name=ta_k.n_name, revenue=ta_v.revenue > -> 1 }
agg_Rm4
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<n_name = IRAN, revenue = 64854.8802> -> 1, <n_name = IRAQ, revenue = 28957.4409> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:30:57
========================================================
pysdql execution time: 16.22278332710266
export sdql script "tpch-5.sdql" to "T:/UG4-Proj/output/tpch-5.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-5.sdql

{<n_name = IRAN, revenue = 64854.8802> -> 1, <n_name = IRAQ, revenue = 28957.4409> -> 1}

### pandas - 5

In [10]:
import pandas

var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year

path = r'T:\UG4-Proj\datasets'
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pandas.read_table(rf'{path}\region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

r = customer.merge(orders, how='inner', left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, how='inner', left_on='o_orderkey', right_on='l_orderkey')
r = r.merge(supplier, how='inner', left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')
r = r.merge(region, how='inner', left_on='n_regionkey', right_on='r_regionkey')

r = r[r['c_nationkey'] == r['s_nationkey']]

r = r[(r['r_name'] == var1)
      & (r['o_orderdate'] >= var2)
      & (r['o_orderdate'] < var3)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r.groupby(['n_name'], as_index=False).agg(revenue=('value', 'sum'))

  n_name     revenue
0   IRAN  64854.8802
1   IRAQ  28957.4409

# TPCH - 6 ✅

### SQL - 6

```
select
    sum(l_extendedprice * l_discount) as revenue
from
    lineitem
where
    l_shipdate >= date ':1'
    and l_shipdate < date ':1' + interval '1' year
    and l_discount between :2 - 0.01 and :2 + 0.01
    and l_quantity < :3
```

### pysdql - 6

In [11]:
var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
r = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)
             & (lineitem['l_discount'] > var3) & (lineitem['l_discount'] < var4)
             & (lineitem['l_quantity'] < var5)]
r = r.aggregate(revenue=(r['l_extendedprice'] * r['l_discount'], 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-6').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((((((date(19970101) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19980101))) && (0.05 < lin_k.l_discount)) && (lin_k.l_discount < 0.07)) && (lin_k.l_quantity < 24))) then { lin_k -> 1 } else {  }
let tmp = sum (<l_k, l_v> in lmp) < revenue=(l_k.l_extendedprice * l_k.l_discount) * l_v >
let tmpa = { < revenue=tmp.revenue > -> 1 }
tmpa
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<revenue = 23106.064199999997> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:31:13
========================================================
pysdql execution time: 15.65693211555481
export sdql script "tpch-6.sdql" to "T:/UG4-Proj/output/tpch-6.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-6.sdql

{<revenue = 23106.064199999997> -> 1}

### pandas - 6

In [12]:
import pandas
import pysdql

var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24

path = r'T:\UG4-Proj\datasets'
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[(lineitem.l_shipdate >= var1) & (lineitem.l_shipdate < var2)
             & (lineitem.l_discount > var3) & (lineitem.l_discount < var4)
             & (lineitem.l_quantity < var5)]

r['value'] = r['l_extendedprice'] * r['l_discount']

r.agg(revenue=('value', 'sum'))

C:\Users\Y\AppData\Local\Temp\ipykernel_7648\2128782713.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['value'] = r['l_extendedprice'] * r['l_discount']

              value
revenue  23106.0642

# TPCH - 7 ✅

### SQL - 7

```
select
	supp_nation,
	cust_nation,
	l_year,
	sum(volume) as revenue
from
	(
		select
			n1.n_name as supp_nation,
			n2.n_name as cust_nation,
			extract(year from l_shipdate) as l_year,
			l_extendedprice * (1 - l_discount) as volume
		from
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2
		where
			s_suppkey = l_suppkey
			and o_orderkey = l_orderkey
			and c_custkey = o_custkey
			and s_nationkey = n1.n_nationkey
			and c_nationkey = n2.n_nationkey
			and (
				(n1.n_name = ':1' and n2.n_name = ':2')
				or (n1.n_name = ':2' and n2.n_name = ':1')
			)
			and l_shipdate between date '1995-01-01' and date '1996-12-31'
	) as shipping
group by
	supp_nation,
	cust_nation,
	l_year
```

### pysdql - 7

In [13]:
var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=n1_cols, name='n1')
n2 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=n2_cols, name='n2')

r = n1.merge(n2, on=((n1['n1_name'] == var1) & (n2['n2_name'] == var2))
                    | ((n1['n1_name'] == var2) & (n2['n2_name'] == var1)))

r = r.merge(customer, on=r['n2_nationkey'] == customer['c_nationkey'])
r = r.merge(supplier, on=r['n1_nationkey'] == supplier['s_nationkey'])
r = r.merge(orders, on=r['c_custkey'] == orders['o_custkey'])

sub_l = lineitem[(lineitem['l_shipdate'] >= '1995-01-01') & (lineitem['l_shipdate'] <= '1996-12-31')].rename('sub_l')

r = r.merge(sub_l, on=(r['o_orderkey'] == sub_l['l_orderkey']) & (r['s_suppkey'] == sub_l['l_suppkey']))

r[['supp_nation', 'cust_nation', 'volume', 'l_year']] = [r['n1_name'],
                                                         r['n2_name'],
                                                         r['l_extendedprice'] * (1 - r['l_discount']),
                                                         r['l_shipdate'].year]

r = r[['supp_nation', 'cust_nation', 'l_year', 'volume']].rename('shiping')

r = r.groupby(['supp_nation', 'cust_nation', 'l_year']).agg(revenue=(r['volume'], 'sum'))

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-7').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950101) <= lin_k.l_shipdate) && (lin_k.l_shipdate <= date(19961231)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let n2 = load[{<n2_nationkey: int, n2_name: string, n2_regionkey: int, n2_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let n1 = load[{<n1_nationkey: int, n1_name: string, n1_regionkey: int, n1_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let Rm0 = sum (<n1_k, n1_v> in n1) sum (<n2_k, n2_v> in n2) if ((((n1_k.n1_name == "PERU") && (n2_k.n2_name == "MOROCCO")) || ((n1_k.n1_name == "MOROCCO") && (n2_k.n2_name == "PERU")))) then { concat(n1_k, n2_k) -> n1_v * n2_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<cus_k, cus_v> in customer) if ((r0_k.n2_nationkey == cus_k.c_nationkey)) then { concat(r0_k, cus_k) -> r0_v * cus_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<sup_k, sup_v> in supplier) if ((r1_k.n1_nationkey == sup_k.s_nationkey)) then { concat(r1_k, sup_k) -> r1_v * sup_v } else {  }
let Rm3 = sum (<r2_k, r2_v> in Rm2) sum (<ord_k, ord_v> in orders) if ((r2_k.c_custkey == ord_k.o_custkey)) then { concat(r2_k, ord_k) -> r2_v * ord_v } else {  }
let Rm4 = sum (<r3_k, r3_v> in Rm3) sum (<sl_k, sl_v> in sub_l) if (((r3_k.o_orderkey == sl_k.l_orderkey) && (r3_k.s_suppkey == sl_k.l_suppkey))) then { concat(r3_k, sl_k) -> r3_v * sl_v } else {  }
let rmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < supp_nation=r4_k.n1_name, cust_nation=r4_k.n2_name, volume=(r4_k.l_extendedprice * (1 - r4_k.l_discount)), l_year=ext(`Year`, r4_k.l_shipdate) >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) { < supp_nation=r_k.supp_nation, cust_nation=r_k.cust_nation, l_year=r_k.l_year, volume=r_k.volume > -> 1 }
let shiping = tmp
let tmpa = sum (<s_k, s_v> in shiping) { < supp_nation=s_k.supp_nation, cust_nation=s_k.cust_nation, l_year=s_k.l_year > -> < revenue=s_k.volume * s_v > }
let agg_shiping = sum (<ta_k, ta_v> in tmpa) { < supp_nation=ta_k.supp_nation, cust_nation=ta_k.cust_nation, l_year=ta_k.l_year, revenue=ta_v.revenue > -> 1 }
agg_shiping
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<supp_nation = PERU, cust_nation = MOROCCO, l_year = 1996, revenue = 203568.86399999997> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1995, revenue = 228013.98859999998> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1995, revenue = 306687.8357> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1996, revenue = 180769.569> -> 1}
[success] Total time: 2 s, completed 2022年7月28日 下午1:31:30
========================================================
pysdql execution time: 16.754210710525513
export sdql script "tpch-7.sdql" to "T:/UG4-Proj/output/tpch-7.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-7.sdql

{<supp_nation = PERU, cust_nation = MOROCCO, l_year = 1996, revenue = 203568.86399999997> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1995, revenue = 228013.98859999998> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1995, revenue = 306687.8357> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1996, revenue = 180769.569> -> 1}

### pandas - 7

In [14]:
import pandas

var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

r = n1.merge(n2, on=((n1['n1_name'] == var1) & (n2['n2_name'] == var2))
                    | ((n1['n1_name'] == var2) & (n2['n2_name'] == var1)))

sub_n = n1.merge(n2, how='cross')
r = sub_n[(sub_n['n1_name'] == var1) & (sub_n['n2_name'] == var2)
          | ((sub_n['n1_name'] == var2) & (sub_n['n2_name'] == var1))]

r = r.merge(customer, left_on='n2_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='n1_nationkey', right_on='s_nationkey')
r = r.merge(orders, left_on='c_custkey', right_on='o_custkey')

sub_l = lineitem[(lineitem['l_shipdate'] >= '1995-01-01') & (lineitem['l_shipdate'] <= '1996-12-31')]
r = r.merge(sub_l, left_on=['o_orderkey', 's_suppkey'], right_on=['l_orderkey', 'l_suppkey'])

r['supp_nation'] = r['n1_name']
r['cust_nation'] = r['n2_name']
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['l_year'] = pandas.DatetimeIndex(r['l_shipdate']).year

r.groupby(['supp_nation', 'cust_nation', 'l_year'], as_index=False).agg(revenue=('volume', 'sum'))

  supp_nation cust_nation  l_year      revenue
0     MOROCCO        PERU    1995  228013.9886
1     MOROCCO        PERU    1996  180769.5690
2        PERU     MOROCCO    1995  306687.8357
3        PERU     MOROCCO    1996  203568.8640

# TPCH - 8 ✅

### SQL - 8

```
select
	o_year,
	sum(case
		when nation = ':1' then volume
		else 0
	end) / sum(volume) as mkt_share
from
	(
		select
			extract(year from o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) as volume,
			n2.n_name as nation
		from
			part,
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2,
			region
		where
			p_partkey = l_partkey
			and s_suppkey = l_suppkey
			and l_orderkey = o_orderkey
			and o_custkey = c_custkey
			and c_nationkey = n1.n_nationkey
			and n1.n_regionkey = r_regionkey
			and r_name = ':2'
			and s_nationkey = n2.n_nationkey
			and o_orderdate between date '1995-01-01' and date '1996-12-31'
			and p_type = ':3'
	) as all_nations
group by
	o_year
```

### pysdql - 8

In [15]:
var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

db_driver = pysdql.db_driver(db_path=r'T:/sdql', name='tpch-8')

part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)
region = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/region.tbl', header=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=n1_cols, name='n1')
n2 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=n2_cols, name='n2')

sub_r = region[(region['r_name'] == var2)].rename('sub_r')
sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')].rename('sub_o')

r1 = n1.merge(sub_r, on=n1['n1_regionkey'] == sub_r['r_regionkey']).rename('r1')

r2 = part.merge(lineitem, on=part['p_partkey'] == lineitem['l_partkey'])
r2 = r2.merge(orders, on=r2['l_orderkey'] == orders['o_orderkey'])
r2 = r2.merge(customer, on=r2['o_custkey'] == customer['c_custkey']).rename('r2')

r = r1.merge(r2, on=r1['n1_nationkey'] == r2['c_nationkey'])
r = r.merge(supplier, on=r['l_suppkey'] == supplier['s_suppkey'])
r = r.merge(n2, on=r['s_nationkey'] == n2['n2_nationkey'])

r[['o_year', 'volume', 'nation']] = [r['o_orderdate'].year,
                                     r['l_extendedprice'] * (1 - r['l_discount']),
                                     r['n2_name']]

all_nations = r[['o_year', 'volume', 'nation']].rename('all_nations')

all_nations['value1'] = all_nations.case(all_nations['nation'] == var1, all_nations['volume'], 0)

s = all_nations.groupby(['o_year']).aggregate(value2=(all_nations['value1'], 'sum'),
                                              value3=(all_nations['volume'], 'sum'))
s['mkt_share'] = s['value2'] / s['value3']

s = s[['o_year', 'mkt_share']]

# 1M - 266s

db_driver.run(s).export().to()

========================================================
let n2 = load[{<n2_nationkey: int, n2_name: string, n2_regionkey: int, n2_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19950101) <= ord_k.o_orderdate) && (ord_k.o_orderdate <= date(19961231)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let Rm0 = sum (<par_k, par_v> in part) sum (<lin_k, lin_v> in lineitem) if ((par_k.p_partkey == lin_k.l_partkey)) then { concat(par_k, lin_k) -> par_v * lin_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<ord_k, ord_v> in orders) if ((r0_k.l_orderkey == ord_k.o_orderkey)) then { concat(r0_k, ord_k) -> r0_v * ord_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<cus_k, cus_v> in customer) if ((r1_k.o_custkey == cus_k.c_custkey)) then { concat(r1_k, cus_k) -> r1_v * cus_v } else {  }
let r2 = Rm2
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "MIDDLE EAST")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let n1 = load[{<n1_nationkey: int, n1_name: string, n1_regionkey: int, n1_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let Rm0 = sum (<n1_k, n1_v> in n1) sum (<sr_k, sr_v> in sub_r) if ((n1_k.n1_regionkey == sr_k.r_regionkey)) then { concat(n1_k, sr_k) -> n1_v * sr_v } else {  }
let r1 = Rm0
let Rm1 = sum (<r1_k, r1_v> in r1) sum (<r2_k, r2_v> in r2) if ((r1_k.n1_nationkey == r2_k.c_nationkey)) then { concat(r1_k, r2_k) -> r1_v * r2_v } else {  }
let Rm3 = sum (<r1_k, r1_v> in Rm1) sum (<sup_k, sup_v> in supplier) if ((r1_k.l_suppkey == sup_k.s_suppkey)) then { concat(r1_k, sup_k) -> r1_v * sup_v } else {  }
let Rm4 = sum (<r3_k, r3_v> in Rm3) sum (<n2_k, n2_v> in n2) if ((r3_k.s_nationkey == n2_k.n2_nationkey)) then { concat(r3_k, n2_k) -> r3_v * n2_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < o_year=ext(`Year`, r4_k.o_orderdate), volume=(r4_k.l_extendedprice * (1 - r4_k.l_discount)), nation=r4_k.n2_name >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { < o_year=t_k.o_year, volume=t_k.volume, nation=t_k.nation > -> 1 }
let all_nations = tmpa
let amp = sum (<an_k, an_v> in all_nations) if ((an_k.nation == "MOROCCO")) then { concat(an_k, < value1=an_k.volume >) -> 1 } else { concat(an_k, < value1=0 >) -> 1 }
let tmpc = sum (<a_k, a_v> in amp) { < o_year=a_k.o_year > -> { a_k -> a_v } }
let tmpb = sum (<tc_k, tc_v> in tmpc) { < o_year=tc_k.o_year, group=tc_v > -> 1 }
let tmpd = sum (<tb_k, tb_v> in tmpb) sum (<g_k, g_v> in tb_k.group) { < o_year=tb_k.o_year > -> < value2=g_k.value1 * g_v, value3=g_k.volume * g_v > }
let aggr_amp = sum (<td_k, td_v> in tmpd) { < o_year=td_k.o_year, value2=td_v.value2, value3=td_v.value3 > -> 1 }
let amp = sum (<aa_k, aa_v> in aggr_amp) { concat(aa_k, < mkt_share=(aa_k.value2 / aa_k.value3) >) -> 1 }
let tmp = sum (<a_k, a_v> in amp) { < o_year=a_k.o_year, mkt_share=a_k.mkt_share > -> 1 }
tmp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<o_year = 1996, mkt_share = 0.12566399268595244> -> 1, <o_year = 1994, mkt_share = 0.12800000212860663> -> 1, <o_year = 1993, mkt_share = 0.1158002773002865> -> 1, <o_year = 1997, mkt_share = 0.1084387201594838> -> 1, <o_year = 1995, mkt_share = 0.0821313677313182> -> 1, <o_year = 1992, mkt_share = 0.08378330784862213> -> 1, <o_year = 1998, mkt_share = 0.14439034519150373> -> 1}
[success] Total time: 9 s, completed 2022年7月28日 下午1:31:54
========================================================
pysdql execution time: 23.659276723861694
export sdql script "tpch-8.sdql" to "T:/UG4-Proj/output/tpch-8.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-8.sdql

{<o_year = 1996, mkt_share = 0.12566399268595244> -> 1, <o_year = 1994, mkt_share = 0.12800000212860663> -> 1, <o_year = 1993, mkt_share = 0.1158002773002865> -> 1, <o_year = 1997, mkt_share = 0.1084387201594838> -> 1, <o_year = 1995, mkt_share = 0.0821313677313182> -> 1, <o_year = 1992, mkt_share = 0.08378330784862213> -> 1, <o_year = 1998, mkt_share = 0.14439034519150373> -> 1}

### pandas - 8

In [16]:
import pandas
import numpy
import pysdql

var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
region = pandas.read_table(rf'{path}\region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

sub_r = region[(region['r_name'] == var2)]
sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')]

r1 = n1.merge(sub_r, left_on='n1_regionkey', right_on='r_regionkey')

r2 = part.merge(lineitem, left_on='p_partkey', right_on='l_partkey')
r2 = r2.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
r2 = r2.merge(customer, left_on='o_custkey', right_on='c_custkey')

r = r1.merge(r2, left_on='n1_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(n2, left_on='s_nationkey', right_on='n2_nationkey')

r['o_year'] = pandas.DatetimeIndex(r['o_orderdate']).year
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['nation'] = r['n2_name']

r = r[['o_year', 'volume', 'nation']]

r['value1'] = numpy.where(r['nation'] == var1, r['volume'], 0)

r = r.groupby(['o_year'], as_index=False).agg(value2=('value1', 'sum'), value3=('volume', 'sum'))

r['revenue'] = r['value2'] / r['value3']

r = r.drop(columns=['value2', 'value3'])

r

   o_year   revenue
0    1992  0.083783
1    1993  0.115800
2    1994  0.128000
3    1995  0.082131
4    1996  0.125664
5    1997  0.108439
6    1998  0.144390

# TPCH - 9 ✅

### SQL - 9

```
select
	nation,
	o_year,
	sum(amount) as sum_profit
from
	(
		select
			n_name as nation,
			extract(year from o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount
		from
			part,
			supplier,
			lineitem,
			partsupp,
			orders,
			nation
		where
			s_suppkey = l_suppkey
			and ps_suppkey = l_suppkey
			and ps_partkey = l_partkey
			and p_partkey = l_partkey
			and o_orderkey = l_orderkey
			and s_nationkey = n_nationkey
			and p_name like '%:1%'
	) as profit
group by
	nation,
	o_year
```

### pysdql - 9

In [17]:
import pysdql
var1 = 'cornflower'
part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
partsupp = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/partsupp.tbl', header=pysdql.PARTSUPP_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)
sub_p = part[part['p_name'].str.startswith(var1)].rename('sub_p')
# hash join (part, partsupp)
r1 = sub_p.merge(partsupp, on=sub_p['p_partkey'] == partsupp['ps_partkey']).rename('r1')
# hash join (supplier, nation)
r2 = supplier.merge(nation, on=(supplier['s_nationkey'] == nation['n_nationkey']))
# hash join ((supplier, nation), (part, partsupp))
r2 = r2.merge(r1, on=r2['s_suppkey'] == r1['ps_suppkey']).rename('r2')
# hash join ((supplier, nation, part, partsupp), lineitem)
r = r2.merge(lineitem, on=(r2['s_suppkey'] == lineitem['l_suppkey']) & (r2['ps_suppkey'] == lineitem['l_suppkey']))
# hash join ((supplier, nation, part, partsupp, lineitem), orders)
r = r.merge(orders, on=r['l_orderkey'] == orders['o_orderkey']).rename('r')
r[['nation', 'o_year', 'amount']] = [r['n_name'],
                                     r['o_orderdate'].year,
                                     r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']]
profit = r[['nation', 'o_year', 'amount']].rename('profit')
s = profit.groupby(['nation', 'o_year']).agg(sum_profit=(profit['amount'], 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-9').run(s).export().to()

========================================================
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/partsupp.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (ext(`StrStartsWith`, par_k.p_name, "cornflower")) then { par_k -> 1 } else {  }
let sub_p = pmp
let Rm0 = sum (<sp_k, sp_v> in sub_p) sum (<psup_k, psup_v> in partsupp) if ((sp_k.p_partkey == psup_k.ps_partkey)) then { concat(sp_k, psup_k) -> sp_v * psup_v } else {  }
let r1 = Rm0
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let Rm0 = sum (<sup_k, sup_v> in supplier) sum (<nat_k, nat_v> in nation) if ((sup_k.s_nationkey == nat_k.n_nationkey)) then { concat(sup_k, nat_k) -> sup_v * nat_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<r1_k, r1_v> in r1) if ((r0_k.s_suppkey == r1_k.ps_suppkey)) then { concat(r0_k, r1_k) -> r0_v * r1_v } else {  }
let r2 = Rm1
let Rm2 = sum (<r2_k, r2_v> in r2) sum (<lin_k, lin_v> in lineitem) if (((r2_k.s_suppkey == lin_k.l_suppkey) && (r2_k.ps_suppkey == lin_k.l_suppkey))) then { concat(r2_k, lin_k) -> r2_v * lin_v } else {  }
let Rm3 = sum (<r2_k, r2_v> in Rm2) sum (<ord_k, ord_v> in orders) if ((r2_k.l_orderkey == ord_k.o_orderkey)) then { concat(r2_k, ord_k) -> r2_v * ord_v } else {  }
let r = Rm3
let rmp = sum (<r_k, r_v> in r) { concat(r_k, < nation=r_k.n_name, o_year=ext(`Year`, r_k.o_orderdate), amount=((r_k.l_extendedprice * (1 - r_k.l_discount)) - (r_k.ps_supplycost * r_k.l_quantity)) >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) { < nation=r_k.nation, o_year=r_k.o_year, amount=r_k.amount > -> 1 }
let profit = tmp
let tmpb = sum (<p_k, p_v> in profit) { < nation=p_k.nation, o_year=p_k.o_year > -> < sum_profit=p_k.amount * p_v > }
let agg_profit = sum (<tb_k, tb_v> in tmpb) { < nation=tb_k.nation, o_year=tb_k.o_year, sum_profit=tb_v.sum_profit > -> 1 }
agg_profit
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<nation = UNITED KINGDOM, o_year = 1993, sum_profit = 1255630.9392000001> -> 1, <nation = IRAN, o_year = 1996, sum_profit = 4247711.794399998> -> 1, <nation = IRAQ, o_year = 1996, sum_profit = 2867742.3636000003> -> 1, <nation = PERU, o_year = 1993, sum_profit = 1483256.8842> -> 1, <nation = ARGENTINA, o_year = 1995, sum_profit = 1642866.8516> -> 1, <nation = IRAN, o_year = 1994, sum_profit = 3328476.553399998> -> 1, <nation = IRAQ, o_year = 1995, sum_profit = 2111850.346199999> -> 1, <nation = IRAQ, o_year = 1992, sum_profit = 2501160.7879999992> -> 1, <nation = UNITED KINGDOM, o_year = 1996, sum_profit = 1506323.1003999994> -> 1, <nation = IRAQ, o_year = 1993, sum_profit = 2250890.355600001> -> 1, <nation = IRAN, o_year = 1995, sum_profit = 3201627.9369999995> -> 1, <nation = ARGENTINA, o_year = 1994, sum_profit = 1682303.1093999993> -> 1, <nation = IRAQ, o_year = 1998, sum_profit = 1527687.5272> -> 1, <nation = ETHIOPIA, o_year = 1993, sum_profit = 131003.24009999982> -> 1, <nation = ETHIOPIA, o_year = 1996, sum_profit = 108764.17839999983> -> 1, <nation = UNITED KINGDOM, o_year = 1992, sum_profit = 1299813.6944> -> 1, <nation = UNITED KINGDOM, o_year = 1998, sum_profit = 832640.9911999999> -> 1, <nation = UNITED KINGDOM, o_year = 1994, sum_profit = 1023568.6916> -> 1, <nation = ARGENTINA, o_year = 1992, sum_profit = 1826905.226999999> -> 1, <nation = PERU, o_year = 1997, sum_profit = 1797977.7496000004> -> 1, <nation = ETHIOPIA, o_year = 1994, sum_profit = 124997.74429999985> -> 1, <nation = UNITED KINGDOM, o_year = 1997, sum_profit = 1050517.1134> -> 1, <nation = KENYA, o_year = 1995, sum_profit = 1082219.4230000002> -> 1, <nation = KENYA, o_year = 1996, sum_profit = 1171141.1204999997> -> 1, <nation = IRAN, o_year = 1993, sum_profit = 3500464.5432000016> -> 1, <nation = KENYA, o_year = 1992, sum_profit = 1478980.9288000003> -> 1, <nation = ARGENTINA, o_year = 1996, sum_profit = 1600254.309400001> -> 1, <nation = PERU, o_year = 1995, sum_profit = 1756830.3462000007> -> 1, <nation = UNITED KINGDOM, o_year = 1995, sum_profit = 1169880.0690000001> -> 1, <nation = IRAN, o_year = 1998, sum_profit = 2346427.1484> -> 1, <nation = IRAN, o_year = 1997, sum_profit = 3608563.1882> -> 1, <nation = ETHIOPIA, o_year = 1997, sum_profit = 100366.70249999985> -> 1, <nation = ETHIOPIA, o_year = 1995, sum_profit = 108763.9620999999> -> 1, <nation = ARGENTINA, o_year = 1993, sum_profit = 1708000.1409999996> -> 1, <nation = KENYA, o_year = 1997, sum_profit = 1297319.5731> -> 1, <nation = KENYA, o_year = 1993, sum_profit = 1335882.3124000002> -> 1, <nation = IRAQ, o_year = 1994, sum_profit = 1889430.9706000003> -> 1, <nation = PERU, o_year = 1996, sum_profit = 1734677.4902> -> 1, <nation = ARGENTINA, o_year = 1998, sum_profit = 1034894.3665999998> -> 1, <nation = ETHIOPIA, o_year = 1992, sum_profit = 67830.66109999988> -> 1, <nation = IRAN, o_year = 1992, sum_profit = 2310845.3005999997> -> 1, <nation = KENYA, o_year = 1994, sum_profit = 1268858.1668> -> 1, <nation = ETHIOPIA, o_year = 1998, sum_profit = 76260.36269999991> -> 1, <nation = PERU, o_year = 1994, sum_profit = 1494880.5701999997> -> 1, <nation = PERU, o_year = 1992, sum_profit = 1608645.3540000005> -> 1, <nation = ARGENTINA, o_year = 1997, sum_profit = 1551643.0648> -> 1, <nation = KENYA, o_year = 1998, sum_profit = 825673.1588999998> -> 1, <nation = PERU, o_year = 1998, sum_profit = 891239.0521999998> -> 1, <nation = IRAQ, o_year = 1997, sum_profit = 3115742.3498000004> -> 1}
[success] Total time: 11 s, completed 2022年7月28日 下午1:32:19
========================================================
pysdql execution time: 25.4127140045166
export sdql script "tpch-9.sdql" to "T:/UG4-Proj/output/tpch-9.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-9.sdql

{<nation = UNITED KINGDOM, o_year = 1993, sum_profit = 1255630.9392000001> -> 1, <nation = IRAN, o_year = 1996, sum_profit = 4247711.794399998> -> 1, <nation = IRAQ, o_year = 1996, sum_profit = 2867742.3636000003> -> 1, <nation = PERU, o_year = 1993, sum_profit = 1483256.8842> -> 1, <nation = ARGENTINA, o_year = 1995, sum_profit = 1642866.8516> -> 1, <nation = IRAN, o_year = 1994, sum_profit = 3328476.553399998> -> 1, <nation = IRAQ, o_year = 1995, sum_profit = 2111850.346199999> -> 1, <nation = IRAQ, o_year = 1992, sum_profit = 2501160.7879999992> -> 1, <nation = UNITED KINGDOM, o_year = 1996, sum_profit = 1506323.1003999994> -> 1, <nation = IRAQ, o_year = 1993, sum_profit = 2250890.355600001> -> 1, <nation = IRAN, o_year = 1995, sum_profit = 3201627.9369999995> -> 1, <nation = ARGENTINA, o_year = 1994, sum_profit = 1682303.1093999993> -> 1, <nation = IRAQ, o_year = 1998, sum_profit = 1527687.5272> -> 1, <nation = ETHIOPIA, o_year = 1993, sum_profit = 131003.24009999982> -> 1, <nation = ETHIOPIA, o_year = 1996, sum_profit = 108764.17839999983> -> 1, <nation = UNITED KINGDOM, o_year = 1992, sum_profit = 1299813.6944> -> 1, <nation = UNITED KINGDOM, o_year = 1998, sum_profit = 832640.9911999999> -> 1, <nation = UNITED KINGDOM, o_year = 1994, sum_profit = 1023568.6916> -> 1, <nation = ARGENTINA, o_year = 1992, sum_profit = 1826905.226999999> -> 1, <nation = PERU, o_year = 1997, sum_profit = 1797977.7496000004> -> 1, <nation = ETHIOPIA, o_year = 1994, sum_profit = 124997.74429999985> -> 1, <nation = UNITED KINGDOM, o_year = 1997, sum_profit = 1050517.1134> -> 1, <nation = KENYA, o_year = 1995, sum_profit = 1082219.4230000002> -> 1, <nation = KENYA, o_year = 1996, sum_profit = 1171141.1204999997> -> 1, <nation = IRAN, o_year = 1993, sum_profit = 3500464.5432000016> -> 1, <nation = KENYA, o_year = 1992, sum_profit = 1478980.9288000003> -> 1, <nation = ARGENTINA, o_year = 1996, sum_profit = 1600254.309400001> -> 1, <nation = PERU, o_year = 1995, sum_profit = 1756830.3462000007> -> 1, <nation = UNITED KINGDOM, o_year = 1995, sum_profit = 1169880.0690000001> -> 1, <nation = IRAN, o_year = 1998, sum_profit = 2346427.1484> -> 1, <nation = IRAN, o_year = 1997, sum_profit = 3608563.1882> -> 1, <nation = ETHIOPIA, o_year = 1997, sum_profit = 100366.70249999985> -> 1, <nation = ETHIOPIA, o_year = 1995, sum_profit = 108763.9620999999> -> 1, <nation = ARGENTINA, o_year = 1993, sum_profit = 1708000.1409999996> -> 1, <nation = KENYA, o_year = 1997, sum_profit = 1297319.5731> -> 1, <nation = KENYA, o_year = 1993, sum_profit = 1335882.3124000002> -> 1, <nation = IRAQ, o_year = 1994, sum_profit = 1889430.9706000003> -> 1, <nation = PERU, o_year = 1996, sum_profit = 1734677.4902> -> 1, <nation = ARGENTINA, o_year = 1998, sum_profit = 1034894.3665999998> -> 1, <nation = ETHIOPIA, o_year = 1992, sum_profit = 67830.66109999988> -> 1, <nation = IRAN, o_year = 1992, sum_profit = 2310845.3005999997> -> 1, <nation = KENYA, o_year = 1994, sum_profit = 1268858.1668> -> 1, <nation = ETHIOPIA, o_year = 1998, sum_profit = 76260.36269999991> -> 1, <nation = PERU, o_year = 1994, sum_profit = 1494880.5701999997> -> 1, <nation = PERU, o_year = 1992, sum_profit = 1608645.3540000005> -> 1, <nation = ARGENTINA, o_year = 1997, sum_profit = 1551643.0648> -> 1, <nation = KENYA, o_year = 1998, sum_profit = 825673.1588999998> -> 1, <nation = PERU, o_year = 1998, sum_profit = 891239.0521999998> -> 1, <nation = IRAQ, o_year = 1997, sum_profit = 3115742.3498000004> -> 1}

### pandas - 9

In [18]:
import pandas
import pysdql

var1 = 'cornflower'

path = r'T:\UG4-Proj\datasets'
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_p = part[part['p_name'].str.startswith(var1)]

r1 = sub_p.merge(partsupp, how='inner', left_on='p_partkey', right_on='ps_partkey')
r2 = supplier.merge(nation, how='inner', left_on='s_nationkey', right_on='n_nationkey')
r2 = r2.merge(r1, how='inner', left_on='s_suppkey', right_on='ps_suppkey')
r = r2.merge(lineitem, how='inner', left_on='s_suppkey', right_on='l_suppkey')
r = r[r['ps_suppkey'] == r['l_suppkey']]
r = r.merge(orders, how='inner', left_on='l_orderkey', right_on='o_orderkey')

r['nation'] = r['n_name']
r['o_year'] = pandas.DatetimeIndex(r['o_orderdate']).year
r['amount'] = r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']

r = r[['nation', 'o_year', 'amount']]

r.groupby(['nation', 'o_year'], as_index=False).agg(sum_profit=('amount', 'sum'))

            nation  o_year    sum_profit
0        ARGENTINA    1992  1.826905e+06
1        ARGENTINA    1993  1.708000e+06
2        ARGENTINA    1994  1.682303e+06
3        ARGENTINA    1995  1.642867e+06
4        ARGENTINA    1996  1.600254e+06
5        ARGENTINA    1997  1.551643e+06
6        ARGENTINA    1998  1.034894e+06
7         ETHIOPIA    1992  6.783066e+04
8         ETHIOPIA    1993  1.310032e+05
9         ETHIOPIA    1994  1.249977e+05
10        ETHIOPIA    1995  1.087640e+05
11        ETHIOPIA    1996  1.087642e+05
12        ETHIOPIA    1997  1.003667e+05
13        ETHIOPIA    1998  7.626036e+04
14            IRAN    1992  2.310845e+06
15            IRAN    1993  3.500465e+06
16            IRAN    1994  3.328477e+06
17            IRAN    1995  3.201628e+06
18            IRAN    1996  4.247712e+06
19            IRAN    1997  3.608563e+06
20            IRAN    1998  2.346427e+06
21            IRAQ    1992  2.501161e+06
22            IRAQ    1993  2.250890e+06
23            IRAQ    1994  1.889431e+06
24            IRAQ    1995  2.111850e+06
25            IRAQ    1996  2.867742e+06
26            IRAQ    1997  3.115742e+06
27            IRAQ    1998  1.527688e+06
28           KENYA    1992  1.478981e+06
29           KENYA    1993  1.335882e+06
30           KENYA    1994  1.268858e+06
31           KENYA    1995  1.082219e+06
32           KENYA    1996  1.171141e+06
33           KENYA    1997  1.297320e+06
34           KENYA    1998  8.256732e+05
35            PERU    1992  1.608645e+06
36            PERU    1993  1.483257e+06
37            PERU    1994  1.494881e+06
38            PERU    1995  1.756830e+06
39            PERU    1996  1.734677e+06
40            PERU    1997  1.797978e+06
41            PERU    1998  8.912391e+05
42  UNITED KINGDOM    1992  1.299814e+06
43  UNITED KINGDOM    1993  1.255631e+06
44  UNITED KINGDOM    1994  1.023569e+06
45  UNITED KINGDOM    1995  1.169880e+06
46  UNITED KINGDOM    1996  1.506323e+06
47  UNITED KINGDOM    1997  1.050517e+06
48  UNITED KINGDOM    1998  8.326410e+05

# TPCH - 10 ✅

### SQL - 10

```
select
	c_custkey,
	c_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	c_acctbal,
	n_name,
	c_address,
	c_phone,
	c_comment
from
	customer,
	orders,
	lineitem,
	nation
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate >= date ':1'
	and o_orderdate < date ':1' + interval '3' month
	and l_returnflag = 'R'
	and c_nationkey = n_nationkey
group by
	c_custkey,
	c_name,
	c_acctbal,
	c_phone,
	n_name,
	c_address,
	c_comment
```

### pysdql - 10

In [19]:
var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month
customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)
part_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)].rename('part_o')
r = customer.merge(part_o, on=customer['c_custkey'] == part_o['o_custkey'])
r = r.merge(nation, on=r['c_nationkey'] == nation['n_nationkey'])
part_l = lineitem[lineitem['l_returnflag'] == 'R'].rename('part_l')
r = r.merge(part_l, on=r['o_custkey'] == part_l['l_orderkey'])
r = r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'c_phone', 'n_name', 'c_address', 'c_comment']).agg(
    revenue=((r['l_extendedprice'] * (1 - r['l_discount'])), 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-10').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((lin_k.l_returnflag == "R")) then { lin_k -> 1 } else {  }
let part_l = lmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19930801) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19931101)))) then { ord_k -> 1 } else {  }
let part_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let Rm0 = sum (<cus_k, cus_v> in customer) sum (<po_k, po_v> in part_o) if ((cus_k.c_custkey == po_k.o_custkey)) then { concat(cus_k, po_k) -> cus_v * po_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<nat_k, nat_v> in nation) if ((r0_k.c_nationkey == nat_k.n_nationkey)) then { concat(r0_k, nat_k) -> r0_v * nat_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<pl_k, pl_v> in part_l) if ((r1_k.o_custkey == pl_k.l_orderkey)) then { concat(r1_k, pl_k) -> r1_v * pl_v } else {  }
let tmp = sum (<r2_k, r2_v> in Rm2) { < c_custkey=r2_k.c_custkey, c_name=r2_k.c_name, c_acctbal=r2_k.c_acctbal, c_phone=r2_k.c_phone, n_name=r2_k.n_name, c_address=r2_k.c_address, c_comment=r2_k.c_comment > -> < revenue=(r2_k.l_extendedprice * (1 - r2_k.l_discount)) * r2_v > }
let agg_Rm2 = sum (<t_k, t_v> in tmp) { < c_custkey=t_k.c_custkey, c_name=t_k.c_name, c_acctbal=t_k.c_acctbal, c_phone=t_k.c_phone, n_name=t_k.n_name, c_address=t_k.c_address, c_comment=t_k.c_comment, revenue=t_v.revenue > -> 1 }
agg_Rm2
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<c_custkey = 70, c_name = Customer#000000070, c_acctbal = 4867.52, c_phone = 32-828-107-2832, n_name = RUSSIA, c_address = mFowIuhnHjp2GjCiYYavkW kUwOjIaTCQ, c_comment = fter the special asymptotes. ideas after the unusual frets cajole quickly regular pinto be
, revenue = 40120.1103> -> 1, <c_custkey = 97, c_name = Customer#000000097, c_acctbal = 2164.48, c_phone = 27-588-919-5638, n_name = PERU, c_address = OApyejbhJG,0Iw3j rd1M, c_comment = haggle slyly. bold, special ideas are blithely above the thinly bold theo
, revenue = 61459.7804> -> 1, <c_custkey = 131, c_name = Customer#000000131, c_acctbal = 8595.53, c_phone = 21-840-210-3572, n_name = IRAQ, c_address = jyN6lAjb1FtH10rMC,XzlWyCBrg75, c_comment = jole special packages. furiously final dependencies about the furiously speci
, revenue = 43260.479999999996> -> 1, <c_custkey = 64, c_name = Customer#000000064, c_acctbal = -646.64, c_phone = 13-558-731-7204, n_name = CANADA, c_address = MbCeGY20kaKK3oalJD,OT, c_comment = structions after the quietly ironic theodolites cajole be
, revenue = 19672.296> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:32:36
========================================================
pysdql execution time: 16.15074110031128
export sdql script "tpch-10.sdql" to "T:/UG4-Proj/output/tpch-10.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-10.sdql

{<c_custkey = 70, c_name = Customer#000000070, c_acctbal = 4867.52, c_phone = 32-828-107-2832, n_name = RUSSIA, c_address = mFowIuhnHjp2GjCiYYavkW kUwOjIaTCQ, c_comment = fter the special asymptotes. ideas after the unusual frets cajole quickly regular pinto be, revenue = 40120.1103> -> 1, <c_custkey = 97, c_name = Customer#000000097, c_acctbal = 2164.48, c_phone = 27-588-919-5638, n_name = PERU, c_address = OApyejbhJG,0Iw3j rd1M, c_comment = haggle slyly. bold, special ideas are blithely above the thinly bold theo, revenue = 61459.7804> -> 1, <c_custkey = 131, c_name = Customer#000000131, c_acctbal = 8595.53, c_phone = 21-840-210-3572, n_name = IRAQ, c_address = jyN6lAjb1FtH10rMC,XzlWyCBrg75, c_comment = jole special packages. furiously final dependencies about the furiously speci, revenue = 43260.479999999996> -> 1, <c_custkey = 64, c_name = Customer#000000064, c_acctbal = -646.64, c_phone = 13-558-731-7204, n_name = CANADA, c_address = MbCeGY20kaKK3oalJD,OT, c_comment = structions after the quietly ironic theodolites cajole be, revenue = 19672.296> -> 1}

### pandas - 10

In [20]:
var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month

customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

part_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]

r = customer.merge(part_o, how='inner', left_on='c_custkey', right_on='o_custkey')
r = r.merge(nation, how='inner', left_on='c_nationkey', right_on='n_nationkey')

part_l = lineitem[lineitem['l_returnflag'] == 'R']
r = r.merge(part_l, how='inner', left_on='o_custkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'c_phone', 'n_name', 'c_address', 'c_comment'], as_index=False).agg(revenue=('value', 'sum'))

,c_custkey,c_name,c_acctbal,c_phone,n_name,c_address,c_comment,revenue
0,64,Customer#000000064,-646.64,13-558-731-7204,CANADA,"MbCeGY20kaKK3oalJD,OT",structions after the quietly ironic theodolite...,19672.2960
1,70,Customer#000000070,4867.52,32-828-107-2832,RUSSIA,mFowIuhnHjp2GjCiYYavkW kUwOjIaTCQ,fter the special asymptotes. ideas after the u...,40120.1103
2,97,Customer#000000097,2164.48,27-588-919-5638,PERU,"OApyejbhJG,0Iw3j rd1M","haggle slyly. bold, special ideas are blithely...",61459.7804
3,131,Customer#000000131,8595.53,21-840-210-3572,IRAQ,"jyN6lAjb1FtH10rMC,XzlWyCBrg75",jole special packages. furiously final depende...,43260.4800

# TPCH - 11 ✅

### SQL - 11

```
select
	ps_partkey,
	sum(ps_supplycost * ps_availqty) as value
from
	partsupp,
	supplier,
	nation
where
	ps_suppkey = s_suppkey
	and s_nationkey = n_nationkey
	and n_name = ':1'
group by
	ps_partkey having
		sum(ps_supplycost * ps_availqty) > (
			select
				sum(ps_supplycost * ps_availqty) * :2
			from
				partsupp,
				supplier,
				nation
			where
				ps_suppkey = s_suppkey
				and s_nationkey = n_nationkey
				and n_name = ':1'
		)
```

### pysdql - 11

In [21]:
var1 = 'PERU'
var2 = 0.0001
partsupp = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/partsupp.tbl', header=pysdql.PARTSUPP_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)
sub_n = nation[(nation['n_name'] == var1)].rename('sub_n')
r1 = sub_n.merge(supplier, on=(sub_n['n_nationkey'] == supplier['s_nationkey'])).rename('r1')
r2 = r1.merge(partsupp, r1['s_suppkey'] == partsupp['ps_suppkey']).rename('r2')
agg_val = (r2['ps_supplycost'] * r2['ps_availqty'] * var2).sum()
# GOURPBY HAVING
r = r2.groupby(['ps_partkey']).filter(lambda x: (x['ps_supplycost'] * x['ps_availqty']).sum() > agg_val)
# SELECT GROUPBY AGGREGATION
r = r.groupby(['ps_partkey']).agg(value=(r['ps_supplycost'] * r['ps_availqty'], 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-11').run(r).export().to()

========================================================
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/partsupp.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "PERU")) then { nat_k -> 1 } else {  }
let sub_n = nmp
let Rm0 = sum (<sn_k, sn_v> in sub_n) sum (<sup_k, sup_v> in supplier) if ((sn_k.n_nationkey == sup_k.s_nationkey)) then { concat(sn_k, sup_k) -> sn_v * sup_v } else {  }
let r1 = Rm0
let Rm1 = sum (<r1_k, r1_v> in r1) sum (<psup_k, psup_v> in partsupp) if ((r1_k.s_suppkey == psup_k.ps_suppkey)) then { concat(r1_k, psup_k) -> r1_v * psup_v } else {  }
let r2 = Rm1
let agg_val = sum (<r2_k, r2_v> in r2) r2_v
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "PERU")) then { nat_k -> 1 } else {  }
let Rm0 = sum (<sn_k, sn_v> in sub_n) sum (<sup_k, sup_v> in supplier) if ((sn_k.n_nationkey == sup_k.s_nationkey)) then { concat(sn_k, sup_k) -> sn_v * sup_v } else {  }
let Rm1 = sum (<r1_k, r1_v> in r1) sum (<psup_k, psup_v> in partsupp) if ((r1_k.s_suppkey == psup_k.ps_suppkey)) then { concat(r1_k, psup_k) -> r1_v * psup_v } else {  }
let agg_val = sum (<r2_k, r2_v> in r2) r2_v
let tmp = sum (<r2_k, r2_v> in r2) { < ps_partkey=r2_k.ps_partkey > -> { r2_k -> r2_v } }
let rmp = sum (<t_k, t_v> in tmp) { < ps_partkey=t_k.ps_partkey, group=t_v > -> 1 }
let hvmp = sum (<r_k, r_v> in rmp) sum (<g_k, g_v> in r_k.group) { < ps_partkey=r_k.ps_partkey > -> < val=((g_k.ps_supplycost * g_k.ps_availqty) * g_v) > }
let hvR = sum (<hv_k, hv_v> in hvmp) if ((agg_val < hv_v.val)) then { < ps_partkey=hv_k.ps_partkey > -> 1 } else {  }
let fhr2 = sum (<r2_k, r2_v> in r2) sum (<h_k, h_v> in hvR) if ((h_k.ps_partkey == r2_k.ps_partkey)) then { r2_k -> 1 } else {  }
let tmpa = sum (<f2_k, f2_v> in fhr2) { < ps_partkey=f2_k.ps_partkey > -> < value=(f2_k.ps_supplycost * f2_k.ps_availqty) * f2_v > }
let agg_fhr2 = sum (<ta_k, ta_v> in tmpa) { < ps_partkey=ta_k.ps_partkey, value=ta_v.value > -> 1 }
agg_fhr2
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<ps_partkey = 97, value = 4314022.47> -> 1, <ps_partkey = 164, value = 2643604.15> -> 1, <ps_partkey = 171, value = 1998922.56> -> 1, <ps_partkey = 72, value = 2023966.94> -> 1, <ps_partkey = 62, value = 2056642.72> -> 1, <ps_partkey = 44, value = 607304.7000000001> -> 1, <ps_partkey = 141, value = 231038.80000000002> -> 1, <ps_partkey = 17, value = 1.3534598E7> -> 1, <ps_partkey = 170, value = 4371681.399999999> -> 1, <ps_partkey = 50, value = 1036069.2799999999> -> 1, <ps_partkey = 122, value = 3226213.8800000004> -> 1, <ps_partkey = 135, value = 873132.22> -> 1, <ps_partkey = 166, value = 4239796.54> -> 1, <ps_partkey = 40, value = 7662503.61> -> 1, <ps_partkey = 150, value = 4245428.61> -> 1, <ps_partkey = 148, value = 1424237.3699999999> -> 1, <ps_partkey = 194, value = 626466.0> -> 1, <ps_partkey = 179, value = 751076.4999999999> -> 1, <ps_partkey = 94, value = 2687324.8800000004> -> 1, <ps_partkey = 42, value = 107882.52> -> 1, <ps_partkey = 56, value = 5440869.45> -> 1, <ps_partkey = 140, value = 1205933.31> -> 1, <ps_partkey = 11, value = 4552359.66> -> 1, <ps_partkey = 199, value = 381417.48000000004> -> 1, <ps_partkey = 132, value = 3634867.0999999996> -> 1, <ps_partkey = 163, value = 5548992.48> -> 1, <ps_partkey = 35, value = 5604884.25> -> 1, <ps_partkey = 10, value = 2940546.24> -> 1, <ps_partkey = 101, value = 33664.950000000004> -> 1, <ps_partkey = 1, value = 1456050.96> -> 1, <ps_partkey = 57, value = 365882.92> -> 1, <ps_partkey = 103, value = 1866682.7200000002> -> 1, <ps_partkey = 178, value = 695176.94> -> 1, <ps_partkey = 145, value = 567974.4> -> 1, <ps_partkey = 53, value = 6179193.36> -> 1, <ps_partkey = 144, value = 419880.24> -> 1, <ps_partkey = 180, value = 6187728.92> -> 1, <ps_partkey = 200, value = 2422399.1999999997> -> 1, <ps_partkey = 23, value = 591863.07> -> 1, <ps_partkey = 64, value = 5490141.5> -> 1, <ps_partkey = 142, value = 3295040.64> -> 1, <ps_partkey = 172, value = 1571479.54> -> 1, <ps_partkey = 90, value = 1.373279748E7> -> 1, <ps_partkey = 4, value = 1102037.6> -> 1, <ps_partkey = 87, value = 1.168637671E7> -> 1, <ps_partkey = 167, value = 3288831.1> -> 1, <ps_partkey = 157, value = 2000148.16> -> 1, <ps_partkey = 18, value = 2501227.75> -> 1, <ps_partkey = 60, value = 6897784.01> -> 1, <ps_partkey = 59, value = 372372.0> -> 1, <ps_partkey = 108, value = 1182720.06> -> 1, <ps_partkey = 128, value = 6150602.9399999995> -> 1, <ps_partkey = 47, value = 2044422.2799999998> -> 1, <ps_partkey = 49, value = 485134.14> -> 1, <ps_partkey = 114, value = 3429966.9699999997> -> 1, <ps_partkey = 8, value = 379106.64> -> 1, <ps_partkey = 73, value = 1215990.96> -> 1, <ps_partkey = 96, value = 2823364.5999999996> -> 1, <ps_partkey = 107, value = 1218049.47> -> 1, <ps_partkey = 95, value = 362309.74> -> 1, <ps_partkey = 159, value = 2939663.79> -> 1, <ps_partkey = 3, value = 2528031.8> -> 1, <ps_partkey = 137, value = 2911222.77> -> 1, <ps_partkey = 20, value = 1977305.5799999998> -> 1, <ps_partkey = 147, value = 6989079.88> -> 1, <ps_partkey = 22, value = 2813659.4400000004> -> 1, <ps_partkey = 156, value = 800339.55> -> 1, <ps_partkey = 161, value = 6663701.13> -> 1, <ps_partkey = 63, value = 2932839.25> -> 1, <ps_partkey = 98, value = 478577.0> -> 1, <ps_partkey = 80, value = 4350491.149999999> -> 1, <ps_partkey = 32, value = 6846704.2> -> 1, <ps_partkey = 190, value = 7017966.9> -> 1, <ps_partkey = 129, value = 1751796.41> -> 1, <ps_partkey = 149, value = 1281966.48> -> 1, <ps_partkey = 41, value = 2329702.2600000002> -> 1, <ps_partkey = 169, value = 6239980.67> -> 1, <ps_partkey = 195, value = 32723.02> -> 1, <ps_partkey = 100, value = 3868459.85> -> 1, <ps_partkey = 104, value = 2457281.22> -> 1, <ps_partkey = 99, value = 3760269.31> -> 1, <ps_partkey = 61, value = 3017869.88> -> 1, <ps_partkey = 196, value = 2429515.15> -> 1, <ps_partkey = 187, value = 1.214970141E7> -> 1, <ps_partkey = 78, value = 4182608.58> -> 1, <ps_partkey = 69, value = 6970845.15> -> 1, <ps_partkey = 28, value = 6657301.64> -> 1, <ps_partkey = 110, value = 1575891.7200000002> -> 1, <ps_partkey = 153, value = 7755681.279999999> -> 1, <ps_partkey = 160, value = 9603044.139999999> -> 1, <ps_partkey = 125, value = 4473736.359999999> -> 1, <ps_partkey = 106, value = 437974.39999999997> -> 1, <ps_partkey = 198, value = 1403881.3> -> 1, <ps_partkey = 67, value = 3040109.5100000002> -> 1, <ps_partkey = 5, value = 487669.56000000006> -> 1, <ps_partkey = 197, value = 1.532715414E7> -> 1, <ps_partkey = 7, value = 5694706.92> -> 1, <ps_partkey = 70, value = 1579752.72> -> 1, <ps_partkey = 126, value = 461263.74> -> 1, <ps_partkey = 127, value = 5455023.140000001> -> 1, <ps_partkey = 6, value = 2142145.68> -> 1, <ps_partkey = 130, value = 1100816.64> -> 1, <ps_partkey = 111, value = 7093041.7700000005> -> 1, <ps_partkey = 118, value = 4834899.05> -> 1, <ps_partkey = 123, value = 4612955.220000001> -> 1, <ps_partkey = 29, value = 6751706.920000001> -> 1, <ps_partkey = 117, value = 4812298.94> -> 1, <ps_partkey = 120, value = 1001220.9600000001> -> 1, <ps_partkey = 25, value = 5479970.600000001> -> 1, <ps_partkey = 45, value = 3019876.3000000003> -> 1, <ps_partkey = 37, value = 6027604.5200000005> -> 1, <ps_partkey = 177, value = 55445.25> -> 1, <ps_partkey = 66, value = 235991.91999999998> -> 1, <ps_partkey = 71, value = 1995378.53> -> 1, <ps_partkey = 79, value = 2912681.07> -> 1, <ps_partkey = 30, value = 4714801.35> -> 1, <ps_partkey = 173, value = 5409250.08> -> 1, <ps_partkey = 105, value = 42668.78> -> 1, <ps_partkey = 14, value = 8028694.640000001> -> 1, <ps_partkey = 162, value = 271336.8> -> 1, <ps_partkey = 48, value = 3717809.16> -> 1, <ps_partkey = 26, value = 5867999.4> -> 1, <ps_partkey = 77, value = 140715.84> -> 1, <ps_partkey = 27, value = 937305.11> -> 1}

[success] Total time: 1 s, completed 2022年7月28日 下午1:32:52
========================================================
pysdql execution time: 15.82610535621643
export sdql script "tpch-11.sdql" to "T:/UG4-Proj/output/tpch-11.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-11.sdql

{<ps_partkey = 97, value = 4314022.47> -> 1, <ps_partkey = 164, value = 2643604.15> -> 1, <ps_partkey = 171, value = 1998922.56> -> 1, <ps_partkey = 72, value = 2023966.94> -> 1, <ps_partkey = 62, value = 2056642.72> -> 1, <ps_partkey = 44, value = 607304.7000000001> -> 1, <ps_partkey = 141, value = 231038.80000000002> -> 1, <ps_partkey = 17, value = 1.3534598E7> -> 1, <ps_partkey = 170, value = 4371681.399999999> -> 1, <ps_partkey = 50, value = 1036069.2799999999> -> 1, <ps_partkey = 122, value = 3226213.8800000004> -> 1, <ps_partkey = 135, value = 873132.22> -> 1, <ps_partkey = 166, value = 4239796.54> -> 1, <ps_partkey = 40, value = 7662503.61> -> 1, <ps_partkey = 150, value = 4245428.61> -> 1, <ps_partkey = 148, value = 1424237.3699999999> -> 1, <ps_partkey = 194, value = 626466.0> -> 1, <ps_partkey = 179, value = 751076.4999999999> -> 1, <ps_partkey = 94, value = 2687324.8800000004> -> 1, <ps_partkey = 42, value = 107882.52> -> 1, <ps_partkey = 56, value = 5440869.45> -> 1, <ps_partkey = 140, value = 1205933.31> -> 1, <ps_partkey = 11, value = 4552359.66> -> 1, <ps_partkey = 199, value = 381417.48000000004> -> 1, <ps_partkey = 132, value = 3634867.0999999996> -> 1, <ps_partkey = 163, value = 5548992.48> -> 1, <ps_partkey = 35, value = 5604884.25> -> 1, <ps_partkey = 10, value = 2940546.24> -> 1, <ps_partkey = 101, value = 33664.950000000004> -> 1, <ps_partkey = 1, value = 1456050.96> -> 1, <ps_partkey = 57, value = 365882.92> -> 1, <ps_partkey = 103, value = 1866682.7200000002> -> 1, <ps_partkey = 178, value = 695176.94> -> 1, <ps_partkey = 145, value = 567974.4> -> 1, <ps_partkey = 53, value = 6179193.36> -> 1, <ps_partkey = 144, value = 419880.24> -> 1, <ps_partkey = 180, value = 6187728.92> -> 1, <ps_partkey = 200, value = 2422399.1999999997> -> 1, <ps_partkey = 23, value = 591863.07> -> 1, <ps_partkey = 64, value = 5490141.5> -> 1, <ps_partkey = 142, value = 3295040.64> -> 1, <ps_partkey = 172, value = 1571479.54> -> 1, <ps_partkey = 90, value = 1.373279748E7> -> 1, <ps_partkey = 4, value = 1102037.6> -> 1, <ps_partkey = 87, value = 1.168637671E7> -> 1, <ps_partkey = 167, value = 3288831.1> -> 1, <ps_partkey = 157, value = 2000148.16> -> 1, <ps_partkey = 18, value = 2501227.75> -> 1, <ps_partkey = 60, value = 6897784.01> -> 1, <ps_partkey = 59, value = 372372.0> -> 1, <ps_partkey = 108, value = 1182720.06> -> 1, <ps_partkey = 128, value = 6150602.9399999995> -> 1, <ps_partkey = 47, value = 2044422.2799999998> -> 1, <ps_partkey = 49, value = 485134.14> -> 1, <ps_partkey = 114, value = 3429966.9699999997> -> 1, <ps_partkey = 8, value = 379106.64> -> 1, <ps_partkey = 73, value = 1215990.96> -> 1, <ps_partkey = 96, value = 2823364.5999999996> -> 1, <ps_partkey = 107, value = 1218049.47> -> 1, <ps_partkey = 95, value = 362309.74> -> 1, <ps_partkey = 159, value = 2939663.79> -> 1, <ps_partkey = 3, value = 2528031.8> -> 1, <ps_partkey = 137, value = 2911222.77> -> 1, <ps_partkey = 20, value = 1977305.5799999998> -> 1, <ps_partkey = 147, value = 6989079.88> -> 1, <ps_partkey = 22, value = 2813659.4400000004> -> 1, <ps_partkey = 156, value = 800339.55> -> 1, <ps_partkey = 161, value = 6663701.13> -> 1, <ps_partkey = 63, value = 2932839.25> -> 1, <ps_partkey = 98, value = 478577.0> -> 1, <ps_partkey = 80, value = 4350491.149999999> -> 1, <ps_partkey = 32, value = 6846704.2> -> 1, <ps_partkey = 190, value = 7017966.9> -> 1, <ps_partkey = 129, value = 1751796.41> -> 1, <ps_partkey = 149, value = 1281966.48> -> 1, <ps_partkey = 41, value = 2329702.2600000002> -> 1, <ps_partkey = 169, value = 6239980.67> -> 1, <ps_partkey = 195, value = 32723.02> -> 1, <ps_partkey = 100, value = 3868459.85> -> 1, <ps_partkey = 104, value = 2457281.22> -> 1, <ps_partkey = 99, value = 3760269.31> -> 1, <ps_partkey = 61, value = 3017869.88> -> 1, <ps_partkey = 196, value = 2429515.15> -> 1, <ps_partkey = 187, value = 1.214970141E7> -> 1, <ps_partkey = 78, value = 4182608.58> -> 1, <ps_partkey = 69, value = 6970845.15> -> 1, <ps_partkey = 28, value = 6657301.64> -> 1, <ps_partkey = 110, value = 1575891.7200000002> -> 1, <ps_partkey = 153, value = 7755681.279999999> -> 1, <ps_partkey = 160, value = 9603044.139999999> -> 1, <ps_partkey = 125, value = 4473736.359999999> -> 1, <ps_partkey = 106, value = 437974.39999999997> -> 1, <ps_partkey = 198, value = 1403881.3> -> 1, <ps_partkey = 67, value = 3040109.5100000002> -> 1, <ps_partkey = 5, value = 487669.56000000006> -> 1, <ps_partkey = 197, value = 1.532715414E7> -> 1, <ps_partkey = 7, value = 5694706.92> -> 1, <ps_partkey = 70, value = 1579752.72> -> 1, <ps_partkey = 126, value = 461263.74> -> 1, <ps_partkey = 127, value = 5455023.140000001> -> 1, <ps_partkey = 6, value = 2142145.68> -> 1, <ps_partkey = 130, value = 1100816.64> -> 1, <ps_partkey = 111, value = 7093041.7700000005> -> 1, <ps_partkey = 118, value = 4834899.05> -> 1, <ps_partkey = 123, value = 4612955.220000001> -> 1, <ps_partkey = 29, value = 6751706.920000001> -> 1, <ps_partkey = 117, value = 4812298.94> -> 1, <ps_partkey = 120, value = 1001220.9600000001> -> 1, <ps_partkey = 25, value = 5479970.600000001> -> 1, <ps_partkey = 45, value = 3019876.3000000003> -> 1, <ps_partkey = 37, value = 6027604.5200000005> -> 1, <ps_partkey = 177, value = 55445.25> -> 1, <ps_partkey = 66, value = 235991.91999999998> -> 1, <ps_partkey = 71, value = 1995378.53> -> 1, <ps_partkey = 79, value = 2912681.07> -> 1, <ps_partkey = 30, value = 4714801.35> -> 1, <ps_partkey = 173, value = 5409250.08> -> 1, <ps_partkey = 105, value = 42668.78> -> 1, <ps_partkey = 14, value = 8028694.640000001> -> 1, <ps_partkey = 162, value = 271336.8> -> 1, <ps_partkey = 48, value = 3717809.16> -> 1, <ps_partkey = 26, value = 5867999.4> -> 1, <ps_partkey = 77, value = 140715.84> -> 1, <ps_partkey = 27, value = 937305.11> -> 1}

### pandas - 11

In [22]:
var1 = 'PERU'
var2 = 0.0001

import pandas
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_n = nation[nation['n_name'] == var1]

r1 = sub_n.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r2 = r1.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')

r2['agg_val'] = r2['ps_supplycost'] * r2['ps_availqty'] * var2

agg_val = r2['agg_val'].sum()

r = r2.groupby(['ps_partkey']).filter(lambda x: (x['ps_supplycost'] * x['ps_availqty']).sum() > agg_val)

r['value'] = r['ps_supplycost'] * r['ps_availqty']

r = r.groupby(['ps_partkey'], as_index=False).agg(value=('value', 'sum'))

r

     ps_partkey        value
0             1   1456050.96
1             3   2528031.80
2             4   1102037.60
3             5    487669.56
4             6   2142145.68
..          ...          ...
117         196   2429515.15
118         197  15327154.14
119         198   1403881.30
120         199    381417.48
121         200   2422399.20

[122 rows x 2 columns]

# TPCH - 12 ✅

### SQL - 12

```
select
	l_shipmode,
	sum(case
		when o_orderpriority = '1-URGENT'
			or o_orderpriority = '2-HIGH'
			then 1
		else 0
	end) as high_line_count,
	sum(case
		when o_orderpriority <> '1-URGENT'
			and o_orderpriority <> '2-HIGH'
			then 1
		else 0
	end) as low_line_count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_shipmode in (':1', ':2')
	and l_commitdate < l_receiptdate
	and l_shipdate < l_commitdate
	and l_receiptdate >= date ':3'
	and l_receiptdate < date ':3' + interval '1' year
group by
	l_shipmode
```

### pysdql - 12

In [23]:
var1 = 'FOB'
var2 = 'AIR'
var3 = '1995-01-01'
var4 = '1996-01-01'
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
sub_l = lineitem[(lineitem['l_shipmode'].isin((var1, var2)))
                 & (lineitem['l_commitdate'] < lineitem['l_receiptdate'])
                 & (lineitem['l_shipdate'] < lineitem['l_commitdate'])
                 & (lineitem['l_receiptdate'] >= var3) & (lineitem['l_receiptdate'] < var4)].rename('sub_l')
r = orders.merge(sub_l, on=(orders['o_orderkey'] == sub_l['l_orderkey']))
r['high_line_priority'] = r.case((r['o_orderpriority'] == '1-URGENT') | (r['o_orderpriority'] == '2-HIGH'), 1, 0)
r['low_line_priority'] = r.case((r['o_orderpriority'] != '1-URGENT') | (r['o_orderpriority'] != '2-HIGH'), 1, 0)
r = r.groupby(['l_shipmode']).agg(high_line_count=(r['high_line_priority'], 'sum'),
                                        low_line_count=(r['low_line_priority'], 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-12').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((((((lin_k.l_shipmode == "AIR") || (lin_k.l_shipmode == "FOB")) && (lin_k.l_commitdate < lin_k.l_receiptdate)) && (lin_k.l_shipdate < lin_k.l_commitdate)) && (date(19950101) <= lin_k.l_receiptdate)) && (lin_k.l_receiptdate < date(19960101)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let Rm0 = sum (<ord_k, ord_v> in orders) sum (<sl_k, sl_v> in sub_l) if ((ord_k.o_orderkey == sl_k.l_orderkey)) then { concat(ord_k, sl_k) -> ord_v * sl_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if (((r0_k.o_orderpriority == "1-URGENT") || (r0_k.o_orderpriority == "2-HIGH"))) then { concat(r0_k, < high_line_priority=1 >) -> 1 } else { concat(r0_k, < high_line_priority=0 >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) if (((r_k.o_orderpriority != "1-URGENT") || (r_k.o_orderpriority != "2-HIGH"))) then { concat(r_k, < low_line_priority=1 >) -> 1 } else { concat(r_k, < low_line_priority=0 >) -> 1 }
let tmpb = sum (<t_k, t_v> in tmp) { < l_shipmode=t_k.l_shipmode > -> < high_line_count=t_k.high_line_priority * t_v, low_line_count=t_k.low_line_priority * t_v > }
let agg_tmp = sum (<tb_k, tb_v> in tmpb) { < l_shipmode=tb_k.l_shipmode, high_line_count=tb_v.high_line_count, low_line_count=tb_v.low_line_count > -> 1 }
agg_tmp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<l_shipmode = FOB, high_line_count = 6, low_line_count = 12> -> 1, <l_shipmode = AIR, high_line_count = 8, low_line_count = 13> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:33:08
========================================================
pysdql execution time: 16.02961015701294
export sdql script "tpch-12.sdql" to "T:/UG4-Proj/output/tpch-12.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-12.sdql

{<l_shipmode = FOB, high_line_count = 6, low_line_count = 12> -> 1, <l_shipmode = AIR, high_line_count = 8, low_line_count = 13> -> 1}

### pandas - 12

In [24]:
import pandas
import numpy

var1 = 'FOB'
var2 = 'AIR'
var3 = '1995-01-01'
var4 = '1996-01-01'

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_l = lineitem[(lineitem['l_commitdate'] < lineitem['l_receiptdate'])
                 & (lineitem['l_shipdate'] < lineitem['l_commitdate'])
                 & (lineitem['l_receiptdate'] >= var3) & (lineitem['l_receiptdate'] < var4)]

sub_l = sub_l[lineitem['l_shipmode'].isin([var1, var2])]

r = orders.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['high_line_priority'] = numpy.select(
[
    (r['o_orderpriority'] == '1-URGENT') | (r['o_orderpriority'] == '2-HIGH')
],
[
    1
],
default=0)

r['low_line_priority'] = numpy.select(
[
    (r['o_orderpriority'] != '1-URGENT') | (r['o_orderpriority'] != '2-HIGH')
],
[
    1
],
default=0)

r.groupby(['l_shipmode'], as_index=False).agg(high_line_count=('high_line_priority', 'sum'), low_line_count=('low_line_priority', 'sum'))

C:\Users\Y\AppData\Local\Temp\ipykernel_7648\801082235.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sub_l = sub_l[lineitem['l_shipmode'].isin([var1, var2])]

  l_shipmode  high_line_count  low_line_count
0        AIR                8              13
1        FOB                6              12

# TPCH - 13 ✅

### SQL - 13

```
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey)
		from
			customer left outer join orders on
				c_custkey = o_custkey
				and o_comment not like '%:1%:2%'
		group by
			c_custkey
	) as c_orders (c_custkey, c_count)
group by
	c_count
```

### pysdql - 13

In [25]:
var1 = 'special'
var2 = 'requests'

orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)

sub_o = orders[~orders['o_comment'].contains_in_order(var1, var2)].rename('sub_o')

# LEFT OUTER JOIN
r = customer.join(sub_o, how='left', left_on='c_custkey', right_on='o_custkey')

r = r.groupby(['c_custkey']).agg(c_count=(r['o_orderkey'], 'count'))

c_orders = r.rename('c_orders')

s = c_orders.groupby(['c_count']).agg(custdist=('*', 'count'))

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-13').run(s, block=False).export().to()

========================================================
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) let idx0 = ext(`StrIndexOf`, ord_k.o_comment, "special", 0) let idx1 = ext(`StrIndexOf`, ord_k.o_comment, "requests", idx0) if (!((idx0 != -1) && (idx1 != -1))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let sub_o_right_group = sum (<so_k, so_v> in sub_o) { <o_custkey=so_k.o_custkey> -> { so_k -> so_v } }
let left_join_c_s = sum (<cus_k, cus_v> in customer) if ((sub_o_right_group(<o_custkey=cus_k.c_custkey>) != {  })) then sum(<rgnd_s_k, rgnd_s_v> in sub_o_right_group(<o_custkey=cus_k.c_custkey>)) { < left=cus_k, right=rgnd_s_k > -> 1 } else { < left=cus_k, right=<  > > -> 1 }
let tmp = sum (<ljcs_k, ljcs_v> in left_join_c_s) if ((ljcs_k.right != <  >)) then { < c_custkey=ljcs_k.left.c_custkey > -> < c_count=promote[nullable[int]](ljcs_v) > } else { < c_custkey=ljcs_k.left.c_custkey > -> < c_count=promote[nullable[int]](0) > }
let tmpa = sum (<t_k, t_v> in tmp) { < c_custkey=t_k.c_custkey, c_count=promote[int](t_v.c_count) > -> 1 }
let c_orders = tmpa
let tmpb = sum (<co_k, co_v> in c_orders) { < c_count=co_k.c_count > -> < custdist=co_v > }
let agg_c_orders = sum (<tb_k, tb_v> in tmpb) { < c_count=tb_k.c_count, custdist=tb_v.custdist > -> 1 }
agg_c_orders
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<c_count = 26, custdist = 3> -> 1, <c_count = 29, custdist = 2> -> 1, <c_count = 12, custdist = 6> -> 1, <c_count = 5, custdist = 3> -> 1, <c_count = 7, custdist = 4> -> 1, <c_count = 10, custdist = 5> -> 1, <c_count = 11, custdist = 4> -> 1, <c_count = 8, custdist = 4> -> 1, <c_count = 9, custdist = 6> -> 1, <c_count = 13, custdist = 6> -> 1, <c_count = 15, custdist = 2> -> 1, <c_count = 0, custdist = 50> -> 1, <c_count = 21, custdist = 4> -> 1, <c_count = 22, custdist = 3> -> 1, <c_count = 4, custdist = 3> -> 1, <c_count = 6, custdist = 3> -> 1, <c_count = 17, custdist = 7> -> 1, <c_count = 18, custdist = 4> -> 1, <c_count = 19, custdist = 2> -> 1, <c_count = 28, custdist = 1> -> 1, <c_count = 24, custdist = 2> -> 1, <c_count = 16, custdist = 8> -> 1, <c_count = 3, custdist = 1> -> 1, <c_count = 14, custdist = 5> -> 1, <c_count = 25, custdist = 1> -> 1, <c_count = 20, custdist = 6> -> 1, <c_count = 23, custdist = 5> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:33:24
========================================================
pysdql execution time: 15.955506086349487
export sdql script "tpch-13.sdql" to "T:/UG4-Proj/output/tpch-13.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-13.sdql

{<c_count = 26, custdist = 3> -> 1, <c_count = 29, custdist = 2> -> 1, <c_count = 12, custdist = 6> -> 1, <c_count = 5, custdist = 3> -> 1, <c_count = 7, custdist = 4> -> 1, <c_count = 10, custdist = 5> -> 1, <c_count = 11, custdist = 4> -> 1, <c_count = 8, custdist = 4> -> 1, <c_count = 9, custdist = 6> -> 1, <c_count = 13, custdist = 6> -> 1, <c_count = 15, custdist = 2> -> 1, <c_count = 0, custdist = 50> -> 1, <c_count = 21, custdist = 4> -> 1, <c_count = 22, custdist = 3> -> 1, <c_count = 4, custdist = 3> -> 1, <c_count = 6, custdist = 3> -> 1, <c_count = 17, custdist = 7> -> 1, <c_count = 18, custdist = 4> -> 1, <c_count = 19, custdist = 2> -> 1, <c_count = 28, custdist = 1> -> 1, <c_count = 24, custdist = 2> -> 1, <c_count = 16, custdist = 8> -> 1, <c_count = 3, custdist = 1> -> 1, <c_count = 14, custdist = 5> -> 1, <c_count = 25, custdist = 1> -> 1, <c_count = 20, custdist = 6> -> 1, <c_count = 23, custdist = 5> -> 1}

### pandas - 13

In [26]:
import pandas
import pysdql

var1 = 'special'
var2 = 'requests'

path = r'T:\UG4-Proj\datasets'
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

orders['var1_index'] = orders['o_comment'].str.find(var1)
orders['var2_index'] = orders['o_comment'].str.find(var2)

sub_o = orders[~((orders['var1_index'] != -1) & (orders['var2_index'] != -1) & (orders['var1_index'] < orders['var2_index']))]

r = customer.merge(sub_o, how='left', left_on='c_custkey', right_on='o_custkey')

c_orders = r.groupby(['c_custkey'], as_index=False).agg(c_count=('o_orderkey', 'count'))

s = c_orders.groupby(['c_count'], as_index=False).agg(custdist=('c_custkey', 'count'))

s

    c_count  custdist
0         0        50
1         3         1
2         4         3
3         5         3
4         6         3
5         7         4
6         8         4
7         9         6
8        10         5
9        11         4
10       12         6
11       13         6
12       14         5
13       15         2
14       16         8
15       17         7
16       18         4
17       19         2
18       20         6
19       21         4
20       22         3
21       23         5
22       24         2
23       25         1
24       26         3
25       28         1
26       29         2

# TPCH - 14 ✅

### SQL - 14

```
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= date ':1'
	and l_shipdate < date ':1' + interval '1' month
```

### pysdql - 14

In [27]:
var1 = '1995-03-01'
var2 = '1995-04-01'  # var1 + 1 month
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)].rename('sub_l')
r = sub_l.merge(part, on=sub_l['l_partkey'] == part['p_partkey']).rename('r')
r['promo'] = r.case(r['p_type'].startswith('PROMO'), r['l_extendedprice'] * (1 - r['l_discount']), 0)
r = r.agg(value1=(r['promo'], 'sum'), value2=(r['l_extendedprice'] * (1 - r['l_discount']), 'sum'))
r['promo_revenue'] = 100 * r['value1'] / r['value2']
r = r[['promo_revenue']]
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-14').run(r).export().to()

========================================================
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950301) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19950401)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let Rm0 = sum (<sl_k, sl_v> in sub_l) sum (<par_k, par_v> in part) if ((sl_k.l_partkey == par_k.p_partkey)) then { concat(sl_k, par_k) -> sl_v * par_v } else {  }
let r = Rm0
let rmp = sum (<r_k, r_v> in r) if (ext(`StrStartsWith`, r_k.p_type, "PROMO")) then { concat(r_k, < promo=(r_k.l_extendedprice * (1 - r_k.l_discount)) >) -> 1 } else { concat(r_k, < promo=0 >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) < value1=r_k.promo * r_v, value2=(r_k.l_extendedprice * (1 - r_k.l_discount)) * r_v >
let tmpa = { < value1=tmp.value1, value2=tmp.value2 > -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { concat(ta_k, < promo_revenue=((100 * ta_k.value1) / ta_k.value2) >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < promo_revenue=tb_k.promo_revenue > -> 1 }
tmpc
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<promo_revenue = 9.62753842661276> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:33:40
========================================================
pysdql execution time: 15.776278495788574
export sdql script "tpch-14.sdql" to "T:/UG4-Proj/output/tpch-14.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-14.sdql

{<promo_revenue = 9.62753842661276> -> 1}

### pandas - 14

In [28]:
var1 = '1995-03-01'
var2 = '1995-04-01'  # var1 + 1 month

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
r = sub_l.merge(part, left_on='l_partkey', right_on='p_partkey')

r['tmp_val_1'] = numpy.select(
[
    r['p_type'].str.startswith('PROMO')
],
[
    r['l_extendedprice'] * (1 - r['l_discount'])
],
default=0)

r['tmp_val_2'] = r['l_extendedprice'] * (1 - r['l_discount'])

r['promo_revenue'] = 100 * r['tmp_val_1'].sum() / r['tmp_val_2'].sum()

r[['promo_revenue']].drop_duplicates()

   promo_revenue
0       9.627538

# TPCH - 15 ✅

### SQL - 15

```
WITH revenue (supplier_no, total_revenue) as (
    SELECT
        l_suppkey,
        SUM(l_extendedprice * (1-l_discount))
    FROM
        lineitem
    WHERE
        l_shipdate >= date ':1'
        AND l_shipdate < date ':1' + interval '3' month
    GROUP BY
        l_suppkey
)
SELECT
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
FROM
    supplier,
    revenue
WHERE
    s_suppkey = supplier_no
    AND total_revenue = (
        SELECT
            MAX(total_revenue)
        FROM
            revenue
    )
```

### pysdql - 15

In [29]:
import pysdql

var1 = '1996-02-01'
var2 = '1996-05-01'  # var1 + 3 month
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)].rename('sub_l')
revenue0 = sub_l.groupby(['l_suppkey']) \
    .agg(supplier_no=sub_l['l_suppkey'],
         total_revenue=(sub_l['l_extendedprice'] * (1 - sub_l['l_discount']), 'sum')) \
    .rename('revenue0')
max_revenue = revenue0.agg({revenue0['total_revenue']: 'max'}).rename('max_revenue')
r = supplier.merge(revenue0, on=(supplier['s_suppkey'] == revenue0['supplier_no'])
                                & (revenue0['total_revenue'] == max_revenue))
r = r[['s_suppkey', 's_name', 's_address', 's_phone', 'total_revenue']]
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-15').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19960201) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19960501)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let tmp = sum (<sl_k, sl_v> in sub_l) { < l_suppkey=sl_k.l_suppkey > -> < total_revenue=(sl_k.l_extendedprice * (1 - sl_k.l_discount)) * sl_v > }
let agg_sub_l = sum (<t_k, t_v> in tmp) { < supplier_no=t_k.l_suppkey, total_revenue=t_v.total_revenue > -> 1 }
let revenue0 = agg_sub_l
let rmp = sum (<r0_k, r0_v> in revenue0) < total_revenue_max=promote[mxpr](r0_k.total_revenue) >
let agg_value = promote[real](rmp.total_revenue_max)
let max_revenue = agg_value
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let Rm0 = sum (<sup_k, sup_v> in supplier) sum (<r0_k, r0_v> in revenue0) if (((sup_k.s_suppkey == r0_k.supplier_no) && (r0_k.total_revenue == max_revenue))) then { concat(sup_k, r0_k) -> sup_v * r0_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) { < s_suppkey=r0_k.s_suppkey, s_name=r0_k.s_name, s_address=r0_k.s_address, s_phone=r0_k.s_phone, total_revenue=r0_k.total_revenue > -> 1 }
rmp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_suppkey = 9, s_name = Supplier#000000009, s_address = 1KhUgZegwM3ua7dsYmekYBsK, s_phone = 20-403-398-8662, total_revenue = 607520.0094999998> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:33:56
========================================================
pysdql execution time: 15.92598581314087
export sdql script "tpch-15.sdql" to "T:/UG4-Proj/output/tpch-15.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-15.sdql

{<s_suppkey = 9, s_name = Supplier#000000009, s_address = 1KhUgZegwM3ua7dsYmekYBsK, s_phone = 20-403-398-8662, total_revenue = 607520.0094999998> -> 1}

### pandas - 15

In [30]:
import pandas
import pysdql

var1 = '1996-02-01'
var2 = '1996-05-01'  # var1 + 3 month

path = r'T:\UG4-Proj\datasets'
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]

sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

revenue0 = sub_l.groupby(['l_suppkey'], as_index=False).agg(total_revenue=('tmp_val', 'sum'))

revenue0['supplier_no'] = revenue0['l_suppkey']
revenue0 = revenue0[['supplier_no', 'total_revenue']]

max_revenue = revenue0['total_revenue'].max()

r = supplier.merge(revenue0, left_on='s_suppkey', right_on='supplier_no')

r = r[r['total_revenue'] == max_revenue]
r[['s_suppkey', 's_name', 's_address', 's_phone', 'total_revenue']]

C:\Users\Y\AppData\Local\Temp\ipykernel_7648\3019652943.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

,s_suppkey,s_name,s_address,s_phone,total_revenue
8,9,Supplier#000000009,1KhUgZegwM3ua7dsYmekYBsK,20-403-398-8662,607520.0095

# TPCH - 16 ✅

### SQL - 16

```
select
	p_brand,
	p_type,
	p_size,
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_brand <> ':1'
	and p_type not like ':2%'
	and p_size in (:3, :4, :5, :6, :7, :8, :9, :10)
	and ps_suppkey not in (
		select
			s_suppkey
		from
			supplier
		where
			s_comment like '%Customer%Complaints%'
	)
group by
	p_brand,
	p_type,
	p_size
```

### pysdql - 16

In [31]:
var1 = 'Brand#21'
var2 = 'SMALL ANODIZED'
var3 = (48, 33, 18, 16, 8, 3, 10, 42)

import pysdql

supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
partsupp = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/partsupp.tbl', header=pysdql.PARTSUPP_COLS)

sub_s = supplier[supplier['s_comment'].contains_in_order('Customer', 'Complaints')].rename('sub_s')

sub_p = part[(part['p_brand'] != var1)
             & (~part['p_type'].startswith(var2))
             & (part['p_size'].isin(var3))].rename('sub_p')

r = sub_p.merge(partsupp, on=sub_p['p_partkey'] == partsupp['ps_partkey'])

r = r[~(r['ps_suppkey'].isin(sub_s['s_suppkey']))]

r = r.drop_duplicates(['p_brand', 'p_type', 'p_size', 'ps_suppkey'])

# COUNT DISTINCT
r = r.groupby(['p_brand', 'p_type', 'p_size']).agg(supplier_cnt=(r['ps_suppkey'], 'count_distinct'))

pysdql.db_driver(db_path=r'T:/sdql').run(r).export().to()

========================================================
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let smp = sum (<sup_k, sup_v> in supplier) let idx0 = ext(`StrIndexOf`, sup_k.s_comment, "Customer", 0) let idx1 = ext(`StrIndexOf`, sup_k.s_comment, "Complaints", idx0) if ((idx0 != -1) && (idx1 != -1)) then { sup_k -> 1 } else {  }
let sub_s = smp
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/partsupp.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let pmp = sum (<par_k, par_v> in part) if ((((par_k.p_brand != "Brand#21") && !(ext(`StrStartsWith`, par_k.p_type, "SMALL ANODIZED"))) && ((((((((par_k.p_size == 42) || (par_k.p_size == 10)) || (par_k.p_size == 48)) || (par_k.p_size == 33)) || (par_k.p_size == 18)) || (par_k.p_size == 16)) || (par_k.p_size == 8)) || (par_k.p_size == 3)))) then { par_k -> 1 } else {  }
let sub_p = pmp
let Rm0 = sum (<sp_k, sp_v> in sub_p) sum (<psup_k, psup_v> in partsupp) if ((sp_k.p_partkey == psup_k.ps_partkey)) then { concat(sp_k, psup_k) -> sp_v * psup_v } else {  }
let rmp = if ((sub_s == { })) then Rm0 else sum (<r0_k, r0_v> in Rm0) sum (<ss_k, ss_v> in sub_s) if ((r0_k.ps_suppkey == ss_k.s_suppkey)) then { r0_k -> 1 } else {  }
let tmp = sum (<r_k, r_v> in rmp) { < p_brand=r_k.p_brand, p_type=r_k.p_type, p_size=r_k.p_size, ps_suppkey=r_k.ps_suppkey > -> 1 }
let tmpb = sum (<t_k, t_v> in tmp) { < p_brand=t_k.p_brand, p_type=t_k.p_type, p_size=t_k.p_size > -> < supplier_cnt=1 > }
let agg_tmp = sum (<tb_k, tb_v> in tmpb) { < p_brand=tb_k.p_brand, p_type=tb_k.p_type, p_size=tb_k.p_size, supplier_cnt=tb_v.supplier_cnt > -> 1 }
agg_tmp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<p_brand = Brand#44, p_type = PROMO PLATED COPPER, p_size = 16, supplier_cnt = 1> -> 1, <p_brand = Brand#43, p_type = PROMO BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = ECONOMY PLATED NICKEL, p_size = 16, supplier_cnt = 2> -> 1, <p_brand = Brand#11, p_type = SMALL BURNISHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = STANDARD BRUSHED TIN, p_size = 10, supplier_cnt = 2> -> 1, <p_brand = Brand#13, p_type = ECONOMY BURNISHED COPPER, p_size = 42, supplier_cnt = 2> -> 1, <p_brand = Brand#43, p_type = ECONOMY BRUSHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = LARGE BRUSHED STEEL, p_size = 8, supplier_cnt = 2> -> 1, <p_brand = Brand#13, p_type = STANDARD POLISHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = MEDIUM POLISHED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = PROMO ANODIZED NICKEL, p_size = 16, supplier_cnt = 1> -> 1, <p_brand = Brand#11, p_type = STANDARD BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = MEDIUM BURNISHED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = STANDARD BURNISHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = SMALL BURNISHED NICKEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = MEDIUM PLATED TIN, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = SMALL BURNISHED COPPER, p_size = 3, supplier_cnt = 2> -> 1, <p_brand = Brand#55, p_type = STANDARD BRUSHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = LARGE POLISHED TIN, p_size = 48, supplier_cnt = 2> -> 1, <p_brand = Brand#53, p_type = SMALL POLISHED TIN, p_size = 42, supplier_cnt = 1> -> 1, <p_brand = Brand#53, p_type = MEDIUM BRUSHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = STANDARD POLISHED BRASS, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = PROMO POLISHED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = SMALL BURNISHED NICKEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = PROMO ANODIZED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = LARGE POLISHED NICKEL, p_size = 48, supplier_cnt = 4> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:34:12
========================================================
pysdql execution time: 15.779504537582397
export sdql script "query.sdql" to "T:/UG4-Proj/output/query.sdql"
excute by:
run interpret T:/UG4-Proj/output/query.sdql

{<p_brand = Brand#44, p_type = PROMO PLATED COPPER, p_size = 16, supplier_cnt = 1> -> 1, <p_brand = Brand#43, p_type = PROMO BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = ECONOMY PLATED NICKEL, p_size = 16, supplier_cnt = 2> -> 1, <p_brand = Brand#11, p_type = SMALL BURNISHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = STANDARD BRUSHED TIN, p_size = 10, supplier_cnt = 2> -> 1, <p_brand = Brand#13, p_type = ECONOMY BURNISHED COPPER, p_size = 42, supplier_cnt = 2> -> 1, <p_brand = Brand#43, p_type = ECONOMY BRUSHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = LARGE BRUSHED STEEL, p_size = 8, supplier_cnt = 2> -> 1, <p_brand = Brand#13, p_type = STANDARD POLISHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = MEDIUM POLISHED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = PROMO ANODIZED NICKEL, p_size = 16, supplier_cnt = 1> -> 1, <p_brand = Brand#11, p_type = STANDARD BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = MEDIUM BURNISHED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = STANDARD BURNISHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = SMALL BURNISHED NICKEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = MEDIUM PLATED TIN, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = SMALL BURNISHED COPPER, p_size = 3, supplier_cnt = 2> -> 1, <p_brand = Brand#55, p_type = STANDARD BRUSHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = LARGE POLISHED TIN, p_size = 48, supplier_cnt = 2> -> 1, <p_brand = Brand#53, p_type = SMALL POLISHED TIN, p_size = 42, supplier_cnt = 1> -> 1, <p_brand = Brand#53, p_type = MEDIUM BRUSHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = STANDARD POLISHED BRASS, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = PROMO POLISHED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = SMALL BURNISHED NICKEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = PROMO ANODIZED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = LARGE POLISHED NICKEL, p_size = 48, supplier_cnt = 4> -> 1}

### pandas - 16

In [32]:
import pandas
import pysdql

var1 = 'Brand#21'
var2 = 'SMALL ANODIZED'
var3 = (48, 33, 18, 16, 8, 3, 10, 42)

path = r'T:\UG4-Proj\datasets'
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)

supplier['var1_index'] = supplier['s_comment'].str.find('Customer')
supplier['var2_index'] = supplier['s_comment'].str.find('Complaints')

sub_s = supplier[(supplier['var1_index'] != -1) & (supplier['var2_index'] != -1) & (supplier['var1_index'] < supplier['var2_index'])]

# sub_s = supplier[supplier['s_comment'].str.contains('Customer') & supplier['s_comment'].str.contains('Complaints')]

sub_p = part[(part['p_brand'] != var1)
             & (~part['p_type'].str.startswith(var2))
             & (part['p_size'].isin(var3))]

r = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')

r = r[~(r['ps_suppkey'].isin(sub_s['s_suppkey']))]

r = r.drop_duplicates(['p_brand', 'p_type', 'p_size', 'ps_suppkey'])

r.groupby(['p_brand', 'p_type', 'p_size'], as_index=False).agg(supplier_cnt=('ps_suppkey', 'count'))

     p_brand                     p_type  p_size  supplier_cnt
0   Brand#11       PROMO ANODIZED STEEL      10             4
1   Brand#11      SMALL BURNISHED STEEL      42             4
2   Brand#11     STANDARD BRUSHED STEEL      42             4
3   Brand#12      LARGE POLISHED NICKEL      48             4
4   Brand#13   ECONOMY BURNISHED COPPER      42             2
5   Brand#13        LARGE BRUSHED STEEL       8             2
6   Brand#13      STANDARD POLISHED TIN      10             4
7   Brand#22      ECONOMY PLATED NICKEL      16             2
8   Brand#25     SMALL BURNISHED COPPER       3             2
9   Brand#32  STANDARD BURNISHED NICKEL      10             4
10  Brand#33     SMALL BURNISHED NICKEL       3             4
11  Brand#35       MEDIUM BURNISHED TIN      42             4
12  Brand#43      ECONOMY BRUSHED STEEL      16             4
13  Brand#43        PROMO BRUSHED STEEL      42             4
14  Brand#44        PROMO PLATED COPPER      16             1
15  Brand#45         LARGE POLISHED TIN      48             2
16  Brand#45          MEDIUM PLATED TIN      48             4
17  Brand#53      MEDIUM BRUSHED COPPER       3             4
18  Brand#53      MEDIUM POLISHED STEEL      48             4
19  Brand#53      PROMO POLISHED NICKEL      33             4
20  Brand#53         SMALL POLISHED TIN      42             1
21  Brand#53       STANDARD BRUSHED TIN      10             2
22  Brand#54     SMALL BURNISHED NICKEL      18             4
23  Brand#55      PROMO ANODIZED NICKEL      16             1
24  Brand#55    STANDARD BRUSHED COPPER       3             4
25  Brand#55    STANDARD POLISHED BRASS      10             4

# TPCH - 17 ✅

### SQL - 17

```
select
	sum(l_extendedprice) / 7.0 as avg_yearly
from
	lineitem,
	part,
	(SELECT l_partkey AS agg_partkey, 0.2 * avg(l_quantity) AS avg_quantity FROM lineitem GROUP BY l_partkey) part_agg
where
	p_partkey = l_partkey
	and agg_partkey = l_partkey
	and p_brand = ':1'
	and p_container = ':2'
	and l_quantity < avg_quantity
```

### pysdql - 17

In [33]:
var1 = 'Brand#11'
var2 = 'WRAP CASE'
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
# Co-related Nested Queries
part_agg = lineitem.groupby(['l_partkey']) \
    .agg(agg_partkey=lineitem['l_partkey'], avg_quantity_1=(lineitem['l_quantity'], 'avg')) \
    .rename('part_agg')
part_agg['avg_quantity'] = 0.2 * part_agg['avg_quantity_1']
part_agg = part_agg[['agg_partkey', 'avg_quantity']]
sub_p = part[(part['p_brand'] == var1) & (part['p_container'] == var2)].rename('sub_p')
r = sub_p.merge(lineitem, on=sub_p['p_partkey'] == lineitem['l_partkey'])
r = r.merge(part_agg, on=(r['l_partkey'] == part_agg['agg_partkey'])
                         & (r['l_quantity'] < part_agg['avg_quantity']))
r = r.agg(avg_yearly=(r['l_extendedprice'] / 7.0, 'sum'))
pysdql.db_driver(db_path=r'T:/sdql', name='tpch-17').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let tmp = sum (<lin_k, lin_v> in lineitem) { < l_partkey=lin_k.l_partkey > -> < avg_quantity_1_sum=lin_k.l_quantity * lin_v, avg_quantity_1_count=lin_v > }
let agg_lineitem = sum (<t_k, t_v> in tmp) { < agg_partkey=t_k.l_partkey, avg_quantity_1=(t_v.avg_quantity_1_sum / t_v.avg_quantity_1_count) > -> 1 }
let part_agg = agg_lineitem
let pmp = sum (<pa_k, pa_v> in part_agg) { concat(pa_k, < avg_quantity=(0.2 * pa_k.avg_quantity_1) >) -> 1 }
let tmpa = sum (<p_k, p_v> in pmp) { < agg_partkey=p_k.agg_partkey, avg_quantity=p_k.avg_quantity > -> 1 }
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (((par_k.p_brand == "Brand#11") && (par_k.p_container == "WRAP CASE"))) then { par_k -> 1 } else {  }
let sub_p = pmp
let Rm0 = sum (<sp_k, sp_v> in sub_p) sum (<lin_k, lin_v> in lineitem) if ((sp_k.p_partkey == lin_k.l_partkey)) then { concat(sp_k, lin_k) -> sp_v * lin_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<ta_k, ta_v> in tmpa) if (((r0_k.l_partkey == ta_k.agg_partkey) && (r0_k.l_quantity < ta_k.avg_quantity))) then { concat(r0_k, ta_k) -> r0_v * ta_v } else {  }
let rmp = sum (<r1_k, r1_v> in Rm1) < avg_yearly=(r1_k.l_extendedprice / 7.0) * r1_v >
let tmpb = { < avg_yearly=rmp.avg_yearly > -> 1 }
tmpb
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<avg_yearly = 1351.485714285714> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:34:28
========================================================
pysdql execution time: 16.01130962371826
export sdql script "tpch-17.sdql" to "T:/UG4-Proj/output/tpch-17.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-17.sdql

{<avg_yearly = 1351.485714285714> -> 1}

### pandas - 17

In [34]:
var1 = 'Brand#11'
var2 = 'WRAP CASE'

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

part_agg = lineitem.groupby(['l_partkey'], as_index=False).agg(tmp_val=('l_quantity', 'mean'))

part_agg['avg_quantity'] = 0.2 * part_agg['tmp_val']
part_agg['agg_partkey'] = part_agg['l_partkey']

part_agg = part_agg[['avg_quantity', 'agg_partkey']]

sub_p = part[(part['p_brand'] == var1) & (part['p_container'] == var2)]

r = sub_p.merge(lineitem, left_on='p_partkey', right_on='l_partkey')
r = r.merge(part_agg, left_on='l_partkey', right_on='agg_partkey')

r = r[r['l_quantity'] < r['avg_quantity']]

r['avg_yearly'] = r['l_extendedprice'] / 7.0

r['avg_yearly'].sum()

1351.485714285714

# TPCH - 18 ✅

### SQL - 18

```
select
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice,
	sum(l_quantity)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > :1
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey
group by
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice
```

### pysdql - 18

In [35]:
var1 = 251

customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)

aggr_l = lineitem.groupby(['l_orderkey']).filter(lambda x: x['l_quantity'].sum() > var1)

sub_o = orders[(orders['o_orderkey'].isin(aggr_l['l_orderkey']))]

r = customer.merge(sub_o, on=(customer['c_custkey'] == sub_o['o_custkey']))
r = r.merge(lineitem, on=r['o_orderkey'] == lineitem['l_orderkey'])

r = r.groupby(['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice'])\
    .aggregate({r['l_quantity']: 'sum'})

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-18').run(r).export().to()

========================================================
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let tmp = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let lmp = sum (<t_k, t_v> in tmp) { < l_orderkey=t_k.l_orderkey, group=t_v > -> 1 }
let hvmp = sum (<l_k, l_v> in lmp) sum (<g_k, g_v> in l_k.group) { < l_orderkey=l_k.l_orderkey > -> < val=(g_k.l_quantity * g_v) > }
let hvR = sum (<hv_k, hv_v> in hvmp) if ((251 < hv_v.val)) then { < l_orderkey=hv_k.l_orderkey > -> 1 } else {  }
let fhv_lineitem = sum (<lin_k, lin_v> in lineitem) sum (<h_k, h_v> in hvR) if ((h_k.l_orderkey == lin_k.l_orderkey)) then { lin_k -> 1 } else {  }
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) sum (<fl_k, fl_v> in fhv_lineitem) if ((ord_k.o_orderkey == fl_k.l_orderkey)) then { ord_k -> 1 } else {  }
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let Rm0 = sum (<cus_k, cus_v> in customer) sum (<o_k, o_v> in omp) if ((cus_k.c_custkey == o_k.o_custkey)) then { concat(cus_k, o_k) -> cus_v * o_v } else {  }
let Rm1 = sum (<r0_k, r0_v> in Rm0) sum (<lin_k, lin_v> in lineitem) if ((r0_k.o_orderkey == lin_k.l_orderkey)) then { concat(r0_k, lin_k) -> r0_v * lin_v } else {  }
let tmpa = sum (<r1_k, r1_v> in Rm1) { < c_name=r1_k.c_name, c_custkey=r1_k.c_custkey, o_orderkey=r1_k.o_orderkey, o_orderdate=r1_k.o_orderdate, o_totalprice=r1_k.o_totalprice > -> { r1_k -> r1_v } }
let rmp = sum (<ta_k, ta_v> in tmpa) { < c_name=ta_k.c_name, c_custkey=ta_k.c_custkey, o_orderkey=ta_k.o_orderkey, o_orderdate=ta_k.o_orderdate, o_totalprice=ta_k.o_totalprice, group=ta_v > -> 1 }
let tmpb = sum (<r_k, r_v> in rmp) sum (<g_k, g_v> in r_k.group) { < c_name=r_k.c_name, c_custkey=r_k.c_custkey, o_orderkey=r_k.o_orderkey, o_orderdate=r_k.o_orderdate, o_totalprice=r_k.o_totalprice > -> < l_quantity_sum=g_k.l_quantity * r_v > }
let aggr_Rm1 = sum (<tb_k, tb_v> in tmpb) { < c_name=tb_k.c_name, c_custkey=tb_k.c_custkey, o_orderkey=tb_k.o_orderkey, o_orderdate=tb_k.o_orderdate, o_totalprice=tb_k.o_totalprice, l_quantity_sum=tb_v.l_quantity_sum > -> 1 }
aggr_Rm1
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<c_name = Customer#000000068, c_custkey = 68, o_orderkey = 2208, o_orderdate = DateValue(19950501), o_totalprice = 245388.06, l_quantity_sum = 256> -> 1, <c_name = Customer#000000010, c_custkey = 10, o_orderkey = 4421, o_orderdate = DateValue(19970404), o_totalprice = 258779.02, l_quantity_sum = 255> -> 1, <c_name = Customer#000000082, c_custkey = 82, o_orderkey = 3460, o_orderdate = DateValue(19951003), o_totalprice = 245976.74, l_quantity_sum = 254> -> 1, <c_name = Customer#000000070, c_custkey = 70, o_orderkey = 2567, o_orderdate = DateValue(19980227), o_totalprice = 263411.29, l_quantity_sum = 266> -> 1}
[success] Total time: 2 s, completed 2022年7月28日 下午1:34:44
========================================================
pysdql execution time: 16.352209329605103
export sdql script "tpch-18.sdql" to "T:/UG4-Proj/output/tpch-18.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-18.sdql

{<c_name = Customer#000000068, c_custkey = 68, o_orderkey = 2208, o_orderdate = DateValue(19950501), o_totalprice = 245388.06, l_quantity_sum = 256> -> 1, <c_name = Customer#000000010, c_custkey = 10, o_orderkey = 4421, o_orderdate = DateValue(19970404), o_totalprice = 258779.02, l_quantity_sum = 255> -> 1, <c_name = Customer#000000082, c_custkey = 82, o_orderkey = 3460, o_orderdate = DateValue(19951003), o_totalprice = 245976.74, l_quantity_sum = 254> -> 1, <c_name = Customer#000000070, c_custkey = 70, o_orderkey = 2567, o_orderdate = DateValue(19980227), o_totalprice = 263411.29, l_quantity_sum = 266> -> 1}

### pandas - 18

In [36]:
var1 = 251

customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

aggr_l = lineitem.groupby(['l_orderkey'], as_index=False).filter(lambda x: x['l_quantity'].sum() > var1)

sub_o = orders[(orders['o_orderkey'].isin(aggr_l['l_orderkey']))]

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')

r = r.groupby(['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice'], as_index=False).agg({'l_quantity': 'sum'})

r

,c_name,c_custkey,o_orderkey,o_orderdate,o_totalprice,l_quantity
0,Customer#000000010,10,4421,1997-04-04,258779.02,255
1,Customer#000000068,68,2208,1995-05-01,245388.06,256
2,Customer#000000070,70,2567,1998-02-27,263411.29,266
3,Customer#000000082,82,3460,1995-10-03,245976.74,254

# TPCH - 19 ✅

### SQL - 19

```
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
		and p_brand = ':1'
		and p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
		and l_quantity >= :4 and l_quantity <= :4 + 10
		and p_size between 1 and 5
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = ':2'
		and p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
		and l_quantity >= :5 and l_quantity <= :5 + 10
		and p_size between 1 and 10
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = ':3'
		and p_container in ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG')
		and l_quantity >= :6 and l_quantity <= :6 + 10
		and p_size between 1 and 15
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
```

### pysdql - 19

In [37]:
var1 = 'Brand#54'
var2 = 'Brand#22'
var3 = 'Brand#33'
var4 = 1
var4_1 = var4 + 10
var5 = 18
var5_1 = var5 + 10
var6 = 26
var6_1 = var6 + 10

lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)

r = lineitem.merge(part, on=(lineitem['l_partkey'] == part['p_partkey']))

r = r[((r['p_brand'] == var1)
       & (r['p_container'].isin(['SM CASE', 'SM BOX', 'SM PACK', 'SM PKG']))
       & (r['p_size'] >= 1) & (r['p_size'] <= 5)
       & (r['l_quantity'] >= var4)
       & (r['l_quantity'] <= var4_1)
       & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
       & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
       )
      | ((r['p_brand'] == var2)
         & (r['p_container'].isin(['MED BAG', 'MED BOX', 'MED PKG', 'MED PACK']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 10)
         & (r['l_quantity'] >= var5) & (r['l_quantity'] <= var5_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         )
      | ((r['p_brand'] == var3)
         & (r['p_container'].isin(['LG CASE', 'LG BOX', 'LG PACK', 'LG PKG']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 15)
         & (r['l_quantity'] >= var6)
         & (r['l_quantity'] <= var6_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON'))]

r = r.agg(revenue=((r['l_extendedprice'] * (1 - r['l_discount'])), 'sum'))

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-19').run(r).export().to()

========================================================
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let Rm0 = sum (<lin_k, lin_v> in lineitem) sum (<par_k, par_v> in part) if ((lin_k.l_partkey == par_k.p_partkey)) then { concat(lin_k, par_k) -> lin_v * par_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if (((((((((((r0_k.p_brand == "Brand#54") && ((((r0_k.p_container == "SM PKG") || (r0_k.p_container == "SM PACK")) || (r0_k.p_container == "SM CASE")) || (r0_k.p_container == "SM BOX"))) && (1 <= r0_k.p_size)) && (r0_k.p_size <= 5)) && (1 <= r0_k.l_quantity)) && (r0_k.l_quantity <= 11)) && ((r0_k.l_shipmode == "AIR REG") || (r0_k.l_shipmode == "AIR"))) && (r0_k.l_shipinstruct == "DELIVER IN PERSON")) || ((((((((r0_k.p_brand == "Brand#22") && ((((r0_k.p_container == "MED PACK") || (r0_k.p_container == "MED PKG")) || (r0_k.p_container == "MED BAG")) || (r0_k.p_container == "MED BOX"))) && (1 <= r0_k.p_size)) && (r0_k.p_size <= 10)) && (18 <= r0_k.l_quantity)) && (r0_k.l_quantity <= 28)) && ((r0_k.l_shipmode == "AIR REG") || (r0_k.l_shipmode == "AIR"))) && (r0_k.l_shipinstruct == "DELIVER IN PERSON"))) || ((((((((r0_k.p_brand == "Brand#33") && ((((r0_k.p_container == "LG PKG") || (r0_k.p_container == "LG PACK")) || (r0_k.p_container == "LG CASE")) || (r0_k.p_container == "LG BOX"))) && (1 <= r0_k.p_size)) && (r0_k.p_size <= 15)) && (26 <= r0_k.l_quantity)) && (r0_k.l_quantity <= 36)) && ((r0_k.l_shipmode == "AIR REG") || (r0_k.l_shipmode == "AIR"))) && (r0_k.l_shipinstruct == "DELIVER IN PERSON")))) then { r0_k -> 1 } else {  }
let tmp = sum (<r_k, r_v> in rmp) < revenue=(r_k.l_extendedprice * (1 - r_k.l_discount)) * r_v >
let tmpa = { < revenue=tmp.revenue > -> 1 }
tmpa
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<revenue = 57579.246> -> 1}
[success] Total time: 2 s, completed 2022年7月28日 下午1:35:01
========================================================
pysdql execution time: 17.159739017486572
export sdql script "tpch-19.sdql" to "T:/UG4-Proj/output/tpch-19.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-19.sdql

{<revenue = 57579.246> -> 1}

### pandas - 19

In [38]:
var1 = 'Brand#54'
var2 = 'Brand#22'
var3 = 'Brand#33'
var4 = 1
var4_1 = var4 + 10
var5 = 18
var5_1 = var5 + 10
var6 = 26
var6_1 = var6 + 10

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

r = lineitem.merge(part, left_on='l_partkey', right_on='p_partkey')

r = r[((r['p_brand'] == var1)
       & (r['p_container'].isin(['SM CASE', 'SM BOX', 'SM PACK', 'SM PKG']))
       & (r['p_size'] >= 1) & (r['p_size'] <= 5) & (lineitem['l_quantity'] >= var4)
       & (r['l_quantity'] <= var4_1)
       & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
       & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
       )
      | ((r['p_brand'] == var2)
         & (r['p_container'].isin(['MED BAG', 'MED BOX', 'MED PKG', 'MED PACK']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 10)
         & (r['l_quantity'] >= var5) & (r['l_quantity'] <= var5_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         )
      | (r['p_brand'] == var3)
         & (r['p_container'].isin(['LG CASE', 'LG BOX', 'LG PACK', 'LG PKG']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 15)
         & (r['l_quantity'] >= var6)
         & (r['l_quantity'] <= var6_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         ]

r['tmp_val'] = r['l_extendedprice'] * (1 - r['l_discount'])

r['tmp_val'].sum()

57579.246

# TPCH - 20 ✅

### SQL - 20

```
select
	s_name,
	s_address
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= date ':2'
					and l_shipdate < date ':2' + interval '1' year
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_partkey in (
				select
					p_partkey
				from
					part
				where
					p_name like ':1%'
			)
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = ':3'
```

### pysdql - 20

In [39]:
var1 = 'orange'
var2 = '1995-01-01'
var2_1 = '1996-01-01'  # var2 + 1 year
var3 = 'UNITED STATES'

lineitem = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=pysdql.LINEITEM_COLS)
part = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/part.tbl', header=pysdql.PART_COLS)
partsupp = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/partsupp.tbl', header=pysdql.PARTSUPP_COLS)
supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var2) & (lineitem['l_shipdate'] < var2_1)].rename('sub_l')
agg_lineitem = sub_l.groupby(['l_partkey', 'l_suppkey']) \
    .aggregate(agg_partkey=sub_l['l_partkey'],
               agg_suppkey=sub_l['l_suppkey'],
               agg_quantity=(0.5 * sub_l['l_quantity'], 'sum')) \
    .rename('agg_lineitem')

r = partsupp.merge(agg_lineitem, on=(partsupp['ps_partkey'] == agg_lineitem['agg_partkey'])
                                    & (partsupp['ps_suppkey'] == agg_lineitem['agg_suppkey'])
                                    & (partsupp['ps_availqty'] > agg_lineitem['agg_quantity']))

sub_p = part[part['p_name'].startswith(var1)].rename('sub_p')

r = r[(r['ps_partkey'].isin(sub_p['p_partkey']))]

sub_n = nation[(nation['n_name'] == var3)].rename('sub_n')

s = supplier.merge(sub_n, on=supplier['s_nationkey'] == sub_n['n_nationkey'])

s = s[(s['s_suppkey'].isin(r['ps_suppkey']))]

s = s[['s_name', 's_address']]

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-20').run(s).export().to()

========================================================
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (ext(`StrStartsWith`, par_k.p_name, "orange")) then { par_k -> 1 } else {  }
let sub_p = pmp
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950101) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19960101)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let tmp = sum (<sl_k, sl_v> in sub_l) { < l_partkey=sl_k.l_partkey, l_suppkey=sl_k.l_suppkey > -> { sl_k -> sl_v } }
let smp = sum (<t_k, t_v> in tmp) { < l_partkey=t_k.l_partkey, l_suppkey=t_k.l_suppkey, group=t_v > -> 1 }
let tmpa = sum (<s_k, s_v> in smp) sum (<g_k, g_v> in s_k.group) { < l_partkey=s_k.l_partkey, l_suppkey=s_k.l_suppkey > -> < agg_quantity=(0.5 * g_k.l_quantity) * g_v > }
let aggr_sub_l = sum (<ta_k, ta_v> in tmpa) { < agg_partkey=ta_k.l_partkey, agg_suppkey=ta_k.l_suppkey, agg_quantity=ta_v.agg_quantity > -> 1 }
let agg_lineitem = aggr_sub_l
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/partsupp.tbl")
let Rm0 = sum (<psup_k, psup_v> in partsupp) sum (<al_k, al_v> in agg_lineitem) if ((((psup_k.ps_partkey == al_k.agg_partkey) && (psup_k.ps_suppkey == al_k.agg_suppkey)) && (al_k.agg_quantity < psup_k.ps_availqty))) then { concat(psup_k, al_k) -> psup_v * al_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) sum (<sp_k, sp_v> in sub_p) if ((r0_k.ps_partkey == sp_k.p_partkey)) then { r0_k -> 1 } else {  }
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "UNITED STATES")) then { nat_k -> 1 } else {  }
let sub_n = nmp
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let Rm0 = sum (<sup_k, sup_v> in supplier) sum (<sn_k, sn_v> in sub_n) if ((sup_k.s_nationkey == sn_k.n_nationkey)) then { concat(sup_k, sn_k) -> sup_v * sn_v } else {  }
let tmpb = sum (<r0_k, r0_v> in Rm0) sum (<r_k, r_v> in rmp) if ((r0_k.s_suppkey == r_k.ps_suppkey)) then { r0_k -> 1 } else {  }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < s_name=tb_k.s_name, s_address=tb_k.s_address > -> 1 }
tmpc
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_name = Supplier#000000010, s_address = Saygah3gYWMp72i PY> -> 1}
[success] Total time: 2 s, completed 2022年7月28日 下午1:35:18
========================================================
pysdql execution time: 16.493287086486816
export sdql script "tpch-20.sdql" to "T:/UG4-Proj/output/tpch-20.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-20.sdql

{<s_name = Supplier#000000010, s_address = Saygah3gYWMp72i PY> -> 1}

### pandas - 20

In [40]:
var1 = 'orange'
var2 = '1995-01-01'
var2_1 = '1996-01-01'  # var2 + 1 year
var3 = 'UNITED STATES'

lineitem = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
part = pandas.read_table(rf'{path}\part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pandas.read_table(rf'{path}\partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var2) & (lineitem['l_shipdate'] < var2_1)]

agg_lineitem = sub_l.groupby(['l_partkey', 'l_suppkey'], as_index=False).agg(tmp_val=('l_quantity', 'sum'))

agg_lineitem['agg_partkey'] = agg_lineitem['l_partkey']
agg_lineitem['agg_suppkey'] = agg_lineitem['l_suppkey']
agg_lineitem['agg_quantity'] = agg_lineitem['tmp_val'] * 0.5

r = partsupp.merge(agg_lineitem, left_on='ps_partkey', right_on='agg_partkey')
r = r[(r['ps_suppkey'] == r['agg_suppkey']) & (r['ps_availqty'] > r['agg_quantity'])]

sub_p = part[part['p_name'].str.startswith(var1)]
r = r[(r['ps_partkey'].isin(sub_p['p_partkey']))]

sub_n = nation[(nation['n_name'] == var3)]
s = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')
s = s[(s['s_suppkey'].isin(r['ps_suppkey']))]
s[['s_name', 's_address']]

               s_name           s_address
0  Supplier#000000010  Saygah3gYWMp72i PY

# TPCH - 21 ✅

### SQL - 21

```
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and o_orderstatus = 'F'
	and l1.l_receiptdate > l1.l_commitdate
	and exists (
		select
			*
		from
			lineitem l2
		where
			l2.l_orderkey = l1.l_orderkey
			and l2.l_suppkey <> l1.l_suppkey
	)
	and not exists (
		select
			*
		from
			lineitem l3
		where
			l3.l_orderkey = l1.l_orderkey
			and l3.l_suppkey <> l1.l_suppkey
			and l3.l_receiptdate > l3.l_commitdate
	)
	and s_nationkey = n_nationkey
	and n_name = ':1'
group by
	s_name
```

### pysdql - 21

In [41]:
var1 = 'UNITED KINGDOM'

supplier = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/supplier.tbl', header=pysdql.SUPPLIER_COLS)
l1_cols = ['l1_orderkey', 'l1_partkey', 'l1_suppkey', 'l1_linenumber', 'l1_quantity', 'l1_extendedprice',
           'l1_discount', 'l1_tax', 'l1_returnflag', 'l1_linestatus', 'l1_shipdate', 'l1_commitdate',
           'l1_receiptdate', 'l1_shipinstruct', 'l1_shipmode', 'l1_comment']
l1 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=l1_cols, name='l1')
l2_cols = ['l2_orderkey', 'l2_partkey', 'l2_suppkey', 'l2_linenumber', 'l2_quantity', 'l2_extendedprice',
           'l2_discount', 'l2_tax', 'l2_returnflag', 'l2_linestatus', 'l2_shipdate', 'l2_commitdate',
           'l2_receiptdate', 'l2_shipinstruct', 'l2_shipmode', 'l2_comment']
l2 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=l2_cols, name='l2')
l3_cols = ['l3_orderkey', 'l3_partkey', 'l3_suppkey', 'l3_linenumber', 'l3_quantity', 'l3_extendedprice',
           'l3_discount', 'l3_tax', 'l3_returnflag', 'l3_linestatus', 'l3_shipdate', 'l3_commitdate',
           'l3_receiptdate', 'l3_shipinstruct', 'l3_shipmode', 'l3_comment']
l3 = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/lineitem.tbl', header=l3_cols, name='l3')
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)
nation = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/nation.tbl', header=pysdql.NATION_COLS)

sub_n = nation[(nation['n_name'] == var1)].rename('sub_n')
join_ns = supplier.merge(sub_n, on=supplier['s_nationkey'] == sub_n['n_nationkey']).rename('join_ns')
sub_l1 = l1[(l1['l1_receiptdate'] > l1['l1_commitdate'])].rename('sub_l1')
r = join_ns.merge(sub_l1, on=(join_ns['s_suppkey'] == sub_l1['l1_suppkey']))

sub_o = orders[(orders['o_orderstatus'] == 'F')].rename('sub_o')
r = r.merge(sub_o, on=(r['l1_orderkey'] == sub_o['o_orderkey']))

r = r[r['l1_orderkey'].exists(l2['l2_orderkey'], cond=r['l1_suppkey'] != l2['l2_suppkey'])]

sub_l3 = l3[(l3['l3_receiptdate'] > l3['l3_commitdate'])].rename('sub_l3')

r = r[r['l1_orderkey'].not_exists(sub_l3['l3_orderkey'], cond=r['l1_suppkey'] != sub_l3['l3_suppkey'])]

r = r.groupby(['s_name']).agg(numwait=('*', 'count'))

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-21').run(r).export().to()

========================================================
let l3 = load[{<l3_orderkey: int, l3_partkey: int, l3_suppkey: int, l3_linenumber: int, l3_quantity: int, l3_extendedprice: double, l3_discount: double, l3_tax: double, l3_returnflag: string, l3_linestatus: string, l3_shipdate: date, l3_commitdate: date, l3_receiptdate: date, l3_shipinstruct: string, l3_shipmode: string, l3_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<l3_k, l3_v> in l3) if ((l3_k.l3_commitdate < l3_k.l3_receiptdate)) then { l3_k -> 1 } else {  }
let sub_l3 = lmp
let l2 = load[{<l2_orderkey: int, l2_partkey: int, l2_suppkey: int, l2_linenumber: int, l2_quantity: int, l2_extendedprice: double, l2_discount: double, l2_tax: double, l2_returnflag: string, l2_linestatus: string, l2_shipdate: date, l2_commitdate: date, l2_receiptdate: date, l2_shipinstruct: string, l2_shipmode: string, l2_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if ((ord_k.o_orderstatus == "F")) then { ord_k -> 1 } else {  }
let sub_o = omp
let l1 = load[{<l1_orderkey: int, l1_partkey: int, l1_suppkey: int, l1_linenumber: int, l1_quantity: int, l1_extendedprice: double, l1_discount: double, l1_tax: double, l1_returnflag: string, l1_linestatus: string, l1_shipdate: date, l1_commitdate: date, l1_receiptdate: date, l1_shipinstruct: string, l1_shipmode: string, l1_comment: string> -> int}]("T:/UG4-Proj/datasets/lineitem.tbl")
let lmp = sum (<l1_k, l1_v> in l1) if ((l1_k.l1_commitdate < l1_k.l1_receiptdate)) then { l1_k -> 1 } else {  }
let sub_l1 = lmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/nation.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "UNITED KINGDOM")) then { nat_k -> 1 } else {  }
let sub_n = nmp
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/supplier.tbl")
let Rm0 = sum (<sup_k, sup_v> in supplier) sum (<sn_k, sn_v> in sub_n) if ((sup_k.s_nationkey == sn_k.n_nationkey)) then { concat(sup_k, sn_k) -> sup_v * sn_v } else {  }
let join_ns = Rm0
let Rm1 = sum (<jn_k, jn_v> in join_ns) sum (<s1_k, s1_v> in sub_l1) if ((jn_k.s_suppkey == s1_k.l1_suppkey)) then { concat(jn_k, s1_k) -> jn_v * s1_v } else {  }
let Rm2 = sum (<r1_k, r1_v> in Rm1) sum (<so_k, so_v> in sub_o) if ((r1_k.l1_orderkey == so_k.o_orderkey)) then { concat(r1_k, so_k) -> r1_v * so_v } else {  }
let exists_l2 = sum (<r2_k, r2_v> in Rm2) sum (<l2_k, l2_v> in l2) if (((r2_k.l1_orderkey == l2_k.l2_orderkey) && (r2_k.l1_suppkey != l2_k.l2_suppkey))) then { < l1_orderkey=r2_k.l1_orderkey > -> 1 } else { < l1_orderkey=r2_k.l1_orderkey > -> 0 }
let rmp = sum (<r2_k, r2_v> in Rm2) if ((exists_l2(< l1_orderkey=r2_k.l1_orderkey >) != 0)) then { r2_k -> 1 } else {  }
let exists_sub_l3 = sum (<r_k, r_v> in rmp) sum (<s3_k, s3_v> in sub_l3) if (((r_k.l1_orderkey == s3_k.l3_orderkey) && (r_k.l1_suppkey != s3_k.l3_suppkey))) then { < l1_orderkey=r_k.l1_orderkey > -> 1 } else { < l1_orderkey=r_k.l1_orderkey > -> 0 }
let tmp = sum (<r_k, r_v> in rmp) if ((exists_sub_l3(< l1_orderkey=r_k.l1_orderkey >) == 0)) then { r_k -> 1 } else {  }
let tmpb = sum (<t_k, t_v> in tmp) { < s_name=t_k.s_name > -> < numwait=t_v > }
let agg_tmp = sum (<tb_k, tb_v> in tmpb) { < s_name=tb_k.s_name, numwait=tb_v.numwait > -> 1 }
agg_tmp
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_name = Supplier#000000007, numwait = 17> -> 1}
[success] Total time: 4 s, completed 2022年7月28日 下午1:35:37
========================================================
pysdql execution time: 18.690050840377808
export sdql script "tpch-21.sdql" to "T:/UG4-Proj/output/tpch-21.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-21.sdql

{<s_name = Supplier#000000007, numwait = 17> -> 1}

### pandas - 21

In [42]:
var1 = 'UNITED KINGDOM'

supplier = pandas.read_table(rf'{path}\supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pandas.read_table(rf'{path}\nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
l1_cols = ['l1_orderkey', 'l1_partkey', 'l1_suppkey', 'l1_linenumber', 'l1_quantity', 'l1_extendedprice',
           'l1_discount', 'l1_tax', 'l1_returnflag', 'l1_linestatus', 'l1_shipdate', 'l1_commitdate',
           'l1_receiptdate', 'l1_shipinstruct', 'l1_shipmode', 'l1_comment']
l1 = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=l1_cols)
l2_cols = ['l2_orderkey', 'l2_partkey', 'l2_suppkey', 'l2_linenumber', 'l2_quantity', 'l2_extendedprice',
           'l2_discount', 'l2_tax', 'l2_returnflag', 'l2_linestatus', 'l2_shipdate', 'l2_commitdate',
           'l2_receiptdate', 'l2_shipinstruct', 'l2_shipmode', 'l2_comment']
l2 = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=l2_cols)
l3_cols = ['l3_orderkey', 'l3_partkey', 'l3_suppkey', 'l3_linenumber', 'l3_quantity', 'l3_extendedprice',
           'l3_discount', 'l3_tax', 'l3_returnflag', 'l3_linestatus', 'l3_shipdate', 'l3_commitdate',
           'l3_receiptdate', 'l3_shipinstruct', 'l3_shipmode', 'l3_comment']
l3 = pandas.read_table(rf'{path}\lineitem.tbl', sep='|', index_col=False, header=None, names=l3_cols)

sub_n = nation[(nation['n_name'] == var1)]
join_ns = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')
sub_l1 = l1[(l1['l1_receiptdate'] > l1['l1_commitdate'])]
r = join_ns.merge(sub_l1, left_on='s_suppkey', right_on='l1_suppkey')

sub_o = orders[(orders['o_orderstatus'] == 'F')]
r = r.merge(sub_o, left_on='l1_orderkey', right_on='o_orderkey')

r = r.merge(l2, left_on='l1_orderkey', right_on='l2_orderkey')

r['exists_l2'] = numpy.select(
[
    (r['l1_suppkey'] != r['l2_suppkey'])
],
[
    1
],
default=0)

main_cols = pysdql.SUPPLIER_COLS + pysdql.ORDERS_COLS + pysdql.NATION_COLS + l1_cols

r = r.groupby(main_cols, as_index=False).agg(exists_l2=('exists_l2', 'sum'))
r = r[r['exists_l2'] > 0]

r = r.merge(l3, left_on='l1_orderkey', right_on='l3_orderkey')
r['exists_l3'] = numpy.select(
[
    (r['l1_suppkey'] != r['l3_suppkey'])
    & (r['l3_receiptdate'] > r['l3_commitdate'])
],
[
    1
],
default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l3=('exists_l3', 'sum'))
r = r[r['exists_l3'] == 0]

r.groupby(['s_name'], as_index=False).agg(numwait=('l1_orderkey', 'count'))

               s_name  numwait
0  Supplier#000000007       17

# TPCH - 22 ✅

### SQL - 22

```
select
	cntrycode,
	count(*) as numcust,
	sum(c_acctbal) as totacctbal
from
	(
		select
			substring(c_phone from 1 for 2) as cntrycode,
			c_acctbal
		from
			customer
		where
			substring(c_phone from 1 for 2) in
				(':1', ':2', ':3', ':4', ':5', ':6', ':7')
			and c_acctbal > (
				select
					avg(c_acctbal)
				from
					customer
				where
					c_acctbal > 0.00
					and substring(c_phone from 1 for 2) in
						(':1', ':2', ':3', ':4', ':5', ':6', ':7')
			)
			and not exists (
				select
					*
				from
					orders
				where
					o_custkey = c_custkey
			)
	) as custsale
group by
	cntrycode
```

### pysdql - 22

In [43]:
var1 = ('16', '12', '18', '14', '30', '27', '25')

customer = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/customer.tbl', header=pysdql.CUSTOMER_COLS)
orders = pysdql.read_tbl(path=r'T:/UG4-Proj/datasets/orders.tbl', header=pysdql.ORDERS_COLS)

sub_c = customer[(customer['c_acctbal'] > 0.00)
                 & (customer['c_phone'].substring(0, 2).isin(var1))]

avg_acctbal = sub_c.agg({sub_c['c_acctbal']: 'avg'}).rename('avg_acctbal')

r = customer[customer['c_phone'].substring(0, 2).isin(var1)]
r = r[r['c_acctbal'] > avg_acctbal]
r = r[r['c_custkey'].not_exists(orders['o_custkey'])]

r['cntrycode'] = customer['c_phone'].substring(0, 2)

r = r[['cntrycode', 'c_acctbal']]

custsale = r.rename('custsale')
s = custsale.groupby(['cntrycode']).agg(numcust=('*', 'count'),
                                               totacctbal=(custsale['c_acctbal'], 'sum'))

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-22').run(s).export().to()

========================================================
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/orders.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/customer.tbl")
let cmp = sum (<cus_k, cus_v> in customer) if (((0.0 < cus_k.c_acctbal) && (((((((ext(`SubString`, cus_k.c_phone, 0, 2) == "25") || (ext(`SubString`, cus_k.c_phone, 0, 2) == "27")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "16")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "12")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "18")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "14")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "30")))) then { cus_k -> 1 } else {  }
let tmp = sum (<c_k, c_v> in cmp) < c_acctbal_sum=c_k.c_acctbal * c_v, c_acctbal_count=c_v >
let agg_value = tmp.c_acctbal_sum / tmp.c_acctbal_count
let avg_acctbal = agg_value
let tmp = sum (<cus_k, cus_v> in customer) if ((((((((ext(`SubString`, cus_k.c_phone, 0, 2) == "25") || (ext(`SubString`, cus_k.c_phone, 0, 2) == "27")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "16")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "12")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "18")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "14")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "30"))) then { cus_k -> 1 } else {  }
let tmpa = sum (<t_k, t_v> in tmp) if ((avg_acctbal < t_k.c_acctbal)) then { t_k -> 1 } else {  }
let exists_orders = sum (<ta_k, ta_v> in tmpa) sum (<ord_k, ord_v> in orders) if ((ta_k.c_custkey == ord_k.o_custkey)) then { < c_custkey=ta_k.c_custkey > -> 1 } else { < c_custkey=ta_k.c_custkey > -> 0 }
let tmpb = sum (<ta_k, ta_v> in tmpa) if ((exists_orders(< c_custkey=ta_k.c_custkey >) == 0)) then { ta_k -> 1 } else {  }
let tmpc = sum (<tb_k, tb_v> in tmpb) { concat(tb_k, < cntrycode=ext(`SubString`, tb_k.c_phone, 0, 2) >) -> 1 }
let tmpd = sum (<tc_k, tc_v> in tmpc) { < cntrycode=tc_k.cntrycode, c_acctbal=tc_k.c_acctbal > -> 1 }
let custsale = tmpd
let tmpf = sum (<c_k, c_v> in custsale) { < cntrycode=c_k.cntrycode > -> < numcust=c_v, totacctbal=c_k.c_acctbal * c_v > }
let agg_custsale = sum (<tf_k, tf_v> in tmpf) { < cntrycode=tf_k.cntrycode, numcust=tf_v.numcust, totacctbal=tf_v.totacctbal > -> 1 }
agg_custsale
========================================================
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<cntrycode = 12, numcust = 1, totacctbal = 6264.31> -> 1, <cntrycode = 16, numcust = 1, totacctbal = 5494.43> -> 1, <cntrycode = 18, numcust = 2, totacctbal = 14647.99> -> 1, <cntrycode = 30, numcust = 1, totacctbal = 7638.57> -> 1}
[success] Total time: 1 s, completed 2022年7月28日 下午1:35:53
========================================================
pysdql execution time: 15.840537786483765
export sdql script "tpch-22.sdql" to "T:/UG4-Proj/output/tpch-22.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-22.sdql

{<cntrycode = 12, numcust = 1, totacctbal = 6264.31> -> 1, <cntrycode = 16, numcust = 1, totacctbal = 5494.43> -> 1, <cntrycode = 18, numcust = 2, totacctbal = 14647.99> -> 1, <cntrycode = 30, numcust = 1, totacctbal = 7638.57> -> 1}

### pandas - 22

In [44]:
import pandas
import pysdql
import numpy

var1 = ('16', '12', '18', '14', '30', '27', '25')

path = r'T:\UG4-Proj\datasets'
customer = pandas.read_table(rf'{path}\customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pandas.read_table(rf'{path}\orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_c = customer[(customer['c_acctbal'] > 0.00)
                 & (customer['c_phone'].str.slice(0, 2).isin(var1))]

avg_acctbal = sub_c['c_acctbal'].mean()

r = customer[customer['c_phone'].str.slice(0, 2).isin(var1)]

r = r[r['c_acctbal'] > avg_acctbal]

r = r.merge(orders, how='cross')
r['exists'] = numpy.select(
[
    (r['o_custkey'] == r['c_custkey'])
],
[
    1
],
default=0)
r = r.groupby(pysdql.CUSTOMER_COLS, as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] == 0]

r['cntrycode'] = r['c_phone'].str.slice(0, 2)

custsale = r[['cntrycode', 'c_acctbal']]

custsale.groupby(['cntrycode'], as_index=False).agg(numcust=('c_acctbal', 'count'), totacctbal=('c_acctbal', 'sum'))

  cntrycode  numcust  totacctbal
0        12        1     6264.31
1        16        1     5494.43
2        18        2    14647.99
3        30        1     7638.57