In [48]:
from datetime import datetime, timedelta
from time import time
import pysdql

data_path = 'T:/UG4-Proj/datasets'
sdql_database_path = r'T:/sdql'

tpch_query_start = time()

# TPCH - 1 ✅

### SQL - 1

```
select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= date '1998-12-01' - interval ':1' day
group by
	l_returnflag,
	l_linestatus
```

### pysdql - 1

In [49]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

days = 76
var1 = str((datetime.strptime('1998-12-01', "%Y-%m-%d") - timedelta(days=days)).strftime("%Y-%m-%d"))

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[lineitem['l_shipdate'] <= var1]

r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

r = r.groupby(['l_returnflag', 'l_linestatus'], as_index=False) \
    .agg(sum_qty=('l_quantity', 'sum'),
         sum_base_price=('l_extendedprice', 'sum'),
         sum_disc_price=('disc_price', 'sum'),
         sum_charge=('charge', 'sum'),
         avg_qty=('l_quantity', 'mean'),
         avg_price=('l_extendedprice', 'mean'),
         avg_disc=('l_discount', 'mean'),
         count_order=('l_quantity', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-1').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("datasets/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((lin_k.l_shipdate <= date(19980916))) then { lin_k -> 1 } else {  }
let tmp = sum (<l_k, l_v> in lmp) { concat(l_k, < disc_price=(l_k.l_extendedprice * (1 - l_k.l_discount)) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < charge=((t_k.l_extendedprice * (1 - t_k.l_discount)) * (1 + t_k.l_tax)) >) -> 1 }
let tmpc = sum (<ta_k, ta_v> in tmpa) { < l_returnflag=ta_k.l_returnflag, l_linestatus=ta_k.l_linestatus > -> < sum_qty=promote[nullable[real]](ta_k.l_quantity * ta_v), sum_base_price=promote[nullable[real]](ta_k.l_extendedprice * ta_v), sum_disc_price=promote[nullable[real]](ta_k.disc_price * ta_v), sum_charge=promote[nullable[real]](ta_k.charge * ta_v), avg_qty_sum=ta_k.l_quantity * ta_v, avg_qty_count=ta_v, avg_price_sum=ta_k.l_extendedprice * ta_v, avg_price_count=ta_v, avg_disc_sum=ta_k.l_discount * ta_v, avg_disc_count=ta_v, count_order=ta_v > }
let agg_tmpa = sum (<tc_k, tc_v> in tmpc) { < l_returnflag=tc_k.l_returnflag, l_linestatus=tc_k.l_linestatus, sum_qty=promote[real](tc_v.sum_qty), sum_base_price=promote[real](tc_v.sum_base_price), sum_disc_price=promote[real](tc_v.sum_disc_price), sum_charge=promote[real](tc_v.sum_charge), avg_qty=(tc_v.avg_qty_sum / tc_v.avg_qty_count), avg_price=(tc_v.avg_price_sum / tc_v.avg_price_count), avg_disc=(tc_v.avg_disc_sum / tc_v.avg_disc_count), count_order=tc_v.count_order > -> 1 }
agg_tmpa

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading project definition from T:\sdql\project
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] loading settings for project sdql from build.sbt ...
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] set current project to sdql (in build file:/T:/sdql/)
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
[warn] sbt server could not start in 10s
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
[error] java.nio.file.NoSuchFileException: datasets\lineitem.tbl
[error] java.nio.file.NoSuchFileException: datasets\lineitem.tbl
[error] java.nio.file.NoSuchFileException: datasets\lineitem.tbl
[error] 	at java.base/sun.nio.fs.WindowsException.translateToIOException(WindowsException.java:85)
[error] 	at java.base/sun.nio.fs.WindowsException.translateToIOException(WindowsException.java:85)
[error] 	at java.base/sun.nio.fs.WindowsException.translateToIOException(WindowsException.java:85)
[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:103)
[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:103)
[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:103)
[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:108)
[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:108)
[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:108)
[error] 	at java.base/sun.nio.fs.WindowsFileSystemProvider.newFileChannel(WindowsFileSystemProvider.java:121)
[error] 	at java.base/sun.nio.fs.WindowsFileSystemProvider.newFileChannel(WindowsFileSystemProvider.java:121)
[error] 	at java.base/sun.nio.fs.WindowsFileSystemProvider.newFileChannel(WindowsFileSystemProvider.java:121)
[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:298)
[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:298)
[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:298)
[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:357)
[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:357)
[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:357)
[error] 	at java.base/java.nio.file.Files.lines(Files.java:4132)
[error] 	at java.base/java.nio.file.Files.lines(Files.java:4132)
[error] 	at java.base/java.nio.file.Files.lines(Files.java:4132)
[error] 	at java.base/java.nio.file.Files.lines(Files.java:4227)
[error] 	at java.base/java.nio.file.Files.lines(Files.java:4227)
[error] 	at java.base/java.nio.file.Files.lines(Files.java:4227)
[error] 	at sdql.storage.Loader$.fileLineCount(Loader.scala:21)
[error] 	at sdql.storage.Loader$.fileLineCount(Loader.scala:21)
[error] 	at sdql.storage.Loader$.fileLineCount(Loader.scala:21)
[error] 	at sdql.storage.Loader$.loadTable(Loader.scala:25)
[error] 	at sdql.storage.Loader$.loadTable(Loader.scala:25)
[error] 	at sdql.storage.Loader$.loadTable(Loader.scala:25)
[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:148)
[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:148)
[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:148)
[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:22)
[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:22)
[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:22)
[error] 	at sdql.backend.Interpreter$.apply(Interpreter.scala:12)
[error] 	at sdql.backend.Interpreter$.apply(Interpreter.scala:12)
[error] 	at sdql.backend.Interpreter$.apply(Interpreter.scala:12)
[error] 	at sdql.driver.Main$.main(Main.scala:19)
[error] 	at sdql.driver.Main$.main(Main.scala:19)
[error] 	at sdql.driver.Main$.main(Main.scala:19)
[error] 	at sdql.driver.Main.main(Main.scala)
[error] 	at sdql.driver.Main.main(Main.scala)
[error] 	at sdql.driver.Main.main(Main.scala)
[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
[error] 	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
[error] 	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
[error] 	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
[error] 	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
[error] 	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
[error] 	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
[error] stack trace is suppressed; run 'last Compile / run' for the full output
[error] stack trace is suppressed; run 'last Compile / run' for the full output
[error] stack trace is suppressed; run 'last Compile / run' for the full output
[error] (Compile / run) java.nio.file.NoSuchFileException: datasets\lineitem.tbl
[error] (Compile / run) java.nio.file.NoSuchFileException: datasets\lineitem.tbl
[error] (Compile / run) java.nio.file.NoSuchFileException: datasets\lineitem.tbl
[error] Total time: 1 s, completed 2022年7月30日 上午6:45:46
[error] Total time: 1 s, completed 2022年7月30日 上午6:45:46
[error] Total time: 1 s, completed 2022年7月30日 上午6:45:46
========================================================
========================================================
========================================================
pysdql execution time: 15.707932949066162
pysdql execution time: 15.707932949066162
pysdql execution time: 15.707932949066162
export sdql script "tpch-1.sdql" to "T:/UG4-Proj/output/tpch-1.sdql"
export sdql script "tpch-1.sdql" to "T:/UG4-Proj/output/tpch-1.sdql"
export sdql script "tpch-1.sdql" to "T:/UG4-Proj/output/tpch-1.sdql"
excute by:
excute by:
excute by:
run interpret T:/UG4-Proj/output/tpch-1.sdql
run interpret T:/UG4-Proj/output/tpch-1.sdql
run interpret T:/UG4-Proj/output/tpch-1.sdql

[error] java.nio.file.NoSuchFileException: datasets\lineitem.tbl[error] 	at java.base/sun.nio.fs.WindowsException.translateToIOException(WindowsException.java:85)[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:103)[error] 	at java.base/sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.java:108)[error] 	at java.base/sun.nio.fs.WindowsFileSystemProvider.newFileChannel(WindowsFileSystemProvider.java:121)[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:298)[error] 	at java.base/java.nio.channels.FileChannel.open(FileChannel.java:357)[error] 	at java.base/java.nio.file.Files.lines(Files.java:4132)[error] 	at java.base/java.nio.file.Files.lines(Files.java:4227)[error] 	at sdql.storage.Loader$.fileLineCount(Loader.scala:21)[error] 	at sdql.storage.Loader$.loadTable(Loader.scala:25)[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:148)[error] 	at sdql.backend.Interpreter$.run(Interpreter.scala:22)[error] 	at sdql.backend.Interpreter$.apply(Interpreter.scala:12)[error] 	at sdql.driver.Main$.main(Main.scala:19)[error] 	at sdql.driver.Main.main(Main.scala)[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)[error] 	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)[error] 	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)[error] 	at java.base/java.lang.reflect.Method.invoke(Method.java:568)[error] stack trace is suppressed; run 'last Compile / run' for the full output[error] (Compile / run) java.nio.file.NoSuchFileException: datasets\lineitem.tbl

### pandas - 1

In [3]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

days = 76
var1 = str((datetime.strptime('1998-12-01', "%Y-%m-%d") - timedelta(days=days)).strftime("%Y-%m-%d"))

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[lineitem['l_shipdate'] <= var1]

r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

r = r.groupby(['l_returnflag', 'l_linestatus'], as_index=False) \
    .agg(sum_qty=('l_quantity', 'sum'),
         sum_base_price=('l_extendedprice', 'sum'),
         sum_disc_price=('disc_price', 'sum'),
         sum_charge=('charge', 'sum'),
         avg_qty=('l_quantity', 'mean'),
         avg_price=('l_extendedprice', 'mean'),
         avg_disc=('l_discount', 'mean'),
         count_order=('l_quantity', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-1').run(r).export().to()

  l_returnflag l_linestatus  sum_qty  sum_base_price  sum_disc_price  \
0            A            F   380456    5.323482e+08    5.058224e+08
1            N            F     8971    1.238480e+07    1.179826e+07
2            N            O   749024    1.050280e+09    9.980792e+08
3            R            F   381449    5.345944e+08    5.079965e+08

     sum_charge    avg_qty     avg_price  avg_disc  count_order
0  5.261659e+08  25.575155  35785.709307  0.050081        14876
1  1.228249e+07  25.778736  35588.509684  0.047759          348
2  1.038122e+09  25.460553  35700.732983  0.049927        29419
3  5.285242e+08  25.597168  35874.006533  0.049828        14902

C:\Users\Y\AppData\Local\Temp\ipykernel_308\3382729007.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['disc_price'] = r['l_extendedprice'] * (1 - r['l_discount'])
C:\Users\Y\AppData\Local\Temp\ipykernel_308\3382729007.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['charge'] = r['l_extendedprice'] * (1 - r['l_discount']) * (1 + r['l_tax'])

# TPCH - 2 ✅

### SQL - 2

```
select
	s_acctbal,
	s_name,
	n_name,
	p_partkey,
	p_mfgr,
	s_address,
	s_phone,
	s_comment
from
	part,
	supplier,
	partsupp,
	nation,
	region
where
	p_partkey = ps_partkey
	and s_suppkey = ps_suppkey
	and p_size = :1
	and p_type like '%:2'
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = ':3'
	and ps_supplycost = (
		select
			min(ps_supplycost)
		from
			partsupp,
			supplier,
			nation,
			region
		where
			p_partkey = ps_partkey
			and s_suppkey = ps_suppkey
			and s_nationkey = n_nationkey
			and n_regionkey = r_regionkey
			and r_name = ':3'
	)
```

### pysdql - 2

In [4]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 14
var2 = 'BRASS'
var3 = 'EUROPE'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var3]
sub_r.columns.name = 'sub_r'

r1 = partsupp.merge(supplier, left_on='ps_suppkey', right_on='s_suppkey')
r1 = r1.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
r1 = r1.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r1 = r1.groupby(['ps_partkey', 'ps_suppkey'], as_index=False).agg(min_supplycost=('ps_supplycost', 'min'))

r1['min_partkey'] = r1['ps_partkey']
r1['min_suppkey'] = r1['ps_suppkey']

r1 = r1[['min_partkey', 'min_suppkey', 'min_supplycost']]

r1.columns.name = 'r1'

sub_p = part[part['p_size'] == var1]
sub_p = sub_p[sub_p['p_type'].str.endswith(var2)]

sub_p.columns.name = 'sub_p'

r2 = nation.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r2 = r2.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r2 = r2.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2 = r2.merge(sub_p, left_on='ps_partkey', right_on='p_partkey')

r2.columns.name = 'r2'

r = r1.merge(r2,
             left_on=['min_partkey', 'min_suppkey', 'min_supplycost'],
             right_on=['ps_partkey', 'ps_suppkey', 'ps_supplycost'])

r.columns.name = 'r'

r = r[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-2').run(r).export().to()

let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if ((par_k.p_size == 14)) then { par_k -> 1 } else {  }
let tmp = sum (<p_k, p_v> in pmp) if (ext(`StrEndsWith`, p_k.p_type, "BRASS")) then { p_k -> 1 } else {  }
let sub_p = tmp
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/partsupp.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "EUROPE")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let part_sub_r = sum (<sr_k, sr_v> in sub_r) { < r_regionkey=sr_k.r_regionkey > -> { sr_k -> sr_v } }
let Rm0 = sum (<nat_k, nat_v> in nation) if ((part_sub_r(<r_regionkey=nat_k.n_regionkey>) != {  })) then sum(<p_k, p_v> in part_sub_r(<r_regionkey=nat_k.n_regionkey>)) { concat(nat_k, p_k) -> nat_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey > -> { sup_k -> sup_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_supplier(<s_nationkey=r0_k.n_nationkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_nationkey=r0_k.n_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_partsupp = sum (<psup_k, psup_v> in partsupp) { < ps_suppkey=psup_k.ps_suppkey > -> { psup_k -> psup_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_partsupp(<ps_suppkey=r1_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_suppkey=r1_k.s_suppkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_sub_p = sum (<sp_k, sp_v> in sub_p) { < p_partkey=sp_k.p_partkey > -> { sp_k -> sp_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_sub_p(<p_partkey=r2_k.ps_partkey>) != {  })) then sum(<p_k, p_v> in part_sub_p(<p_partkey=r2_k.ps_partkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let r2 = Rm3
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "EUROPE")) then { reg_k -> 1 } else {  }
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/partsupp.tbl")
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_suppkey=sup_k.s_suppkey > -> { sup_k -> sup_v } }
let Rm0 = sum (<psup_k, psup_v> in partsupp) if ((part_supplier(<s_suppkey=psup_k.ps_suppkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_suppkey=psup_k.ps_suppkey>)) { concat(psup_k, p_k) -> psup_v * p_v } else {  }
let part_nation = sum (<nat_k, nat_v> in nation) { < n_nationkey=nat_k.n_nationkey > -> { nat_k -> nat_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_nation(<n_nationkey=r0_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_nationkey=r0_k.s_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_sub_r = sum (<sr_k, sr_v> in sub_r) { < r_regionkey=sr_k.r_regionkey > -> { sr_k -> sr_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_sub_r(<r_regionkey=r1_k.n_regionkey>) != {  })) then sum(<p_k, p_v> in part_sub_r(<r_regionkey=r1_k.n_regionkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let tmpa = sum (<r2_k, r2_v> in Rm2) { < ps_partkey=r2_k.ps_partkey, ps_suppkey=r2_k.ps_suppkey > -> < min_supplycost=promote[mnpr](r2_k.ps_supplycost) * promote[mnpr](r2_v) > }
let agg_Rm2 = sum (<ta_k, ta_v> in tmpa) { < ps_partkey=ta_k.ps_partkey, ps_suppkey=ta_k.ps_suppkey, min_supplycost=promote[real](ta_v.min_supplycost) > -> 1 }
let amp = sum (<a2_k, a2_v> in agg_Rm2) { concat(a2_k, < min_partkey=a2_k.ps_partkey >) -> 1 }
let tmpb = sum (<a_k, a_v> in amp) { concat(a_k, < min_suppkey=a_k.ps_suppkey >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < min_partkey=tb_k.min_partkey, min_suppkey=tb_k.min_suppkey, min_supplycost=tb_k.min_supplycost > -> 1 }
let r1 = tmpc
let part_r2 = sum (<r2_k, r2_v> in r2) { < ps_partkey=r2_k.ps_partkey, ps_suppkey=r2_k.ps_suppkey, ps_supplycost=r2_k.ps_supplycost > -> { r2_k -> r2_v } }
let Rm0 = sum (<r1_k, r1_v> in r1) if ((part_r2(< ps_partkey=r1_k.min_partkey, ps_suppkey=r1_k.min_suppkey, ps_supplycost=r1_k.min_supplycost >) != {  })) then sum(<p_k, p_v> in part_r2(< ps_partkey=r1_k.min_partkey, ps_suppkey=r1_k.min_suppkey, ps_supplycost=r1_k.min_supplycost >)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let r = Rm0
let tmpc = sum (<r_k, r_v> in r) { < s_acctbal=r_k.s_acctbal, s_name=r_k.s_name, n_name=r_k.n_name, p_partkey=r_k.p_partkey, p_mfgr=r_k.p_mfgr, s_address=r_k.s_address, s_phone=r_k.s_phone, s_comment=r_k.s_comment > -> 1 }
tmpc

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_acctbal = 2972.26, s_name = Supplier#000000016, n_name = RUSSIA, p_partkey = 1215, p_mfgr = Manufacturer#5, s_address = YjP5C55zHDXL7LalK27zfQnwejdpin4AMpvh, s_phone = 32-822-502-4215, s_comment = ously express ideas haggle quickly dugouts? fu
> -> 1, <s_acctbal = 9759.38, s_name = Supplier#000000044, n_name = GERMANY, p_partkey = 1073, p_mfgr = Manufacturer#2, s_address = kERxlLDnlIZJdN66zAPHklyL, s_phone = 17-713-930-5667, s_comment = x. carefully quiet account
> -> 1, <s_acctbal = 6201.77, s_name = Supplier#000000090, n_name = FRANCE, p_partkey = 1215, p_mfgr = Manufacturer#5, s_address = bPE6Uhz1f2m3gwSGMrnRt,g,3gq37r5kxgphqss1, s_phone = 16-380-123-9217, s_comment = hely fluffily regular theodoli
> -> 1, <s_acctbal = 1687.81, s_name = Supplier#000000017, n_name = ROMANIA, p_partkey = 1216, p_mfgr = Manufacturer#4, s_address = c2d,ESHRSkK3WYnxpgw6aOqN0q, s_phone = 29-601-884-9219, s_comment = eep against the furiously bold ideas. fluffily bold packa
> -> 1, <s_acctbal = 1687.81, s_name = Supplier#000000017, n_name = ROMANIA, p_partkey = 332, p_mfgr = Manufacturer#2, s_address = c2d,ESHRSkK3WYnxpgw6aOqN0q, s_phone = 29-601-884-9219, s_comment = eep against the furiously bold ideas. fluffily bold packa
> -> 1, <s_acctbal = 6177.35, s_name = Supplier#000000053, n_name = GERMANY, p_partkey = 1215, p_mfgr = Manufacturer#5, s_address = i9v3 EsYCfLKFU6PIt8iihBOHBB37yR7b3GD7Rt, s_phone = 17-886-101-6083, s_comment = onic, special deposits wake furio
> -> 1, <s_acctbal = 1883.37, s_name = Supplier#000000086, n_name = ROMANIA, p_partkey = 35, p_mfgr = Manufacturer#4, s_address = J1fgg5QaqnN, s_phone = 29-903-665-7065, s_comment = cajole furiously special, final requests: furiously spec
> -> 1, <s_acctbal = 8564.12, s_name = Supplier#000000033, n_name = GERMANY, p_partkey = 332, p_mfgr = Manufacturer#2, s_address = gfeKpYw3400L0SDywXA6Ya1Qmq1w6YB9f3R, s_phone = 17-138-897-9374, s_comment = n sauternes along the regular asymptotes are regularly along the
> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:22:45
========================================================
pysdql execution time: 16.93938899040222
export sdql script "tpch-2.sdql" to "T:/UG4-Proj/output/tpch-2.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-2.sdql

{<s_acctbal = 2972.26, s_name = Supplier#000000016, n_name = RUSSIA, p_partkey = 1215, p_mfgr = Manufacturer#5, s_address = YjP5C55zHDXL7LalK27zfQnwejdpin4AMpvh, s_phone = 32-822-502-4215, s_comment = ously express ideas haggle quickly dugouts? fu> -> 1, <s_acctbal = 9759.38, s_name = Supplier#000000044, n_name = GERMANY, p_partkey = 1073, p_mfgr = Manufacturer#2, s_address = kERxlLDnlIZJdN66zAPHklyL, s_phone = 17-713-930-5667, s_comment = x. carefully quiet account> -> 1, <s_acctbal = 6201.77, s_name = Supplier#000000090, n_name = FRANCE, p_partkey = 1215, p_mfgr = Manufacturer#5, s_address = bPE6Uhz1f2m3gwSGMrnRt,g,3gq37r5kxgphqss1, s_phone = 16-380-123-9217, s_comment = hely fluffily regular theodoli> -> 1, <s_acctbal = 1687.81, s_name = Supplier#000000017, n_name = ROMANIA, p_partkey = 1216, p_mfgr = Manufacturer#4, s_address = c2d,ESHRSkK3WYnxpgw6aOqN0q, s_phone = 29-601-884-9219, s_comment = eep against the furiously bold ideas. fluffily bold packa> -> 1, <s_acctbal = 1687.81, s_name = Supplier#000000017, n_name = ROMANIA, p_partkey = 332, p_mfgr = Manufacturer#2, s_address = c2d,ESHRSkK3WYnxpgw6aOqN0q, s_phone = 29-601-884-9219, s_comment = eep against the furiously bold ideas. fluffily bold packa> -> 1, <s_acctbal = 6177.35, s_name = Supplier#000000053, n_name = GERMANY, p_partkey = 1215, p_mfgr = Manufacturer#5, s_address = i9v3 EsYCfLKFU6PIt8iihBOHBB37yR7b3GD7Rt, s_phone = 17-886-101-6083, s_comment = onic, special deposits wake furio> -> 1, <s_acctbal = 1883.37, s_name = Supplier#000000086, n_name = ROMANIA, p_partkey = 35, p_mfgr = Manufacturer#4, s_address = J1fgg5QaqnN, s_phone = 29-903-665-7065, s_comment = cajole furiously special, final requests: furiously spec> -> 1, <s_acctbal = 8564.12, s_name = Supplier#000000033, n_name = GERMANY, p_partkey = 332, p_mfgr = Manufacturer#2, s_address = gfeKpYw3400L0SDywXA6Ya1Qmq1w6YB9f3R, s_phone = 17-138-897-9374, s_comment = n sauternes along the regular asymptotes are regularly along the> -> 1}

### pandas - 2

In [5]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 14
var2 = 'BRASS'
var3 = 'EUROPE'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var3]
sub_r.columns.name = 'sub_r'

r1 = partsupp.merge(supplier, left_on='ps_suppkey', right_on='s_suppkey')
r1 = r1.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
r1 = r1.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r1 = r1.groupby(['ps_partkey', 'ps_suppkey'], as_index=False).agg(min_supplycost=('ps_supplycost', 'min'))

r1['min_partkey'] = r1['ps_partkey']
r1['min_suppkey'] = r1['ps_suppkey']

r1 = r1[['min_partkey', 'min_suppkey', 'min_supplycost']]

r1.columns.name = 'r1'

sub_p = part[part['p_size'] == var1]
sub_p = sub_p[sub_p['p_type'].str.endswith(var2)]

sub_p.columns.name = 'sub_p'

r2 = nation.merge(sub_r, left_on='n_regionkey', right_on='r_regionkey')
r2 = r2.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r2 = r2.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2 = r2.merge(sub_p, left_on='ps_partkey', right_on='p_partkey')

r2.columns.name = 'r2'

r = r1.merge(r2,
             left_on=['min_partkey', 'min_suppkey', 'min_supplycost'],
             right_on=['ps_partkey', 'ps_suppkey', 'ps_supplycost'])

r.columns.name = 'r'

r = r[['s_acctbal', 's_name', 'n_name', 'p_partkey', 'p_mfgr', 's_address', 's_phone', 's_comment']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-2').run(r).export().to()

r  s_acctbal              s_name   n_name  p_partkey          p_mfgr  \
0    1883.37  Supplier#000000086  ROMANIA         35  Manufacturer#4
1    1687.81  Supplier#000000017  ROMANIA        332  Manufacturer#2
2    8564.12  Supplier#000000033  GERMANY        332  Manufacturer#2
3    9759.38  Supplier#000000044  GERMANY       1073  Manufacturer#2
4    2972.26  Supplier#000000016   RUSSIA       1215  Manufacturer#5
5    6177.35  Supplier#000000053  GERMANY       1215  Manufacturer#5
6    6201.77  Supplier#000000090   FRANCE       1215  Manufacturer#5
7    1687.81  Supplier#000000017  ROMANIA       1216  Manufacturer#4

r                                 s_address          s_phone  \
0                               J1fgg5QaqnN  29-903-665-7065
1                c2d,ESHRSkK3WYnxpgw6aOqN0q  29-601-884-9219
2       gfeKpYw3400L0SDywXA6Ya1Qmq1w6YB9f3R  17-138-897-9374
3                  kERxlLDnlIZJdN66zAPHklyL  17-713-930-5667
4      YjP5C55zHDXL7LalK27zfQnwejdpin4AMpvh  32-822-502-4215
5   i9v3 EsYCfLKFU6PIt8iihBOHBB37yR7b3GD7Rt  17-886-101-6083
6  bPE6Uhz1f2m3gwSGMrnRt,g,3gq37r5kxgphqss1  16-380-123-9217
7                c2d,ESHRSkK3WYnxpgw6aOqN0q  29-601-884-9219

r                                          s_comment
0  cajole furiously special, final requests: furi...
1  eep against the furiously bold ideas. fluffily...
2  n sauternes along the regular asymptotes are r...
3                         x. carefully quiet account
4     ously express ideas haggle quickly dugouts? fu
5                  onic, special deposits wake furio
6                     hely fluffily regular theodoli
7  eep against the furiously bold ideas. fluffily...

# TPCH - 3 ✅

### SQL - 3

```
select
	l_orderkey,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer,
	orders,
	lineitem
where
	c_mktsegment = ':1'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < date ':2'
	and l_shipdate > date ':2'
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
```

### pysdql - 3

In [6]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'BUILDING'
var2 = '1995-03-22'

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_c = customer[customer['c_mktsegment'] == var1]
sub_c.columns.name = 'sub_c'

sub_o = orders[orders['o_orderdate'] < var2]
sub_o.columns.name = 'sub_o'

sub_l = lineitem[lineitem['l_shipdate'] > var2]
sub_l.columns.name = 'sub_l'

r = sub_c.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority'], as_index=False) \
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-3').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((date(19950322) < lin_k.l_shipdate)) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if ((ord_k.o_orderdate < date(19950322))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let cmp = sum (<cus_k, cus_v> in customer) if ((cus_k.c_mktsegment == "BUILDING")) then { cus_k -> 1 } else {  }
let sub_c = cmp
let part_sub_o = sum (<so_k, so_v> in sub_o) { < o_custkey=so_k.o_custkey > -> { so_k -> so_v } }
let Rm0 = sum (<sc_k, sc_v> in sub_c) if ((part_sub_o(<o_custkey=sc_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_sub_o(<o_custkey=sc_k.c_custkey>)) { concat(sc_k, p_k) -> sc_v * p_v } else {  }
let part_sub_l = sum (<sl_k, sl_v> in sub_l) { < l_orderkey=sl_k.l_orderkey > -> { sl_k -> sl_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_sub_l(<l_orderkey=r0_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_sub_l(<l_orderkey=r0_k.o_orderkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let rmp = sum (<r1_k, r1_v> in Rm1) { concat(r1_k, < value=(r1_k.l_extendedprice * (1 - r1_k.l_discount)) >) -> 1 }
let tmpa = sum (<r_k, r_v> in rmp) { < l_orderkey=r_k.l_orderkey, o_orderdate=r_k.o_orderdate, o_shippriority=r_k.o_shippriority > -> < revenue=promote[nullable[real]](r_k.value * r_v) > }
let agg_rmp = sum (<ta_k, ta_v> in tmpa) { < l_orderkey=ta_k.l_orderkey, o_orderdate=ta_k.o_orderdate, o_shippriority=ta_k.o_shippriority, revenue=promote[real](ta_v.revenue) > -> 1 }
agg_rmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<l_orderkey = 58981, o_orderdate = DateValue(19950201), o_shippriority = 0, revenue = 55946.60399999999> -> 1, <l_orderkey = 28741, o_orderdate = DateValue(19950301), o_shippriority = 0, revenue = 134921.02819999997> -> 1, <l_orderkey = 20453, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 169158.0061> -> 1, <l_orderkey = 25027, o_orderdate = DateValue(19941217), o_shippriority = 0, revenue = 54115.5747> -> 1, <l_orderkey = 59139, o_orderdate = DateValue(19950130), o_shippriority = 0, revenue = 67005.4768> -> 1, <l_orderkey = 51777, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 146508.12> -> 1, <l_orderkey = 10691, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 84419.802> -> 1, <l_orderkey = 35399, o_orderdate = DateValue(19950122), o_shippriority = 0, revenue = 39727.4948> -> 1, <l_orderkey = 5031, o_orderdate = DateValue(19941202), o_shippriority = 0, revenue = 20587.35> -> 1, <l_orderkey = 5312, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 76343.59049999999> -> 1, <l_orderkey = 30981, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 125248.7562> -> 1, <l_orderkey = 55906, o_orderdate = DateValue(19941127), o_shippriority = 0, revenue = 46001.888> -> 1, <l_orderkey = 16322, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 79211.16> -> 1, <l_orderkey = 22753, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 77052.1344> -> 1, <l_orderkey = 5728, o_orderdate = DateValue(19941211), o_shippriority = 0, revenue = 56604.03999999999> -> 1, <l_orderkey = 30182, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 22516.0064> -> 1, <l_orderkey = 32965, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 172302.468> -> 1, <l_orderkey = 7840, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 146215.75559999997> -> 1, <l_orderkey = 24640, o_orderdate = DateValue(19950130), o_shippriority = 0, revenue = 123648.55600000001> -> 1, <l_orderkey = 11073, o_orderdate = DateValue(19941202), o_shippriority = 0, revenue = 7289.619> -> 1, <l_orderkey = 40962, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 163686.0684> -> 1, <l_orderkey = 25188, o_orderdate = DateValue(19950104), o_shippriority = 0, revenue = 144523.4766> -> 1, <l_orderkey = 32484, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 55427.355800000005> -> 1, <l_orderkey = 47781, o_orderdate = DateValue(19950129), o_shippriority = 0, revenue = 79949.32560000001> -> 1, <l_orderkey = 45349, o_orderdate = DateValue(19950212), o_shippriority = 0, revenue = 94730.51759999999> -> 1, <l_orderkey = 38947, o_orderdate = DateValue(19941130), o_shippriority = 0, revenue = 31071.699999999997> -> 1, <l_orderkey = 21475, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 93151.6678> -> 1, <l_orderkey = 5347, o_orderdate = DateValue(19950222), o_shippriority = 0, revenue = 149753.72119999997> -> 1, <l_orderkey = 33794, o_orderdate = DateValue(19950223), o_shippriority = 0, revenue = 116897.0058> -> 1, <l_orderkey = 40001, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 109384.08660000001> -> 1, <l_orderkey = 59686, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 13575.16> -> 1, <l_orderkey = 27554, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 119576.7959> -> 1, <l_orderkey = 3844, o_orderdate = DateValue(19941229), o_shippriority = 0, revenue = 4144.59> -> 1, <l_orderkey = 56295, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 115110.75839999999> -> 1, <l_orderkey = 47204, o_orderdate = DateValue(19950313), o_shippriority = 0, revenue = 204478.5213> -> 1, <l_orderkey = 26723, o_orderdate = DateValue(19950304), o_shippriority = 0, revenue = 102317.13759999999> -> 1, <l_orderkey = 13924, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 3587.162> -> 1, <l_orderkey = 38882, o_orderdate = DateValue(19941215), o_shippriority = 0, revenue = 16591.1616> -> 1, <l_orderkey = 21061, o_orderdate = DateValue(19941222), o_shippriority = 0, revenue = 46024.6182> -> 1, <l_orderkey = 577, o_orderdate = DateValue(19941219), o_shippriority = 0, revenue = 27242.375> -> 1, <l_orderkey = 20805, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 60545.268> -> 1, <l_orderkey = 9696, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 201502.21879999997> -> 1, <l_orderkey = 58880, o_orderdate = DateValue(19950108), o_shippriority = 0, revenue = 39161.1832> -> 1, <l_orderkey = 46402, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 33169.9875> -> 1, <l_orderkey = 34727, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 61784.142> -> 1, <l_orderkey = 2883, o_orderdate = DateValue(19950123), o_shippriority = 0, revenue = 61835.551199999994> -> 1, <l_orderkey = 25603, o_orderdate = DateValue(19950306), o_shippriority = 0, revenue = 142844.3432> -> 1, <l_orderkey = 26432, o_orderdate = DateValue(19941231), o_shippriority = 0, revenue = 35020.3198> -> 1, <l_orderkey = 35845, o_orderdate = DateValue(19950107), o_shippriority = 0, revenue = 25511.5375> -> 1, <l_orderkey = 26304, o_orderdate = DateValue(19950320), o_shippriority = 0, revenue = 304291.77359999996> -> 1, <l_orderkey = 20897, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 122865.45490000001> -> 1, <l_orderkey = 386, o_orderdate = DateValue(19950125), o_shippriority = 0, revenue = 114355.8002> -> 1, <l_orderkey = 43491, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 140776.6823> -> 1, <l_orderkey = 29830, o_orderdate = DateValue(19950113), o_shippriority = 0, revenue = 38191.770000000004> -> 1, <l_orderkey = 20901, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 76911.5952> -> 1, <l_orderkey = 15462, o_orderdate = DateValue(19950227), o_shippriority = 0, revenue = 106314.943> -> 1, <l_orderkey = 35264, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 17482.4496> -> 1, <l_orderkey = 32128, o_orderdate = DateValue(19950122), o_shippriority = 0, revenue = 96799.6636> -> 1, <l_orderkey = 21760, o_orderdate = DateValue(19950131), o_shippriority = 0, revenue = 61308.487499999996> -> 1, <l_orderkey = 450, o_orderdate = DateValue(19950305), o_shippriority = 0, revenue = 149832.1432> -> 1, <l_orderkey = 4707, o_orderdate = DateValue(19950227), o_shippriority = 0, revenue = 70091.3738> -> 1, <l_orderkey = 26848, o_orderdate = DateValue(19950310), o_shippriority = 0, revenue = 122662.69480000001> -> 1, <l_orderkey = 32901, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 79789.8468> -> 1, <l_orderkey = 53634, o_orderdate = DateValue(19950222), o_shippriority = 0, revenue = 19348.1152> -> 1, <l_orderkey = 25858, o_orderdate = DateValue(19950131), o_shippriority = 0, revenue = 97481.0997> -> 1, <l_orderkey = 46980, o_orderdate = DateValue(19950118), o_shippriority = 0, revenue = 66360.1984> -> 1, <l_orderkey = 19365, o_orderdate = DateValue(19950117), o_shippriority = 0, revenue = 144291.37759999998> -> 1, <l_orderkey = 45991, o_orderdate = DateValue(19950215), o_shippriority = 0, revenue = 90739.8036> -> 1, <l_orderkey = 4227, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 120474.4607> -> 1, <l_orderkey = 28642, o_orderdate = DateValue(19950119), o_shippriority = 0, revenue = 87419.6232> -> 1, <l_orderkey = 27361, o_orderdate = DateValue(19950123), o_shippriority = 0, revenue = 30722.735999999994> -> 1, <l_orderkey = 30725, o_orderdate = DateValue(19941229), o_shippriority = 0, revenue = 165941.468> -> 1, <l_orderkey = 52199, o_orderdate = DateValue(19950127), o_shippriority = 0, revenue = 65976.1078> -> 1, <l_orderkey = 46528, o_orderdate = DateValue(19941207), o_shippriority = 0, revenue = 34637.439> -> 1, <l_orderkey = 3588, o_orderdate = DateValue(19950319), o_shippriority = 0, revenue = 274878.79199999996> -> 1, <l_orderkey = 46562, o_orderdate = DateValue(19950213), o_shippriority = 0, revenue = 56968.6599> -> 1, <l_orderkey = 57987, o_orderdate = DateValue(19941216), o_shippriority = 0, revenue = 53735.4972> -> 1, <l_orderkey = 5636, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 84345.57299999999> -> 1, <l_orderkey = 2982, o_orderdate = DateValue(19950319), o_shippriority = 0, revenue = 78594.3403> -> 1, <l_orderkey = 47076, o_orderdate = DateValue(19950108), o_shippriority = 0, revenue = 17918.1024> -> 1, <l_orderkey = 22276, o_orderdate = DateValue(19950129), o_shippriority = 0, revenue = 266351.5562> -> 1, <l_orderkey = 28993, o_orderdate = DateValue(19950310), o_shippriority = 0, revenue = 41619.32719999999> -> 1, <l_orderkey = 12961, o_orderdate = DateValue(19941213), o_shippriority = 0, revenue = 78376.205> -> 1, <l_orderkey = 29958, o_orderdate = DateValue(19950107), o_shippriority = 0, revenue = 74209.73> -> 1, <l_orderkey = 28195, o_orderdate = DateValue(19941221), o_shippriority = 0, revenue = 4723.1628> -> 1, <l_orderkey = 17058, o_orderdate = DateValue(19950102), o_shippriority = 0, revenue = 50390.46289999999> -> 1, <l_orderkey = 40612, o_orderdate = DateValue(19950301), o_shippriority = 0, revenue = 177040.8647> -> 1, <l_orderkey = 57378, o_orderdate = DateValue(19941229), o_shippriority = 0, revenue = 61575.588> -> 1, <l_orderkey = 15138, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 33617.088> -> 1, <l_orderkey = 20641, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 189169.8966> -> 1, <l_orderkey = 52640, o_orderdate = DateValue(19950102), o_shippriority = 0, revenue = 81063.9358> -> 1, <l_orderkey = 6403, o_orderdate = DateValue(19950212), o_shippriority = 0, revenue = 27428.8287> -> 1, <l_orderkey = 56711, o_orderdate = DateValue(19950207), o_shippriority = 0, revenue = 38817.547399999996> -> 1, <l_orderkey = 33764, o_orderdate = DateValue(19950211), o_shippriority = 0, revenue = 160334.361> -> 1, <l_orderkey = 59843, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 142785.63390000002> -> 1, <l_orderkey = 35266, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 153107.1924> -> 1, <l_orderkey = 38784, o_orderdate = DateValue(19950204), o_shippriority = 0, revenue = 28136.315> -> 1, <l_orderkey = 7527, o_orderdate = DateValue(19941212), o_shippriority = 0, revenue = 13068.3072> -> 1, <l_orderkey = 15111, o_orderdate = DateValue(19941218), o_shippriority = 0, revenue = 47951.075899999996> -> 1, <l_orderkey = 49537, o_orderdate = DateValue(19950307), o_shippriority = 0, revenue = 31834.8> -> 1, <l_orderkey = 22433, o_orderdate = DateValue(19950304), o_shippriority = 0, revenue = 149730.976> -> 1, <l_orderkey = 54787, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 73044.1068> -> 1, <l_orderkey = 47876, o_orderdate = DateValue(19941226), o_shippriority = 0, revenue = 54892.5> -> 1, <l_orderkey = 21956, o_orderdate = DateValue(19950202), o_shippriority = 0, revenue = 254541.1285> -> 1, <l_orderkey = 52482, o_orderdate = DateValue(19950201), o_shippriority = 0, revenue = 42049.6872> -> 1, <l_orderkey = 15106, o_orderdate = DateValue(19950128), o_shippriority = 0, revenue = 80497.2438> -> 1, <l_orderkey = 5985, o_orderdate = DateValue(19950112), o_shippriority = 0, revenue = 6894.691999999999> -> 1, <l_orderkey = 37888, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 24056.2168> -> 1, <l_orderkey = 31747, o_orderdate = DateValue(19950203), o_shippriority = 0, revenue = 158233.299> -> 1, <l_orderkey = 6022, o_orderdate = DateValue(19950213), o_shippriority = 0, revenue = 166150.01269999996> -> 1, <l_orderkey = 44102, o_orderdate = DateValue(19950114), o_shippriority = 0, revenue = 111756.61489999999> -> 1, <l_orderkey = 19780, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 87235.3936> -> 1, <l_orderkey = 1637, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 134513.1773> -> 1, <l_orderkey = 30497, o_orderdate = DateValue(19950207), o_shippriority = 0, revenue = 208566.69689999998> -> 1, <l_orderkey = 50945, o_orderdate = DateValue(19950108), o_shippriority = 0, revenue = 21476.837199999998> -> 1, <l_orderkey = 25669, o_orderdate = DateValue(19950117), o_shippriority = 0, revenue = 161663.4805> -> 1, <l_orderkey = 9248, o_orderdate = DateValue(19941224), o_shippriority = 0, revenue = 70712.3614> -> 1, <l_orderkey = 53637, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 174652.0955> -> 1, <l_orderkey = 50693, o_orderdate = DateValue(19950117), o_shippriority = 0, revenue = 17651.38> -> 1, <l_orderkey = 46530, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 138383.4176> -> 1, <l_orderkey = 41895, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 33392.31> -> 1, <l_orderkey = 5765, o_orderdate = DateValue(19941215), o_shippriority = 0, revenue = 97694.8959> -> 1, <l_orderkey = 59874, o_orderdate = DateValue(19950106), o_shippriority = 0, revenue = 96794.9688> -> 1, <l_orderkey = 42081, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 155730.32009999998> -> 1, <l_orderkey = 5188, o_orderdate = DateValue(19950302), o_shippriority = 0, revenue = 30300.818399999996> -> 1, <l_orderkey = 29953, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 133379.8908> -> 1, <l_orderkey = 46341, o_orderdate = DateValue(19941218), o_shippriority = 0, revenue = 72519.55709999999> -> 1, <l_orderkey = 42020, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 105872.64660000001> -> 1, <l_orderkey = 27719, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 173895.19069999998> -> 1, <l_orderkey = 47714, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 247822.32030000002> -> 1, <l_orderkey = 10916, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 241320.08139999997> -> 1, <l_orderkey = 19393, o_orderdate = DateValue(19950115), o_shippriority = 0, revenue = 38193.799999999996> -> 1, <l_orderkey = 45829, o_orderdate = DateValue(19950313), o_shippriority = 0, revenue = 48328.245> -> 1, <l_orderkey = 11109, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 3435.2955> -> 1, <l_orderkey = 44612, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 152829.9593> -> 1, <l_orderkey = 45959, o_orderdate = DateValue(19941207), o_shippriority = 0, revenue = 78599.0592> -> 1}

[success] Total time: 2 s, completed 2022年7月30日 上午6:23:02
========================================================
pysdql execution time: 17.274428606033325
export sdql script "tpch-3.sdql" to "T:/UG4-Proj/output/tpch-3.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-3.sdql

{<l_orderkey = 58981, o_orderdate = DateValue(19950201), o_shippriority = 0, revenue = 55946.60399999999> -> 1, <l_orderkey = 28741, o_orderdate = DateValue(19950301), o_shippriority = 0, revenue = 134921.02819999997> -> 1, <l_orderkey = 20453, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 169158.0061> -> 1, <l_orderkey = 25027, o_orderdate = DateValue(19941217), o_shippriority = 0, revenue = 54115.5747> -> 1, <l_orderkey = 59139, o_orderdate = DateValue(19950130), o_shippriority = 0, revenue = 67005.4768> -> 1, <l_orderkey = 51777, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 146508.12> -> 1, <l_orderkey = 10691, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 84419.802> -> 1, <l_orderkey = 35399, o_orderdate = DateValue(19950122), o_shippriority = 0, revenue = 39727.4948> -> 1, <l_orderkey = 5031, o_orderdate = DateValue(19941202), o_shippriority = 0, revenue = 20587.35> -> 1, <l_orderkey = 5312, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 76343.59049999999> -> 1, <l_orderkey = 30981, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 125248.7562> -> 1, <l_orderkey = 55906, o_orderdate = DateValue(19941127), o_shippriority = 0, revenue = 46001.888> -> 1, <l_orderkey = 16322, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 79211.16> -> 1, <l_orderkey = 22753, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 77052.1344> -> 1, <l_orderkey = 5728, o_orderdate = DateValue(19941211), o_shippriority = 0, revenue = 56604.03999999999> -> 1, <l_orderkey = 30182, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 22516.0064> -> 1, <l_orderkey = 32965, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 172302.468> -> 1, <l_orderkey = 7840, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 146215.75559999997> -> 1, <l_orderkey = 24640, o_orderdate = DateValue(19950130), o_shippriority = 0, revenue = 123648.55600000001> -> 1, <l_orderkey = 11073, o_orderdate = DateValue(19941202), o_shippriority = 0, revenue = 7289.619> -> 1, <l_orderkey = 40962, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 163686.0684> -> 1, <l_orderkey = 25188, o_orderdate = DateValue(19950104), o_shippriority = 0, revenue = 144523.4766> -> 1, <l_orderkey = 32484, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 55427.355800000005> -> 1, <l_orderkey = 47781, o_orderdate = DateValue(19950129), o_shippriority = 0, revenue = 79949.32560000001> -> 1, <l_orderkey = 45349, o_orderdate = DateValue(19950212), o_shippriority = 0, revenue = 94730.51759999999> -> 1, <l_orderkey = 38947, o_orderdate = DateValue(19941130), o_shippriority = 0, revenue = 31071.699999999997> -> 1, <l_orderkey = 21475, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 93151.6678> -> 1, <l_orderkey = 5347, o_orderdate = DateValue(19950222), o_shippriority = 0, revenue = 149753.72119999997> -> 1, <l_orderkey = 33794, o_orderdate = DateValue(19950223), o_shippriority = 0, revenue = 116897.0058> -> 1, <l_orderkey = 40001, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 109384.08660000001> -> 1, <l_orderkey = 59686, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 13575.16> -> 1, <l_orderkey = 27554, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 119576.7959> -> 1, <l_orderkey = 3844, o_orderdate = DateValue(19941229), o_shippriority = 0, revenue = 4144.59> -> 1, <l_orderkey = 56295, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 115110.75839999999> -> 1, <l_orderkey = 47204, o_orderdate = DateValue(19950313), o_shippriority = 0, revenue = 204478.5213> -> 1, <l_orderkey = 26723, o_orderdate = DateValue(19950304), o_shippriority = 0, revenue = 102317.13759999999> -> 1, <l_orderkey = 13924, o_orderdate = DateValue(19941220), o_shippriority = 0, revenue = 3587.162> -> 1, <l_orderkey = 38882, o_orderdate = DateValue(19941215), o_shippriority = 0, revenue = 16591.1616> -> 1, <l_orderkey = 21061, o_orderdate = DateValue(19941222), o_shippriority = 0, revenue = 46024.6182> -> 1, <l_orderkey = 577, o_orderdate = DateValue(19941219), o_shippriority = 0, revenue = 27242.375> -> 1, <l_orderkey = 20805, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 60545.268> -> 1, <l_orderkey = 9696, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 201502.21879999997> -> 1, <l_orderkey = 58880, o_orderdate = DateValue(19950108), o_shippriority = 0, revenue = 39161.1832> -> 1, <l_orderkey = 46402, o_orderdate = DateValue(19950109), o_shippriority = 0, revenue = 33169.9875> -> 1, <l_orderkey = 34727, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 61784.142> -> 1, <l_orderkey = 2883, o_orderdate = DateValue(19950123), o_shippriority = 0, revenue = 61835.551199999994> -> 1, <l_orderkey = 25603, o_orderdate = DateValue(19950306), o_shippriority = 0, revenue = 142844.3432> -> 1, <l_orderkey = 26432, o_orderdate = DateValue(19941231), o_shippriority = 0, revenue = 35020.3198> -> 1, <l_orderkey = 35845, o_orderdate = DateValue(19950107), o_shippriority = 0, revenue = 25511.5375> -> 1, <l_orderkey = 26304, o_orderdate = DateValue(19950320), o_shippriority = 0, revenue = 304291.77359999996> -> 1, <l_orderkey = 20897, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 122865.45490000001> -> 1, <l_orderkey = 386, o_orderdate = DateValue(19950125), o_shippriority = 0, revenue = 114355.8002> -> 1, <l_orderkey = 43491, o_orderdate = DateValue(19950309), o_shippriority = 0, revenue = 140776.6823> -> 1, <l_orderkey = 29830, o_orderdate = DateValue(19950113), o_shippriority = 0, revenue = 38191.770000000004> -> 1, <l_orderkey = 20901, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 76911.5952> -> 1, <l_orderkey = 15462, o_orderdate = DateValue(19950227), o_shippriority = 0, revenue = 106314.943> -> 1, <l_orderkey = 35264, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 17482.4496> -> 1, <l_orderkey = 32128, o_orderdate = DateValue(19950122), o_shippriority = 0, revenue = 96799.6636> -> 1, <l_orderkey = 21760, o_orderdate = DateValue(19950131), o_shippriority = 0, revenue = 61308.487499999996> -> 1, <l_orderkey = 450, o_orderdate = DateValue(19950305), o_shippriority = 0, revenue = 149832.1432> -> 1, <l_orderkey = 4707, o_orderdate = DateValue(19950227), o_shippriority = 0, revenue = 70091.3738> -> 1, <l_orderkey = 26848, o_orderdate = DateValue(19950310), o_shippriority = 0, revenue = 122662.69480000001> -> 1, <l_orderkey = 32901, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 79789.8468> -> 1, <l_orderkey = 53634, o_orderdate = DateValue(19950222), o_shippriority = 0, revenue = 19348.1152> -> 1, <l_orderkey = 25858, o_orderdate = DateValue(19950131), o_shippriority = 0, revenue = 97481.0997> -> 1, <l_orderkey = 46980, o_orderdate = DateValue(19950118), o_shippriority = 0, revenue = 66360.1984> -> 1, <l_orderkey = 19365, o_orderdate = DateValue(19950117), o_shippriority = 0, revenue = 144291.37759999998> -> 1, <l_orderkey = 45991, o_orderdate = DateValue(19950215), o_shippriority = 0, revenue = 90739.8036> -> 1, <l_orderkey = 4227, o_orderdate = DateValue(19950224), o_shippriority = 0, revenue = 120474.4607> -> 1, <l_orderkey = 28642, o_orderdate = DateValue(19950119), o_shippriority = 0, revenue = 87419.6232> -> 1, <l_orderkey = 27361, o_orderdate = DateValue(19950123), o_shippriority = 0, revenue = 30722.735999999994> -> 1, <l_orderkey = 30725, o_orderdate = DateValue(19941229), o_shippriority = 0, revenue = 165941.468> -> 1, <l_orderkey = 52199, o_orderdate = DateValue(19950127), o_shippriority = 0, revenue = 65976.1078> -> 1, <l_orderkey = 46528, o_orderdate = DateValue(19941207), o_shippriority = 0, revenue = 34637.439> -> 1, <l_orderkey = 3588, o_orderdate = DateValue(19950319), o_shippriority = 0, revenue = 274878.79199999996> -> 1, <l_orderkey = 46562, o_orderdate = DateValue(19950213), o_shippriority = 0, revenue = 56968.6599> -> 1, <l_orderkey = 57987, o_orderdate = DateValue(19941216), o_shippriority = 0, revenue = 53735.4972> -> 1, <l_orderkey = 5636, o_orderdate = DateValue(19950216), o_shippriority = 0, revenue = 84345.57299999999> -> 1, <l_orderkey = 2982, o_orderdate = DateValue(19950319), o_shippriority = 0, revenue = 78594.3403> -> 1, <l_orderkey = 47076, o_orderdate = DateValue(19950108), o_shippriority = 0, revenue = 17918.1024> -> 1, <l_orderkey = 22276, o_orderdate = DateValue(19950129), o_shippriority = 0, revenue = 266351.5562> -> 1, <l_orderkey = 28993, o_orderdate = DateValue(19950310), o_shippriority = 0, revenue = 41619.32719999999> -> 1, <l_orderkey = 12961, o_orderdate = DateValue(19941213), o_shippriority = 0, revenue = 78376.205> -> 1, <l_orderkey = 29958, o_orderdate = DateValue(19950107), o_shippriority = 0, revenue = 74209.73> -> 1, <l_orderkey = 28195, o_orderdate = DateValue(19941221), o_shippriority = 0, revenue = 4723.1628> -> 1, <l_orderkey = 17058, o_orderdate = DateValue(19950102), o_shippriority = 0, revenue = 50390.46289999999> -> 1, <l_orderkey = 40612, o_orderdate = DateValue(19950301), o_shippriority = 0, revenue = 177040.8647> -> 1, <l_orderkey = 57378, o_orderdate = DateValue(19941229), o_shippriority = 0, revenue = 61575.588> -> 1, <l_orderkey = 15138, o_orderdate = DateValue(19950221), o_shippriority = 0, revenue = 33617.088> -> 1, <l_orderkey = 20641, o_orderdate = DateValue(19950220), o_shippriority = 0, revenue = 189169.8966> -> 1, <l_orderkey = 52640, o_orderdate = DateValue(19950102), o_shippriority = 0, revenue = 81063.9358> -> 1, <l_orderkey = 6403, o_orderdate = DateValue(19950212), o_shippriority = 0, revenue = 27428.8287> -> 1, <l_orderkey = 56711, o_orderdate = DateValue(19950207), o_shippriority = 0, revenue = 38817.547399999996> -> 1, <l_orderkey = 33764, o_orderdate = DateValue(19950211), o_shippriority = 0, revenue = 160334.361> -> 1, <l_orderkey = 59843, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 142785.63390000002> -> 1, <l_orderkey = 35266, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 153107.1924> -> 1, <l_orderkey = 38784, o_orderdate = DateValue(19950204), o_shippriority = 0, revenue = 28136.315> -> 1, <l_orderkey = 7527, o_orderdate = DateValue(19941212), o_shippriority = 0, revenue = 13068.3072> -> 1, <l_orderkey = 15111, o_orderdate = DateValue(19941218), o_shippriority = 0, revenue = 47951.075899999996> -> 1, <l_orderkey = 49537, o_orderdate = DateValue(19950307), o_shippriority = 0, revenue = 31834.8> -> 1, <l_orderkey = 22433, o_orderdate = DateValue(19950304), o_shippriority = 0, revenue = 149730.976> -> 1, <l_orderkey = 54787, o_orderdate = DateValue(19950225), o_shippriority = 0, revenue = 73044.1068> -> 1, <l_orderkey = 47876, o_orderdate = DateValue(19941226), o_shippriority = 0, revenue = 54892.5> -> 1, <l_orderkey = 21956, o_orderdate = DateValue(19950202), o_shippriority = 0, revenue = 254541.1285> -> 1, <l_orderkey = 52482, o_orderdate = DateValue(19950201), o_shippriority = 0, revenue = 42049.6872> -> 1, <l_orderkey = 15106, o_orderdate = DateValue(19950128), o_shippriority = 0, revenue = 80497.2438> -> 1, <l_orderkey = 5985, o_orderdate = DateValue(19950112), o_shippriority = 0, revenue = 6894.691999999999> -> 1, <l_orderkey = 37888, o_orderdate = DateValue(19941223), o_shippriority = 0, revenue = 24056.2168> -> 1, <l_orderkey = 31747, o_orderdate = DateValue(19950203), o_shippriority = 0, revenue = 158233.299> -> 1, <l_orderkey = 6022, o_orderdate = DateValue(19950213), o_shippriority = 0, revenue = 166150.01269999996> -> 1, <l_orderkey = 44102, o_orderdate = DateValue(19950114), o_shippriority = 0, revenue = 111756.61489999999> -> 1, <l_orderkey = 19780, o_orderdate = DateValue(19950205), o_shippriority = 0, revenue = 87235.3936> -> 1, <l_orderkey = 1637, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 134513.1773> -> 1, <l_orderkey = 30497, o_orderdate = DateValue(19950207), o_shippriority = 0, revenue = 208566.69689999998> -> 1, <l_orderkey = 50945, o_orderdate = DateValue(19950108), o_shippriority = 0, revenue = 21476.837199999998> -> 1, <l_orderkey = 25669, o_orderdate = DateValue(19950117), o_shippriority = 0, revenue = 161663.4805> -> 1, <l_orderkey = 9248, o_orderdate = DateValue(19941224), o_shippriority = 0, revenue = 70712.3614> -> 1, <l_orderkey = 53637, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 174652.0955> -> 1, <l_orderkey = 50693, o_orderdate = DateValue(19950117), o_shippriority = 0, revenue = 17651.38> -> 1, <l_orderkey = 46530, o_orderdate = DateValue(19950318), o_shippriority = 0, revenue = 138383.4176> -> 1, <l_orderkey = 41895, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 33392.31> -> 1, <l_orderkey = 5765, o_orderdate = DateValue(19941215), o_shippriority = 0, revenue = 97694.8959> -> 1, <l_orderkey = 59874, o_orderdate = DateValue(19950106), o_shippriority = 0, revenue = 96794.9688> -> 1, <l_orderkey = 42081, o_orderdate = DateValue(19950111), o_shippriority = 0, revenue = 155730.32009999998> -> 1, <l_orderkey = 5188, o_orderdate = DateValue(19950302), o_shippriority = 0, revenue = 30300.818399999996> -> 1, <l_orderkey = 29953, o_orderdate = DateValue(19950208), o_shippriority = 0, revenue = 133379.8908> -> 1, <l_orderkey = 46341, o_orderdate = DateValue(19941218), o_shippriority = 0, revenue = 72519.55709999999> -> 1, <l_orderkey = 42020, o_orderdate = DateValue(19950321), o_shippriority = 0, revenue = 105872.64660000001> -> 1, <l_orderkey = 27719, o_orderdate = DateValue(19950214), o_shippriority = 0, revenue = 173895.19069999998> -> 1, <l_orderkey = 47714, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 247822.32030000002> -> 1, <l_orderkey = 10916, o_orderdate = DateValue(19950311), o_shippriority = 0, revenue = 241320.08139999997> -> 1, <l_orderkey = 19393, o_orderdate = DateValue(19950115), o_shippriority = 0, revenue = 38193.799999999996> -> 1, <l_orderkey = 45829, o_orderdate = DateValue(19950313), o_shippriority = 0, revenue = 48328.245> -> 1, <l_orderkey = 11109, o_orderdate = DateValue(19950316), o_shippriority = 0, revenue = 3435.2955> -> 1, <l_orderkey = 44612, o_orderdate = DateValue(19950314), o_shippriority = 0, revenue = 152829.9593> -> 1, <l_orderkey = 45959, o_orderdate = DateValue(19941207), o_shippriority = 0, revenue = 78599.0592> -> 1}

### pandas - 3

In [7]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'BUILDING'
var2 = '1995-03-22'

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_c = customer[customer['c_mktsegment'] == var1]
sub_c.columns.name = 'sub_c'

sub_o = orders[orders['o_orderdate'] < var2]
sub_o.columns.name = 'sub_o'

sub_l = lineitem[lineitem['l_shipdate'] > var2]
sub_l.columns.name = 'sub_l'

r = sub_c.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['l_orderkey', 'o_orderdate', 'o_shippriority'], as_index=False) \
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-3').run(r).export().to()

     l_orderkey o_orderdate  o_shippriority      revenue
0           386  1995-01-25               0  114355.8002
1           450  1995-03-05               0  149832.1432
2           577  1994-12-19               0   27242.3750
3          1637  1995-02-08               0  134513.1773
4          2883  1995-01-23               0   61835.5512
5          2982  1995-03-19               0   78594.3403
6          3588  1995-03-19               0  274878.7920
7          3844  1994-12-29               0    4144.5900
8          4227  1995-02-24               0  120474.4607
9          4707  1995-02-27               0   70091.3738
10         5031  1994-12-02               0   20587.3500
11         5188  1995-03-02               0   30300.8184
12         5312  1995-02-24               0   76343.5905
13         5347  1995-02-22               0  149753.7212
14         5636  1995-02-16               0   84345.5730
15         5728  1994-12-11               0   56604.0400
16         5765  1994-12-15               0   97694.8959
17         5985  1995-01-12               0    6894.6920
18         6022  1995-02-13               0  166150.0127
19         6403  1995-02-12               0   27428.8287
20         7527  1994-12-12               0   13068.3072
21         7840  1995-01-09               0  146215.7556
22         9248  1994-12-24               0   70712.3614
23         9696  1995-02-20               0  201502.2188
24        10691  1995-03-14               0   84419.8020
25        10916  1995-03-11               0  241320.0814
26        11073  1994-12-02               0    7289.6190
27        11109  1995-03-16               0    3435.2955
28        12961  1994-12-13               0   78376.2050
29        13924  1994-12-20               0    3587.1620
30        15106  1995-01-28               0   80497.2438
31        15111  1994-12-18               0   47951.0759
32        15138  1995-02-21               0   33617.0880
33        15462  1995-02-27               0  106314.9430
34        16322  1994-12-20               0   79211.1600
35        17058  1995-01-02               0   50390.4629
36        19365  1995-01-17               0  144291.3776
37        19393  1995-01-15               0   38193.8000
38        19780  1995-02-05               0   87235.3936
39        20453  1995-03-11               0  169158.0061
40        20641  1995-02-20               0  189169.8966
41        20805  1995-01-11               0   60545.2680
42        20897  1995-03-16               0  122865.4549
43        20901  1995-03-21               0   76911.5952
44        21061  1994-12-22               0   46024.6182
45        21475  1995-02-21               0   93151.6678
46        21760  1995-01-31               0   61308.4875
47        21956  1995-02-02               0  254541.1285
48        22276  1995-01-29               0  266351.5562
49        22433  1995-03-04               0  149730.9760
50        22753  1995-03-18               0   77052.1344
51        24640  1995-01-30               0  123648.5560
52        25027  1994-12-17               0   54115.5747
53        25188  1995-01-04               0  144523.4766
54        25603  1995-03-06               0  142844.3432
55        25669  1995-01-17               0  161663.4805
56        25858  1995-01-31               0   97481.0997
57        26304  1995-03-20               0  304291.7736
58        26432  1994-12-31               0   35020.3198
59        26723  1995-03-04               0  102317.1376
60        26848  1995-03-10               0  122662.6948
61        27361  1995-01-23               0   30722.7360
62        27554  1995-03-11               0  119576.7959
63        27719  1995-02-14               0  173895.1907
64        28195  1994-12-21               0    4723.1628
65        28642  1995-01-19               0   87419.6232
66        28741  1995-03-01               0  134921.0282
67        28993  1995-03-10               0   41619.3272
68        29830  1995-01-13               0   38191.7700
69        29953  1995-02-08               0  133379.8908
70        29958  1995-01-07               0   74209.7300
71        30182  1995-01-09               0   22516.0064
72        30497  1995-02-07               0  208566.6969
73        30725  1994-12-29               0  165941.4680
74        30981  1995-02-16               0  125248.7562
75        31747  1995-02-03               0  158233.2990
76        32128  1995-01-22               0   96799.6636
77        32484  1995-02-05               0   55427.3558
78        32901  1995-01-11               0   79789.8468
79        32965  1995-02-25               0  172302.4680
80        33764  1995-02-11               0  160334.3610
81        33794  1995-02-23               0  116897.0058
82        34727  1995-03-14               0   61784.1420
83        35264  1995-03-14               0   17482.4496
84        35266  1995-01-11               0  153107.1924
85        35399  1995-01-22               0   39727.4948
86        35845  1995-01-07               0   25511.5375
87        37888  1994-12-23               0   24056.2168
88        38784  1995-02-04               0   28136.3150
89        38882  1994-12-15               0   16591.1616
90        38947  1994-11-30               0   31071.7000
91        40001  1995-02-25               0  109384.0866
92        40612  1995-03-01               0  177040.8647
93        40962  1995-02-21               0  163686.0684
94        41895  1995-01-11               0   33392.3100
95        42020  1995-03-21               0  105872.6466
96        42081  1995-01-11               0  155730.3201
97        43491  1995-03-09               0  140776.6823
98        44102  1995-01-14               0  111756.6149
99        44612  1995-03-14               0  152829.9593
100       45349  1995-02-12               0   94730.5176
101       45829  1995-03-13               0   48328.2450
102       45959  1994-12-07               0   78599.0592
103       45991  1995-02-15               0   90739.8036
104       46341  1994-12-18               0   72519.5571
105       46402  1995-01-09               0   33169.9875
106       46528  1994-12-07               0   34637.4390
107       46530  1995-03-18               0  138383.4176
108       46562  1995-02-13               0   56968.6599
109       46980  1995-01-18               0   66360.1984
110       47076  1995-01-08               0   17918.1024
111       47204  1995-03-13               0  204478.5213
112       47714  1995-03-11               0  247822.3203
113       47781  1995-01-29               0   79949.3256
114       47876  1994-12-26               0   54892.5000
115       49537  1995-03-07               0   31834.8000
116       50693  1995-01-17               0   17651.3800
117       50945  1995-01-08               0   21476.8372
118       51777  1995-02-20               0  146508.1200
119       52199  1995-01-27               0   65976.1078
120       52482  1995-02-01               0   42049.6872
121       52640  1995-01-02               0   81063.9358
122       53634  1995-02-22               0   19348.1152
123       53637  1995-03-18               0  174652.0955
124       54787  1995-02-25               0   73044.1068
125       55906  1994-11-27               0   46001.8880
126       56295  1995-02-24               0  115110.7584
127       56711  1995-02-07               0   38817.5474
128       57378  1994-12-29               0   61575.5880
129       57987  1994-12-16               0   53735.4972
130       58880  1995-01-08               0   39161.1832
131       58981  1995-02-01               0   55946.6040
132       59139  1995-01-30               0   67005.4768
133       59686  1995-03-09               0   13575.1600
134       59843  1995-02-14               0  142785.6339
135       59874  1995-01-06               0   96794.9688

# TPCH - 4 ✅

### SQL - 4

```
select
	o_orderpriority,
	count(*) as order_count
from
	orders
where
	o_orderdate >= date ':1'
	and o_orderdate < date ':1' + interval '3' month
	and exists (
		select
			*
		from
			lineitem
		where
			l_orderkey = o_orderkey
			and l_commitdate < l_receiptdate
	)
group by
	o_orderpriority
```

### pysdql - 4

In [8]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # use numpy.select() must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-05-01'
var2 = '1996-08-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = sub_o.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')
r['exists'] = np.select(
    [
        (r['l_commitdate'] < r['l_receiptdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(['o_orderpriority', 'o_orderkey'], as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] > 0]

r = r.groupby(['o_orderpriority'], as_index=False).agg(order_count=('o_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-4').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19960501) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19960801)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let Rm0 = sum (<so_k, so_v> in sub_o) if ((part_lineitem(<l_orderkey=so_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_orderkey=so_k.o_orderkey>)) { concat(so_k, p_k) -> so_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((r0_k.l_commitdate < r0_k.l_receiptdate)) then { concat(r0_k, < exists=1 >) -> 1 } else { concat(r0_k, < exists=0 >) -> 1 }
let tmpa = sum (<r_k, r_v> in rmp) { < o_orderpriority=r_k.o_orderpriority, o_orderkey=r_k.o_orderkey > -> < exists=promote[nullable[real]](r_k.exists * r_v) > }
let agg_rmp = sum (<ta_k, ta_v> in tmpa) { < o_orderpriority=ta_k.o_orderpriority, o_orderkey=ta_k.o_orderkey, exists=promote[real](ta_v.exists) > -> 1 }
let amp = sum (<ar_k, ar_v> in agg_rmp) if ((0 < ar_k.exists)) then { ar_k -> 1 } else {  }
let tmpc = sum (<a_k, a_v> in amp) { < o_orderpriority=a_k.o_orderpriority > -> < order_count=a_v > }
let agg_amp = sum (<tc_k, tc_v> in tmpc) { < o_orderpriority=tc_k.o_orderpriority, order_count=tc_v.order_count > -> 1 }
agg_amp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<o_orderpriority = 1-URGENT, order_count = 100> -> 1, <o_orderpriority = 4-NOT SPECIFIED, order_count = 104> -> 1, <o_orderpriority = 3-MEDIUM, order_count = 99> -> 1, <o_orderpriority = 5-LOW, order_count = 109> -> 1, <o_orderpriority = 2-HIGH, order_count = 94> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:23:20
========================================================
pysdql execution time: 17.226274251937866
export sdql script "tpch-4.sdql" to "T:/UG4-Proj/output/tpch-4.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-4.sdql

{<o_orderpriority = 1-URGENT, order_count = 100> -> 1, <o_orderpriority = 4-NOT SPECIFIED, order_count = 104> -> 1, <o_orderpriority = 3-MEDIUM, order_count = 99> -> 1, <o_orderpriority = 5-LOW, order_count = 109> -> 1, <o_orderpriority = 2-HIGH, order_count = 94> -> 1}

### pandas - 4

In [9]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # use numpy.select() must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-05-01'
var2 = '1996-08-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = sub_o.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')
r['exists'] = np.select(
    [
        (r['l_commitdate'] < r['l_receiptdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(['o_orderpriority', 'o_orderkey'], as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] > 0]

r = r.groupby(['o_orderpriority'], as_index=False).agg(order_count=('o_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-4').run(r).export().to()

   o_orderpriority  order_count
0         1-URGENT          100
1           2-HIGH           94
2         3-MEDIUM           99
3  4-NOT SPECIFIED          104
4            5-LOW          109

# TPCH - 5 ✅

### SQL - 5

```
select
	n_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue
from
	customer,
	orders,
	lineitem,
	supplier,
	nation,
	region
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and l_suppkey = s_suppkey
	and c_nationkey = s_nationkey
	and s_nationkey = n_nationkey
	and n_regionkey = r_regionkey
	and r_name = ':1'
	and o_orderdate >= date ':2'
	and o_orderdate < date ':2' + interval '1' year
group by
	n_name
```

### pysdql - 5

In [10]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var1]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= var2) & (orders['o_orderdate'] < var3)]
sub_o.columns.name = 'sub_o'

r = sub_r.merge(right=nation, left_on='r_regionkey', right_on='n_regionkey')
r = r.merge(right=customer, left_on='n_nationkey', right_on='c_nationkey')
r = r.merge(right=sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(right=lineitem, left_on='o_orderkey', right_on='l_orderkey')
r = r.merge(right=supplier,
            left_on=['c_nationkey', 'n_nationkey', 'l_suppkey'],
            right_on=['s_nationkey', 's_nationkey', 's_suppkey'])

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['n_name'], as_index=False).agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-5').run(r).export().to()

let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19950101) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19960101)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "MIDDLE EAST")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let part_nation = sum (<nat_k, nat_v> in nation) { < n_regionkey=nat_k.n_regionkey > -> { nat_k -> nat_v } }
let Rm0 = sum (<sr_k, sr_v> in sub_r) if ((part_nation(<n_regionkey=sr_k.r_regionkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_regionkey=sr_k.r_regionkey>)) { concat(sr_k, p_k) -> sr_v * p_v } else {  }
let part_customer = sum (<cus_k, cus_v> in customer) { < c_nationkey=cus_k.c_nationkey > -> { cus_k -> cus_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_customer(<c_nationkey=r0_k.n_nationkey>) != {  })) then sum(<p_k, p_v> in part_customer(<c_nationkey=r0_k.n_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_sub_o = sum (<so_k, so_v> in sub_o) { < o_custkey=so_k.o_custkey > -> { so_k -> so_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_sub_o(<o_custkey=r1_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_sub_o(<o_custkey=r1_k.c_custkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_lineitem(<l_orderkey=r2_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_orderkey=r2_k.o_orderkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey, s_suppkey=sup_k.s_suppkey > -> { sup_k -> sup_v } }
let Rm4 = sum (<r3_k, r3_v> in Rm3) if ((part_supplier(< s_nationkey=r3_k.n_nationkey, s_suppkey=r3_k.l_suppkey >) != {  })) then sum(<p_k, p_v> in part_supplier(< s_nationkey=r3_k.n_nationkey, s_suppkey=r3_k.l_suppkey >)) { concat(r3_k, p_k) -> r3_v * p_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < value=(r4_k.l_extendedprice * (1 - r4_k.l_discount)) >) -> 1 }
let tmpb = sum (<t_k, t_v> in tmp) { < n_name=t_k.n_name > -> < revenue=promote[nullable[real]](t_k.value * t_v) > }
let agg_tmp = sum (<tb_k, tb_v> in tmpb) { < n_name=tb_k.n_name, revenue=promote[real](tb_v.revenue) > -> 1 }
agg_tmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<n_name = IRAN, revenue = 192144.6415> -> 1, <n_name = IRAQ, revenue = 114333.429> -> 1, <n_name = JORDAN, revenue = 215845.98359999998> -> 1, <n_name = EGYPT, revenue = 881419.7011> -> 1, <n_name = SAUDI ARABIA, revenue = 104690.7885> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:23:37
========================================================
pysdql execution time: 17.270042419433594
export sdql script "tpch-5.sdql" to "T:/UG4-Proj/output/tpch-5.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-5.sdql

{<n_name = IRAN, revenue = 192144.6415> -> 1, <n_name = IRAQ, revenue = 114333.429> -> 1, <n_name = JORDAN, revenue = 215845.98359999998> -> 1, <n_name = EGYPT, revenue = 881419.7011> -> 1, <n_name = SAUDI ARABIA, revenue = 104690.7885> -> 1}

### pandas - 5

In [11]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'MIDDLE EAST'
var2 = '1995-01-01'
var3 = '1996-01-01'  # var2 + 1 year

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

sub_r = region[region['r_name'] == var1]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= var2) & (orders['o_orderdate'] < var3)]
sub_o.columns.name = 'sub_o'

r = sub_r.merge(right=nation, left_on='r_regionkey', right_on='n_regionkey')
r = r.merge(right=customer, left_on='n_nationkey', right_on='c_nationkey')
r = r.merge(right=sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(right=lineitem, left_on='o_orderkey', right_on='l_orderkey')
r = r.merge(right=supplier,
            left_on=['c_nationkey', 'n_nationkey', 'l_suppkey'],
            right_on=['s_nationkey', 's_nationkey', 's_suppkey'])

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['n_name'], as_index=False).agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-5').run(r).export().to()

         n_name      revenue
0         EGYPT  881419.7011
1          IRAN  192144.6415
2          IRAQ  114333.4290
3        JORDAN  215845.9836
4  SAUDI ARABIA  104690.7885

# TPCH - 6 ✅

### SQL - 6

```
select
    sum(l_extendedprice * l_discount) as revenue
from
    lineitem
where
    l_shipdate >= date ':1'
    and l_shipdate < date ':1' + interval '1' year
    and l_discount between :2 - 0.01 and :2 + 0.01
    and l_quantity < :3
```

### pysdql - 6

In [12]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)
             & (lineitem['l_discount'] > var3) & (lineitem['l_discount'] < var4)
             & (lineitem['l_quantity'] < var5)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-6').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((((((date(19970101) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19980101))) && (0.05 < lin_k.l_discount)) && (lin_k.l_discount < 0.07)) && (lin_k.l_quantity < 24))) then { lin_k -> 1 } else {  }
let tmp = sum (<l_k, l_v> in lmp) { concat(l_k, < value=(l_k.l_extendedprice * (1 - l_k.l_discount)) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) < revenue=t_k. value * t_v >
let tmpb = { < revenue=tmpa.revenue > -> 1 }
tmpb

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<revenue = 6127188.2853999995> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:23:54
========================================================
pysdql execution time: 16.35065197944641
export sdql script "tpch-6.sdql" to "T:/UG4-Proj/output/tpch-6.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-6.sdql

{<revenue = 6127188.2853999995> -> 1}

### pandas - 6

In [13]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1997-01-01'
var2 = '1998-01-01'  # var1 + 1 year
discount = 0.06
var3 = round(discount - 0.01, 2)
var4 = round(discount + 0.01, 2)
var5 = 24

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

r = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)
             & (lineitem['l_discount'] > var3) & (lineitem['l_discount'] < var4)
             & (lineitem['l_quantity'] < var5)]

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-6').run(r).export().to()

C:\Users\Y\AppData\Local\Temp\ipykernel_308\2851537430.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

                value
revenue  6.127188e+06

# TPCH - 7 ✅

### SQL - 7

```
select
	supp_nation,
	cust_nation,
	l_year,
	sum(volume) as revenue
from
	(
		select
			n1.n_name as supp_nation,
			n2.n_name as cust_nation,
			extract(year from l_shipdate) as l_year,
			l_extendedprice * (1 - l_discount) as volume
		from
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2
		where
			s_suppkey = l_suppkey
			and o_orderkey = l_orderkey
			and c_custkey = o_custkey
			and s_nationkey = n1.n_nationkey
			and c_nationkey = n2.n_nationkey
			and (
				(n1.n_name = ':1' and n2.n_name = ':2')
				or (n1.n_name = ':2' and n2.n_name = ':1')
			)
			and l_shipdate between date '1995-01-01' and date '1996-12-31'
	) as shipping
group by
	supp_nation,
	cust_nation,
	l_year
```

### pysdql - 7

In [14]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_n = n1.merge(n2, how='cross')
r = sub_n[(sub_n['n1_name'] == var1) & (sub_n['n2_name'] == var2)
          | ((sub_n['n1_name'] == var2) & (sub_n['n2_name'] == var1))]

r = r.merge(customer, left_on='n2_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='n1_nationkey', right_on='s_nationkey')
r = r.merge(orders, left_on='c_custkey', right_on='o_custkey')

sub_l = lineitem[(lineitem['l_shipdate'] >= '1995-01-01') & (lineitem['l_shipdate'] <= '1996-12-31')]
r = r.merge(sub_l, left_on=['o_orderkey', 's_suppkey'], right_on=['l_orderkey', 'l_suppkey'])

r['supp_nation'] = r['n1_name']
r['cust_nation'] = r['n2_name']
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['l_year'] = pd.DatetimeIndex(r['l_shipdate']).year

r = r[['supp_nation', 'cust_nation', 'l_year', 'volume']]

r.columns.name = 'shiping'

r = r.groupby(['supp_nation', 'cust_nation', 'l_year'], as_index=False).agg(revenue=('volume', 'sum'))

print(r)

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-7').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950101) <= lin_k.l_shipdate) && (lin_k.l_shipdate <= date(19961231)))) then { lin_k -> 1 } else {  }
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let nation = load[{<n2_nationkey: int, n2_name: string, n2_regionkey: int, n2_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let n2 = nation
let nation = load[{<n1_nationkey: int, n1_name: string, n1_regionkey: int, n1_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let n1 = nation
let Rm0 = sum (<n1_k, n1_v> in n1) sum (<n2_k, n2_v> in n2) { concat(n1_k, n2_k) -> n1_v * n2_v }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((((r0_k.n1_name == "PERU") && (r0_k.n2_name == "MOROCCO")) || ((r0_k.n1_name == "MOROCCO") && (r0_k.n2_name == "PERU")))) then { r0_k -> 1 } else {  }
let part_customer = sum (<cus_k, cus_v> in customer) { < c_nationkey=cus_k.c_nationkey > -> { cus_k -> cus_v } }
let Rm1 = sum (<r_k, r_v> in rmp) if ((part_customer(<c_nationkey=r_k.n2_nationkey>) != {  })) then sum(<p_k, p_v> in part_customer(<c_nationkey=r_k.n2_nationkey>)) { concat(r_k, p_k) -> r_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey > -> { sup_k -> sup_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_supplier(<s_nationkey=r1_k.n1_nationkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_nationkey=r1_k.n1_nationkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_orders = sum (<ord_k, ord_v> in orders) { < o_custkey=ord_k.o_custkey > -> { ord_k -> ord_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_orders(<o_custkey=r2_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_orders(<o_custkey=r2_k.c_custkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let part_lmp = sum (<l_k, l_v> in lmp) { < l_orderkey=l_k.l_orderkey, l_suppkey=l_k.l_suppkey > -> { l_k -> l_v } }
let Rm4 = sum (<r3_k, r3_v> in Rm3) if ((part_lmp(< l_orderkey=r3_k.o_orderkey, l_suppkey=r3_k.s_suppkey >) != {  })) then sum(<p_k, p_v> in part_lmp(< l_orderkey=r3_k.o_orderkey, l_suppkey=r3_k.s_suppkey >)) { concat(r3_k, p_k) -> r3_v * p_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < supp_nation=r4_k.n1_name >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < cust_nation=t_k.n2_name >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { concat(ta_k, < volume=(ta_k.l_extendedprice * (1 - ta_k.l_discount)) >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { concat(tb_k, < l_year=ext(`Year`, tb_k.l_shipdate) >) -> 1 }
let tmpd = sum (<tc_k, tc_v> in tmpc) { < supp_nation=tc_k.supp_nation, cust_nation=tc_k.cust_nation, l_year=tc_k.l_year, volume=tc_k.volume > -> 1 }
let shiping = tmpd
let tmpd = sum (<s_k, s_v> in shiping) { < supp_nation=s_k.supp_nation, cust_nation=s_k.cust_nation, l_year=s_k.l_year > -> < revenue=promote[nullable[real]](s_k.volume * s_v) > }
let agg_shiping = sum (<td_k, td_v> in tmpd) { < supp_nation=td_k.supp_nation, cust_nation=td_k.cust_nation, l_year=td_k.l_year, revenue=promote[real](td_v.revenue) > -> 1 }
agg_shiping

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<supp_nation = PERU, cust_nation = MOROCCO, l_year = 1995, revenue = 727347.5391999999> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1996, revenue = 203263.0817> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1996, revenue = 238229.86659999998> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1995, revenue = 262224.3696> -> 1}
[success] Total time: 3 s, completed 2022年7月30日 上午6:24:12
========================================================
pysdql execution time: 17.431261777877808
export sdql script "tpch-7.sdql" to "T:/UG4-Proj/output/tpch-7.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-7.sdql

{<supp_nation = PERU, cust_nation = MOROCCO, l_year = 1995, revenue = 727347.5391999999> -> 1, <supp_nation = PERU, cust_nation = MOROCCO, l_year = 1996, revenue = 203263.0817> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1996, revenue = 238229.86659999998> -> 1, <supp_nation = MOROCCO, cust_nation = PERU, l_year = 1995, revenue = 262224.3696> -> 1}

### pandas - 7

In [15]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 'MOROCCO'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_n = n1.merge(n2, how='cross')
r = sub_n[(sub_n['n1_name'] == var1) & (sub_n['n2_name'] == var2)
          | ((sub_n['n1_name'] == var2) & (sub_n['n2_name'] == var1))]

r = r.merge(customer, left_on='n2_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='n1_nationkey', right_on='s_nationkey')
r = r.merge(orders, left_on='c_custkey', right_on='o_custkey')

sub_l = lineitem[(lineitem['l_shipdate'] >= '1995-01-01') & (lineitem['l_shipdate'] <= '1996-12-31')]
r = r.merge(sub_l, left_on=['o_orderkey', 's_suppkey'], right_on=['l_orderkey', 'l_suppkey'])

r['supp_nation'] = r['n1_name']
r['cust_nation'] = r['n2_name']
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['l_year'] = pd.DatetimeIndex(r['l_shipdate']).year

r = r[['supp_nation', 'cust_nation', 'l_year', 'volume']]

r.columns.name = 'shiping'

r = r.groupby(['supp_nation', 'cust_nation', 'l_year'], as_index=False).agg(revenue=('volume', 'sum'))

print(r)

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-7').run(r).export().to()

  supp_nation cust_nation  l_year      revenue
0     MOROCCO        PERU    1995  262224.3696
1     MOROCCO        PERU    1996  238229.8666
2        PERU     MOROCCO    1995  727347.5392
3        PERU     MOROCCO    1996  203263.0817

# TPCH - 8 ✅

### SQL - 8

```
select
	o_year,
	sum(case
		when nation = ':1' then volume
		else 0
	end) / sum(volume) as mkt_share
from
	(
		select
			extract(year from o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) as volume,
			n2.n_name as nation
		from
			part,
			supplier,
			lineitem,
			orders,
			customer,
			nation n1,
			nation n2,
			region
		where
			p_partkey = l_partkey
			and s_suppkey = l_suppkey
			and l_orderkey = o_orderkey
			and o_custkey = c_custkey
			and c_nationkey = n1.n_nationkey
			and n1.n_regionkey = r_regionkey
			and r_name = ':2'
			and s_nationkey = n2.n_nationkey
			and o_orderdate between date '1995-01-01' and date '1996-12-31'
			and p_type = ':3'
	) as all_nations
group by
	o_year
```

### pysdql - 8

In [16]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)


var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_r = region[(region['r_name'] == var2)]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')]
sub_o.columns.name = 'sub_o'

r1 = n1.merge(sub_r, left_on='n1_regionkey', right_on='r_regionkey')
r1.columns.name = 'r1'

r2 = part.merge(lineitem, left_on='p_partkey', right_on='l_partkey')
r2 = r2.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
r2 = r2.merge(customer, left_on='o_custkey', right_on='c_custkey')

r2.columns.name = 'r2'

r = r1.merge(r2, left_on='n1_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(n2, left_on='s_nationkey', right_on='n2_nationkey')

r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['nation'] = r['n2_name']

all_nations = r[['o_year', 'volume', 'nation']]

all_nations.columns.name = 'all_nations'

all_nations['value1'] = np.select(
    [
        all_nations['nation'] == var1
    ],
    [
        all_nations['volume']
    ], default=0)

s = all_nations.groupby(['o_year'], as_index=False).agg(value2=('value1', 'sum'),
                                                        value3=('volume', 'sum'))
s['mkt_share'] = s['value2'] / s['value3']

s = s[['o_year', 'mkt_share']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-8').run(s).export().to()

let nation = load[{<n2_nationkey: int, n2_name: string, n2_regionkey: int, n2_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let n2 = nation
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19950101) <= ord_k.o_orderdate) && (ord_k.o_orderdate <= date(19961231)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_partkey=lin_k.l_partkey > -> { lin_k -> lin_v } }
let Rm0 = sum (<par_k, par_v> in part) if ((part_lineitem(<l_partkey=par_k.p_partkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_partkey=par_k.p_partkey>)) { concat(par_k, p_k) -> par_v * p_v } else {  }
let part_orders = sum (<ord_k, ord_v> in orders) { < o_orderkey=ord_k.o_orderkey > -> { ord_k -> ord_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_orders(<o_orderkey=r0_k.l_orderkey>) != {  })) then sum(<p_k, p_v> in part_orders(<o_orderkey=r0_k.l_orderkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_customer = sum (<cus_k, cus_v> in customer) { < c_custkey=cus_k.c_custkey > -> { cus_k -> cus_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_customer(<c_custkey=r1_k.o_custkey>) != {  })) then sum(<p_k, p_v> in part_customer(<c_custkey=r1_k.o_custkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let r2 = Rm2
let region = load[{<r_regionkey: int, r_name: string, r_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/region.tbl")
let rmp = sum (<reg_k, reg_v> in region) if ((reg_k.r_name == "MIDDLE EAST")) then { reg_k -> 1 } else {  }
let sub_r = rmp
let nation = load[{<n1_nationkey: int, n1_name: string, n1_regionkey: int, n1_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let n1 = nation
let part_sub_r = sum (<sr_k, sr_v> in sub_r) { < r_regionkey=sr_k.r_regionkey > -> { sr_k -> sr_v } }
let Rm0 = sum (<n1_k, n1_v> in n1) if ((part_sub_r(<r_regionkey=n1_k.n1_regionkey>) != {  })) then sum(<p_k, p_v> in part_sub_r(<r_regionkey=n1_k.n1_regionkey>)) { concat(n1_k, p_k) -> n1_v * p_v } else {  }
let r1 = Rm0
let part_r2 = sum (<r2_k, r2_v> in r2) { < c_nationkey=r2_k.c_nationkey > -> { r2_k -> r2_v } }
let Rm1 = sum (<r1_k, r1_v> in r1) if ((part_r2(<c_nationkey=r1_k.n1_nationkey>) != {  })) then sum(<p_k, p_v> in part_r2(<c_nationkey=r1_k.n1_nationkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_suppkey=sup_k.s_suppkey > -> { sup_k -> sup_v } }
let Rm3 = sum (<r1_k, r1_v> in Rm1) if ((part_supplier(<s_suppkey=r1_k.l_suppkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_suppkey=r1_k.l_suppkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_n2 = sum (<n2_k, n2_v> in n2) { < n2_nationkey=n2_k.n2_nationkey > -> { n2_k -> n2_v } }
let Rm4 = sum (<r3_k, r3_v> in Rm3) if ((part_n2(<n2_nationkey=r3_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_n2(<n2_nationkey=r3_k.s_nationkey>)) { concat(r3_k, p_k) -> r3_v * p_v } else {  }
let tmp = sum (<r4_k, r4_v> in Rm4) { concat(r4_k, < o_year=ext(`Year`, r4_k.o_orderdate) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < volume=(t_k.l_extendedprice * (1 - t_k.l_discount)) >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { concat(ta_k, < nation=ta_k.n2_name >) -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < o_year=tb_k.o_year, volume=tb_k.volume, nation=tb_k.nation > -> 1 }
let all_nations = tmpc
let amp = sum (<an_k, an_v> in all_nations) if ((an_k.nation == "MOROCCO")) then { concat(an_k, < value1=an_k.volume >) -> 1 } else { concat(an_k, < value1=0 >) -> 1 }
let tmpd = sum (<a_k, a_v> in amp) { < o_year=a_k.o_year > -> < value2=promote[nullable[real]](a_k.value1 * a_v), value3=promote[nullable[real]](a_k.volume * a_v) > }
let agg_amp = sum (<td_k, td_v> in tmpd) { < o_year=td_k.o_year, value2=promote[real](td_v.value2), value3=promote[real](td_v.value3) > -> 1 }
let amp = sum (<aa_k, aa_v> in agg_amp) { concat(aa_k, < mkt_share=(aa_k.value2 / aa_k.value3) >) -> 1 }
let tmp = sum (<a_k, a_v> in amp) { < o_year=a_k.o_year, mkt_share=a_k.mkt_share > -> 1 }
tmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<o_year = 1998, mkt_share = 0.01342609062419725> -> 1, <o_year = 1995, mkt_share = 0.02006848137605197> -> 1, <o_year = 1997, mkt_share = 0.015260619141512865> -> 1, <o_year = 1993, mkt_share = 0.021965710793627417> -> 1, <o_year = 1994, mkt_share = 0.022573643452816917> -> 1, <o_year = 1996, mkt_share = 0.02601636519080658> -> 1, <o_year = 1992, mkt_share = 0.011964332651761849> -> 1}
[success] Total time: 462 s (07:42), completed 2022年7月30日 上午6:32:09
========================================================
pysdql execution time: 476.84248423576355
export sdql script "tpch-8.sdql" to "T:/UG4-Proj/output/tpch-8.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-8.sdql

{<o_year = 1998, mkt_share = 0.01342609062419725> -> 1, <o_year = 1995, mkt_share = 0.02006848137605197> -> 1, <o_year = 1997, mkt_share = 0.015260619141512865> -> 1, <o_year = 1993, mkt_share = 0.021965710793627417> -> 1, <o_year = 1994, mkt_share = 0.022573643452816917> -> 1, <o_year = 1996, mkt_share = 0.02601636519080658> -> 1, <o_year = 1992, mkt_share = 0.011964332651761849> -> 1}

### pandas - 8

In [17]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)


var1 = 'MOROCCO'
var2 = 'MIDDLE EAST'
var3 = 'SMALL ANODIZED COPPER'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
region = pd.read_table(rf'{data_path}/region.tbl', sep='|', index_col=False, header=None, names=pysdql.REGION_COLS)

n1_cols = ['n1_nationkey', 'n1_name', 'n1_regionkey', 'n1_comment']
n2_cols = ['n2_nationkey', 'n2_name', 'n2_regionkey', 'n2_comment']
n1 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n1_cols)
n2 = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=n2_cols)

n1.columns.name = 'n1'
n2.columns.name = 'n2'

sub_r = region[(region['r_name'] == var2)]
sub_r.columns.name = 'sub_r'

sub_o = orders[(orders['o_orderdate'] >= '1995-01-01') & (orders['o_orderdate'] <= '1996-12-31')]
sub_o.columns.name = 'sub_o'

r1 = n1.merge(sub_r, left_on='n1_regionkey', right_on='r_regionkey')
r1.columns.name = 'r1'

r2 = part.merge(lineitem, left_on='p_partkey', right_on='l_partkey')
r2 = r2.merge(orders, left_on='l_orderkey', right_on='o_orderkey')
r2 = r2.merge(customer, left_on='o_custkey', right_on='c_custkey')

r2.columns.name = 'r2'

r = r1.merge(r2, left_on='n1_nationkey', right_on='c_nationkey')
r = r.merge(supplier, left_on='l_suppkey', right_on='s_suppkey')
r = r.merge(n2, left_on='s_nationkey', right_on='n2_nationkey')

r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['volume'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['nation'] = r['n2_name']

all_nations = r[['o_year', 'volume', 'nation']]

all_nations.columns.name = 'all_nations'

all_nations['value1'] = np.select(
    [
        all_nations['nation'] == var1
    ],
    [
        all_nations['volume']
    ], default=0)

s = all_nations.groupby(['o_year'], as_index=False).agg(value2=('value1', 'sum'),
                                                        value3=('volume', 'sum'))
s['mkt_share'] = s['value2'] / s['value3']

s = s[['o_year', 'mkt_share']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-8').run(s).export().to()

   o_year  mkt_share
0    1992   0.011960
1    1993   0.021941
2    1994   0.022574
3    1995   0.020068
4    1996   0.026016
5    1997   0.015252
6    1998   0.013426

C:\Users\Y\AppData\Local\Temp\ipykernel_308\2769840673.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_nations['value1'] = np.select(

# TPCH - 9 ✅

### SQL - 9

```
select
	nation,
	o_year,
	sum(amount) as sum_profit
from
	(
		select
			n_name as nation,
			extract(year from o_orderdate) as o_year,
			l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity as amount
		from
			part,
			supplier,
			lineitem,
			partsupp,
			orders,
			nation
		where
			s_suppkey = l_suppkey
			and ps_suppkey = l_suppkey
			and ps_partkey = l_partkey
			and p_partkey = l_partkey
			and o_orderkey = l_orderkey
			and s_nationkey = n_nationkey
			and p_name like '%:1%'
	) as profit
group by
	nation,
	o_year
```

### pysdql - 9

In [18]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'cornflower'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

# part_p
sub_p = part[part['p_name'].str.contains(var1)]
sub_p.columns.name = 'sub_p'

# optimized hash join (part, partsupp)
r1 = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')
r1.columns.name = 'r1'
# optimized hash join (supplier, nation)
r2 = supplier.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
# optimized hash join ((supplier, nation), (part, partsupp))
r2 = r2.merge(r1, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'
# optimized hash join ((supplier, nation, part, partsupp), lineitem)
r = r2.merge(lineitem, how='inner', left_on=['s_suppkey', 'ps_suppkey'], right_on=['l_suppkey', 'l_suppkey'])
# optimized hash join ((supplier, nation, part, partsupp, lineitem), orders)
r = r.merge(orders, left_on='l_orderkey', right_on='o_orderkey')

r['nation'] = r['n_name']
r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['amount'] = r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']

profit = r[['nation', 'o_year', 'amount']]
profit.columns.name = 'profit'

s = profit.groupby(['nation', 'o_year'], as_index=False).agg(sum_profit=('amount', 'sum'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-9').run(s).export().to()

let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/partsupp.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (ext(`StrContainsN`, par_k.p_name, "cornflower")) then { par_k -> 1 } else {  }
let sub_p = pmp
let part_partsupp = sum (<psup_k, psup_v> in partsupp) { < ps_partkey=psup_k.ps_partkey > -> { psup_k -> psup_v } }
let Rm0 = sum (<sp_k, sp_v> in sub_p) if ((part_partsupp(<ps_partkey=sp_k.p_partkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_partkey=sp_k.p_partkey>)) { concat(sp_k, p_k) -> sp_v * p_v } else {  }
let r1 = Rm0
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let part_nation = sum (<nat_k, nat_v> in nation) { < n_nationkey=nat_k.n_nationkey > -> { nat_k -> nat_v } }
let Rm0 = sum (<sup_k, sup_v> in supplier) if ((part_nation(<n_nationkey=sup_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_nationkey=sup_k.s_nationkey>)) { concat(sup_k, p_k) -> sup_v * p_v } else {  }
let part_r1 = sum (<r1_k, r1_v> in r1) { < ps_suppkey=r1_k.ps_suppkey > -> { r1_k -> r1_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_r1(<ps_suppkey=r0_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_r1(<ps_suppkey=r0_k.s_suppkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let r2 = Rm1
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_suppkey=lin_k.l_suppkey > -> { lin_k -> lin_v } }
let Rm2 = sum (<r2_k, r2_v> in r2) if ((part_lineitem(< l_suppkey=r2_k.ps_suppkey >) != {  })) then sum(<p_k, p_v> in part_lineitem(< l_suppkey=r2_k.ps_suppkey >)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let part_orders = sum (<ord_k, ord_v> in orders) { < o_orderkey=ord_k.o_orderkey > -> { ord_k -> ord_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_orders(<o_orderkey=r2_k.l_orderkey>) != {  })) then sum(<p_k, p_v> in part_orders(<o_orderkey=r2_k.l_orderkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let rmp = sum (<r3_k, r3_v> in Rm3) { concat(r3_k, < nation=r3_k.n_name >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) { concat(r_k, < o_year=ext(`Year`, r_k.o_orderdate) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { concat(t_k, < amount=((t_k.l_extendedprice * (1 - t_k.l_discount)) - (t_k.ps_supplycost * t_k.l_quantity)) >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { < nation=ta_k.nation, o_year=ta_k.o_year, amount=ta_k.amount > -> 1 }
let profit = tmpb
let tmpc = sum (<p_k, p_v> in profit) { < nation=p_k.nation, o_year=p_k.o_year > -> < sum_profit=promote[nullable[real]](p_k.amount * p_v) > }
let agg_profit = sum (<tc_k, tc_v> in tmpc) { < nation=tc_k.nation, o_year=tc_k.o_year, sum_profit=promote[real](tc_v.sum_profit) > -> 1 }
agg_profit

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<nation = MOROCCO, o_year = 1995, sum_profit = 1.660112201189999E7> -> 1, <nation = INDIA, o_year = 1996, sum_profit = 3.164570901509992E7> -> 1, <nation = SAUDI ARABIA, o_year = 1996, sum_profit = 5244822.785> -> 1, <nation = INDONESIA, o_year = 1995, sum_profit = 4.406934828589999E7> -> 1, <nation = SAUDI ARABIA, o_year = 1995, sum_profit = 4143892.189999999> -> 1, <nation = BRAZIL, o_year = 1995, sum_profit = 1.4152950198100002E7> -> 1, <nation = UNITED KINGDOM, o_year = 1994, sum_profit = 3.6507607425100006E7> -> 1, <nation = KENYA, o_year = 1994, sum_profit = 6.85454458423E7> -> 1, <nation = JORDAN, o_year = 1998, sum_profit = 2900312.0815999997> -> 1, <nation = JAPAN, o_year = 1992, sum_profit = 3.617473238740002E7> -> 1, <nation = SAUDI ARABIA, o_year = 1994, sum_profit = 5972875.679800001> -> 1, <nation = FRANCE, o_year = 1992, sum_profit = 2.141663746359996E7> -> 1, <nation = MOZAMBIQUE, o_year = 1993, sum_profit = 8.46227327787998E7> -> 1, <nation = JAPAN, o_year = 1997, sum_profit = 3.602410712730004E7> -> 1, <nation = CANADA, o_year = 1995, sum_profit = 3.4378854242700025E7> -> 1, <nation = FRANCE, o_year = 1995, sum_profit = 2.0967478267600004E7> -> 1, <nation = UNITED KINGDOM, o_year = 1996, sum_profit = 3.737457564540008E7> -> 1, <nation = FRANCE, o_year = 1993, sum_profit = 2.216464625679997E7> -> 1, <nation = FRANCE, o_year = 1998, sum_profit = 1.05841099264E7> -> 1, <nation = ARGENTINA, o_year = 1996, sum_profit = 1.484995851610002E7> -> 1, <nation = INDIA, o_year = 1992, sum_profit = 3.308762457219996E7> -> 1, <nation = ARGENTINA, o_year = 1994, sum_profit = 1.5910428796200007E7> -> 1, <nation = CHINA, o_year = 1992, sum_profit = 3.451165307699999E7> -> 1, <nation = ETHIOPIA, o_year = 1992, sum_profit = 2.6903890129199997E7> -> 1, <nation = ALGERIA, o_year = 1997, sum_profit = 1.9983503735700026E7> -> 1, <nation = EGYPT, o_year = 1992, sum_profit = 5.907195570259998E7> -> 1, <nation = KENYA, o_year = 1995, sum_profit = 5.9781983815599926E7> -> 1, <nation = FRANCE, o_year = 1994, sum_profit = 2.4211653773600016E7> -> 1, <nation = CHINA, o_year = 1997, sum_profit = 3.8224066053699955E7> -> 1, <nation = JAPAN, o_year = 1996, sum_profit = 4.085755349009998E7> -> 1, <nation = UNITED KINGDOM, o_year = 1997, sum_profit = 3.2133557875799943E7> -> 1, <nation = JAPAN, o_year = 1993, sum_profit = 3.920710439810001E7> -> 1, <nation = ARGENTINA, o_year = 1998, sum_profit = 1.24786991718E7> -> 1, <nation = PERU, o_year = 1992, sum_profit = 2.6936420962999977E7> -> 1, <nation = VIETNAM, o_year = 1993, sum_profit = 4.1036610005800076E7> -> 1, <nation = CHINA, o_year = 1996, sum_profit = 3.752363975599997E7> -> 1, <nation = JORDAN, o_year = 1992, sum_profit = 3940419.3136> -> 1, <nation = ALGERIA, o_year = 1993, sum_profit = 1.8412338175100017E7> -> 1, <nation = CANADA, o_year = 1998, sum_profit = 2.3388188500600003E7> -> 1, <nation = EGYPT, o_year = 1997, sum_profit = 6.2307945166500084E7> -> 1, <nation = ROMANIA, o_year = 1993, sum_profit = 6.4427962176700234E7> -> 1, <nation = JORDAN, o_year = 1993, sum_profit = 4712559.576000002> -> 1, <nation = INDIA, o_year = 1995, sum_profit = 3.0746040880300008E7> -> 1, <nation = CANADA, o_year = 1992, sum_profit = 3.853335106129995E7> -> 1, <nation = UNITED STATES, o_year = 1997, sum_profit = 5.430401015660001E7> -> 1, <nation = ETHIOPIA, o_year = 1996, sum_profit = 2.383254999380001E7> -> 1, <nation = RUSSIA, o_year = 1996, sum_profit = 3.912283661019999E7> -> 1, <nation = BRAZIL, o_year = 1992, sum_profit = 1.4637971129999978E7> -> 1, <nation = IRAQ, o_year = 1994, sum_profit = 1.654899350759999E7> -> 1, <nation = UNITED KINGDOM, o_year = 1992, sum_profit = 3.428362294089994E7> -> 1, <nation = IRAQ, o_year = 1993, sum_profit = 1.6990951081100006E7> -> 1, <nation = INDONESIA, o_year = 1998, sum_profit = 2.25401379486E7> -> 1, <nation = RUSSIA, o_year = 1997, sum_profit = 3.476804534489998E7> -> 1, <nation = ARGENTINA, o_year = 1992, sum_profit = 1.813871217579998E7> -> 1, <nation = BRAZIL, o_year = 1994, sum_profit = 1.2901843943799995E7> -> 1, <nation = JORDAN, o_year = 1997, sum_profit = 4952610.096000002> -> 1, <nation = PERU, o_year = 1994, sum_profit = 3.0586676289900076E7> -> 1, <nation = VIETNAM, o_year = 1995, sum_profit = 4.1179580524000056E7> -> 1, <nation = JORDAN, o_year = 1996, sum_profit = 7088412.045200004> -> 1, <nation = ROMANIA, o_year = 1995, sum_profit = 5.896250594239998E7> -> 1, <nation = INDONESIA, o_year = 1996, sum_profit = 4.282027255430001E7> -> 1, <nation = GERMANY, o_year = 1998, sum_profit = 2.4996135811699986E7> -> 1, <nation = MOZAMBIQUE, o_year = 1992, sum_profit = 8.691092125379997E7> -> 1, <nation = JORDAN, o_year = 1994, sum_profit = 4809132.121199999> -> 1, <nation = IRAN, o_year = 1996, sum_profit = 1.9663051450799976E7> -> 1, <nation = IRAN, o_year = 1993, sum_profit = 1.769122604499998E7> -> 1, <nation = EGYPT, o_year = 1993, sum_profit = 5.752622749970001E7> -> 1, <nation = UNITED KINGDOM, o_year = 1995, sum_profit = 3.5385147471499965E7> -> 1, <nation = BRAZIL, o_year = 1998, sum_profit = 6521151.876699999> -> 1, <nation = SAUDI ARABIA, o_year = 1998, sum_profit = 3341671.2491999995> -> 1, <nation = VIETNAM, o_year = 1992, sum_profit = 3.987499183010002E7> -> 1, <nation = ETHIOPIA, o_year = 1994, sum_profit = 2.746280525549999E7> -> 1, <nation = ROMANIA, o_year = 1997, sum_profit = 5.518709321880011E7> -> 1, <nation = IRAQ, o_year = 1992, sum_profit = 1.5251190784100002E7> -> 1, <nation = ROMANIA, o_year = 1996, sum_profit = 5.718562485969994E7> -> 1, <nation = BRAZIL, o_year = 1993, sum_profit = 1.3881849589800006E7> -> 1, <nation = FRANCE, o_year = 1997, sum_profit = 2.0767848731600028E7> -> 1, <nation = PERU, o_year = 1993, sum_profit = 3.236497979660004E7> -> 1, <nation = MOZAMBIQUE, o_year = 1994, sum_profit = 8.18759094561999E7> -> 1, <nation = INDONESIA, o_year = 1997, sum_profit = 4.3114151870799996E7> -> 1, <nation = INDIA, o_year = 1998, sum_profit = 2.012915632310002E7> -> 1, <nation = CHINA, o_year = 1993, sum_profit = 3.6879272839800015E7> -> 1, <nation = JORDAN, o_year = 1995, sum_profit = 5571430.7820000015> -> 1, <nation = UNITED STATES, o_year = 1994, sum_profit = 6.214700126750014E7> -> 1, <nation = GERMANY, o_year = 1993, sum_profit = 4.774343229830003E7> -> 1, <nation = INDONESIA, o_year = 1994, sum_profit = 4.138610312259998E7> -> 1, <nation = MOZAMBIQUE, o_year = 1997, sum_profit = 7.359650495649981E7> -> 1, <nation = KENYA, o_year = 1998, sum_profit = 4.4803884871799976E7> -> 1, <nation = ALGERIA, o_year = 1998, sum_profit = 1.0500798754899997E7> -> 1, <nation = INDIA, o_year = 1997, sum_profit = 3.1219480158099994E7> -> 1, <nation = FRANCE, o_year = 1996, sum_profit = 2.158050610399999E7> -> 1, <nation = ETHIOPIA, o_year = 1998, sum_profit = 1.7613971031599995E7> -> 1, <nation = MOZAMBIQUE, o_year = 1995, sum_profit = 7.294001817650008E7> -> 1, <nation = ROMANIA, o_year = 1992, sum_profit = 5.8766448485099986E7> -> 1, <nation = ALGERIA, o_year = 1996, sum_profit = 1.4802802092E7> -> 1, <nation = MOZAMBIQUE, o_year = 1998, sum_profit = 4.86071275974001E7> -> 1, <nation = IRAQ, o_year = 1996, sum_profit = 1.64277456431E7> -> 1, <nation = RUSSIA, o_year = 1995, sum_profit = 3.65821781002E7> -> 1, <nation = UNITED STATES, o_year = 1996, sum_profit = 5.419427144179996E7> -> 1, <nation = MOROCCO, o_year = 1993, sum_profit = 1.6928061889299996E7> -> 1, <nation = ALGERIA, o_year = 1992, sum_profit = 1.5630122044900006E7> -> 1, <nation = VIETNAM, o_year = 1994, sum_profit = 4.108942013919998E7> -> 1, <nation = INDONESIA, o_year = 1992, sum_profit = 4.416959593819993E7> -> 1, <nation = IRAN, o_year = 1998, sum_profit = 7943246.558200005> -> 1, <nation = ETHIOPIA, o_year = 1993, sum_profit = 2.783834805350002E7> -> 1, <nation = EGYPT, o_year = 1995, sum_profit = 5.789541472920007E7> -> 1, <nation = KENYA, o_year = 1992, sum_profit = 7.157368879319991E7> -> 1, <nation = CHINA, o_year = 1998, sum_profit = 2.2340625764100015E7> -> 1, <nation = MOROCCO, o_year = 1996, sum_profit = 1.6963148028499994E7> -> 1, <nation = MOROCCO, o_year = 1994, sum_profit = 1.6646332865300016E7> -> 1, <nation = IRAN, o_year = 1995, sum_profit = 1.7972144664200004E7> -> 1, <nation = CHINA, o_year = 1994, sum_profit = 3.733621518719997E7> -> 1, <nation = KENYA, o_year = 1996, sum_profit = 7.246521567670022E7> -> 1, <nation = KENYA, o_year = 1993, sum_profit = 6.97447620526001E7> -> 1, <nation = CANADA, o_year = 1993, sum_profit = 3.888673753499995E7> -> 1, <nation = KENYA, o_year = 1997, sum_profit = 7.007068927059998E7> -> 1, <nation = ROMANIA, o_year = 1998, sum_profit = 3.1330819202299945E7> -> 1, <nation = ARGENTINA, o_year = 1997, sum_profit = 1.5908944199100005E7> -> 1, <nation = EGYPT, o_year = 1998, sum_profit = 3.3454183254100055E7> -> 1, <nation = ALGERIA, o_year = 1994, sum_profit = 1.64010992996E7> -> 1, <nation = GERMANY, o_year = 1996, sum_profit = 4.628693159209996E7> -> 1, <nation = IRAQ, o_year = 1997, sum_profit = 1.7655317306399994E7> -> 1, <nation = IRAN, o_year = 1997, sum_profit = 1.700238168780001E7> -> 1, <nation = MOZAMBIQUE, o_year = 1996, sum_profit = 8.274541899520014E7> -> 1, <nation = MOROCCO, o_year = 1997, sum_profit = 1.5641614608899998E7> -> 1, <nation = INDIA, o_year = 1994, sum_profit = 3.161254289339998E7> -> 1, <nation = RUSSIA, o_year = 1994, sum_profit = 3.9863273145200014E7> -> 1, <nation = UNITED STATES, o_year = 1993, sum_profit = 5.678417125660006E7> -> 1, <nation = UNITED STATES, o_year = 1995, sum_profit = 5.633728171130009E7> -> 1, <nation = GERMANY, o_year = 1994, sum_profit = 4.470092231089998E7> -> 1, <nation = JAPAN, o_year = 1995, sum_profit = 3.947564510350002E7> -> 1, <nation = BRAZIL, o_year = 1996, sum_profit = 1.47208865717E7> -> 1, <nation = INDIA, o_year = 1993, sum_profit = 2.9600511420800008E7> -> 1, <nation = EGYPT, o_year = 1996, sum_profit = 5.241406544710001E7> -> 1, <nation = UNITED KINGDOM, o_year = 1993, sum_profit = 3.645949730590003E7> -> 1, <nation = UNITED STATES, o_year = 1998, sum_profit = 3.1869128121599976E7> -> 1, <nation = VIETNAM, o_year = 1996, sum_profit = 3.884261375449996E7> -> 1, <nation = UNITED KINGDOM, o_year = 1998, sum_profit = 1.9375184903100006E7> -> 1, <nation = MOROCCO, o_year = 1998, sum_profit = 7224338.2782999985> -> 1, <nation = CANADA, o_year = 1997, sum_profit = 3.6861417093E7> -> 1, <nation = ETHIOPIA, o_year = 1995, sum_profit = 2.6558431775299955E7> -> 1, <nation = EGYPT, o_year = 1994, sum_profit = 6.0256432817300096E7> -> 1, <nation = GERMANY, o_year = 1997, sum_profit = 5.069418404099998E7> -> 1, <nation = VIETNAM, o_year = 1997, sum_profit = 4.040249817360002E7> -> 1, <nation = BRAZIL, o_year = 1997, sum_profit = 1.2194864728499983E7> -> 1, <nation = PERU, o_year = 1997, sum_profit = 3.1693826287799988E7> -> 1, <nation = SAUDI ARABIA, o_year = 1992, sum_profit = 3785547.155> -> 1, <nation = SAUDI ARABIA, o_year = 1993, sum_profit = 3974140.937200001> -> 1, <nation = GERMANY, o_year = 1995, sum_profit = 4.528319639090006E7> -> 1, <nation = GERMANY, o_year = 1992, sum_profit = 4.308224308769991E7> -> 1, <nation = ETHIOPIA, o_year = 1997, sum_profit = 2.8707906800600052E7> -> 1, <nation = PERU, o_year = 1995, sum_profit = 3.2329941941300005E7> -> 1, <nation = CANADA, o_year = 1996, sum_profit = 4.000527629279993E7> -> 1, <nation = INDONESIA, o_year = 1993, sum_profit = 4.49954448368999E7> -> 1, <nation = JAPAN, o_year = 1998, sum_profit = 2.0831791276000008E7> -> 1, <nation = RUSSIA, o_year = 1993, sum_profit = 3.6758865018300034E7> -> 1, <nation = ARGENTINA, o_year = 1993, sum_profit = 1.7286769482700013E7> -> 1, <nation = ARGENTINA, o_year = 1995, sum_profit = 1.5049218282899996E7> -> 1, <nation = SAUDI ARABIA, o_year = 1997, sum_profit = 4497891.063999998> -> 1, <nation = PERU, o_year = 1996, sum_profit = 3.0071103747399956E7> -> 1, <nation = IRAN, o_year = 1992, sum_profit = 1.6522473689799994E7> -> 1, <nation = UNITED STATES, o_year = 1992, sum_profit = 5.61998422957E7> -> 1, <nation = IRAQ, o_year = 1998, sum_profit = 8596846.488400003> -> 1, <nation = JAPAN, o_year = 1994, sum_profit = 3.779862685689997E7> -> 1, <nation = ROMANIA, o_year = 1994, sum_profit = 5.9056036595199935E7> -> 1, <nation = RUSSIA, o_year = 1992, sum_profit = 3.850193527230002E7> -> 1, <nation = ALGERIA, o_year = 1995, sum_profit = 1.6217847436899995E7> -> 1, <nation = PERU, o_year = 1998, sum_profit = 1.9242194553500026E7> -> 1, <nation = IRAQ, o_year = 1995, sum_profit = 1.733655566320001E7> -> 1, <nation = MOROCCO, o_year = 1992, sum_profit = 1.4663748980499983E7> -> 1, <nation = CHINA, o_year = 1995, sum_profit = 3.798309892960004E7> -> 1, <nation = RUSSIA, o_year = 1998, sum_profit = 1.9320998698599964E7> -> 1, <nation = VIETNAM, o_year = 1998, sum_profit = 2.415769081629999E7> -> 1, <nation = CANADA, o_year = 1994, sum_profit = 3.691752147400005E7> -> 1, <nation = IRAN, o_year = 1994, sum_profit = 1.6747712852400003E7> -> 1}

[success] Total time: 69 s (01:09), completed 2022年7月30日 上午6:33:33
========================================================
pysdql execution time: 84.19123435020447
export sdql script "tpch-9.sdql" to "T:/UG4-Proj/output/tpch-9.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-9.sdql

{<nation = MOROCCO, o_year = 1995, sum_profit = 1.660112201189999E7> -> 1, <nation = INDIA, o_year = 1996, sum_profit = 3.164570901509992E7> -> 1, <nation = SAUDI ARABIA, o_year = 1996, sum_profit = 5244822.785> -> 1, <nation = INDONESIA, o_year = 1995, sum_profit = 4.406934828589999E7> -> 1, <nation = SAUDI ARABIA, o_year = 1995, sum_profit = 4143892.189999999> -> 1, <nation = BRAZIL, o_year = 1995, sum_profit = 1.4152950198100002E7> -> 1, <nation = UNITED KINGDOM, o_year = 1994, sum_profit = 3.6507607425100006E7> -> 1, <nation = KENYA, o_year = 1994, sum_profit = 6.85454458423E7> -> 1, <nation = JORDAN, o_year = 1998, sum_profit = 2900312.0815999997> -> 1, <nation = JAPAN, o_year = 1992, sum_profit = 3.617473238740002E7> -> 1, <nation = SAUDI ARABIA, o_year = 1994, sum_profit = 5972875.679800001> -> 1, <nation = FRANCE, o_year = 1992, sum_profit = 2.141663746359996E7> -> 1, <nation = MOZAMBIQUE, o_year = 1993, sum_profit = 8.46227327787998E7> -> 1, <nation = JAPAN, o_year = 1997, sum_profit = 3.602410712730004E7> -> 1, <nation = CANADA, o_year = 1995, sum_profit = 3.4378854242700025E7> -> 1, <nation = FRANCE, o_year = 1995, sum_profit = 2.0967478267600004E7> -> 1, <nation = UNITED KINGDOM, o_year = 1996, sum_profit = 3.737457564540008E7> -> 1, <nation = FRANCE, o_year = 1993, sum_profit = 2.216464625679997E7> -> 1, <nation = FRANCE, o_year = 1998, sum_profit = 1.05841099264E7> -> 1, <nation = ARGENTINA, o_year = 1996, sum_profit = 1.484995851610002E7> -> 1, <nation = INDIA, o_year = 1992, sum_profit = 3.308762457219996E7> -> 1, <nation = ARGENTINA, o_year = 1994, sum_profit = 1.5910428796200007E7> -> 1, <nation = CHINA, o_year = 1992, sum_profit = 3.451165307699999E7> -> 1, <nation = ETHIOPIA, o_year = 1992, sum_profit = 2.6903890129199997E7> -> 1, <nation = ALGERIA, o_year = 1997, sum_profit = 1.9983503735700026E7> -> 1, <nation = EGYPT, o_year = 1992, sum_profit = 5.907195570259998E7> -> 1, <nation = KENYA, o_year = 1995, sum_profit = 5.9781983815599926E7> -> 1, <nation = FRANCE, o_year = 1994, sum_profit = 2.4211653773600016E7> -> 1, <nation = CHINA, o_year = 1997, sum_profit = 3.8224066053699955E7> -> 1, <nation = JAPAN, o_year = 1996, sum_profit = 4.085755349009998E7> -> 1, <nation = UNITED KINGDOM, o_year = 1997, sum_profit = 3.2133557875799943E7> -> 1, <nation = JAPAN, o_year = 1993, sum_profit = 3.920710439810001E7> -> 1, <nation = ARGENTINA, o_year = 1998, sum_profit = 1.24786991718E7> -> 1, <nation = PERU, o_year = 1992, sum_profit = 2.6936420962999977E7> -> 1, <nation = VIETNAM, o_year = 1993, sum_profit = 4.1036610005800076E7> -> 1, <nation = CHINA, o_year = 1996, sum_profit = 3.752363975599997E7> -> 1, <nation = JORDAN, o_year = 1992, sum_profit = 3940419.3136> -> 1, <nation = ALGERIA, o_year = 1993, sum_profit = 1.8412338175100017E7> -> 1, <nation = CANADA, o_year = 1998, sum_profit = 2.3388188500600003E7> -> 1, <nation = EGYPT, o_year = 1997, sum_profit = 6.2307945166500084E7> -> 1, <nation = ROMANIA, o_year = 1993, sum_profit = 6.4427962176700234E7> -> 1, <nation = JORDAN, o_year = 1993, sum_profit = 4712559.576000002> -> 1, <nation = INDIA, o_year = 1995, sum_profit = 3.0746040880300008E7> -> 1, <nation = CANADA, o_year = 1992, sum_profit = 3.853335106129995E7> -> 1, <nation = UNITED STATES, o_year = 1997, sum_profit = 5.430401015660001E7> -> 1, <nation = ETHIOPIA, o_year = 1996, sum_profit = 2.383254999380001E7> -> 1, <nation = RUSSIA, o_year = 1996, sum_profit = 3.912283661019999E7> -> 1, <nation = BRAZIL, o_year = 1992, sum_profit = 1.4637971129999978E7> -> 1, <nation = IRAQ, o_year = 1994, sum_profit = 1.654899350759999E7> -> 1, <nation = UNITED KINGDOM, o_year = 1992, sum_profit = 3.428362294089994E7> -> 1, <nation = IRAQ, o_year = 1993, sum_profit = 1.6990951081100006E7> -> 1, <nation = INDONESIA, o_year = 1998, sum_profit = 2.25401379486E7> -> 1, <nation = RUSSIA, o_year = 1997, sum_profit = 3.476804534489998E7> -> 1, <nation = ARGENTINA, o_year = 1992, sum_profit = 1.813871217579998E7> -> 1, <nation = BRAZIL, o_year = 1994, sum_profit = 1.2901843943799995E7> -> 1, <nation = JORDAN, o_year = 1997, sum_profit = 4952610.096000002> -> 1, <nation = PERU, o_year = 1994, sum_profit = 3.0586676289900076E7> -> 1, <nation = VIETNAM, o_year = 1995, sum_profit = 4.1179580524000056E7> -> 1, <nation = JORDAN, o_year = 1996, sum_profit = 7088412.045200004> -> 1, <nation = ROMANIA, o_year = 1995, sum_profit = 5.896250594239998E7> -> 1, <nation = INDONESIA, o_year = 1996, sum_profit = 4.282027255430001E7> -> 1, <nation = GERMANY, o_year = 1998, sum_profit = 2.4996135811699986E7> -> 1, <nation = MOZAMBIQUE, o_year = 1992, sum_profit = 8.691092125379997E7> -> 1, <nation = JORDAN, o_year = 1994, sum_profit = 4809132.121199999> -> 1, <nation = IRAN, o_year = 1996, sum_profit = 1.9663051450799976E7> -> 1, <nation = IRAN, o_year = 1993, sum_profit = 1.769122604499998E7> -> 1, <nation = EGYPT, o_year = 1993, sum_profit = 5.752622749970001E7> -> 1, <nation = UNITED KINGDOM, o_year = 1995, sum_profit = 3.5385147471499965E7> -> 1, <nation = BRAZIL, o_year = 1998, sum_profit = 6521151.876699999> -> 1, <nation = SAUDI ARABIA, o_year = 1998, sum_profit = 3341671.2491999995> -> 1, <nation = VIETNAM, o_year = 1992, sum_profit = 3.987499183010002E7> -> 1, <nation = ETHIOPIA, o_year = 1994, sum_profit = 2.746280525549999E7> -> 1, <nation = ROMANIA, o_year = 1997, sum_profit = 5.518709321880011E7> -> 1, <nation = IRAQ, o_year = 1992, sum_profit = 1.5251190784100002E7> -> 1, <nation = ROMANIA, o_year = 1996, sum_profit = 5.718562485969994E7> -> 1, <nation = BRAZIL, o_year = 1993, sum_profit = 1.3881849589800006E7> -> 1, <nation = FRANCE, o_year = 1997, sum_profit = 2.0767848731600028E7> -> 1, <nation = PERU, o_year = 1993, sum_profit = 3.236497979660004E7> -> 1, <nation = MOZAMBIQUE, o_year = 1994, sum_profit = 8.18759094561999E7> -> 1, <nation = INDONESIA, o_year = 1997, sum_profit = 4.3114151870799996E7> -> 1, <nation = INDIA, o_year = 1998, sum_profit = 2.012915632310002E7> -> 1, <nation = CHINA, o_year = 1993, sum_profit = 3.6879272839800015E7> -> 1, <nation = JORDAN, o_year = 1995, sum_profit = 5571430.7820000015> -> 1, <nation = UNITED STATES, o_year = 1994, sum_profit = 6.214700126750014E7> -> 1, <nation = GERMANY, o_year = 1993, sum_profit = 4.774343229830003E7> -> 1, <nation = INDONESIA, o_year = 1994, sum_profit = 4.138610312259998E7> -> 1, <nation = MOZAMBIQUE, o_year = 1997, sum_profit = 7.359650495649981E7> -> 1, <nation = KENYA, o_year = 1998, sum_profit = 4.4803884871799976E7> -> 1, <nation = ALGERIA, o_year = 1998, sum_profit = 1.0500798754899997E7> -> 1, <nation = INDIA, o_year = 1997, sum_profit = 3.1219480158099994E7> -> 1, <nation = FRANCE, o_year = 1996, sum_profit = 2.158050610399999E7> -> 1, <nation = ETHIOPIA, o_year = 1998, sum_profit = 1.7613971031599995E7> -> 1, <nation = MOZAMBIQUE, o_year = 1995, sum_profit = 7.294001817650008E7> -> 1, <nation = ROMANIA, o_year = 1992, sum_profit = 5.8766448485099986E7> -> 1, <nation = ALGERIA, o_year = 1996, sum_profit = 1.4802802092E7> -> 1, <nation = MOZAMBIQUE, o_year = 1998, sum_profit = 4.86071275974001E7> -> 1, <nation = IRAQ, o_year = 1996, sum_profit = 1.64277456431E7> -> 1, <nation = RUSSIA, o_year = 1995, sum_profit = 3.65821781002E7> -> 1, <nation = UNITED STATES, o_year = 1996, sum_profit = 5.419427144179996E7> -> 1, <nation = MOROCCO, o_year = 1993, sum_profit = 1.6928061889299996E7> -> 1, <nation = ALGERIA, o_year = 1992, sum_profit = 1.5630122044900006E7> -> 1, <nation = VIETNAM, o_year = 1994, sum_profit = 4.108942013919998E7> -> 1, <nation = INDONESIA, o_year = 1992, sum_profit = 4.416959593819993E7> -> 1, <nation = IRAN, o_year = 1998, sum_profit = 7943246.558200005> -> 1, <nation = ETHIOPIA, o_year = 1993, sum_profit = 2.783834805350002E7> -> 1, <nation = EGYPT, o_year = 1995, sum_profit = 5.789541472920007E7> -> 1, <nation = KENYA, o_year = 1992, sum_profit = 7.157368879319991E7> -> 1, <nation = CHINA, o_year = 1998, sum_profit = 2.2340625764100015E7> -> 1, <nation = MOROCCO, o_year = 1996, sum_profit = 1.6963148028499994E7> -> 1, <nation = MOROCCO, o_year = 1994, sum_profit = 1.6646332865300016E7> -> 1, <nation = IRAN, o_year = 1995, sum_profit = 1.7972144664200004E7> -> 1, <nation = CHINA, o_year = 1994, sum_profit = 3.733621518719997E7> -> 1, <nation = KENYA, o_year = 1996, sum_profit = 7.246521567670022E7> -> 1, <nation = KENYA, o_year = 1993, sum_profit = 6.97447620526001E7> -> 1, <nation = CANADA, o_year = 1993, sum_profit = 3.888673753499995E7> -> 1, <nation = KENYA, o_year = 1997, sum_profit = 7.007068927059998E7> -> 1, <nation = ROMANIA, o_year = 1998, sum_profit = 3.1330819202299945E7> -> 1, <nation = ARGENTINA, o_year = 1997, sum_profit = 1.5908944199100005E7> -> 1, <nation = EGYPT, o_year = 1998, sum_profit = 3.3454183254100055E7> -> 1, <nation = ALGERIA, o_year = 1994, sum_profit = 1.64010992996E7> -> 1, <nation = GERMANY, o_year = 1996, sum_profit = 4.628693159209996E7> -> 1, <nation = IRAQ, o_year = 1997, sum_profit = 1.7655317306399994E7> -> 1, <nation = IRAN, o_year = 1997, sum_profit = 1.700238168780001E7> -> 1, <nation = MOZAMBIQUE, o_year = 1996, sum_profit = 8.274541899520014E7> -> 1, <nation = MOROCCO, o_year = 1997, sum_profit = 1.5641614608899998E7> -> 1, <nation = INDIA, o_year = 1994, sum_profit = 3.161254289339998E7> -> 1, <nation = RUSSIA, o_year = 1994, sum_profit = 3.9863273145200014E7> -> 1, <nation = UNITED STATES, o_year = 1993, sum_profit = 5.678417125660006E7> -> 1, <nation = UNITED STATES, o_year = 1995, sum_profit = 5.633728171130009E7> -> 1, <nation = GERMANY, o_year = 1994, sum_profit = 4.470092231089998E7> -> 1, <nation = JAPAN, o_year = 1995, sum_profit = 3.947564510350002E7> -> 1, <nation = BRAZIL, o_year = 1996, sum_profit = 1.47208865717E7> -> 1, <nation = INDIA, o_year = 1993, sum_profit = 2.9600511420800008E7> -> 1, <nation = EGYPT, o_year = 1996, sum_profit = 5.241406544710001E7> -> 1, <nation = UNITED KINGDOM, o_year = 1993, sum_profit = 3.645949730590003E7> -> 1, <nation = UNITED STATES, o_year = 1998, sum_profit = 3.1869128121599976E7> -> 1, <nation = VIETNAM, o_year = 1996, sum_profit = 3.884261375449996E7> -> 1, <nation = UNITED KINGDOM, o_year = 1998, sum_profit = 1.9375184903100006E7> -> 1, <nation = MOROCCO, o_year = 1998, sum_profit = 7224338.2782999985> -> 1, <nation = CANADA, o_year = 1997, sum_profit = 3.6861417093E7> -> 1, <nation = ETHIOPIA, o_year = 1995, sum_profit = 2.6558431775299955E7> -> 1, <nation = EGYPT, o_year = 1994, sum_profit = 6.0256432817300096E7> -> 1, <nation = GERMANY, o_year = 1997, sum_profit = 5.069418404099998E7> -> 1, <nation = VIETNAM, o_year = 1997, sum_profit = 4.040249817360002E7> -> 1, <nation = BRAZIL, o_year = 1997, sum_profit = 1.2194864728499983E7> -> 1, <nation = PERU, o_year = 1997, sum_profit = 3.1693826287799988E7> -> 1, <nation = SAUDI ARABIA, o_year = 1992, sum_profit = 3785547.155> -> 1, <nation = SAUDI ARABIA, o_year = 1993, sum_profit = 3974140.937200001> -> 1, <nation = GERMANY, o_year = 1995, sum_profit = 4.528319639090006E7> -> 1, <nation = GERMANY, o_year = 1992, sum_profit = 4.308224308769991E7> -> 1, <nation = ETHIOPIA, o_year = 1997, sum_profit = 2.8707906800600052E7> -> 1, <nation = PERU, o_year = 1995, sum_profit = 3.2329941941300005E7> -> 1, <nation = CANADA, o_year = 1996, sum_profit = 4.000527629279993E7> -> 1, <nation = INDONESIA, o_year = 1993, sum_profit = 4.49954448368999E7> -> 1, <nation = JAPAN, o_year = 1998, sum_profit = 2.0831791276000008E7> -> 1, <nation = RUSSIA, o_year = 1993, sum_profit = 3.6758865018300034E7> -> 1, <nation = ARGENTINA, o_year = 1993, sum_profit = 1.7286769482700013E7> -> 1, <nation = ARGENTINA, o_year = 1995, sum_profit = 1.5049218282899996E7> -> 1, <nation = SAUDI ARABIA, o_year = 1997, sum_profit = 4497891.063999998> -> 1, <nation = PERU, o_year = 1996, sum_profit = 3.0071103747399956E7> -> 1, <nation = IRAN, o_year = 1992, sum_profit = 1.6522473689799994E7> -> 1, <nation = UNITED STATES, o_year = 1992, sum_profit = 5.61998422957E7> -> 1, <nation = IRAQ, o_year = 1998, sum_profit = 8596846.488400003> -> 1, <nation = JAPAN, o_year = 1994, sum_profit = 3.779862685689997E7> -> 1, <nation = ROMANIA, o_year = 1994, sum_profit = 5.9056036595199935E7> -> 1, <nation = RUSSIA, o_year = 1992, sum_profit = 3.850193527230002E7> -> 1, <nation = ALGERIA, o_year = 1995, sum_profit = 1.6217847436899995E7> -> 1, <nation = PERU, o_year = 1998, sum_profit = 1.9242194553500026E7> -> 1, <nation = IRAQ, o_year = 1995, sum_profit = 1.733655566320001E7> -> 1, <nation = MOROCCO, o_year = 1992, sum_profit = 1.4663748980499983E7> -> 1, <nation = CHINA, o_year = 1995, sum_profit = 3.798309892960004E7> -> 1, <nation = RUSSIA, o_year = 1998, sum_profit = 1.9320998698599964E7> -> 1, <nation = VIETNAM, o_year = 1998, sum_profit = 2.415769081629999E7> -> 1, <nation = CANADA, o_year = 1994, sum_profit = 3.691752147400005E7> -> 1, <nation = IRAN, o_year = 1994, sum_profit = 1.6747712852400003E7> -> 1}

### pandas - 9

In [19]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'cornflower'

part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

# part_p
sub_p = part[part['p_name'].str.contains(var1)]
sub_p.columns.name = 'sub_p'

# optimized hash join (part, partsupp)
r1 = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')
r1.columns.name = 'r1'
# optimized hash join (supplier, nation)
r2 = supplier.merge(nation, left_on='s_nationkey', right_on='n_nationkey')
# optimized hash join ((supplier, nation), (part, partsupp))
r2 = r2.merge(r1, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'
# optimized hash join ((supplier, nation, part, partsupp), lineitem)
r = r2.merge(lineitem, how='inner', left_on=['s_suppkey', 'ps_suppkey'], right_on=['l_suppkey', 'l_suppkey'])
# optimized hash join ((supplier, nation, part, partsupp, lineitem), orders)
r = r.merge(orders, left_on='l_orderkey', right_on='o_orderkey')

r['nation'] = r['n_name']
r['o_year'] = pd.DatetimeIndex(r['o_orderdate']).year
r['amount'] = r['l_extendedprice'] * (1 - r['l_discount']) - r['ps_supplycost'] * r['l_quantity']

profit = r[['nation', 'o_year', 'amount']]
profit.columns.name = 'profit'

s = profit.groupby(['nation', 'o_year'], as_index=False).agg(sum_profit=('amount', 'sum'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-9').run(s).export().to()

             nation  o_year    sum_profit
0           ALGERIA    1992  1.563012e+07
1           ALGERIA    1993  1.841234e+07
2           ALGERIA    1994  1.640110e+07
3           ALGERIA    1995  1.621785e+07
4           ALGERIA    1996  1.480280e+07
5           ALGERIA    1997  1.998350e+07
6           ALGERIA    1998  1.050080e+07
7         ARGENTINA    1992  1.813871e+07
8         ARGENTINA    1993  1.728677e+07
9         ARGENTINA    1994  1.591043e+07
10        ARGENTINA    1995  1.504922e+07
11        ARGENTINA    1996  1.484996e+07
12        ARGENTINA    1997  1.590894e+07
13        ARGENTINA    1998  1.247870e+07
14           BRAZIL    1992  1.463797e+07
15           BRAZIL    1993  1.388185e+07
16           BRAZIL    1994  1.290184e+07
17           BRAZIL    1995  1.415295e+07
18           BRAZIL    1996  1.472089e+07
19           BRAZIL    1997  1.219486e+07
20           BRAZIL    1998  6.521152e+06
21           CANADA    1992  3.853335e+07
22           CANADA    1993  3.888674e+07
23           CANADA    1994  3.691752e+07
24           CANADA    1995  3.437885e+07
25           CANADA    1996  4.000528e+07
26           CANADA    1997  3.686142e+07
27           CANADA    1998  2.338819e+07
28            CHINA    1992  3.451165e+07
29            CHINA    1993  3.687927e+07
30            CHINA    1994  3.733622e+07
31            CHINA    1995  3.798310e+07
32            CHINA    1996  3.752364e+07
33            CHINA    1997  3.822407e+07
34            CHINA    1998  2.234063e+07
35            EGYPT    1992  5.907196e+07
36            EGYPT    1993  5.752623e+07
37            EGYPT    1994  6.025643e+07
38            EGYPT    1995  5.789541e+07
39            EGYPT    1996  5.241407e+07
40            EGYPT    1997  6.230795e+07
41            EGYPT    1998  3.345418e+07
42         ETHIOPIA    1992  2.690389e+07
43         ETHIOPIA    1993  2.783835e+07
44         ETHIOPIA    1994  2.746281e+07
45         ETHIOPIA    1995  2.655843e+07
46         ETHIOPIA    1996  2.383255e+07
47         ETHIOPIA    1997  2.870791e+07
48         ETHIOPIA    1998  1.761397e+07
49           FRANCE    1992  2.141664e+07
50           FRANCE    1993  2.216465e+07
51           FRANCE    1994  2.421165e+07
52           FRANCE    1995  2.096748e+07
53           FRANCE    1996  2.158051e+07
54           FRANCE    1997  2.076785e+07
55           FRANCE    1998  1.058411e+07
56          GERMANY    1992  4.308224e+07
57          GERMANY    1993  4.774343e+07
58          GERMANY    1994  4.470092e+07
59          GERMANY    1995  4.528320e+07
60          GERMANY    1996  4.628693e+07
61          GERMANY    1997  5.069418e+07
62          GERMANY    1998  2.499614e+07
63            INDIA    1992  3.308762e+07
64            INDIA    1993  2.960051e+07
65            INDIA    1994  3.161254e+07
66            INDIA    1995  3.074604e+07
67            INDIA    1996  3.164571e+07
68            INDIA    1997  3.121948e+07
69            INDIA    1998  2.012916e+07
70        INDONESIA    1992  4.416960e+07
71        INDONESIA    1993  4.499544e+07
72        INDONESIA    1994  4.138610e+07
73        INDONESIA    1995  4.406935e+07
74        INDONESIA    1996  4.282027e+07
75        INDONESIA    1997  4.311415e+07
76        INDONESIA    1998  2.254014e+07
77             IRAN    1992  1.652247e+07
78             IRAN    1993  1.769123e+07
79             IRAN    1994  1.674771e+07
80             IRAN    1995  1.797214e+07
81             IRAN    1996  1.966305e+07
82             IRAN    1997  1.700238e+07
83             IRAN    1998  7.943247e+06
84             IRAQ    1992  1.525119e+07
85             IRAQ    1993  1.699095e+07
86             IRAQ    1994  1.654899e+07
87             IRAQ    1995  1.733656e+07
88             IRAQ    1996  1.642775e+07
89             IRAQ    1997  1.765532e+07
90             IRAQ    1998  8.596846e+06
91            JAPAN    1992  3.617473e+07
92            JAPAN    1993  3.920710e+07
93            JAPAN    1994  3.779863e+07
94            JAPAN    1995  3.947565e+07
95            JAPAN    1996  4.085755e+07
96            JAPAN    1997  3.602411e+07
97            JAPAN    1998  2.083179e+07
98           JORDAN    1992  3.940419e+06
99           JORDAN    1993  4.712560e+06
100          JORDAN    1994  4.809132e+06
101          JORDAN    1995  5.571431e+06
102          JORDAN    1996  7.088412e+06
103          JORDAN    1997  4.952610e+06
104          JORDAN    1998  2.900312e+06
105           KENYA    1992  7.157369e+07
106           KENYA    1993  6.974476e+07
107           KENYA    1994  6.854545e+07
108           KENYA    1995  5.978198e+07
109           KENYA    1996  7.246522e+07
110           KENYA    1997  7.007069e+07
111           KENYA    1998  4.480388e+07
112         MOROCCO    1992  1.466375e+07
113         MOROCCO    1993  1.692806e+07
114         MOROCCO    1994  1.664633e+07
115         MOROCCO    1995  1.660112e+07
116         MOROCCO    1996  1.696315e+07
117         MOROCCO    1997  1.564161e+07
118         MOROCCO    1998  7.224338e+06
119      MOZAMBIQUE    1992  8.691092e+07
120      MOZAMBIQUE    1993  8.462273e+07
121      MOZAMBIQUE    1994  8.187591e+07
122      MOZAMBIQUE    1995  7.294002e+07
123      MOZAMBIQUE    1996  8.274542e+07
124      MOZAMBIQUE    1997  7.359650e+07
125      MOZAMBIQUE    1998  4.860713e+07
126            PERU    1992  2.693642e+07
127            PERU    1993  3.236498e+07
128            PERU    1994  3.058668e+07
129            PERU    1995  3.232994e+07
130            PERU    1996  3.007110e+07
131            PERU    1997  3.169383e+07
132            PERU    1998  1.924219e+07
133         ROMANIA    1992  5.876645e+07
134         ROMANIA    1993  6.442796e+07
135         ROMANIA    1994  5.905604e+07
136         ROMANIA    1995  5.896251e+07
137         ROMANIA    1996  5.718562e+07
138         ROMANIA    1997  5.518709e+07
139         ROMANIA    1998  3.133082e+07
140          RUSSIA    1992  3.850194e+07
141          RUSSIA    1993  3.675887e+07
142          RUSSIA    1994  3.986327e+07
143          RUSSIA    1995  3.658218e+07
144          RUSSIA    1996  3.912284e+07
145          RUSSIA    1997  3.476805e+07
146          RUSSIA    1998  1.932100e+07
147    SAUDI ARABIA    1992  3.785547e+06
148    SAUDI ARABIA    1993  3.974141e+06
149    SAUDI ARABIA    1994  5.972876e+06
150    SAUDI ARABIA    1995  4.143892e+06
151    SAUDI ARABIA    1996  5.244823e+06
152    SAUDI ARABIA    1997  4.497891e+06
153    SAUDI ARABIA    1998  3.341671e+06
154  UNITED KINGDOM    1992  3.428362e+07
155  UNITED KINGDOM    1993  3.645950e+07
156  UNITED KINGDOM    1994  3.650761e+07
157  UNITED KINGDOM    1995  3.538515e+07
158  UNITED KINGDOM    1996  3.737458e+07
159  UNITED KINGDOM    1997  3.213356e+07
160  UNITED KINGDOM    1998  1.937518e+07
161   UNITED STATES    1992  5.619984e+07
162   UNITED STATES    1993  5.678417e+07
163   UNITED STATES    1994  6.214700e+07
164   UNITED STATES    1995  5.633728e+07
165   UNITED STATES    1996  5.419427e+07
166   UNITED STATES    1997  5.430401e+07
167   UNITED STATES    1998  3.186913e+07
168         VIETNAM    1992  3.987499e+07
169         VIETNAM    1993  4.103661e+07
170         VIETNAM    1994  4.108942e+07
171         VIETNAM    1995  4.117958e+07
172         VIETNAM    1996  3.884261e+07
173         VIETNAM    1997  4.040250e+07
174         VIETNAM    1998  2.415769e+07

# TPCH - 10 ✅

### SQL - 10

```
select
	c_custkey,
	c_name,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	c_acctbal,
	n_name,
	c_address,
	c_phone,
	c_comment
from
	customer,
	orders,
	lineitem,
	nation
where
	c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate >= date ':1'
	and o_orderdate < date ':1' + interval '3' month
	and l_returnflag = 'R'
	and c_nationkey = n_nationkey
group by
	c_custkey,
	c_name,
	c_acctbal,
	c_phone,
	n_name,
	c_address,
	c_comment
```

### pysdql - 10

In [20]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(nation, left_on='c_nationkey', right_on='n_nationkey')

sub_l = lineitem[lineitem['l_returnflag'] == 'R']
sub_l.columns.name = 'sub_l'
r = r.merge(sub_l, left_on='o_custkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'c_phone', 'n_name', 'c_address', 'c_comment'], as_index=False)\
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-10').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if ((lin_k.l_returnflag == "R")) then { lin_k -> 1 } else {  }
let sub_l = lmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if (((date(19930801) <= ord_k.o_orderdate) && (ord_k.o_orderdate < date(19931101)))) then { ord_k -> 1 } else {  }
let sub_o = omp
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let part_sub_o = sum (<so_k, so_v> in sub_o) { < o_custkey=so_k.o_custkey > -> { so_k -> so_v } }
let Rm0 = sum (<cus_k, cus_v> in customer) if ((part_sub_o(<o_custkey=cus_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_sub_o(<o_custkey=cus_k.c_custkey>)) { concat(cus_k, p_k) -> cus_v * p_v } else {  }
let part_nation = sum (<nat_k, nat_v> in nation) { < n_nationkey=nat_k.n_nationkey > -> { nat_k -> nat_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_nation(<n_nationkey=r0_k.c_nationkey>) != {  })) then sum(<p_k, p_v> in part_nation(<n_nationkey=r0_k.c_nationkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let part_sub_l = sum (<sl_k, sl_v> in sub_l) { < l_orderkey=sl_k.l_orderkey > -> { sl_k -> sl_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_sub_l(<l_orderkey=r1_k.o_custkey>) != {  })) then sum(<p_k, p_v> in part_sub_l(<l_orderkey=r1_k.o_custkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let rmp = sum (<r2_k, r2_v> in Rm2) { concat(r2_k, < value=(r2_k.l_extendedprice * (1 - r2_k.l_discount)) >) -> 1 }
let tmpa = sum (<r_k, r_v> in rmp) { < c_custkey=r_k.c_custkey, c_name=r_k.c_name, c_acctbal=r_k.c_acctbal, c_phone=r_k.c_phone, n_name=r_k.n_name, c_address=r_k.c_address, c_comment=r_k.c_comment > -> < revenue=promote[nullable[real]](r_k.value * r_v) > }
let agg_rmp = sum (<ta_k, ta_v> in tmpa) { < c_custkey=ta_k.c_custkey, c_name=ta_k.c_name, c_acctbal=ta_k.c_acctbal, c_phone=ta_k.c_phone, n_name=ta_k.n_name, c_address=ta_k.c_address, c_comment=ta_k.c_comment, revenue=promote[real](ta_v.revenue) > -> 1 }
agg_rmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<c_custkey = 391, c_name = Customer#000000391, c_acctbal = 4801.3, c_phone = 21-604-451-4462, n_name = IRAQ, c_address = q10SV05KB1038lzUR8P, c_comment = le blithely final forges. furiously even deposits cajole fluffily even patterns. furious
, revenue = 28466.510800000004> -> 1, <c_custkey = 352, c_name = Customer#000000352, c_acctbal = 6257.88, c_phone = 19-906-158-8420, n_name = INDONESIA, c_address = HqhIE5GRTK0dFtWpJUQENU4aa1bwdsUBEWtzUw, c_comment = ts are. blithely special requests wake. furiously bold packages among the blithely eve
, revenue = 48651.480599999995> -> 1, <c_custkey = 226, c_name = Customer#000000226, c_acctbal = 9008.61, c_phone = 13-452-318-7709, n_name = CANADA, c_address = ToEmqB90fM TkLqyEgX8MJ8T8NkK, c_comment = ic packages. ideas cajole furiously slyly special theodolites: carefully express pinto beans acco
, revenue = 76218.808> -> 1, <c_custkey = 868, c_name = Customer#000000868, c_acctbal = 7616.48, c_phone = 32-850-421-3334, n_name = RUSSIA, c_address = cFG8Fa5h1e uvHJ9pgZAO, c_comment = the requests. regular dinos at the even requests use furiously around the sheaves. slyly final theodolites bo
, revenue = 209581.691> -> 1, <c_custkey = 64, c_name = Customer#000000064, c_acctbal = -646.64, c_phone = 13-558-731-7204, n_name = CANADA, c_address = MbCeGY20kaKK3oalJD,OT, c_comment = structions after the quietly ironic theodolites cajole be
, revenue = 35129.157> -> 1, <c_custkey = 256, c_name = Customer#000000256, c_acctbal = 1299.92, c_phone = 20-229-271-4429, n_name = IRAN, c_address = eJ6AggYh80JMEzZNwYK4CIC2flT, c_comment = ld boost about the carefully ironic foxes. slyly special packages cajole alongside of the slyly final accounts. q
, revenue = 176674.73320000002> -> 1, <c_custkey = 1027, c_name = Customer#000001027, c_acctbal = 4946.21, c_phone = 12-278-154-5262, n_name = BRAZIL, c_address = GNaw4RXXMr, c_comment =  final requests haggle. final, even sheaves maintain carefully above the even ac
, revenue = 92333.10979999999> -> 1, <c_custkey = 1285, c_name = Customer#000001285, c_acctbal = 3061.58, c_phone = 29-424-835-1463, n_name = ROMANIA, c_address = 5Hy,ajDzJPtZFeJedRSeLN7XGOJtyUy2FI93, c_comment = ly bold ideas affix blithely about the slyly even pinto beans. slyly regular multip
, revenue = 116318.301> -> 1, <c_custkey = 865, c_name = Customer#000000865, c_acctbal = 3016.38, c_phone = 19-245-153-1471, n_name = INDONESIA, c_address = UIv4t5cbA7j1ftOSatj2EKah3p, c_comment = nic deposits print blithely slyly final accounts. special, express accounts are fluffily a
, revenue = 54327.4536> -> 1, <c_custkey = 1412, c_name = Customer#000001412, c_acctbal = 6368.38, c_phone = 20-715-510-2804, n_name = IRAN, c_address = gfsI6WU i7kYypv09gGIqUFrUod9uhb, c_comment = fully regular accounts print ironic, regular platelets. deposits promise slyly. express, ironic ideas
, revenue = 18369.243> -> 1, <c_custkey = 1409, c_name = Customer#000001409, c_acctbal = 1959.17, c_phone = 21-667-401-3780, n_name = IRAQ, c_address = jzfaCksWUNlI, c_comment = ously ironic ideas are. unusual packages kindle along the dugouts. unus
, revenue = 23597.847899999997> -> 1, <c_custkey = 646, c_name = Customer#000000646, c_acctbal = 6074.42, c_phone = 12-177-329-4316, n_name = BRAZIL, c_address = gogI8kweD 2H6U,01lbIp0UWUwljSue,KRcC, c_comment = ptotes. silent requests cajole fluffily along the slyly permanent ideas. pending instr
, revenue = 131967.89680000002> -> 1, <c_custkey = 1030, c_name = Customer#000001030, c_acctbal = 6359.27, c_phone = 18-759-877-1870, n_name = INDIA, c_address = Xpt1BiB5h9o, c_comment = ding to the slyly unusual accounts. even requests among the evenly
, revenue = 24683.3472> -> 1, <c_custkey = 1216, c_name = Customer#000001216, c_acctbal = 2155.06, c_phone = 13-673-633-4561, n_name = CANADA, c_address = CSf1BbFhJhucmvftOwYLQACMEqgXj, c_comment = eposits. slyly ironic dependencies haggle quickly. slyly close orbits above
, revenue = 85441.8952> -> 1, <c_custkey = 640, c_name = Customer#000000640, c_acctbal = 3025.84, c_phone = 12-702-315-6637, n_name = BRAZIL, c_address = j3vjr0 n,pJFG4gIOtC, c_comment = lly. furiously quick deposits haggle quickly regular packages. pinto
, revenue = 132501.8922> -> 1, <c_custkey = 130, c_name = Customer#000000130, c_acctbal = 5073.58, c_phone = 19-190-993-9281, n_name = INDONESIA, c_address = RKPx2OfZy0Vn 8wGWZ7F2EAvmMORl1k8iH, c_comment = ix slowly. express packages along the furiously ironic requests integrate daringly deposits. fur
, revenue = 101671.4467> -> 1, <c_custkey = 229, c_name = Customer#000000229, c_acctbal = 7568.07, c_phone = 11-243-298-4029, n_name = ARGENTINA, c_address = Sbvjxgmwy4u6Ks1FH7lxo7toMmeU5dG, c_comment = bold accounts haggle furiously even deposits. regular instruct
, revenue = 158358.8425> -> 1, <c_custkey = 641, c_name = Customer#000000641, c_acctbal = 339.49, c_phone = 34-761-987-7777, n_name = UNITED STATES, c_address = gbIvFlCygHjj5NG7U, c_comment = uriously final requests boost regular, final ideas. fluffily busy packages promise? requests along the bold, s
, revenue = 128151.06980000001> -> 1, <c_custkey = 481, c_name = Customer#000000481, c_acctbal = 7157.21, c_phone = 31-363-392-6461, n_name = VIETNAM, c_address = o4xa7J20NqHM8E0ykH,NKe1gPz04OqIn, c_comment = s can nag slyly instructions. regular, regular asymptotes haggle sly
, revenue = 58061.567999999985> -> 1, <c_custkey = 293, c_name = Customer#000000293, c_acctbal = -43.79, c_phone = 12-887-984-5485, n_name = BRAZIL, c_address = 7ynwX7lZ3o2cmAWSkKAc3edKa 8yT, c_comment = ironic foxes are final packages. requests about the furiousl
, revenue = 31075.9488> -> 1, <c_custkey = 193, c_name = Customer#000000193, c_acctbal = 8024.55, c_phone = 33-182-978-6287, n_name = UNITED KINGDOM, c_address = dUT4dtsPTZ6ZpkWLc,KGJCHY6JDJgPFH4, c_comment = y even theodolites. final foxes print along the final pinto beans. theodoli
, revenue = 21190.638> -> 1, <c_custkey = 196, c_name = Customer#000000196, c_acctbal = 7760.33, c_phone = 28-135-177-2472, n_name = CHINA, c_address = 68RstNo6a2B, c_comment = accounts wake. express instructions according to the s
, revenue = 23080.8105> -> 1, <c_custkey = 1345, c_name = Customer#000001345, c_acctbal = 8593.83, c_phone = 19-913-651-7783, n_name = INDONESIA, c_address = 31zcobEB,6Li4YDZbnNX, c_comment = of the express, express packages. final requests detect to the regular accou
, revenue = 83709.6224> -> 1, <c_custkey = 389, c_name = Customer#000000389, c_acctbal = -307.61, c_phone = 19-264-943-1253, n_name = INDONESIA, c_address = ij8KNM0,HRvIvnvY w8jQK4zvr1EOO9YM, c_comment = o beans affix fluffily. slyly ironic notornis wake
, revenue = 3266.6998000000003> -> 1, <c_custkey = 643, c_name = Customer#000000643, c_acctbal = 5184.7, c_phone = 10-978-597-2747, n_name = ALGERIA, c_address = 9T 2avhfyF PQ, c_comment = fily along the quickly ironic ideas. final, final
, revenue = 228025.34100000001> -> 1, <c_custkey = 577, c_name = Customer#000000577, c_acctbal = 7059.15, c_phone = 24-662-826-1317, n_name = KENYA, c_address = a73SSq2cip7C8nSzdmmscpZyLCZ7KL, c_comment = int furiously. slyly express pin
, revenue = 19753.1544> -> 1, <c_custkey = 194, c_name = Customer#000000194, c_acctbal = 6696.49, c_phone = 26-597-636-3003, n_name = MOZAMBIQUE, c_address = mksKhdWuQ1pjbc4yffHp8rRmLOMcJ, c_comment = quickly across the fluffily dogged requests. regular platelets around the ironic, even requests cajole quickl
, revenue = 109110.38919999999> -> 1, <c_custkey = 388, c_name = Customer#000000388, c_acctbal = 1938.05, c_phone = 17-856-814-6352, n_name = GERMANY, c_address = dV4lqEufXkF8R, c_comment =  carefully bold deposits: final pinto beans sleep slyly idl
, revenue = 48930.168> -> 1, <c_custkey = 1447, c_name = Customer#000001447, c_acctbal = 2718.02, c_phone = 27-452-251-2941, n_name = PERU, c_address = pHkyNkViDja,dZVNg4bEEbicpoHIVDZvtQi8RPl, c_comment = ously around the accounts. packages haggle blithely ironic, idle ac

, revenue = 90855.71479999999> -> 1, <c_custkey = 1282, c_name = Customer#000001282, c_acctbal = 8998.82, c_phone = 24-750-627-7414, n_name = KENYA, c_address = qeYHABkf21,5C5OC5it6q, c_comment =  even deposits sleep quickly regular
, revenue = 54142.4637> -> 1, <c_custkey = 1444, c_name = Customer#000001444, c_acctbal = -501.37, c_phone = 17-107-228-8125, n_name = GERMANY, c_address = 8WcsyfQU5svH9miWvYbSTH9, c_comment = inal platelets. quickly ironic requests do are carefully carefu
, revenue = 135380.463> -> 1, <c_custkey = 967, c_name = Customer#000000967, c_acctbal = 5710.41, c_phone = 33-687-917-3598, n_name = UNITED KINGDOM, c_address = xKdAl6HSWvAmptzHgQHX3cMmxZDhfyrMqx, c_comment = iously quickly silent ideas. blithely pending pinto beans except t
, revenue = 116116.961> -> 1, <c_custkey = 97, c_name = Customer#000000097, c_acctbal = 2164.48, c_phone = 27-588-919-5638, n_name = PERU, c_address = OApyejbhJG,0Iw3j rd1M, c_comment = haggle slyly. bold, special ideas are blithely above the thinly bold theo
, revenue = 44215.4422> -> 1, <c_custkey = 772, c_name = Customer#000000772, c_acctbal = 7555.16, c_phone = 30-405-614-4887, n_name = SAUDI ARABIA, c_address = TBxlR0AAHeSYl0vyK 8joF, c_comment = ular requests. final ideas sleep. regular, even platelets could haggle blithely bol
, revenue = 241857.045> -> 1, <c_custkey = 1411, c_name = Customer#000001411, c_acctbal = 772.14, c_phone = 31-898-640-7625, n_name = VIETNAM, c_address = 4iLVKtSmtJpU, c_comment = sly final ideas. carefully bold pinto beans wake: slyly regular packages must sleep. final platelets inte
, revenue = 35719.2> -> 1, <c_custkey = 644, c_name = Customer#000000644, c_acctbal = 6183.15, c_phone = 28-489-845-4801, n_name = CHINA, c_address = bfZrdZE0QHtMc,ksudO, c_comment = ke slyly alongside of the silent, even req
, revenue = 352708.30919999996> -> 1, <c_custkey = 544, c_name = Customer#000000544, c_acctbal = 4974.68, c_phone = 15-572-651-1323, n_name = ETHIOPIA, c_address = Jv7vcm,oE,HEyxekXKia1V5H1up23, c_comment = bout the packages integrate above the regular instructions. regular ideas hinder s
, revenue = 55623.0712> -> 1, <c_custkey = 1346, c_name = Customer#000001346, c_acctbal = 4524.45, c_phone = 20-502-685-6183, n_name = IRAN, c_address = cuwz2Yvj VKYEXjZzfL, c_comment = heodolites after the quickly bold deposits wake according to the regular platelets. ca
, revenue = 118087.7088> -> 1, <c_custkey = 1255, c_name = Customer#000001255, c_acctbal = 6487.71, c_phone = 24-359-633-2713, n_name = KENYA, c_address = UC6I32JjBU62t4WgDe e2pDYbuM3VAt4MPM, c_comment = s deposits sleep. blithely ironic dependencies wake. blithely even theodolites sleep. blithely
, revenue = 78712.20539999999> -> 1, <c_custkey = 1159, c_name = Customer#000001159, c_acctbal = 5553.75, c_phone = 12-269-807-3861, n_name = BRAZIL, c_address = IAnWq4YFKs7, c_comment = ages sleep fluffily. packages after the carefully express packages nag slyl
, revenue = 18572.103> -> 1, <c_custkey = 323, c_name = Customer#000000323, c_acctbal = 1137.67, c_phone = 28-347-223-6024, n_name = CHINA, c_address = ZLnVZ CXRi2,QDrlo, c_comment = ely special foxes. express, final excuses across the packages are quickly amon
, revenue = 31351.913999999997> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:33:52
========================================================
pysdql execution time: 17.147708415985107
export sdql script "tpch-10.sdql" to "T:/UG4-Proj/output/tpch-10.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-10.sdql

{<c_custkey = 391, c_name = Customer#000000391, c_acctbal = 4801.3, c_phone = 21-604-451-4462, n_name = IRAQ, c_address = q10SV05KB1038lzUR8P, c_comment = le blithely final forges. furiously even deposits cajole fluffily even patterns. furious, revenue = 28466.510800000004> -> 1, <c_custkey = 352, c_name = Customer#000000352, c_acctbal = 6257.88, c_phone = 19-906-158-8420, n_name = INDONESIA, c_address = HqhIE5GRTK0dFtWpJUQENU4aa1bwdsUBEWtzUw, c_comment = ts are. blithely special requests wake. furiously bold packages among the blithely eve, revenue = 48651.480599999995> -> 1, <c_custkey = 226, c_name = Customer#000000226, c_acctbal = 9008.61, c_phone = 13-452-318-7709, n_name = CANADA, c_address = ToEmqB90fM TkLqyEgX8MJ8T8NkK, c_comment = ic packages. ideas cajole furiously slyly special theodolites: carefully express pinto beans acco, revenue = 76218.808> -> 1, <c_custkey = 868, c_name = Customer#000000868, c_acctbal = 7616.48, c_phone = 32-850-421-3334, n_name = RUSSIA, c_address = cFG8Fa5h1e uvHJ9pgZAO, c_comment = the requests. regular dinos at the even requests use furiously around the sheaves. slyly final theodolites bo, revenue = 209581.691> -> 1, <c_custkey = 64, c_name = Customer#000000064, c_acctbal = -646.64, c_phone = 13-558-731-7204, n_name = CANADA, c_address = MbCeGY20kaKK3oalJD,OT, c_comment = structions after the quietly ironic theodolites cajole be, revenue = 35129.157> -> 1, <c_custkey = 256, c_name = Customer#000000256, c_acctbal = 1299.92, c_phone = 20-229-271-4429, n_name = IRAN, c_address = eJ6AggYh80JMEzZNwYK4CIC2flT, c_comment = ld boost about the carefully ironic foxes. slyly special packages cajole alongside of the slyly final accounts. q, revenue = 176674.73320000002> -> 1, <c_custkey = 1027, c_name = Customer#000001027, c_acctbal = 4946.21, c_phone = 12-278-154-5262, n_name = BRAZIL, c_address = GNaw4RXXMr, c_comment =  final requests haggle. final, even sheaves maintain carefully above the even ac, revenue = 92333.10979999999> -> 1, <c_custkey = 1285, c_name = Customer#000001285, c_acctbal = 3061.58, c_phone = 29-424-835-1463, n_name = ROMANIA, c_address = 5Hy,ajDzJPtZFeJedRSeLN7XGOJtyUy2FI93, c_comment = ly bold ideas affix blithely about the slyly even pinto beans. slyly regular multip, revenue = 116318.301> -> 1, <c_custkey = 865, c_name = Customer#000000865, c_acctbal = 3016.38, c_phone = 19-245-153-1471, n_name = INDONESIA, c_address = UIv4t5cbA7j1ftOSatj2EKah3p, c_comment = nic deposits print blithely slyly final accounts. special, express accounts are fluffily a, revenue = 54327.4536> -> 1, <c_custkey = 1412, c_name = Customer#000001412, c_acctbal = 6368.38, c_phone = 20-715-510-2804, n_name = IRAN, c_address = gfsI6WU i7kYypv09gGIqUFrUod9uhb, c_comment = fully regular accounts print ironic, regular platelets. deposits promise slyly. express, ironic ideas, revenue = 18369.243> -> 1, <c_custkey = 1409, c_name = Customer#000001409, c_acctbal = 1959.17, c_phone = 21-667-401-3780, n_name = IRAQ, c_address = jzfaCksWUNlI, c_comment = ously ironic ideas are. unusual packages kindle along the dugouts. unus, revenue = 23597.847899999997> -> 1, <c_custkey = 646, c_name = Customer#000000646, c_acctbal = 6074.42, c_phone = 12-177-329-4316, n_name = BRAZIL, c_address = gogI8kweD 2H6U,01lbIp0UWUwljSue,KRcC, c_comment = ptotes. silent requests cajole fluffily along the slyly permanent ideas. pending instr, revenue = 131967.89680000002> -> 1, <c_custkey = 1030, c_name = Customer#000001030, c_acctbal = 6359.27, c_phone = 18-759-877-1870, n_name = INDIA, c_address = Xpt1BiB5h9o, c_comment = ding to the slyly unusual accounts. even requests among the evenly, revenue = 24683.3472> -> 1, <c_custkey = 1216, c_name = Customer#000001216, c_acctbal = 2155.06, c_phone = 13-673-633-4561, n_name = CANADA, c_address = CSf1BbFhJhucmvftOwYLQACMEqgXj, c_comment = eposits. slyly ironic dependencies haggle quickly. slyly close orbits above, revenue = 85441.8952> -> 1, <c_custkey = 640, c_name = Customer#000000640, c_acctbal = 3025.84, c_phone = 12-702-315-6637, n_name = BRAZIL, c_address = j3vjr0 n,pJFG4gIOtC, c_comment = lly. furiously quick deposits haggle quickly regular packages. pinto, revenue = 132501.8922> -> 1, <c_custkey = 130, c_name = Customer#000000130, c_acctbal = 5073.58, c_phone = 19-190-993-9281, n_name = INDONESIA, c_address = RKPx2OfZy0Vn 8wGWZ7F2EAvmMORl1k8iH, c_comment = ix slowly. express packages along the furiously ironic requests integrate daringly deposits. fur, revenue = 101671.4467> -> 1, <c_custkey = 229, c_name = Customer#000000229, c_acctbal = 7568.07, c_phone = 11-243-298-4029, n_name = ARGENTINA, c_address = Sbvjxgmwy4u6Ks1FH7lxo7toMmeU5dG, c_comment = bold accounts haggle furiously even deposits. regular instruct, revenue = 158358.8425> -> 1, <c_custkey = 641, c_name = Customer#000000641, c_acctbal = 339.49, c_phone = 34-761-987-7777, n_name = UNITED STATES, c_address = gbIvFlCygHjj5NG7U, c_comment = uriously final requests boost regular, final ideas. fluffily busy packages promise? requests along the bold, s, revenue = 128151.06980000001> -> 1, <c_custkey = 481, c_name = Customer#000000481, c_acctbal = 7157.21, c_phone = 31-363-392-6461, n_name = VIETNAM, c_address = o4xa7J20NqHM8E0ykH,NKe1gPz04OqIn, c_comment = s can nag slyly instructions. regular, regular asymptotes haggle sly, revenue = 58061.567999999985> -> 1, <c_custkey = 293, c_name = Customer#000000293, c_acctbal = -43.79, c_phone = 12-887-984-5485, n_name = BRAZIL, c_address = 7ynwX7lZ3o2cmAWSkKAc3edKa 8yT, c_comment = ironic foxes are final packages. requests about the furiousl, revenue = 31075.9488> -> 1, <c_custkey = 193, c_name = Customer#000000193, c_acctbal = 8024.55, c_phone = 33-182-978-6287, n_name = UNITED KINGDOM, c_address = dUT4dtsPTZ6ZpkWLc,KGJCHY6JDJgPFH4, c_comment = y even theodolites. final foxes print along the final pinto beans. theodoli, revenue = 21190.638> -> 1, <c_custkey = 196, c_name = Customer#000000196, c_acctbal = 7760.33, c_phone = 28-135-177-2472, n_name = CHINA, c_address = 68RstNo6a2B, c_comment = accounts wake. express instructions according to the s, revenue = 23080.8105> -> 1, <c_custkey = 1345, c_name = Customer#000001345, c_acctbal = 8593.83, c_phone = 19-913-651-7783, n_name = INDONESIA, c_address = 31zcobEB,6Li4YDZbnNX, c_comment = of the express, express packages. final requests detect to the regular accou, revenue = 83709.6224> -> 1, <c_custkey = 389, c_name = Customer#000000389, c_acctbal = -307.61, c_phone = 19-264-943-1253, n_name = INDONESIA, c_address = ij8KNM0,HRvIvnvY w8jQK4zvr1EOO9YM, c_comment = o beans affix fluffily. slyly ironic notornis wake, revenue = 3266.6998000000003> -> 1, <c_custkey = 643, c_name = Customer#000000643, c_acctbal = 5184.7, c_phone = 10-978-597-2747, n_name = ALGERIA, c_address = 9T 2avhfyF PQ, c_comment = fily along the quickly ironic ideas. final, final, revenue = 228025.34100000001> -> 1, <c_custkey = 577, c_name = Customer#000000577, c_acctbal = 7059.15, c_phone = 24-662-826-1317, n_name = KENYA, c_address = a73SSq2cip7C8nSzdmmscpZyLCZ7KL, c_comment = int furiously. slyly express pin, revenue = 19753.1544> -> 1, <c_custkey = 194, c_name = Customer#000000194, c_acctbal = 6696.49, c_phone = 26-597-636-3003, n_name = MOZAMBIQUE, c_address = mksKhdWuQ1pjbc4yffHp8rRmLOMcJ, c_comment = quickly across the fluffily dogged requests. regular platelets around the ironic, even requests cajole quickl, revenue = 109110.38919999999> -> 1, <c_custkey = 388, c_name = Customer#000000388, c_acctbal = 1938.05, c_phone = 17-856-814-6352, n_name = GERMANY, c_address = dV4lqEufXkF8R, c_comment =  carefully bold deposits: final pinto beans sleep slyly idl, revenue = 48930.168> -> 1, <c_custkey = 1447, c_name = Customer#000001447, c_acctbal = 2718.02, c_phone = 27-452-251-2941, n_name = PERU, c_address = pHkyNkViDja,dZVNg4bEEbicpoHIVDZvtQi8RPl, c_comment = ously around the accounts. packages haggle blithely ironic, idle ac, revenue = 90855.71479999999> -> 1, <c_custkey = 1282, c_name = Customer#000001282, c_acctbal = 8998.82, c_phone = 24-750-627-7414, n_name = KENYA, c_address = qeYHABkf21,5C5OC5it6q, c_comment =  even deposits sleep quickly regular, revenue = 54142.4637> -> 1, <c_custkey = 1444, c_name = Customer#000001444, c_acctbal = -501.37, c_phone = 17-107-228-8125, n_name = GERMANY, c_address = 8WcsyfQU5svH9miWvYbSTH9, c_comment = inal platelets. quickly ironic requests do are carefully carefu, revenue = 135380.463> -> 1, <c_custkey = 967, c_name = Customer#000000967, c_acctbal = 5710.41, c_phone = 33-687-917-3598, n_name = UNITED KINGDOM, c_address = xKdAl6HSWvAmptzHgQHX3cMmxZDhfyrMqx, c_comment = iously quickly silent ideas. blithely pending pinto beans except t, revenue = 116116.961> -> 1, <c_custkey = 97, c_name = Customer#000000097, c_acctbal = 2164.48, c_phone = 27-588-919-5638, n_name = PERU, c_address = OApyejbhJG,0Iw3j rd1M, c_comment = haggle slyly. bold, special ideas are blithely above the thinly bold theo, revenue = 44215.4422> -> 1, <c_custkey = 772, c_name = Customer#000000772, c_acctbal = 7555.16, c_phone = 30-405-614-4887, n_name = SAUDI ARABIA, c_address = TBxlR0AAHeSYl0vyK 8joF, c_comment = ular requests. final ideas sleep. regular, even platelets could haggle blithely bol, revenue = 241857.045> -> 1, <c_custkey = 1411, c_name = Customer#000001411, c_acctbal = 772.14, c_phone = 31-898-640-7625, n_name = VIETNAM, c_address = 4iLVKtSmtJpU, c_comment = sly final ideas. carefully bold pinto beans wake: slyly regular packages must sleep. final platelets inte, revenue = 35719.2> -> 1, <c_custkey = 644, c_name = Customer#000000644, c_acctbal = 6183.15, c_phone = 28-489-845-4801, n_name = CHINA, c_address = bfZrdZE0QHtMc,ksudO, c_comment = ke slyly alongside of the silent, even req, revenue = 352708.30919999996> -> 1, <c_custkey = 544, c_name = Customer#000000544, c_acctbal = 4974.68, c_phone = 15-572-651-1323, n_name = ETHIOPIA, c_address = Jv7vcm,oE,HEyxekXKia1V5H1up23, c_comment = bout the packages integrate above the regular instructions. regular ideas hinder s, revenue = 55623.0712> -> 1, <c_custkey = 1346, c_name = Customer#000001346, c_acctbal = 4524.45, c_phone = 20-502-685-6183, n_name = IRAN, c_address = cuwz2Yvj VKYEXjZzfL, c_comment = heodolites after the quickly bold deposits wake according to the regular platelets. ca, revenue = 118087.7088> -> 1, <c_custkey = 1255, c_name = Customer#000001255, c_acctbal = 6487.71, c_phone = 24-359-633-2713, n_name = KENYA, c_address = UC6I32JjBU62t4WgDe e2pDYbuM3VAt4MPM, c_comment = s deposits sleep. blithely ironic dependencies wake. blithely even theodolites sleep. blithely, revenue = 78712.20539999999> -> 1, <c_custkey = 1159, c_name = Customer#000001159, c_acctbal = 5553.75, c_phone = 12-269-807-3861, n_name = BRAZIL, c_address = IAnWq4YFKs7, c_comment = ages sleep fluffily. packages after the carefully express packages nag slyl, revenue = 18572.103> -> 1, <c_custkey = 323, c_name = Customer#000000323, c_acctbal = 1137.67, c_phone = 28-347-223-6024, n_name = CHINA, c_address = ZLnVZ CXRi2,QDrlo, c_comment = ely special foxes. express, final excuses across the packages are quickly amon, revenue = 31351.913999999997> -> 1}

### pandas - 10

In [21]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1993-08-01'
var2 = '1993-11-01'  # var1 + 3 month

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_o = orders[(orders['o_orderdate'] >= var1) & (orders['o_orderdate'] < var2)]
sub_o.columns.name = 'sub_o'

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(nation, left_on='c_nationkey', right_on='n_nationkey')

sub_l = lineitem[lineitem['l_returnflag'] == 'R']
sub_l.columns.name = 'sub_l'
r = r.merge(sub_l, left_on='o_custkey', right_on='l_orderkey')

r['value'] = r['l_extendedprice'] * (1 - r['l_discount'])

r = r.groupby(['c_custkey', 'c_name', 'c_acctbal', 'c_phone', 'n_name', 'c_address', 'c_comment'], as_index=False)\
    .agg(revenue=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-10').run(r).export().to()

    c_custkey              c_name  c_acctbal          c_phone          n_name  \
0          64  Customer#000000064    -646.64  13-558-731-7204          CANADA
1          97  Customer#000000097    2164.48  27-588-919-5638            PERU
2         130  Customer#000000130    5073.58  19-190-993-9281       INDONESIA
3         193  Customer#000000193    8024.55  33-182-978-6287  UNITED KINGDOM
4         194  Customer#000000194    6696.49  26-597-636-3003      MOZAMBIQUE
5         196  Customer#000000196    7760.33  28-135-177-2472           CHINA
6         226  Customer#000000226    9008.61  13-452-318-7709          CANADA
7         229  Customer#000000229    7568.07  11-243-298-4029       ARGENTINA
8         256  Customer#000000256    1299.92  20-229-271-4429            IRAN
9         293  Customer#000000293     -43.79  12-887-984-5485          BRAZIL
10        323  Customer#000000323    1137.67  28-347-223-6024           CHINA
11        352  Customer#000000352    6257.88  19-906-158-8420       INDONESIA
12        388  Customer#000000388    1938.05  17-856-814-6352         GERMANY
13        389  Customer#000000389    -307.61  19-264-943-1253       INDONESIA
14        391  Customer#000000391    4801.30  21-604-451-4462            IRAQ
15        481  Customer#000000481    7157.21  31-363-392-6461         VIETNAM
16        544  Customer#000000544    4974.68  15-572-651-1323        ETHIOPIA
17        577  Customer#000000577    7059.15  24-662-826-1317           KENYA
18        640  Customer#000000640    3025.84  12-702-315-6637          BRAZIL
19        641  Customer#000000641     339.49  34-761-987-7777   UNITED STATES
20        643  Customer#000000643    5184.70  10-978-597-2747         ALGERIA
21        644  Customer#000000644    6183.15  28-489-845-4801           CHINA
22        646  Customer#000000646    6074.42  12-177-329-4316          BRAZIL
23        772  Customer#000000772    7555.16  30-405-614-4887    SAUDI ARABIA
24        865  Customer#000000865    3016.38  19-245-153-1471       INDONESIA
25        868  Customer#000000868    7616.48  32-850-421-3334          RUSSIA
26        967  Customer#000000967    5710.41  33-687-917-3598  UNITED KINGDOM
27       1027  Customer#000001027    4946.21  12-278-154-5262          BRAZIL
28       1030  Customer#000001030    6359.27  18-759-877-1870           INDIA
29       1159  Customer#000001159    5553.75  12-269-807-3861          BRAZIL
30       1216  Customer#000001216    2155.06  13-673-633-4561          CANADA
31       1255  Customer#000001255    6487.71  24-359-633-2713           KENYA
32       1282  Customer#000001282    8998.82  24-750-627-7414           KENYA
33       1285  Customer#000001285    3061.58  29-424-835-1463         ROMANIA
34       1345  Customer#000001345    8593.83  19-913-651-7783       INDONESIA
35       1346  Customer#000001346    4524.45  20-502-685-6183            IRAN
36       1409  Customer#000001409    1959.17  21-667-401-3780            IRAQ
37       1411  Customer#000001411     772.14  31-898-640-7625         VIETNAM
38       1412  Customer#000001412    6368.38  20-715-510-2804            IRAN
39       1444  Customer#000001444    -501.37  17-107-228-8125         GERMANY
40       1447  Customer#000001447    2718.02  27-452-251-2941            PERU

                                  c_address  \
0                     MbCeGY20kaKK3oalJD,OT
1                     OApyejbhJG,0Iw3j rd1M
2        RKPx2OfZy0Vn 8wGWZ7F2EAvmMORl1k8iH
3         dUT4dtsPTZ6ZpkWLc,KGJCHY6JDJgPFH4
4             mksKhdWuQ1pjbc4yffHp8rRmLOMcJ
5                               68RstNo6a2B
6              ToEmqB90fM TkLqyEgX8MJ8T8NkK
7           Sbvjxgmwy4u6Ks1FH7lxo7toMmeU5dG
8               eJ6AggYh80JMEzZNwYK4CIC2flT
9             7ynwX7lZ3o2cmAWSkKAc3edKa 8yT
10                        ZLnVZ CXRi2,QDrlo
11   HqhIE5GRTK0dFtWpJUQENU4aa1bwdsUBEWtzUw
12                            dV4lqEufXkF8R
13        ij8KNM0,HRvIvnvY w8jQK4zvr1EOO9YM
14                      q10SV05KB1038lzUR8P
15         o4xa7J20NqHM8E0ykH,NKe1gPz04OqIn
16            Jv7vcm,oE,HEyxekXKia1V5H1up23
17           a73SSq2cip7C8nSzdmmscpZyLCZ7KL
18                      j3vjr0 n,pJFG4gIOtC
19                        gbIvFlCygHjj5NG7U
20                            9T 2avhfyF PQ
21                      bfZrdZE0QHtMc,ksudO
22     gogI8kweD 2H6U,01lbIp0UWUwljSue,KRcC
23                   TBxlR0AAHeSYl0vyK 8joF
24               UIv4t5cbA7j1ftOSatj2EKah3p
25                    cFG8Fa5h1e uvHJ9pgZAO
26       xKdAl6HSWvAmptzHgQHX3cMmxZDhfyrMqx
27                               GNaw4RXXMr
28                              Xpt1BiB5h9o
29                              IAnWq4YFKs7
30            CSf1BbFhJhucmvftOwYLQACMEqgXj
31      UC6I32JjBU62t4WgDe e2pDYbuM3VAt4MPM
32                    qeYHABkf21,5C5OC5it6q
33     5Hy,ajDzJPtZFeJedRSeLN7XGOJtyUy2FI93
34                     31zcobEB,6Li4YDZbnNX
35                      cuwz2Yvj VKYEXjZzfL
36                             jzfaCksWUNlI
37                             4iLVKtSmtJpU
38          gfsI6WU i7kYypv09gGIqUFrUod9uhb
39                  8WcsyfQU5svH9miWvYbSTH9
40  pHkyNkViDja,dZVNg4bEEbicpoHIVDZvtQi8RPl

                                            c_comment      revenue
0   structions after the quietly ironic theodolite...   35129.1570
1   haggle slyly. bold, special ideas are blithely...   44215.4422
2   ix slowly. express packages along the furiousl...  101671.4467
3   y even theodolites. final foxes print along th...   21190.6380
4   quickly across the fluffily dogged requests. r...  109110.3892
5   accounts wake. express instructions according ...   23080.8105
6   ic packages. ideas cajole furiously slyly spec...   76218.8080
7   bold accounts haggle furiously even deposits. ...  158358.8425
8   ld boost about the carefully ironic foxes. sly...  176674.7332
9   ironic foxes are final packages. requests abou...   31075.9488
10  ely special foxes. express, final excuses acro...   31351.9140
11  ts are. blithely special requests wake. furiou...   48651.4806
12   carefully bold deposits: final pinto beans sl...   48930.1680
13  o beans affix fluffily. slyly ironic notornis ...    3266.6998
14  le blithely final forges. furiously even depos...   28466.5108
15  s can nag slyly instructions. regular, regular...   58061.5680
16  bout the packages integrate above the regular ...   55623.0712
17                   int furiously. slyly express pin   19753.1544
18  lly. furiously quick deposits haggle quickly r...  132501.8922
19  uriously final requests boost regular, final i...  128151.0698
20  fily along the quickly ironic ideas. final, final  228025.3410
21         ke slyly alongside of the silent, even req  352708.3092
22  ptotes. silent requests cajole fluffily along ...  131967.8968
23  ular requests. final ideas sleep. regular, eve...  241857.0450
24  nic deposits print blithely slyly final accoun...   54327.4536
25  the requests. regular dinos at the even reques...  209581.6910
26  iously quickly silent ideas. blithely pending ...  116116.9610
27   final requests haggle. final, even sheaves ma...   92333.1098
28  ding to the slyly unusual accounts. even reque...   24683.3472
29  ages sleep fluffily. packages after the carefu...   18572.1030
30  eposits. slyly ironic dependencies haggle quic...   85441.8952
31  s deposits sleep. blithely ironic dependencies...   78712.2054
32                even deposits sleep quickly regular   54142.4637
33  ly bold ideas affix blithely about the slyly e...  116318.3010
34  of the express, express packages. final reques...   83709.6224
35  heodolites after the quickly bold deposits wak...  118087.7088
36  ously ironic ideas are. unusual packages kindl...   23597.8479
37  sly final ideas. carefully bold pinto beans wa...   35719.2000
38  fully regular accounts print ironic, regular p...   18369.2430
39  inal platelets. quickly ironic requests do are...  135380.4630
40  ously around the accounts. packages haggle bli...   90855.7148

# TPCH - 11 ✅

### SQL - 11

```
select
	ps_partkey,
	sum(ps_supplycost * ps_availqty) as value
from
	partsupp,
	supplier,
	nation
where
	ps_suppkey = s_suppkey
	and s_nationkey = n_nationkey
	and n_name = ':1'
group by
	ps_partkey having
		sum(ps_supplycost * ps_availqty) > (
			select
				sum(ps_supplycost * ps_availqty) * :2
			from
				partsupp,
				supplier,
				nation
			where
				ps_suppkey = s_suppkey
				and s_nationkey = n_nationkey
				and n_name = ':1'
		)
```

### pysdql - 11

In [22]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 0.0001

partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'

r1 = sub_n.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r1.columns.name = 'r1'

r2 = r1.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'

agg_val = (r2['ps_supplycost'] * r2['ps_availqty'] * var2).sum()

# GOURPBY HAVING
r = r2.groupby(['ps_partkey']).filter(lambda x: (x['ps_supplycost'] * x['ps_availqty']).sum() > agg_val)

r['value'] = r['ps_supplycost'] * r['ps_availqty']

# SELECT GROUPBY AGGREGATION
r = r.groupby(['ps_partkey'], as_index=False).agg(value=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-11').run(r).export().to()

let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/partsupp.tbl")
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "PERU")) then { nat_k -> 1 } else {  }
let sub_n = nmp
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey > -> { sup_k -> sup_v } }
let Rm0 = sum (<sn_k, sn_v> in sub_n) if ((part_supplier(<s_nationkey=sn_k.n_nationkey>) != {  })) then sum(<p_k, p_v> in part_supplier(<s_nationkey=sn_k.n_nationkey>)) { concat(sn_k, p_k) -> sn_v * p_v } else {  }
let r1 = Rm0
let part_partsupp = sum (<psup_k, psup_v> in partsupp) { < ps_suppkey=psup_k.ps_suppkey > -> { psup_k -> psup_v } }
let Rm1 = sum (<r1_k, r1_v> in r1) if ((part_partsupp(<ps_suppkey=r1_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_suppkey=r1_k.s_suppkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let r2 = Rm1
let agg_val = sum (<r2_k, r2_v> in r2) r2_v
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "PERU")) then { nat_k -> 1 } else {  }
let part_supplier = sum (<sup_k, sup_v> in supplier) { < s_nationkey=sup_k.s_nationkey > -> { sup_k -> sup_v } }
let r1 = Rm0
let Rm1 = sum (<r1_k, r1_v> in r1) if ((part_partsupp(<ps_suppkey=r1_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_suppkey=r1_k.s_suppkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let agg_val = sum (<r2_k, r2_v> in r2) r2_v
let tmp = sum (<r2_k, r2_v> in r2) { < ps_partkey=r2_k.ps_partkey > -> { r2_k -> r2_v } }
let rmp = sum (<t_k, t_v> in tmp) { < ps_partkey=t_k.ps_partkey, group=t_v > -> 1 }
let hvmp = sum (<r_k, r_v> in rmp) sum (<g_k, g_v> in r_k.group) { < ps_partkey=r_k.ps_partkey > -> < val=((g_k.ps_supplycost * g_k.ps_availqty) * g_v) > }
let hvR = sum (<hv_k, hv_v> in hvmp) if ((agg_val < hv_v.val)) then { < ps_partkey=hv_k.ps_partkey > -> 1 } else {  }
let fhr2 = sum (<r2_k, r2_v> in r2) sum (<h_k, h_v> in hvR) if ((h_k.ps_partkey == r2_k.ps_partkey)) then { r2_k -> 1 } else {  }
let fmp = sum (<f2_k, f2_v> in fhr2) { concat(f2_k, < value=(f2_k.ps_supplycost * f2_k.ps_availqty) >) -> 1 }
let tmpb = sum (<f_k, f_v> in fmp) { < ps_partkey=f_k.ps_partkey > -> < value=promote[nullable[real]](f_k.value * f_v) > }
let agg_fmp = sum (<tb_k, tb_v> in tmpb) { < ps_partkey=tb_k.ps_partkey, value=promote[real](tb_v.value) > -> 1 }
agg_fmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<ps_partkey = 1342, value = 7061613.3> -> 1, <ps_partkey = 1677, value = 2264531.49> -> 1, <ps_partkey = 1002, value = 575242.2000000001> -> 1, <ps_partkey = 1732, value = 8597039.36> -> 1, <ps_partkey = 129, value = 53568.96> -> 1, <ps_partkey = 33, value = 4097110.5> -> 1, <ps_partkey = 700, value = 1150329.6> -> 1, <ps_partkey = 547, value = 3111151.03> -> 1, <ps_partkey = 1815, value = 4465069.350000001> -> 1, <ps_partkey = 456, value = 411251.58> -> 1, <ps_partkey = 1516, value = 370163.04> -> 1, <ps_partkey = 498, value = 3355774.8000000003> -> 1, <ps_partkey = 669, value = 3861960.6> -> 1, <ps_partkey = 1184, value = 2166774.16> -> 1, <ps_partkey = 277, value = 5521729.6> -> 1, <ps_partkey = 1587, value = 5709147.720000001> -> 1, <ps_partkey = 122, value = 1539857.75> -> 1, <ps_partkey = 1362, value = 7789015.78> -> 1, <ps_partkey = 808, value = 5173769.95> -> 1, <ps_partkey = 1800, value = 437855.04> -> 1, <ps_partkey = 57, value = 801768.08> -> 1, <ps_partkey = 998, value = 6194554.74> -> 1, <ps_partkey = 1684, value = 1057286.24> -> 1, <ps_partkey = 256, value = 4239334.850000001> -> 1, <ps_partkey = 1258, value = 861653.9> -> 1, <ps_partkey = 1919, value = 450771.44> -> 1, <ps_partkey = 420, value = 634626.6> -> 1, <ps_partkey = 1300, value = 845873.6> -> 1, <ps_partkey = 528, value = 3267059.38> -> 1, <ps_partkey = 556, value = 1896202.7999999998> -> 1, <ps_partkey = 1478, value = 3707942.32> -> 1, <ps_partkey = 924, value = 77592.77> -> 1, <ps_partkey = 1924, value = 1170927.6> -> 1, <ps_partkey = 181, value = 2874130.26> -> 1, <ps_partkey = 1483, value = 2751807.1999999997> -> 1, <ps_partkey = 1617, value = 660072.4> -> 1, <ps_partkey = 1658, value = 3055879.05> -> 1, <ps_partkey = 1095, value = 470584.37> -> 1, <ps_partkey = 1221, value = 8833018.68> -> 1, <ps_partkey = 724, value = 316805.28> -> 1, <ps_partkey = 892, value = 1491389.25> -> 1, <ps_partkey = 1956, value = 2079322.82> -> 1, <ps_partkey = 905, value = 691178.4> -> 1, <ps_partkey = 1128, value = 5521355.96> -> 1, <ps_partkey = 1344, value = 2859682.5500000003> -> 1, <ps_partkey = 429, value = 5038872.86> -> 1, <ps_partkey = 1480, value = 1879967.74> -> 1, <ps_partkey = 1023, value = 2070179.1> -> 1, <ps_partkey = 407, value = 5074151.88> -> 1, <ps_partkey = 1556, value = 5795392.12> -> 1, <ps_partkey = 526, value = 3255073.5> -> 1, <ps_partkey = 1827, value = 2502568.08> -> 1, <ps_partkey = 1456, value = 59140.54> -> 1, <ps_partkey = 1171, value = 1619571.0> -> 1, <ps_partkey = 148, value = 1424237.3699999999> -> 1, <ps_partkey = 1200, value = 207460.44> -> 1, <ps_partkey = 1164, value = 4684696.640000001> -> 1, <ps_partkey = 1958, value = 56616.56> -> 1, <ps_partkey = 1245, value = 5226280.11> -> 1, <ps_partkey = 1107, value = 3238911.9> -> 1, <ps_partkey = 1199, value = 702243.08> -> 1, <ps_partkey = 1307, value = 2346458.0> -> 1, <ps_partkey = 768, value = 2577407.06> -> 1, <ps_partkey = 351, value = 424382.82> -> 1, <ps_partkey = 1813, value = 6193550.88> -> 1, <ps_partkey = 841, value = 1168844.8> -> 1, <ps_partkey = 1527, value = 5061519.58> -> 1, <ps_partkey = 1821, value = 1570326.94> -> 1, <ps_partkey = 1386, value = 1676526.4> -> 1, <ps_partkey = 1088, value = 2870991.1999999997> -> 1, <ps_partkey = 31, value = 236051.49> -> 1, <ps_partkey = 1417, value = 3184792.4499999997> -> 1, <ps_partkey = 500, value = 3113725.5> -> 1, <ps_partkey = 231, value = 1265433.3> -> 1, <ps_partkey = 638, value = 4990373.489999999> -> 1, <ps_partkey = 449, value = 348441.47> -> 1, <ps_partkey = 517, value = 7622966.430000001> -> 1, <ps_partkey = 726, value = 2122892.04> -> 1, <ps_partkey = 1439, value = 5630783.85> -> 1, <ps_partkey = 1975, value = 2149154.22> -> 1, <ps_partkey = 130, value = 1903982.22> -> 1, <ps_partkey = 180, value = 5101632.17> -> 1, <ps_partkey = 614, value = 3458655.1999999997> -> 1, <ps_partkey = 207, value = 3123356.04> -> 1, <ps_partkey = 1578, value = 166549.99> -> 1, <ps_partkey = 330, value = 2036339.4> -> 1, <ps_partkey = 1058, value = 3569616.62> -> 1, <ps_partkey = 229, value = 2380173.04> -> 1, <ps_partkey = 825, value = 2450584.68> -> 1, <ps_partkey = 1100, value = 5548169.55> -> 1, <ps_partkey = 75, value = 4790042.88> -> 1, <ps_partkey = 566, value = 743913.8400000001> -> 1, <ps_partkey = 1772, value = 840803.25> -> 1, <ps_partkey = 158, value = 1162808.4000000001> -> 1, <ps_partkey = 656, value = 4086397.3499999996> -> 1, <ps_partkey = 1256, value = 2535228.77> -> 1, <ps_partkey = 323, value = 6711041.16> -> 1, <ps_partkey = 174, value = 974946.6> -> 1, <ps_partkey = 1807, value = 1948993.6199999999> -> 1, <ps_partkey = 200, value = 2422399.1999999997> -> 1, <ps_partkey = 973, value = 4762993.4> -> 1, <ps_partkey = 1520, value = 3980303.28> -> 1, <ps_partkey = 1030, value = 6146500.28> -> 1, <ps_partkey = 469, value = 499663.14999999997> -> 1, <ps_partkey = 1968, value = 5187606.89> -> 1, <ps_partkey = 1758, value = 5985370.279999999> -> 1, <ps_partkey = 540, value = 547160.22> -> 1, <ps_partkey = 1518, value = 2049917.3699999999> -> 1, <ps_partkey = 1538, value = 5932361.100000001> -> 1, <ps_partkey = 558, value = 1588938.87> -> 1, <ps_partkey = 1765, value = 564310.8> -> 1, <ps_partkey = 273, value = 6637.68> -> 1, <ps_partkey = 600, value = 519995.08> -> 1, <ps_partkey = 1331, value = 4606279.3> -> 1, <ps_partkey = 665, value = 160444.68000000002> -> 1, <ps_partkey = 1580, value = 4134919.18> -> 1, <ps_partkey = 932, value = 1833.1> -> 1, <ps_partkey = 1870, value = 196615.97999999998> -> 1, <ps_partkey = 1000, value = 3887319.48> -> 1, <ps_partkey = 775, value = 3615408.44> -> 1, <ps_partkey = 711, value = 2253256.46> -> 1, <ps_partkey = 1207, value = 304614.51> -> 1, <ps_partkey = 302, value = 6978741.359999999> -> 1, <ps_partkey = 246, value = 1278905.24> -> 1, <ps_partkey = 1774, value = 9290783.4> -> 1, <ps_partkey = 1065, value = 5623735.0> -> 1, <ps_partkey = 1461, value = 2250255.19> -> 1, <ps_partkey = 1186, value = 570225.15> -> 1, <ps_partkey = 900, value = 661739.98> -> 1, <ps_partkey = 1324, value = 4731582.3> -> 1, <ps_partkey = 83, value = 96199.7> -> 1, <ps_partkey = 1289, value = 6550824.72> -> 1, <ps_partkey = 1007, value = 2481748.17> -> 1, <ps_partkey = 1567, value = 263177.94> -> 1, <ps_partkey = 807, value = 1177344.0> -> 1, <ps_partkey = 413, value = 3002485.88> -> 1, <ps_partkey = 856, value = 1507307.36> -> 1, <ps_partkey = 1963, value = 512660.64> -> 1, <ps_partkey = 1756, value = 3873476.33> -> 1, <ps_partkey = 704, value = 2761460.85> -> 1, <ps_partkey = 280, value = 388567.2> -> 1, <ps_partkey = 107, value = 1218049.47> -> 1, <ps_partkey = 1422, value = 465578.88> -> 1, <ps_partkey = 1358, value = 2979885.8000000003> -> 1, <ps_partkey = 427, value = 3489967.9099999997> -> 1, <ps_partkey = 8, value = 2172003.9> -> 1, <ps_partkey = 1666, value = 2749847.5> -> 1, <ps_partkey = 1633, value = 3691975.85> -> 1, <ps_partkey = 743, value = 510718.56000000006> -> 1, <ps_partkey = 1500, value = 2159728.4899999998> -> 1, <ps_partkey = 1829, value = 1990991.52> -> 1, <ps_partkey = 1356, value = 6349557.25> -> 1, <ps_partkey = 1072, value = 322735.36> -> 1, <ps_partkey = 1458, value = 637333.36> -> 1, <ps_partkey = 1625, value = 4638409.28> -> 1, <ps_partkey = 1086, value = 1165711.68> -> 1, <ps_partkey = 1716, value = 6891313.59> -> 1, <ps_partkey = 988, value = 4204128.5> -> 1, <ps_partkey = 1380, value = 3660852.9299999997> -> 1, <ps_partkey = 1714, value = 726526.69> -> 1, <ps_partkey = 694, value = 2193139.89> -> 1, <ps_partkey = 155, value = 1251037.5799999998> -> 1, <ps_partkey = 1284, value = 2976843.08> -> 1, <ps_partkey = 226, value = 278589.36> -> 1, <ps_partkey = 258, value = 858240.39> -> 1, <ps_partkey = 253, value = 5113184.01> -> 1, <ps_partkey = 1192, value = 934371.5099999999> -> 1, <ps_partkey = 760, value = 892115.8999999999> -> 1, <ps_partkey = 596, value = 2732389.5> -> 1, <ps_partkey = 756, value = 1049561.76> -> 1, <ps_partkey = 1723, value = 2809919.7199999997> -> 1, <ps_partkey = 922, value = 3682471.7600000002> -> 1, <ps_partkey = 1369, value = 2475058.0599999996> -> 1, <ps_partkey = 625, value = 2859391.92> -> 1, <ps_partkey = 1407, value = 4618268.98> -> 1, <ps_partkey = 1871, value = 8183061.2> -> 1, <ps_partkey = 607, value = 1903386.08> -> 1, <ps_partkey = 1558, value = 1369224.32> -> 1, <ps_partkey = 1912, value = 4410473.56> -> 1, <ps_partkey = 1707, value = 2337098.72> -> 1, <ps_partkey = 2000, value = 85176.94> -> 1, <ps_partkey = 1247, value = 476249.2> -> 1, <ps_partkey = 1441, value = 1603241.91> -> 1, <ps_partkey = 792, value = 3072789.02> -> 1, <ps_partkey = 204, value = 1095291.6> -> 1, <ps_partkey = 990, value = 1415426.1199999999> -> 1, <ps_partkey = 598, value = 57815.46> -> 1, <ps_partkey = 1226, value = 6176020.2> -> 1, <ps_partkey = 1318, value = 897755.52> -> 1, <ps_partkey = 1158, value = 7062935.100000001> -> 1, <ps_partkey = 56, value = 206148.99> -> 1, <ps_partkey = 1600, value = 3702737.36> -> 1, <ps_partkey = 1282, value = 2135785.52> -> 1, <ps_partkey = 1400, value = 3602807.0> -> 1, <ps_partkey = 1926, value = 3858669.8200000003> -> 1, <ps_partkey = 1814, value = 4756541.779999999> -> 1, <ps_partkey = 1856, value = 4751101.32> -> 1, <ps_partkey = 132, value = 1762589.92> -> 1, <ps_partkey = 907, value = 3532344.8400000003> -> 1, <ps_partkey = 890, value = 4661916.0> -> 1, <ps_partkey = 696, value = 2742182.2199999997> -> 1, <ps_partkey = 1914, value = 2978088.96> -> 1, <ps_partkey = 1560, value = 495795.66000000003> -> 1, <ps_partkey = 316, value = 2666496.0> -> 1, <ps_partkey = 1857, value = 3785417.3999999994> -> 1, <ps_partkey = 801, value = 5010725.16> -> 1, <ps_partkey = 458, value = 1005327.1900000001> -> 1, <ps_partkey = 859, value = 5201224.6> -> 1, <ps_partkey = 300, value = 6025304.38> -> 1, <ps_partkey = 762, value = 1594238.3> -> 1, <ps_partkey = 374, value = 1383177.12> -> 1, <ps_partkey = 379, value = 1928406.7> -> 1, <ps_partkey = 1507, value = 2407162.58> -> 1, <ps_partkey = 471, value = 230399.49> -> 1, <ps_partkey = 100, value = 3868459.85> -> 1, <ps_partkey = 104, value = 1340876.41> -> 1, <ps_partkey = 1150, value = 475310.0> -> 1, <ps_partkey = 1382, value = 64638.420000000006> -> 1, <ps_partkey = 568, value = 2546245.8> -> 1, <ps_partkey = 956, value = 8590359.76> -> 1, <ps_partkey = 328, value = 1925836.0> -> 1, <ps_partkey = 800, value = 784141.71> -> 1, <ps_partkey = 178, value = 3289195.96> -> 1, <ps_partkey = 645, value = 10285.140000000001> -> 1, <ps_partkey = 577, value = 4058240.22> -> 1, <ps_partkey = 1037, value = 997849.3> -> 1, <ps_partkey = 1656, value = 1759113.7> -> 1, <ps_partkey = 794, value = 4823775.25> -> 1, <ps_partkey = 1148, value = 5013394.56> -> 1, <ps_partkey = 202, value = 436423.99999999994> -> 1, <ps_partkey = 358, value = 6528607.12> -> 1, <ps_partkey = 1419, value = 87423.84> -> 1, <ps_partkey = 939, value = 3142017.29> -> 1, <ps_partkey = 1659, value = 5809242.09> -> 1, <ps_partkey = 1618, value = 3035083.89> -> 1, <ps_partkey = 676, value = 3130618.84> -> 1, <ps_partkey = 106, value = 437974.39999999997> -> 1, <ps_partkey = 82, value = 4509950.28> -> 1, <ps_partkey = 966, value = 8163824.79> -> 1, <ps_partkey = 1900, value = 1072724.48> -> 1, <ps_partkey = 1730, value = 6428662.24> -> 1, <ps_partkey = 7, value = 5694706.92> -> 1, <ps_partkey = 1021, value = 498030.5> -> 1, <ps_partkey = 1858, value = 71628.26> -> 1, <ps_partkey = 1700, value = 411386.85> -> 1, <ps_partkey = 958, value = 2738032.0> -> 1, <ps_partkey = 1674, value = 300316.41000000003> -> 1, <ps_partkey = 510, value = 3056104.52> -> 1, <ps_partkey = 1635, value = 3198161.12> -> 1, <ps_partkey = 275, value = 2663739.82> -> 1, <ps_partkey = 758, value = 2903365.06> -> 1, <ps_partkey = 6, value = 2142145.68> -> 1, <ps_partkey = 707, value = 787012.2000000001> -> 1, <ps_partkey = 1053, value = 3735760.4> -> 1, <ps_partkey = 857, value = 9266662.8> -> 1, <ps_partkey = 1536, value = 6211521.5> -> 1, <ps_partkey = 1263, value = 571828.32> -> 1, <ps_partkey = 1781, value = 2924299.71> -> 1, <ps_partkey = 58, value = 2348026.56> -> 1, <ps_partkey = 50, value = 1854529.6> -> 1, <ps_partkey = 356, value = 3721779.6> -> 1, <ps_partkey = 1907, value = 2463718.18> -> 1, <ps_partkey = 400, value = 2954311.79> -> 1, <ps_partkey = 954, value = 5353965.989999999> -> 1, <ps_partkey = 307, value = 640566.9> -> 1, <ps_partkey = 478, value = 414922.5> -> 1, <ps_partkey = 858, value = 2546150.72> -> 1, <ps_partkey = 1270, value = 4525770.84> -> 1, <ps_partkey = 25, value = 5479970.600000001> -> 1, <ps_partkey = 32, value = 6795642.42> -> 1, <ps_partkey = 658, value = 1831886.4> -> 1, <ps_partkey = 1219, value = 707740.88> -> 1, <ps_partkey = 1056, value = 3755627.1> -> 1, <ps_partkey = 1576, value = 491064.73> -> 1, <ps_partkey = 1872, value = 2998980.7399999998> -> 1, <ps_partkey = 1233, value = 1653473.25> -> 1, <ps_partkey = 344, value = 3296061.08> -> 1, <ps_partkey = 1607, value = 1962685.84> -> 1, <ps_partkey = 627, value = 1211248.48> -> 1, <ps_partkey = 663, value = 1989354.15> -> 1, <ps_partkey = 736, value = 5158971.75> -> 1, <ps_partkey = 1878, value = 4433269.4> -> 1, <ps_partkey = 1468, value = 1045113.91> -> 1, <ps_partkey = 1429, value = 3668646.94> -> 1, <ps_partkey = 867, value = 584413.25> -> 1, <ps_partkey = 1156, value = 774355.68> -> 1, <ps_partkey = 372, value = 1562993.6800000002> -> 1, <ps_partkey = 1864, value = 1400317.24> -> 1, <ps_partkey = 442, value = 4107626.12> -> 1, <ps_partkey = 1490, value = 4152274.2> -> 1, <ps_partkey = 1296, value = 3731082.81> -> 1, <ps_partkey = 156, value = 2157295.95> -> 1, <ps_partkey = 570, value = 7665801.33> -> 1, <ps_partkey = 1122, value = 4909175.699999999> -> 1, <ps_partkey = 1970, value = 1329141.96> -> 1, <ps_partkey = 1120, value = 8174653.760000001> -> 1, <ps_partkey = 507, value = 2771783.88> -> 1, <ps_partkey = 834, value = 218198.88> -> 1, <ps_partkey = 1676, value = 3146434.1999999997> -> 1, <ps_partkey = 81, value = 28547.02> -> 1, <ps_partkey = 1320, value = 5288888.46> -> 1, <ps_partkey = 1051, value = 3983423.85> -> 1, <ps_partkey = 1615, value = 3780733.58> -> 1, <ps_partkey = 1393, value = 2509866.86> -> 1, <ps_partkey = 874, value = 3028617.33> -> 1, <ps_partkey = 1135, value = 1589612.64> -> 1, <ps_partkey = 823, value = 290098.89999999997> -> 1}

[success] Total time: 2 s, completed 2022年7月30日 上午6:34:08
========================================================
pysdql execution time: 16.700340509414673
export sdql script "tpch-11.sdql" to "T:/UG4-Proj/output/tpch-11.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-11.sdql

{<ps_partkey = 1342, value = 7061613.3> -> 1, <ps_partkey = 1677, value = 2264531.49> -> 1, <ps_partkey = 1002, value = 575242.2000000001> -> 1, <ps_partkey = 1732, value = 8597039.36> -> 1, <ps_partkey = 129, value = 53568.96> -> 1, <ps_partkey = 33, value = 4097110.5> -> 1, <ps_partkey = 700, value = 1150329.6> -> 1, <ps_partkey = 547, value = 3111151.03> -> 1, <ps_partkey = 1815, value = 4465069.350000001> -> 1, <ps_partkey = 456, value = 411251.58> -> 1, <ps_partkey = 1516, value = 370163.04> -> 1, <ps_partkey = 498, value = 3355774.8000000003> -> 1, <ps_partkey = 669, value = 3861960.6> -> 1, <ps_partkey = 1184, value = 2166774.16> -> 1, <ps_partkey = 277, value = 5521729.6> -> 1, <ps_partkey = 1587, value = 5709147.720000001> -> 1, <ps_partkey = 122, value = 1539857.75> -> 1, <ps_partkey = 1362, value = 7789015.78> -> 1, <ps_partkey = 808, value = 5173769.95> -> 1, <ps_partkey = 1800, value = 437855.04> -> 1, <ps_partkey = 57, value = 801768.08> -> 1, <ps_partkey = 998, value = 6194554.74> -> 1, <ps_partkey = 1684, value = 1057286.24> -> 1, <ps_partkey = 256, value = 4239334.850000001> -> 1, <ps_partkey = 1258, value = 861653.9> -> 1, <ps_partkey = 1919, value = 450771.44> -> 1, <ps_partkey = 420, value = 634626.6> -> 1, <ps_partkey = 1300, value = 845873.6> -> 1, <ps_partkey = 528, value = 3267059.38> -> 1, <ps_partkey = 556, value = 1896202.7999999998> -> 1, <ps_partkey = 1478, value = 3707942.32> -> 1, <ps_partkey = 924, value = 77592.77> -> 1, <ps_partkey = 1924, value = 1170927.6> -> 1, <ps_partkey = 181, value = 2874130.26> -> 1, <ps_partkey = 1483, value = 2751807.1999999997> -> 1, <ps_partkey = 1617, value = 660072.4> -> 1, <ps_partkey = 1658, value = 3055879.05> -> 1, <ps_partkey = 1095, value = 470584.37> -> 1, <ps_partkey = 1221, value = 8833018.68> -> 1, <ps_partkey = 724, value = 316805.28> -> 1, <ps_partkey = 892, value = 1491389.25> -> 1, <ps_partkey = 1956, value = 2079322.82> -> 1, <ps_partkey = 905, value = 691178.4> -> 1, <ps_partkey = 1128, value = 5521355.96> -> 1, <ps_partkey = 1344, value = 2859682.5500000003> -> 1, <ps_partkey = 429, value = 5038872.86> -> 1, <ps_partkey = 1480, value = 1879967.74> -> 1, <ps_partkey = 1023, value = 2070179.1> -> 1, <ps_partkey = 407, value = 5074151.88> -> 1, <ps_partkey = 1556, value = 5795392.12> -> 1, <ps_partkey = 526, value = 3255073.5> -> 1, <ps_partkey = 1827, value = 2502568.08> -> 1, <ps_partkey = 1456, value = 59140.54> -> 1, <ps_partkey = 1171, value = 1619571.0> -> 1, <ps_partkey = 148, value = 1424237.3699999999> -> 1, <ps_partkey = 1200, value = 207460.44> -> 1, <ps_partkey = 1164, value = 4684696.640000001> -> 1, <ps_partkey = 1958, value = 56616.56> -> 1, <ps_partkey = 1245, value = 5226280.11> -> 1, <ps_partkey = 1107, value = 3238911.9> -> 1, <ps_partkey = 1199, value = 702243.08> -> 1, <ps_partkey = 1307, value = 2346458.0> -> 1, <ps_partkey = 768, value = 2577407.06> -> 1, <ps_partkey = 351, value = 424382.82> -> 1, <ps_partkey = 1813, value = 6193550.88> -> 1, <ps_partkey = 841, value = 1168844.8> -> 1, <ps_partkey = 1527, value = 5061519.58> -> 1, <ps_partkey = 1821, value = 1570326.94> -> 1, <ps_partkey = 1386, value = 1676526.4> -> 1, <ps_partkey = 1088, value = 2870991.1999999997> -> 1, <ps_partkey = 31, value = 236051.49> -> 1, <ps_partkey = 1417, value = 3184792.4499999997> -> 1, <ps_partkey = 500, value = 3113725.5> -> 1, <ps_partkey = 231, value = 1265433.3> -> 1, <ps_partkey = 638, value = 4990373.489999999> -> 1, <ps_partkey = 449, value = 348441.47> -> 1, <ps_partkey = 517, value = 7622966.430000001> -> 1, <ps_partkey = 726, value = 2122892.04> -> 1, <ps_partkey = 1439, value = 5630783.85> -> 1, <ps_partkey = 1975, value = 2149154.22> -> 1, <ps_partkey = 130, value = 1903982.22> -> 1, <ps_partkey = 180, value = 5101632.17> -> 1, <ps_partkey = 614, value = 3458655.1999999997> -> 1, <ps_partkey = 207, value = 3123356.04> -> 1, <ps_partkey = 1578, value = 166549.99> -> 1, <ps_partkey = 330, value = 2036339.4> -> 1, <ps_partkey = 1058, value = 3569616.62> -> 1, <ps_partkey = 229, value = 2380173.04> -> 1, <ps_partkey = 825, value = 2450584.68> -> 1, <ps_partkey = 1100, value = 5548169.55> -> 1, <ps_partkey = 75, value = 4790042.88> -> 1, <ps_partkey = 566, value = 743913.8400000001> -> 1, <ps_partkey = 1772, value = 840803.25> -> 1, <ps_partkey = 158, value = 1162808.4000000001> -> 1, <ps_partkey = 656, value = 4086397.3499999996> -> 1, <ps_partkey = 1256, value = 2535228.77> -> 1, <ps_partkey = 323, value = 6711041.16> -> 1, <ps_partkey = 174, value = 974946.6> -> 1, <ps_partkey = 1807, value = 1948993.6199999999> -> 1, <ps_partkey = 200, value = 2422399.1999999997> -> 1, <ps_partkey = 973, value = 4762993.4> -> 1, <ps_partkey = 1520, value = 3980303.28> -> 1, <ps_partkey = 1030, value = 6146500.28> -> 1, <ps_partkey = 469, value = 499663.14999999997> -> 1, <ps_partkey = 1968, value = 5187606.89> -> 1, <ps_partkey = 1758, value = 5985370.279999999> -> 1, <ps_partkey = 540, value = 547160.22> -> 1, <ps_partkey = 1518, value = 2049917.3699999999> -> 1, <ps_partkey = 1538, value = 5932361.100000001> -> 1, <ps_partkey = 558, value = 1588938.87> -> 1, <ps_partkey = 1765, value = 564310.8> -> 1, <ps_partkey = 273, value = 6637.68> -> 1, <ps_partkey = 600, value = 519995.08> -> 1, <ps_partkey = 1331, value = 4606279.3> -> 1, <ps_partkey = 665, value = 160444.68000000002> -> 1, <ps_partkey = 1580, value = 4134919.18> -> 1, <ps_partkey = 932, value = 1833.1> -> 1, <ps_partkey = 1870, value = 196615.97999999998> -> 1, <ps_partkey = 1000, value = 3887319.48> -> 1, <ps_partkey = 775, value = 3615408.44> -> 1, <ps_partkey = 711, value = 2253256.46> -> 1, <ps_partkey = 1207, value = 304614.51> -> 1, <ps_partkey = 302, value = 6978741.359999999> -> 1, <ps_partkey = 246, value = 1278905.24> -> 1, <ps_partkey = 1774, value = 9290783.4> -> 1, <ps_partkey = 1065, value = 5623735.0> -> 1, <ps_partkey = 1461, value = 2250255.19> -> 1, <ps_partkey = 1186, value = 570225.15> -> 1, <ps_partkey = 900, value = 661739.98> -> 1, <ps_partkey = 1324, value = 4731582.3> -> 1, <ps_partkey = 83, value = 96199.7> -> 1, <ps_partkey = 1289, value = 6550824.72> -> 1, <ps_partkey = 1007, value = 2481748.17> -> 1, <ps_partkey = 1567, value = 263177.94> -> 1, <ps_partkey = 807, value = 1177344.0> -> 1, <ps_partkey = 413, value = 3002485.88> -> 1, <ps_partkey = 856, value = 1507307.36> -> 1, <ps_partkey = 1963, value = 512660.64> -> 1, <ps_partkey = 1756, value = 3873476.33> -> 1, <ps_partkey = 704, value = 2761460.85> -> 1, <ps_partkey = 280, value = 388567.2> -> 1, <ps_partkey = 107, value = 1218049.47> -> 1, <ps_partkey = 1422, value = 465578.88> -> 1, <ps_partkey = 1358, value = 2979885.8000000003> -> 1, <ps_partkey = 427, value = 3489967.9099999997> -> 1, <ps_partkey = 8, value = 2172003.9> -> 1, <ps_partkey = 1666, value = 2749847.5> -> 1, <ps_partkey = 1633, value = 3691975.85> -> 1, <ps_partkey = 743, value = 510718.56000000006> -> 1, <ps_partkey = 1500, value = 2159728.4899999998> -> 1, <ps_partkey = 1829, value = 1990991.52> -> 1, <ps_partkey = 1356, value = 6349557.25> -> 1, <ps_partkey = 1072, value = 322735.36> -> 1, <ps_partkey = 1458, value = 637333.36> -> 1, <ps_partkey = 1625, value = 4638409.28> -> 1, <ps_partkey = 1086, value = 1165711.68> -> 1, <ps_partkey = 1716, value = 6891313.59> -> 1, <ps_partkey = 988, value = 4204128.5> -> 1, <ps_partkey = 1380, value = 3660852.9299999997> -> 1, <ps_partkey = 1714, value = 726526.69> -> 1, <ps_partkey = 694, value = 2193139.89> -> 1, <ps_partkey = 155, value = 1251037.5799999998> -> 1, <ps_partkey = 1284, value = 2976843.08> -> 1, <ps_partkey = 226, value = 278589.36> -> 1, <ps_partkey = 258, value = 858240.39> -> 1, <ps_partkey = 253, value = 5113184.01> -> 1, <ps_partkey = 1192, value = 934371.5099999999> -> 1, <ps_partkey = 760, value = 892115.8999999999> -> 1, <ps_partkey = 596, value = 2732389.5> -> 1, <ps_partkey = 756, value = 1049561.76> -> 1, <ps_partkey = 1723, value = 2809919.7199999997> -> 1, <ps_partkey = 922, value = 3682471.7600000002> -> 1, <ps_partkey = 1369, value = 2475058.0599999996> -> 1, <ps_partkey = 625, value = 2859391.92> -> 1, <ps_partkey = 1407, value = 4618268.98> -> 1, <ps_partkey = 1871, value = 8183061.2> -> 1, <ps_partkey = 607, value = 1903386.08> -> 1, <ps_partkey = 1558, value = 1369224.32> -> 1, <ps_partkey = 1912, value = 4410473.56> -> 1, <ps_partkey = 1707, value = 2337098.72> -> 1, <ps_partkey = 2000, value = 85176.94> -> 1, <ps_partkey = 1247, value = 476249.2> -> 1, <ps_partkey = 1441, value = 1603241.91> -> 1, <ps_partkey = 792, value = 3072789.02> -> 1, <ps_partkey = 204, value = 1095291.6> -> 1, <ps_partkey = 990, value = 1415426.1199999999> -> 1, <ps_partkey = 598, value = 57815.46> -> 1, <ps_partkey = 1226, value = 6176020.2> -> 1, <ps_partkey = 1318, value = 897755.52> -> 1, <ps_partkey = 1158, value = 7062935.100000001> -> 1, <ps_partkey = 56, value = 206148.99> -> 1, <ps_partkey = 1600, value = 3702737.36> -> 1, <ps_partkey = 1282, value = 2135785.52> -> 1, <ps_partkey = 1400, value = 3602807.0> -> 1, <ps_partkey = 1926, value = 3858669.8200000003> -> 1, <ps_partkey = 1814, value = 4756541.779999999> -> 1, <ps_partkey = 1856, value = 4751101.32> -> 1, <ps_partkey = 132, value = 1762589.92> -> 1, <ps_partkey = 907, value = 3532344.8400000003> -> 1, <ps_partkey = 890, value = 4661916.0> -> 1, <ps_partkey = 696, value = 2742182.2199999997> -> 1, <ps_partkey = 1914, value = 2978088.96> -> 1, <ps_partkey = 1560, value = 495795.66000000003> -> 1, <ps_partkey = 316, value = 2666496.0> -> 1, <ps_partkey = 1857, value = 3785417.3999999994> -> 1, <ps_partkey = 801, value = 5010725.16> -> 1, <ps_partkey = 458, value = 1005327.1900000001> -> 1, <ps_partkey = 859, value = 5201224.6> -> 1, <ps_partkey = 300, value = 6025304.38> -> 1, <ps_partkey = 762, value = 1594238.3> -> 1, <ps_partkey = 374, value = 1383177.12> -> 1, <ps_partkey = 379, value = 1928406.7> -> 1, <ps_partkey = 1507, value = 2407162.58> -> 1, <ps_partkey = 471, value = 230399.49> -> 1, <ps_partkey = 100, value = 3868459.85> -> 1, <ps_partkey = 104, value = 1340876.41> -> 1, <ps_partkey = 1150, value = 475310.0> -> 1, <ps_partkey = 1382, value = 64638.420000000006> -> 1, <ps_partkey = 568, value = 2546245.8> -> 1, <ps_partkey = 956, value = 8590359.76> -> 1, <ps_partkey = 328, value = 1925836.0> -> 1, <ps_partkey = 800, value = 784141.71> -> 1, <ps_partkey = 178, value = 3289195.96> -> 1, <ps_partkey = 645, value = 10285.140000000001> -> 1, <ps_partkey = 577, value = 4058240.22> -> 1, <ps_partkey = 1037, value = 997849.3> -> 1, <ps_partkey = 1656, value = 1759113.7> -> 1, <ps_partkey = 794, value = 4823775.25> -> 1, <ps_partkey = 1148, value = 5013394.56> -> 1, <ps_partkey = 202, value = 436423.99999999994> -> 1, <ps_partkey = 358, value = 6528607.12> -> 1, <ps_partkey = 1419, value = 87423.84> -> 1, <ps_partkey = 939, value = 3142017.29> -> 1, <ps_partkey = 1659, value = 5809242.09> -> 1, <ps_partkey = 1618, value = 3035083.89> -> 1, <ps_partkey = 676, value = 3130618.84> -> 1, <ps_partkey = 106, value = 437974.39999999997> -> 1, <ps_partkey = 82, value = 4509950.28> -> 1, <ps_partkey = 966, value = 8163824.79> -> 1, <ps_partkey = 1900, value = 1072724.48> -> 1, <ps_partkey = 1730, value = 6428662.24> -> 1, <ps_partkey = 7, value = 5694706.92> -> 1, <ps_partkey = 1021, value = 498030.5> -> 1, <ps_partkey = 1858, value = 71628.26> -> 1, <ps_partkey = 1700, value = 411386.85> -> 1, <ps_partkey = 958, value = 2738032.0> -> 1, <ps_partkey = 1674, value = 300316.41000000003> -> 1, <ps_partkey = 510, value = 3056104.52> -> 1, <ps_partkey = 1635, value = 3198161.12> -> 1, <ps_partkey = 275, value = 2663739.82> -> 1, <ps_partkey = 758, value = 2903365.06> -> 1, <ps_partkey = 6, value = 2142145.68> -> 1, <ps_partkey = 707, value = 787012.2000000001> -> 1, <ps_partkey = 1053, value = 3735760.4> -> 1, <ps_partkey = 857, value = 9266662.8> -> 1, <ps_partkey = 1536, value = 6211521.5> -> 1, <ps_partkey = 1263, value = 571828.32> -> 1, <ps_partkey = 1781, value = 2924299.71> -> 1, <ps_partkey = 58, value = 2348026.56> -> 1, <ps_partkey = 50, value = 1854529.6> -> 1, <ps_partkey = 356, value = 3721779.6> -> 1, <ps_partkey = 1907, value = 2463718.18> -> 1, <ps_partkey = 400, value = 2954311.79> -> 1, <ps_partkey = 954, value = 5353965.989999999> -> 1, <ps_partkey = 307, value = 640566.9> -> 1, <ps_partkey = 478, value = 414922.5> -> 1, <ps_partkey = 858, value = 2546150.72> -> 1, <ps_partkey = 1270, value = 4525770.84> -> 1, <ps_partkey = 25, value = 5479970.600000001> -> 1, <ps_partkey = 32, value = 6795642.42> -> 1, <ps_partkey = 658, value = 1831886.4> -> 1, <ps_partkey = 1219, value = 707740.88> -> 1, <ps_partkey = 1056, value = 3755627.1> -> 1, <ps_partkey = 1576, value = 491064.73> -> 1, <ps_partkey = 1872, value = 2998980.7399999998> -> 1, <ps_partkey = 1233, value = 1653473.25> -> 1, <ps_partkey = 344, value = 3296061.08> -> 1, <ps_partkey = 1607, value = 1962685.84> -> 1, <ps_partkey = 627, value = 1211248.48> -> 1, <ps_partkey = 663, value = 1989354.15> -> 1, <ps_partkey = 736, value = 5158971.75> -> 1, <ps_partkey = 1878, value = 4433269.4> -> 1, <ps_partkey = 1468, value = 1045113.91> -> 1, <ps_partkey = 1429, value = 3668646.94> -> 1, <ps_partkey = 867, value = 584413.25> -> 1, <ps_partkey = 1156, value = 774355.68> -> 1, <ps_partkey = 372, value = 1562993.6800000002> -> 1, <ps_partkey = 1864, value = 1400317.24> -> 1, <ps_partkey = 442, value = 4107626.12> -> 1, <ps_partkey = 1490, value = 4152274.2> -> 1, <ps_partkey = 1296, value = 3731082.81> -> 1, <ps_partkey = 156, value = 2157295.95> -> 1, <ps_partkey = 570, value = 7665801.33> -> 1, <ps_partkey = 1122, value = 4909175.699999999> -> 1, <ps_partkey = 1970, value = 1329141.96> -> 1, <ps_partkey = 1120, value = 8174653.760000001> -> 1, <ps_partkey = 507, value = 2771783.88> -> 1, <ps_partkey = 834, value = 218198.88> -> 1, <ps_partkey = 1676, value = 3146434.1999999997> -> 1, <ps_partkey = 81, value = 28547.02> -> 1, <ps_partkey = 1320, value = 5288888.46> -> 1, <ps_partkey = 1051, value = 3983423.85> -> 1, <ps_partkey = 1615, value = 3780733.58> -> 1, <ps_partkey = 1393, value = 2509866.86> -> 1, <ps_partkey = 874, value = 3028617.33> -> 1, <ps_partkey = 1135, value = 1589612.64> -> 1, <ps_partkey = 823, value = 290098.89999999997> -> 1}

### pandas - 11

In [23]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'PERU'
var2 = 0.0001

partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'

r1 = sub_n.merge(supplier, left_on='n_nationkey', right_on='s_nationkey')
r1.columns.name = 'r1'

r2 = r1.merge(partsupp, left_on='s_suppkey', right_on='ps_suppkey')
r2.columns.name = 'r2'

agg_val = (r2['ps_supplycost'] * r2['ps_availqty'] * var2).sum()

# GOURPBY HAVING
r = r2.groupby(['ps_partkey']).filter(lambda x: (x['ps_supplycost'] * x['ps_availqty']).sum() > agg_val)

r['value'] = r['ps_supplycost'] * r['ps_availqty']

# SELECT GROUPBY AGGREGATION
r = r.groupby(['ps_partkey'], as_index=False).agg(value=('value', 'sum'))

print(r)

pysdql.db_driver(db_path=r'T:/sdql', name='tpch-11').run(r).export().to()

     ps_partkey       value
0             6  2142145.68
1             7  5694706.92
2             8  2172003.90
3            25  5479970.60
4            31   236051.49
5            32  6795642.42
6            33  4097110.50
7            50  1854529.60
8            56   206148.99
9            57   801768.08
10           58  2348026.56
11           75  4790042.88
12           82  4509950.28
13           83    96199.70
14          100  3868459.85
15          104  1340876.41
16          106   437974.40
17          107  1218049.47
18          122  1539857.75
19          130  1903982.22
20          132  1762589.92
21          148  1424237.37
22          155  1251037.58
23          156  2157295.95
24          158  1162808.40
25          174   974946.60
26          178  3289195.96
27          180  5101632.17
28          181  2874130.26
29          200  2422399.20
30          202   436424.00
31          204  1095291.60
32          207  3123356.04
33          226   278589.36
34          229  2380173.04
35          231  1265433.30
36          246  1278905.24
37          253  5113184.01
38          256  4239334.85
39          258   858240.39
40          275  2663739.82
41          277  5521729.60
42          280   388567.20
43          300  6025304.38
44          302  6978741.36
45          307   640566.90
46          316  2666496.00
47          323  6711041.16
48          328  1925836.00
49          330  2036339.40
50          344  3296061.08
51          351   424382.82
52          356  3721779.60
53          358  6528607.12
54          372  1562993.68
55          374  1383177.12
56          379  1928406.70
57          400  2954311.79
58          407  5074151.88
59          413  3002485.88
60          420   634626.60
61          427  3489967.91
62          429  5038872.86
63          442  4107626.12
64          449   348441.47
65          456   411251.58
66          458  1005327.19
67          469   499663.15
68          471   230399.49
69          478   414922.50
70          498  3355774.80
71          500  3113725.50
72          507  2771783.88
73          510  3056104.52
74          517  7622966.43
75          526  3255073.50
76          528  3267059.38
77          540   547160.22
78          547  3111151.03
79          556  1896202.80
80          558  1588938.87
81          566   743913.84
82          568  2546245.80
83          570  7665801.33
84          577  4058240.22
85          596  2732389.50
86          600   519995.08
87          607  1903386.08
88          614  3458655.20
89          625  2859391.92
90          627  1211248.48
91          638  4990373.49
92          656  4086397.35
93          658  1831886.40
94          663  1989354.15
95          665   160444.68
96          669  3861960.60
97          676  3130618.84
98          694  2193139.89
99          696  2742182.22
100         700  1150329.60
101         704  2761460.85
102         707   787012.20
103         711  2253256.46
104         724   316805.28
105         726  2122892.04
106         736  5158971.75
107         743   510718.56
108         756  1049561.76
109         758  2903365.06
110         760   892115.90
111         762  1594238.30
112         768  2577407.06
113         775  3615408.44
114         792  3072789.02
115         794  4823775.25
116         800   784141.71
117         801  5010725.16
118         807  1177344.00
119         808  5173769.95
120         823   290098.90
121         825  2450584.68
122         834   218198.88
123         841  1168844.80
124         856  1507307.36
125         857  9266662.80
126         858  2546150.72
127         859  5201224.60
128         867   584413.25
129         874  3028617.33
130         890  4661916.00
131         892  1491389.25
132         900   661739.98
133         905   691178.40
134         907  3532344.84
135         922  3682471.76
136         939  3142017.29
137         954  5353965.99
138         956  8590359.76
139         958  2738032.00
140         966  8163824.79
141         973  4762993.40
142         988  4204128.50
143         990  1415426.12
144         998  6194554.74
145        1000  3887319.48
146        1002   575242.20
147        1007  2481748.17
148        1021   498030.50
149        1023  2070179.10
150        1030  6146500.28
151        1037   997849.30
152        1051  3983423.85
153        1053  3735760.40
154        1056  3755627.10
155        1058  3569616.62
156        1065  5623735.00
157        1072   322735.36
158        1086  1165711.68
159        1088  2870991.20
160        1095   470584.37
161        1100  5548169.55
162        1107  3238911.90
163        1120  8174653.76
164        1122  4909175.70
165        1128  5521355.96
166        1135  1589612.64
167        1148  5013394.56
168        1150   475310.00
169        1156   774355.68
170        1158  7062935.10
171        1164  4684696.64
172        1171  1619571.00
173        1184  2166774.16
174        1186   570225.15
175        1192   934371.51
176        1199   702243.08
177        1200   207460.44
178        1207   304614.51
179        1219   707740.88
180        1221  8833018.68
181        1226  6176020.20
182        1233  1653473.25
183        1245  5226280.11
184        1247   476249.20
185        1256  2535228.77
186        1258   861653.90
187        1263   571828.32
188        1270  4525770.84
189        1282  2135785.52
190        1284  2976843.08
191        1289  6550824.72
192        1296  3731082.81
193        1300   845873.60
194        1307  2346458.00
195        1318   897755.52
196        1320  5288888.46
197        1324  4731582.30
198        1331  4606279.30
199        1342  7061613.30
200        1344  2859682.55
201        1356  6349557.25
202        1358  2979885.80
203        1362  7789015.78
204        1369  2475058.06
205        1380  3660852.93
206        1386  1676526.40
207        1393  2509866.86
208        1400  3602807.00
209        1407  4618268.98
210        1417  3184792.45
211        1419    87423.84
212        1422   465578.88
213        1429  3668646.94
214        1439  5630783.85
215        1441  1603241.91
216        1458   637333.36
217        1461  2250255.19
218        1468  1045113.91
219        1478  3707942.32
220        1480  1879967.74
221        1483  2751807.20
222        1490  4152274.20
223        1500  2159728.49
224        1507  2407162.58
225        1516   370163.04
226        1518  2049917.37
227        1520  3980303.28
228        1527  5061519.58
229        1536  6211521.50
230        1538  5932361.10
231        1556  5795392.12
232        1558  1369224.32
233        1560   495795.66
234        1567   263177.94
235        1576   491064.73
236        1578   166549.99
237        1580  4134919.18
238        1587  5709147.72
239        1600  3702737.36
240        1607  1962685.84
241        1615  3780733.58
242        1617   660072.40
243        1618  3035083.89
244        1625  4638409.28
245        1633  3691975.85
246        1635  3198161.12
247        1656  1759113.70
248        1658  3055879.05
249        1659  5809242.09
250        1666  2749847.50
251        1674   300316.41
252        1676  3146434.20
253        1677  2264531.49
254        1684  1057286.24
255        1700   411386.85
256        1707  2337098.72
257        1714   726526.69
258        1716  6891313.59
259        1723  2809919.72
260        1730  6428662.24
261        1732  8597039.36
262        1756  3873476.33
263        1758  5985370.28
264        1765   564310.80
265        1772   840803.25
266        1774  9290783.40
267        1781  2924299.71
268        1800   437855.04
269        1807  1948993.62
270        1813  6193550.88
271        1814  4756541.78
272        1815  4465069.35
273        1821  1570326.94
274        1827  2502568.08
275        1829  1990991.52
276        1856  4751101.32
277        1857  3785417.40
278        1864  1400317.24
279        1870   196615.98
280        1871  8183061.20
281        1872  2998980.74
282        1878  4433269.40
283        1900  1072724.48
284        1907  2463718.18
285        1912  4410473.56
286        1914  2978088.96
287        1919   450771.44
288        1924  1170927.60
289        1926  3858669.82
290        1956  2079322.82
291        1963   512660.64
292        1968  5187606.89
293        1970  1329141.96
294        1975  2149154.22

# TPCH - 12 ✅

### SQL - 12

```
select
	l_shipmode,
	sum(case
		when o_orderpriority = '1-URGENT'
			or o_orderpriority = '2-HIGH'
			then 1
		else 0
	end) as high_line_count,
	sum(case
		when o_orderpriority <> '1-URGENT'
			and o_orderpriority <> '2-HIGH'
			then 1
		else 0
	end) as low_line_count
from
	orders,
	lineitem
where
	o_orderkey = l_orderkey
	and l_shipmode in (':1', ':2')
	and l_commitdate < l_receiptdate
	and l_shipdate < l_commitdate
	and l_receiptdate >= date ':3'
	and l_receiptdate < date ':3' + interval '1' year
group by
	l_shipmode
```

### pysdql - 12

In [24]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'FOB'
var2 = 'AIR'
var3 = '1995-01-01'
var4 = '1996-01-01'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_l = lineitem[(lineitem['l_shipmode'].isin((var1, var2)))
                 & (lineitem['l_commitdate'] < lineitem['l_receiptdate'])
                 & (lineitem['l_shipdate'] < lineitem['l_commitdate'])
                 & (lineitem['l_receiptdate'] >= var3) & (lineitem['l_receiptdate'] < var4)]
sub_l.columns.name = 'sub_l'

r = orders.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['high_line_priority'] = np.select(
    [
        (r['o_orderpriority'] == '1-URGENT') | (r['o_orderpriority'] == '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r['low_line_priority'] = np.select(
    [
        (r['o_orderpriority'] != '1-URGENT') | (r['o_orderpriority'] != '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r = r.groupby(['l_shipmode'], as_index=False)\
    .agg(high_line_count=('high_line_priority', 'sum'),
         low_line_count=('low_line_priority', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-12').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((((((lin_k.l_shipmode == "AIR") || (lin_k.l_shipmode == "FOB")) && (lin_k.l_commitdate < lin_k.l_receiptdate)) && (lin_k.l_shipdate < lin_k.l_commitdate)) && (date(19950101) <= lin_k.l_receiptdate)) && (lin_k.l_receiptdate < date(19960101)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let part_sub_l = sum (<sl_k, sl_v> in sub_l) { < l_orderkey=sl_k.l_orderkey > -> { sl_k -> sl_v } }
let Rm0 = sum (<ord_k, ord_v> in orders) if ((part_sub_l(<l_orderkey=ord_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_sub_l(<l_orderkey=ord_k.o_orderkey>)) { concat(ord_k, p_k) -> ord_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if (((r0_k.o_orderpriority == "1-URGENT") || (r0_k.o_orderpriority == "2-HIGH"))) then { concat(r0_k, < high_line_priority=1 >) -> 1 } else { concat(r0_k, < high_line_priority=0 >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) if (((r_k.o_orderpriority != "1-URGENT") || (r_k.o_orderpriority != "2-HIGH"))) then { concat(r_k, < low_line_priority=1 >) -> 1 } else { concat(r_k, < low_line_priority=0 >) -> 1 }
let tmpb = sum (<t_k, t_v> in tmp) { < l_shipmode=t_k.l_shipmode > -> < high_line_count=promote[nullable[real]](t_k.high_line_priority * t_v), low_line_count=promote[nullable[real]](t_k.low_line_priority * t_v) > }
let agg_tmp = sum (<tb_k, tb_v> in tmpb) { < l_shipmode=tb_k.l_shipmode, high_line_count=promote[real](tb_v.high_line_count), low_line_count=promote[real](tb_v.low_line_count) > -> 1 }
agg_tmp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<l_shipmode = FOB, high_line_count = 53, low_line_count = 121> -> 1, <l_shipmode = AIR, high_line_count = 48, low_line_count = 127> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:34:25
========================================================
pysdql execution time: 16.825723886489868
export sdql script "tpch-12.sdql" to "T:/UG4-Proj/output/tpch-12.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-12.sdql

{<l_shipmode = FOB, high_line_count = 53, low_line_count = 121> -> 1, <l_shipmode = AIR, high_line_count = 48, low_line_count = 127> -> 1}

### pandas - 12

In [25]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'FOB'
var2 = 'AIR'
var3 = '1995-01-01'
var4 = '1996-01-01'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

sub_l = lineitem[(lineitem['l_shipmode'].isin((var1, var2)))
                 & (lineitem['l_commitdate'] < lineitem['l_receiptdate'])
                 & (lineitem['l_shipdate'] < lineitem['l_commitdate'])
                 & (lineitem['l_receiptdate'] >= var3) & (lineitem['l_receiptdate'] < var4)]
sub_l.columns.name = 'sub_l'

r = orders.merge(sub_l, left_on='o_orderkey', right_on='l_orderkey')

r['high_line_priority'] = np.select(
    [
        (r['o_orderpriority'] == '1-URGENT') | (r['o_orderpriority'] == '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r['low_line_priority'] = np.select(
    [
        (r['o_orderpriority'] != '1-URGENT') | (r['o_orderpriority'] != '2-HIGH')
    ],
    [
        1
    ],
    default=0)

r = r.groupby(['l_shipmode'], as_index=False)\
    .agg(high_line_count=('high_line_priority', 'sum'),
         low_line_count=('low_line_priority', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-12').run(r).export().to()

  l_shipmode  high_line_count  low_line_count
0        AIR               48             127
1        FOB               53             121

# TPCH - 13 ✅

### SQL - 13

```
select
	c_count,
	count(*) as custdist
from
	(
		select
			c_custkey,
			count(o_orderkey)
		from
			customer left outer join orders on
				c_custkey = o_custkey
				and o_comment not like '%:1%:2%'
		group by
			c_custkey
	) as c_orders (c_custkey, c_count)
group by
	c_count
```

### pysdql - 13

In [26]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'special'
var2 = 'requests'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

orders['var1_index'] = orders['o_comment'].str.find(var1)
orders['var2_index'] = orders['o_comment'].str.find(var2)

sub_o = orders[~((orders['var1_index'] != -1) & (orders['var2_index'] != -1) & (orders['var1_index'] < orders['var2_index']))]
sub_o.columns.name = 'sub_o'

# LEFT OUTER JOIN
r = customer.merge(sub_o, how='left', left_on='c_custkey', right_on='o_custkey')

c_orders = r.groupby(['c_custkey'], as_index=False).agg(c_count=('o_orderkey', 'count'))
c_orders.columns.name = 'c_orders'

s = c_orders.groupby(['c_count'], as_index=False).agg(custdist=('c_custkey', 'count'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-13').run(s).export().to()

let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) { concat(ord_k, < var1_index=ext(`StrIndexOf`, ord_k.o_comment, "special", 0) >) -> 1 }
let tmp = sum (<o_k, o_v> in omp) { concat(o_k, < var2_index=ext(`StrIndexOf`, o_k.o_comment, "requests", 0) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) if ((!((((t_k.var1_index != -1) && (t_k.var2_index != -1)) && (t_k.var1_index < t_k.var2_index))))) then { t_k -> 1 } else {  }
let sub_o = tmpa
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let sub_o_right_group = sum (<so_k, so_v> in sub_o) { <o_custkey=so_k.o_custkey> -> { so_k -> so_v } }
let left_join_c_s = sum (<cus_k, cus_v> in customer) if ((sub_o_right_group(<o_custkey=cus_k.c_custkey>) != {  })) then sum(<rgnd_s_k, rgnd_s_v> in sub_o_right_group(<o_custkey=cus_k.c_custkey>)) { < left=cus_k, right=rgnd_s_k > -> 1 } else { < left=cus_k, right=<  > > -> 1 }
let tmpb = sum (<ljcs_k, ljcs_v> in left_join_c_s) if ((ljcs_k.right != <  >)) then { < c_custkey=ljcs_k.left.c_custkey > -> < c_count=promote[nullable[int]](ljcs_v) > } else { < c_custkey=ljcs_k.left.c_custkey > -> < c_count=promote[nullable[int]](0) > }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < c_custkey=tb_k.c_custkey, c_count=promote[int](tb_v.c_count) > -> 1 }
let c_orders = tmpc
let tmp = sum (<co_k, co_v> in c_orders) { < c_count=co_k.c_count > -> < custdist=co_v > }
let agg_c_orders = sum (<t_k, t_v> in tmp) { < c_count=t_k.c_count, custdist=t_v.custdist > -> 1 }
agg_c_orders

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<c_count = 20, custdist = 49> -> 1, <c_count = 28, custdist = 6> -> 1, <c_count = 7, custdist = 48> -> 1, <c_count = 25, custdist = 23> -> 1, <c_count = 1, custdist = 1> -> 1, <c_count = 2, custdist = 1> -> 1, <c_count = 16, custdist = 45> -> 1, <c_count = 32, custdist = 5> -> 1, <c_count = 30, custdist = 2> -> 1, <c_count = 5, custdist = 14> -> 1, <c_count = 31, custdist = 1> -> 1, <c_count = 13, custdist = 52> -> 1, <c_count = 3, custdist = 2> -> 1, <c_count = 10, custdist = 64> -> 1, <c_count = 14, custdist = 53> -> 1, <c_count = 21, custdist = 47> -> 1, <c_count = 11, custdist = 68> -> 1, <c_count = 22, custdist = 33> -> 1, <c_count = 6, custdist = 33> -> 1, <c_count = 27, custdist = 17> -> 1, <c_count = 19, custdist = 43> -> 1, <c_count = 29, custdist = 5> -> 1, <c_count = 18, custdist = 38> -> 1, <c_count = 26, custdist = 15> -> 1, <c_count = 4, custdist = 6> -> 1, <c_count = 0, custdist = 500> -> 1, <c_count = 24, custdist = 28> -> 1, <c_count = 12, custdist = 62> -> 1, <c_count = 17, custdist = 42> -> 1, <c_count = 9, custdist = 62> -> 1, <c_count = 15, custdist = 46> -> 1, <c_count = 23, custdist = 27> -> 1, <c_count = 8, custdist = 62> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:34:43
========================================================
pysdql execution time: 17.2097430229187
export sdql script "tpch-13.sdql" to "T:/UG4-Proj/output/tpch-13.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-13.sdql

{<c_count = 20, custdist = 49> -> 1, <c_count = 28, custdist = 6> -> 1, <c_count = 7, custdist = 48> -> 1, <c_count = 25, custdist = 23> -> 1, <c_count = 1, custdist = 1> -> 1, <c_count = 2, custdist = 1> -> 1, <c_count = 16, custdist = 45> -> 1, <c_count = 32, custdist = 5> -> 1, <c_count = 30, custdist = 2> -> 1, <c_count = 5, custdist = 14> -> 1, <c_count = 31, custdist = 1> -> 1, <c_count = 13, custdist = 52> -> 1, <c_count = 3, custdist = 2> -> 1, <c_count = 10, custdist = 64> -> 1, <c_count = 14, custdist = 53> -> 1, <c_count = 21, custdist = 47> -> 1, <c_count = 11, custdist = 68> -> 1, <c_count = 22, custdist = 33> -> 1, <c_count = 6, custdist = 33> -> 1, <c_count = 27, custdist = 17> -> 1, <c_count = 19, custdist = 43> -> 1, <c_count = 29, custdist = 5> -> 1, <c_count = 18, custdist = 38> -> 1, <c_count = 26, custdist = 15> -> 1, <c_count = 4, custdist = 6> -> 1, <c_count = 0, custdist = 500> -> 1, <c_count = 24, custdist = 28> -> 1, <c_count = 12, custdist = 62> -> 1, <c_count = 17, custdist = 42> -> 1, <c_count = 9, custdist = 62> -> 1, <c_count = 15, custdist = 46> -> 1, <c_count = 23, custdist = 27> -> 1, <c_count = 8, custdist = 62> -> 1}

### pandas - 13

In [27]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'special'
var2 = 'requests'

orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)

orders['var1_index'] = orders['o_comment'].str.find(var1)
orders['var2_index'] = orders['o_comment'].str.find(var2)

sub_o = orders[~((orders['var1_index'] != -1) & (orders['var2_index'] != -1) & (orders['var1_index'] < orders['var2_index']))]
sub_o.columns.name = 'sub_o'

# LEFT OUTER JOIN
r = customer.merge(sub_o, how='left', left_on='c_custkey', right_on='o_custkey')

c_orders = r.groupby(['c_custkey'], as_index=False).agg(c_count=('o_orderkey', 'count'))
c_orders.columns.name = 'c_orders'

s = c_orders.groupby(['c_count'], as_index=False).agg(custdist=('c_custkey', 'count'))

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-13').run(s).export().to()

    c_count  custdist
0         0       500
1         1         1
2         2         1
3         3         2
4         4         6
5         5        14
6         6        33
7         7        48
8         8        62
9         9        62
10       10        64
11       11        68
12       12        62
13       13        52
14       14        53
15       15        46
16       16        45
17       17        42
18       18        38
19       19        43
20       20        49
21       21        47
22       22        33
23       23        27
24       24        28
25       25        23
26       26        15
27       27        17
28       28         6
29       29         5
30       30         2
31       31         1
32       32         5

# TPCH - 14 ✅

### SQL - 14

```
select
	100.00 * sum(case
		when p_type like 'PROMO%'
			then l_extendedprice * (1 - l_discount)
		else 0
	end) / sum(l_extendedprice * (1 - l_discount)) as promo_revenue
from
	lineitem,
	part
where
	l_partkey = p_partkey
	and l_shipdate >= date ':1'
	and l_shipdate < date ':1' + interval '1' month
```

### pysdql - 14

In [28]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # use numpy.select() must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1995-03-01'
var2 = '1995-04-01'  # var1 + 1 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

r = sub_l.merge(part, left_on='l_partkey', right_on='p_partkey')

r['value1'] = np.select(
    [
        r['p_type'].str.startswith('PROMO')
    ],
    [
        r['l_extendedprice'] * (1 - r['l_discount'])
    ],
    default=0)

r['value2'] = r['l_extendedprice'] * (1 - r['l_discount'])

r['promo_revenue'] = 100 * r['value1'].sum() / r['value2'].sum()

r = r[['promo_revenue']].drop_duplicates(['promo_revenue'])

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-14').run(r).export().to()

let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950301) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19950401)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let part_part = sum (<par_k, par_v> in part) { < p_partkey=par_k.p_partkey > -> { par_k -> par_v } }
let Rm0 = sum (<sl_k, sl_v> in sub_l) if ((part_part(<p_partkey=sl_k.l_partkey>) != {  })) then sum(<p_k, p_v> in part_part(<p_partkey=sl_k.l_partkey>)) { concat(sl_k, p_k) -> sl_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if (ext(`StrStartsWith`, r0_k.p_type, "PROMO")) then { concat(r0_k, < value1=(r0_k.l_extendedprice * (1 - r0_k.l_discount)) >) -> 1 } else { concat(r0_k, < value1=0 >) -> 1 }
let tmp = sum (<r_k, r_v> in rmp) { concat(r_k, < value2=(r_k.l_extendedprice * (1 - r_k.l_discount)) >) -> 1 }
let value1_sum = sum (<t_k, t_v> in tmp) t_k.value1 * t_v
let value2_sum = sum (<t_k, t_v> in tmp) t_k.value2 * t_v
let tmpa = { < promo_revenue=((100 * value1_sum) / value2_sum) > -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { < promo_revenue=ta_k.promo_revenue > -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < promo_revenue=tb_k.promo_revenue > -> { tb_k -> tb_v } }
let tmpd = sum (<tc_k, tc_v> in tmpc) { < promo_revenue=tc_k.promo_revenue > -> 1 }
tmpd

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<promo_revenue = 16.350443673476907> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:35:00
========================================================
pysdql execution time: 16.61634874343872
export sdql script "tpch-14.sdql" to "T:/UG4-Proj/output/tpch-14.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-14.sdql

{<promo_revenue = 16.350443673476907> -> 1}

### pandas - 14

In [29]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # use numpy.select() must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # use pysdqlnp.select() must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1995-03-01'
var2 = '1995-04-01'  # var1 + 1 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

r = sub_l.merge(part, left_on='l_partkey', right_on='p_partkey')

r['value1'] = np.select(
    [
        r['p_type'].str.startswith('PROMO')
    ],
    [
        r['l_extendedprice'] * (1 - r['l_discount'])
    ],
    default=0)

r['value2'] = r['l_extendedprice'] * (1 - r['l_discount'])

r['promo_revenue'] = 100 * r['value1'].sum() / r['value2'].sum()

r = r[['promo_revenue']].drop_duplicates(['promo_revenue'])

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-14').run(r).export().to()

   promo_revenue
0      16.350444

# TPCH - 15 ✅

### SQL - 15

```
WITH revenue (supplier_no, total_revenue) as (
    SELECT
        l_suppkey,
        SUM(l_extendedprice * (1-l_discount))
    FROM
        lineitem
    WHERE
        l_shipdate >= date ':1'
        AND l_shipdate < date ':1' + interval '3' month
    GROUP BY
        l_suppkey
)
SELECT
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
FROM
    supplier,
    revenue
WHERE
    s_suppkey = supplier_no
    AND total_revenue = (
        SELECT
            MAX(total_revenue)
        FROM
            revenue
    )
```

### pysdql - 15

In [30]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-02-01'
var2 = '1996-05-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

revenue0 = sub_l.groupby(['l_suppkey'], as_index=False).agg(total_revenue=('tmp_val', 'sum'))
revenue0['supplier_no'] = revenue0['l_suppkey']
revenue0 = revenue0[['supplier_no', 'total_revenue']]
revenue0.columns.name = 'revenue0'

max_revenue = revenue0['total_revenue'].max()

r = supplier.merge(revenue0, left_on='s_suppkey', right_on='supplier_no')

r = r[r['total_revenue'] == max_revenue]

r = r[['s_suppkey', 's_name', 's_address', 's_phone', 'total_revenue']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-15').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19960201) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19960501)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let smp = sum (<sl_k, sl_v> in sub_l) { concat(sl_k, < tmp_val=(sl_k.l_extendedprice * (1 - sl_k.l_discount)) >) -> 1 }
let tmpa = sum (<s_k, s_v> in smp) { < l_suppkey=s_k.l_suppkey > -> < total_revenue=promote[nullable[real]](s_k.tmp_val * s_v) > }
let agg_smp = sum (<ta_k, ta_v> in tmpa) { < l_suppkey=ta_k.l_suppkey, total_revenue=promote[real](ta_v.total_revenue) > -> 1 }
let amp = sum (<as_k, as_v> in agg_smp) { concat(as_k, < supplier_no=as_k.l_suppkey >) -> 1 }
let tmpb = sum (<a_k, a_v> in amp) { < supplier_no=a_k.supplier_no, total_revenue=a_k.total_revenue > -> 1 }
let revenue0 = tmpb
let total_revenue_max = promote[real](sum (<r0_k, r0_v> in revenue0) promote[mxpr](r0_k.total_revenue))
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let part_revenue0 = sum (<r0_k, r0_v> in revenue0) { < supplier_no=r0_k.supplier_no > -> { r0_k -> r0_v } }
let Rm0 = sum (<sup_k, sup_v> in supplier) if ((part_revenue0(<supplier_no=sup_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_revenue0(<supplier_no=sup_k.s_suppkey>)) { concat(sup_k, p_k) -> sup_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((r0_k.total_revenue == total_revenue_max)) then { r0_k -> 1 } else {  }
let tmpb = sum (<r_k, r_v> in rmp) { < s_suppkey=r_k.s_suppkey, s_name=r_k.s_name, s_address=r_k.s_address, s_phone=r_k.s_phone, total_revenue=r_k.total_revenue > -> 1 }
tmpb

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_suppkey = 21, s_name = Supplier#000000021, s_address = 81CavellcrJ0PQ3CPBID0Z0JwyJm0ka5igEs, s_phone = 12-253-590-5816, total_revenue = 1613894.3110999998> -> 1}
[success] Total time: 2 s, completed 2022年7月30日 上午6:35:16
========================================================
pysdql execution time: 16.516428232192993
export sdql script "tpch-15.sdql" to "T:/UG4-Proj/output/tpch-15.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-15.sdql

{<s_suppkey = 21, s_name = Supplier#000000021, s_address = 81CavellcrJ0PQ3CPBID0Z0JwyJm0ka5igEs, s_phone = 12-253-590-5816, total_revenue = 1613894.3110999998> -> 1}

### pandas - 15

In [47]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = '1996-02-01'
var2 = '1996-05-01'  # var1 + 3 month

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var1) & (lineitem['l_shipdate'] < var2)]
sub_l.columns.name = 'sub_l'

sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

revenue0 = sub_l.groupby(['l_suppkey'], as_index=False).agg(total_revenue=('tmp_val', 'sum'))
revenue0['supplier_no'] = revenue0['l_suppkey']
revenue0 = revenue0[['supplier_no', 'total_revenue']]
revenue0.columns.name = 'revenue0'

max_revenue = revenue0['total_revenue'].max()

r = supplier.merge(revenue0, left_on='s_suppkey', right_on='supplier_no')

r = r[r['total_revenue'] == max_revenue]

r = r[['s_suppkey', 's_name', 's_address', 's_phone', 'total_revenue']]

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-15').run(r).export().to()

    s_suppkey              s_name                             s_address  \
20         21  Supplier#000000021  81CavellcrJ0PQ3CPBID0Z0JwyJm0ka5igEs

            s_phone  total_revenue
20  12-253-590-5816   1.613894e+06

C:\Users\Y\AppData\Local\Temp\ipykernel_308\2234108538.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_l['tmp_val'] = sub_l['l_extendedprice'] * (1 - sub_l['l_discount'])

# TPCH - 16 ✅

### SQL - 16

```
select
	p_brand,
	p_type,
	p_size,
	count(distinct ps_suppkey) as supplier_cnt
from
	partsupp,
	part
where
	p_partkey = ps_partkey
	and p_brand <> ':1'
	and p_type not like ':2%'
	and p_size in (:3, :4, :5, :6, :7, :8, :9, :10)
	and ps_suppkey not in (
		select
			s_suppkey
		from
			supplier
		where
			s_comment like '%Customer%Complaints%'
	)
group by
	p_brand,
	p_type,
	p_size
```

### pysdql - 16

In [32]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#21'
var2 = 'SMALL ANODIZED'
var3 = (48, 33, 18, 16, 8, 3, 10, 42)

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)

supplier['var1_index'] = supplier['s_comment'].str.find('Customer')
supplier['var2_index'] = supplier['s_comment'].str.find('Complaints')

sub_s = supplier[(supplier['var1_index'] != -1) & (supplier['var2_index'] != -1)
                 & (supplier['var1_index'] < supplier['var2_index'])]
sub_s.columns.name = 'sub_s'

sub_p = part[(part['p_brand'] != var1)
             & (~part['p_type'].str.startswith(var2))
             & (part['p_size'].isin(var3))]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')

r = r[~(r['ps_suppkey'].isin(sub_s['s_suppkey']))]

r = r.drop_duplicates(['p_brand', 'p_type', 'p_size', 'ps_suppkey'])

# COUNT DISTINCT
r = r.groupby(['p_brand', 'p_type', 'p_size'], as_index=False).agg(supplier_cnt=('ps_suppkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-16').run(r).export().to()

let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let smp = sum (<sup_k, sup_v> in supplier) { concat(sup_k, < var1_index=ext(`StrIndexOf`, sup_k.s_comment, "Customer", 0) >) -> 1 }
let tmp = sum (<s_k, s_v> in smp) { concat(s_k, < var2_index=ext(`StrIndexOf`, s_k.s_comment, "Complaints", 0) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) if ((((t_k.var1_index != -1) && (t_k.var2_index != -1)) && (t_k.var1_index < t_k.var2_index))) then { t_k -> 1 } else {  }
let sub_s = tmpa
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let smp = sum (<sup_k, sup_v> in supplier) { concat(sup_k, < var1_index=ext(`StrIndexOf`, sup_k.s_comment, "Customer", 0) >) -> 1 }
let tmp = sum (<s_k, s_v> in smp) { concat(s_k, < var2_index=ext(`StrIndexOf`, s_k.s_comment, "Complaints", 0) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) if ((((t_k.var1_index != -1) && (t_k.var2_index != -1)) && (t_k.var1_index < t_k.var2_index))) then { t_k -> 1 } else {  }
let sub_s = tmpa
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/partsupp.tbl")
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if ((((par_k.p_brand != "Brand#21") && !(ext(`StrStartsWith`, par_k.p_type, "SMALL ANODIZED"))) && ((((((((par_k.p_size == 42) || (par_k.p_size == 10)) || (par_k.p_size == 48)) || (par_k.p_size == 33)) || (par_k.p_size == 18)) || (par_k.p_size == 16)) || (par_k.p_size == 8)) || (par_k.p_size == 3)))) then { par_k -> 1 } else {  }
let sub_p = pmp
let part_partsupp = sum (<psup_k, psup_v> in partsupp) { < ps_partkey=psup_k.ps_partkey > -> { psup_k -> psup_v } }
let Rm0 = sum (<sp_k, sp_v> in sub_p) if ((part_partsupp(<ps_partkey=sp_k.p_partkey>) != {  })) then sum(<p_k, p_v> in part_partsupp(<ps_partkey=sp_k.p_partkey>)) { concat(sp_k, p_k) -> sp_v * p_v } else {  }
let rmp = if ((sub_s == { })) then Rm0 else sum (<r0_k, r0_v> in Rm0) sum (<ss_k, ss_v> in sub_s) if ((r0_k.ps_suppkey == ss_k.s_suppkey)) then { r0_k -> 1 } else {  }
let tmpb = sum (<r_k, r_v> in rmp) { < p_brand=r_k.p_brand, p_type=r_k.p_type, p_size=r_k.p_size, ps_suppkey=r_k.ps_suppkey > -> { r_k -> r_v } }
let tmpc = sum (<tb_k, tb_v> in tmpb) { < p_brand=tb_k.p_brand, p_type=tb_k.p_type, p_size=tb_k.p_size, ps_suppkey=tb_k.ps_suppkey > -> 1 }
let tmpe = sum (<tc_k, tc_v> in tmpc) { < p_brand=tc_k.p_brand, p_type=tc_k.p_type, p_size=tc_k.p_size > -> < supplier_cnt=tc_v > }
let agg_tmpc = sum (<te_k, te_v> in tmpe) { < p_brand=te_k.p_brand, p_type=te_k.p_type, p_size=te_k.p_size, supplier_cnt=te_v.supplier_cnt > -> 1 }
agg_tmpc

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql

[success] Total time: 1 s, completed 2022年7月30日 上午6:35:33
========================================================
pysdql execution time: 16.08782124519348
export sdql script "tpch-16.sdql" to "T:/UG4-Proj/output/tpch-16.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-16.sdql

{<p_brand = Brand#43, p_type = PROMO BRUSHED BRASS, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = PROMO BURNISHED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = MEDIUM BRUSHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = PROMO PLATED BRASS, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = LARGE PLATED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = SMALL PLATED NICKEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = ECONOMY BRUSHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = MEDIUM BRUSHED BRASS, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#42, p_type = SMALL POLISHED STEEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = LARGE BRUSHED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = SMALL BRUSHED NICKEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = STANDARD POLISHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = LARGE PLATED COPPER, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#42, p_type = STANDARD BURNISHED COPPER, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = MEDIUM BURNISHED BRASS, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = MEDIUM ANODIZED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = STANDARD BRUSHED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = LARGE BURNISHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = SMALL POLISHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = MEDIUM BRUSHED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = STANDARD BURNISHED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = PROMO BURNISHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = PROMO BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = LARGE BRUSHED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = ECONOMY BURNISHED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = STANDARD BURNISHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = ECONOMY ANODIZED BRASS, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = LARGE BRUSHED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = STANDARD ANODIZED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = ECONOMY ANODIZED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = MEDIUM BURNISHED COPPER, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = PROMO PLATED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = MEDIUM ANODIZED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = ECONOMY POLISHED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = STANDARD ANODIZED COPPER, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = SMALL BRUSHED BRASS, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = LARGE POLISHED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = STANDARD BURNISHED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#23, p_type = LARGE POLISHED COPPER, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = STANDARD BRUSHED BRASS, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = SMALL BURNISHED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = LARGE BRUSHED NICKEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = MEDIUM ANODIZED COPPER, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = SMALL BURNISHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#15, p_type = STANDARD BURNISHED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = PROMO BURNISHED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = PROMO POLISHED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = PROMO POLISHED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = SMALL BURNISHED NICKEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = LARGE BURNISHED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = MEDIUM PLATED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = MEDIUM BURNISHED BRASS, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = STANDARD BURNISHED NICKEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = SMALL POLISHED BRASS, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = MEDIUM PLATED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = SMALL PLATED STEEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = SMALL PLATED BRASS, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = ECONOMY POLISHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#23, p_type = MEDIUM BRUSHED NICKEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = SMALL PLATED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#23, p_type = SMALL POLISHED STEEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = LARGE PLATED COPPER, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = ECONOMY BRUSHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = SMALL BURNISHED TIN, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = MEDIUM PLATED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = MEDIUM PLATED NICKEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = STANDARD PLATED NICKEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#15, p_type = SMALL PLATED BRASS, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = LARGE POLISHED COPPER, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = MEDIUM BURNISHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = ECONOMY BRUSHED COPPER, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = LARGE ANODIZED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = MEDIUM PLATED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = PROMO BURNISHED TIN, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = SMALL BRUSHED STEEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = MEDIUM BURNISHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = LARGE ANODIZED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = MEDIUM BRUSHED STEEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = SMALL BRUSHED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = ECONOMY POLISHED COPPER, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = PROMO ANODIZED COPPER, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = STANDARD POLISHED COPPER, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = SMALL POLISHED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = STANDARD POLISHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = STANDARD ANODIZED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = SMALL BURNISHED BRASS, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = SMALL PLATED BRASS, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = MEDIUM BRUSHED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = MEDIUM POLISHED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = PROMO BURNISHED STEEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = MEDIUM BRUSHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = ECONOMY PLATED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = PROMO PLATED BRASS, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = ECONOMY POLISHED NICKEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = MEDIUM ANODIZED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = MEDIUM ANODIZED BRASS, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = PROMO PLATED NICKEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = PROMO BRUSHED TIN, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = LARGE ANODIZED STEEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = LARGE POLISHED NICKEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = LARGE BURNISHED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#15, p_type = LARGE POLISHED COPPER, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = SMALL BURNISHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = STANDARD BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = PROMO BRUSHED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = LARGE PLATED STEEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = MEDIUM BURNISHED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = MEDIUM ANODIZED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = PROMO BRUSHED BRASS, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = MEDIUM PLATED TIN, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = STANDARD PLATED COPPER, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = MEDIUM PLATED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = STANDARD ANODIZED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = ECONOMY PLATED NICKEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = STANDARD ANODIZED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = STANDARD ANODIZED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = ECONOMY BURNISHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = SMALL BRUSHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = MEDIUM BRUSHED COPPER, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#42, p_type = ECONOMY BURNISHED BRASS, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = MEDIUM PLATED TIN, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = MEDIUM PLATED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = MEDIUM BRUSHED TIN, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = MEDIUM BURNISHED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = LARGE PLATED COPPER, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = STANDARD PLATED NICKEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = SMALL POLISHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = MEDIUM ANODIZED COPPER, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#23, p_type = STANDARD BRUSHED TIN, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = MEDIUM BRUSHED COPPER, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = LARGE POLISHED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = STANDARD PLATED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = SMALL BRUSHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = STANDARD BURNISHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = MEDIUM BURNISHED TIN, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = PROMO ANODIZED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = STANDARD BURNISHED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = STANDARD PLATED TIN, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = MEDIUM BRUSHED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = SMALL BURNISHED NICKEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = SMALL POLISHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = MEDIUM ANODIZED COPPER, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = STANDARD BRUSHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = STANDARD ANODIZED BRASS, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = SMALL BURNISHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#42, p_type = LARGE POLISHED BRASS, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = MEDIUM PLATED TIN, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = SMALL BURNISHED BRASS, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = ECONOMY POLISHED COPPER, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = PROMO PLATED COPPER, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = SMALL BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = STANDARD ANODIZED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = STANDARD BRUSHED BRASS, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = MEDIUM PLATED NICKEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = STANDARD ANODIZED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#15, p_type = LARGE ANODIZED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = PROMO PLATED BRASS, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = STANDARD BRUSHED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = STANDARD BURNISHED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = ECONOMY PLATED NICKEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = MEDIUM POLISHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = PROMO BURNISHED NICKEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = LARGE POLISHED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = LARGE PLATED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = LARGE PLATED BRASS, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = STANDARD ANODIZED BRASS, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = STANDARD PLATED BRASS, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = SMALL BURNISHED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = MEDIUM POLISHED STEEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = STANDARD BRUSHED COPPER, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = LARGE BRUSHED STEEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = LARGE BURNISHED NICKEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = MEDIUM ANODIZED NICKEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = STANDARD ANODIZED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = MEDIUM BURNISHED BRASS, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#15, p_type = MEDIUM BURNISHED BRASS, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = ECONOMY ANODIZED COPPER, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = MEDIUM BURNISHED STEEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#41, p_type = ECONOMY ANODIZED COPPER, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = LARGE BURNISHED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = PROMO BRUSHED STEEL, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = ECONOMY ANODIZED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = STANDARD POLISHED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = STANDARD ANODIZED STEEL, p_size = 42, supplier_cnt = 8> -> 1, <p_brand = Brand#52, p_type = STANDARD ANODIZED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = SMALL BURNISHED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = ECONOMY ANODIZED NICKEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = MEDIUM BRUSHED TIN, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = MEDIUM POLISHED BRASS, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#11, p_type = PROMO BRUSHED TIN, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = PROMO PLATED TIN, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#14, p_type = STANDARD POLISHED TIN, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = LARGE BURNISHED COPPER, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = PROMO ANODIZED TIN, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = STANDARD ANODIZED COPPER, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = STANDARD ANODIZED COPPER, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#23, p_type = SMALL PLATED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#43, p_type = STANDARD ANODIZED BRASS, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#51, p_type = STANDARD POLISHED COPPER, p_size = 8, supplier_cnt = 8> -> 1, <p_brand = Brand#13, p_type = MEDIUM BRUSHED TIN, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = LARGE POLISHED TIN, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#31, p_type = STANDARD PLATED NICKEL, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#35, p_type = PROMO POLISHED TIN, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = STANDARD BURNISHED COPPER, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#44, p_type = MEDIUM PLATED TIN, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = SMALL POLISHED BRASS, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = PROMO PLATED COPPER, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = SMALL POLISHED TIN, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#12, p_type = PROMO BURNISHED TIN, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#13, p_type = SMALL BURNISHED COPPER, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = LARGE ANODIZED STEEL, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#52, p_type = STANDARD ANODIZED STEEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#45, p_type = LARGE ANODIZED BRASS, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#55, p_type = PROMO ANODIZED NICKEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = SMALL PLATED TIN, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#25, p_type = MEDIUM BRUSHED STEEL, p_size = 8, supplier_cnt = 4> -> 1, <p_brand = Brand#54, p_type = MEDIUM BURNISHED STEEL, p_size = 3, supplier_cnt = 4> -> 1, <p_brand = Brand#34, p_type = ECONOMY BRUSHED STEEL, p_size = 16, supplier_cnt = 4> -> 1, <p_brand = Brand#24, p_type = SMALL PLATED TIN, p_size = 10, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = STANDARD BURNISHED NICKEL, p_size = 42, supplier_cnt = 4> -> 1, <p_brand = Brand#22, p_type = LARGE BRUSHED BRASS, p_size = 18, supplier_cnt = 4> -> 1, <p_brand = Brand#32, p_type = SMALL BURNISHED STEEL, p_size = 33, supplier_cnt = 4> -> 1, <p_brand = Brand#33, p_type = SMALL POLISHED COPPER, p_size = 48, supplier_cnt = 4> -> 1, <p_brand = Brand#53, p_type = MEDIUM POLISHED STEEL, 

### pandas - 16

In [33]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#21'
var2 = 'SMALL ANODIZED'
var3 = (48, 33, 18, 16, 8, 3, 10, 42)

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)

supplier['var1_index'] = supplier['s_comment'].str.find('Customer')
supplier['var2_index'] = supplier['s_comment'].str.find('Complaints')

sub_s = supplier[(supplier['var1_index'] != -1) & (supplier['var2_index'] != -1)
                 & (supplier['var1_index'] < supplier['var2_index'])]
sub_s.columns.name = 'sub_s'

sub_p = part[(part['p_brand'] != var1)
             & (~part['p_type'].str.startswith(var2))
             & (part['p_size'].isin(var3))]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(partsupp, left_on='p_partkey', right_on='ps_partkey')

r = r[~(r['ps_suppkey'].isin(sub_s['s_suppkey']))]

r = r.drop_duplicates(['p_brand', 'p_type', 'p_size', 'ps_suppkey'])

# COUNT DISTINCT
r = r.groupby(['p_brand', 'p_type', 'p_size'], as_index=False).agg(supplier_cnt=('ps_suppkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-16').run(r).export().to()

      p_brand                     p_type  p_size  supplier_cnt
0    Brand#11    ECONOMY ANODIZED NICKEL      33             4
1    Brand#11         LARGE PLATED STEEL      18             4
2    Brand#11     MEDIUM POLISHED COPPER       3             4
3    Brand#11      MEDIUM POLISHED STEEL      33             4
4    Brand#11       PROMO ANODIZED BRASS       3             4
5    Brand#11       PROMO ANODIZED STEEL      10             4
6    Brand#11          PROMO BRUSHED TIN      16             4
7    Brand#11        PROMO BURNISHED TIN      42             4
8    Brand#11      SMALL BURNISHED STEEL      42             4
9    Brand#11   STANDARD ANODIZED COPPER      16             4
10   Brand#11    STANDARD ANODIZED STEEL      48             4
11   Brand#11     STANDARD BRUSHED STEEL      42             4
12   Brand#12      ECONOMY PLATED NICKEL      18             4
13   Brand#12      LARGE POLISHED NICKEL      48             4
14   Brand#12      MEDIUM ANODIZED STEEL      16             4
15   Brand#12          MEDIUM PLATED TIN      48             4
16   Brand#12       PROMO BRUSHED COPPER       8             4
17   Brand#12        PROMO BURNISHED TIN      33             4
18   Brand#12        SMALL PLATED NICKEL      48             4
19   Brand#12           SMALL PLATED TIN       8             4
20   Brand#12      SMALL POLISHED COPPER      42             4
21   Brand#12    STANDARD ANODIZED BRASS       3             4
22   Brand#12    STANDARD ANODIZED STEEL      16             4
23   Brand#12   STANDARD BURNISHED STEEL       8             4
24   Brand#12     STANDARD BURNISHED TIN      33             4
25   Brand#13   ECONOMY BURNISHED COPPER      42             4
26   Brand#13        LARGE BRUSHED STEEL       8             4
27   Brand#13       LARGE POLISHED BRASS       3             4
28   Brand#13         MEDIUM BRUSHED TIN      33             4
29   Brand#13     MEDIUM BURNISHED STEEL      16             4
30   Brand#13     MEDIUM BURNISHED STEEL      18             4
31   Brand#13        MEDIUM PLATED BRASS      16             4
32   Brand#13        PROMO BRUSHED BRASS      18             4
33   Brand#13      SMALL BURNISHED BRASS       8             4
34   Brand#13     SMALL BURNISHED COPPER      33             4
35   Brand#13     STANDARD PLATED NICKEL      48             4
36   Brand#13      STANDARD POLISHED TIN      10             4
37   Brand#14       LARGE BRUSHED NICKEL      18             4
38   Brand#14      LARGE POLISHED COPPER      18             4
39   Brand#14      MEDIUM BRUSHED COPPER      10             4
40   Brand#14         PROMO PLATED BRASS       8             4
41   Brand#14         PROMO PLATED BRASS      10             4
42   Brand#14       SMALL BRUSHED NICKEL      10             4
43   Brand#14   STANDARD ANODIZED NICKEL      42             4
44   Brand#14      STANDARD ANODIZED TIN      42             4
45   Brand#14     STANDARD BRUSHED BRASS      16             4
46   Brand#14      STANDARD POLISHED TIN      33             4
47   Brand#15      LARGE ANODIZED COPPER       3             4
48   Brand#15      LARGE POLISHED COPPER       8             4
49   Brand#15     MEDIUM BURNISHED BRASS      48             4
50   Brand#15        PROMO BRUSHED BRASS       8             4
51   Brand#15       PROMO BRUSHED NICKEL      18             4
52   Brand#15         SMALL PLATED BRASS       8             4
53   Brand#15       SMALL POLISHED BRASS      16             4
54   Brand#15  STANDARD BURNISHED NICKEL       8             4
55   Brand#15        STANDARD PLATED TIN       3             4
56   Brand#22      ECONOMY PLATED NICKEL      16             4
57   Brand#22    ECONOMY POLISHED NICKEL      16             4
58   Brand#22       LARGE ANODIZED STEEL       3             4
59   Brand#22        LARGE BRUSHED BRASS      18             4
60   Brand#22       LARGE BRUSHED NICKEL      42             4
61   Brand#22     LARGE BURNISHED NICKEL       8             4
62   Brand#22      MEDIUM ANODIZED BRASS      16             4
63   Brand#22     MEDIUM ANODIZED COPPER      42             4
64   Brand#22      MEDIUM BRUSHED COPPER       3             4
65   Brand#22         MEDIUM BRUSHED TIN      18             4
66   Brand#22       MEDIUM PLATED NICKEL       8             4
67   Brand#22       SMALL BRUSHED NICKEL       3             4
68   Brand#22     SMALL BURNISHED NICKEL      42             4
69   Brand#22    STANDARD ANODIZED STEEL      42             4
70   Brand#22       STANDARD BRUSHED TIN      10             4
71   Brand#22  STANDARD BURNISHED NICKEL      42             4
72   Brand#22     STANDARD PLATED NICKEL       3             4
73   Brand#23      LARGE POLISHED COPPER      42             4
74   Brand#23         LARGE POLISHED TIN      42             4
75   Brand#23      MEDIUM BRUSHED NICKEL       3             4
76   Brand#23           SMALL PLATED TIN      42             4
77   Brand#23       SMALL POLISHED STEEL      33             4
78   Brand#23       STANDARD BRUSHED TIN       3             4
79   Brand#24     ECONOMY BRUSHED NICKEL      10             4
80   Brand#24         MEDIUM BRUSHED TIN       8             4
81   Brand#24         MEDIUM BRUSHED TIN      16             4
82   Brand#24       MEDIUM BURNISHED TIN      48             4
83   Brand#24      MEDIUM POLISHED BRASS      42             4
84   Brand#24        PROMO BRUSHED STEEL      10             4
85   Brand#24         PROMO PLATED BRASS      18             4
86   Brand#24     SMALL BURNISHED NICKEL      48             4
87   Brand#24        SMALL PLATED COPPER      16             4
88   Brand#24           SMALL PLATED TIN      10             4
89   Brand#24   STANDARD BURNISHED STEEL      48             4
90   Brand#25     ECONOMY ANODIZED STEEL       8             4
91   Brand#25         LARGE ANODIZED TIN      42             4
92   Brand#25         LARGE PLATED STEEL      18             4
93   Brand#25      MEDIUM BRUSHED NICKEL      10             4
94   Brand#25       MEDIUM BRUSHED STEEL       8             4
95   Brand#25       MEDIUM PLATED NICKEL       8             4
96   Brand#25          MEDIUM PLATED TIN       8             4
97   Brand#25         PROMO ANODIZED TIN       3             4
98   Brand#25      PROMO BURNISHED STEEL      18             4
99   Brand#25        PROMO PLATED COPPER      33             4
100  Brand#25        PROMO PLATED NICKEL       3             4
101  Brand#25     SMALL BURNISHED COPPER       3             4
102  Brand#25    STANDARD ANODIZED BRASS      10             4
103  Brand#25   STANDARD ANODIZED COPPER      10             4
104  Brand#25   STANDARD ANODIZED NICKEL      42             4
105  Brand#25    STANDARD POLISHED BRASS      33             4
106  Brand#31           LARGE PLATED TIN      10             4
107  Brand#31         LARGE POLISHED TIN       8             4
108  Brand#31    MEDIUM BURNISHED COPPER       3             4
109  Brand#31       MEDIUM PLATED NICKEL      33             4
110  Brand#31      PROMO BURNISHED STEEL      48             4
111  Brand#31        SMALL BURNISHED TIN      18             4
112  Brand#31       SMALL POLISHED BRASS      42             4
113  Brand#31       SMALL POLISHED STEEL       8             4
114  Brand#31  STANDARD BURNISHED NICKEL      33             4
115  Brand#31     STANDARD PLATED NICKEL      18             4
116  Brand#31    STANDARD POLISHED STEEL       8             4
117  Brand#32   ECONOMY BURNISHED NICKEL      42             4
118  Brand#32    ECONOMY BURNISHED STEEL      16             4
119  Brand#32    ECONOMY POLISHED NICKEL       8             4
120  Brand#32      LARGE ANODIZED NICKEL      33             4
121  Brand#32     MEDIUM ANODIZED COPPER      42             4
122  Brand#32       MEDIUM BRUSHED STEEL      10             4
123  Brand#32       MEDIUM PLATED NICKEL       8             4
124  Brand#32      MEDIUM POLISHED STEEL       8             4
125  Brand#32      PROMO BURNISHED STEEL      16             4
126  Brand#32         PROMO PLATED BRASS      18             4
127  Brand#32       SMALL BRUSHED COPPER       3             4
128  Brand#32      SMALL BURNISHED STEEL      16             4
129  Brand#32      SMALL BURNISHED STEEL      33             4
130  Brand#32  STANDARD BURNISHED NICKEL      10             4
131  Brand#32        STANDARD PLATED TIN      48             4
132  Brand#32   STANDARD POLISHED NICKEL      10             4
133  Brand#33       ECONOMY PLATED STEEL      48             4
134  Brand#33      MEDIUM ANODIZED BRASS       3             4
135  Brand#33         MEDIUM BRUSHED TIN      18             4
136  Brand#33        MEDIUM PLATED STEEL      10             4
137  Brand#33     MEDIUM POLISHED NICKEL      18             4
138  Brand#33        MEDIUM POLISHED TIN      48             4
139  Brand#33        PROMO BRUSHED BRASS      48             4
140  Brand#33     PROMO BURNISHED NICKEL      10             4
141  Brand#33        SMALL BRUSHED BRASS      33             4
142  Brand#33        SMALL BRUSHED STEEL       3             4
143  Brand#33        SMALL BRUSHED STEEL      42             4
144  Brand#33     SMALL BURNISHED NICKEL       3             4
145  Brand#33      SMALL POLISHED COPPER      48             4
146  Brand#33     STANDARD PLATED NICKEL       8             4
147  Brand#33   STANDARD POLISHED COPPER      33             4
148  Brand#33      STANDARD POLISHED TIN      16             4
149  Brand#34     ECONOMY BRUSHED COPPER      48             4
150  Brand#34      ECONOMY BRUSHED STEEL      16             4
151  Brand#34     ECONOMY POLISHED STEEL      42             4
152  Brand#34       LARGE ANODIZED STEEL      48             4
153  Brand#34         LARGE PLATED STEEL      10             4
154  Brand#34       LARGE POLISHED BRASS       8             4
155  Brand#34    MEDIUM BURNISHED NICKEL       3             4
156  Brand#34         SMALL PLATED BRASS      33             4
157  Brand#34           SMALL PLATED TIN      16             4
158  Brand#34  STANDARD BURNISHED NICKEL      48             4
159  Brand#35    ECONOMY ANODIZED COPPER      10             4
160  Brand#35     ECONOMY POLISHED STEEL       8             4
161  Brand#35       LARGE BRUSHED NICKEL      42             4
162  Brand#35        LARGE BRUSHED STEEL      42             4
163  Brand#35        LARGE BURNISHED TIN       8             4
164  Brand#35        LARGE PLATED COPPER      18             4
165  Brand#35      MEDIUM BRUSHED COPPER      42             4
166  Brand#35       MEDIUM BRUSHED STEEL      33             4
167  Brand#35     MEDIUM BURNISHED BRASS      33             4
168  Brand#35       MEDIUM BURNISHED TIN      42             4
169  Brand#35      PROMO BURNISHED BRASS       3             4
170  Brand#35           PROMO PLATED TIN       8             4
171  Brand#35         PROMO POLISHED TIN      16             4
172  Brand#35         SMALL PLATED BRASS      33             4
173  Brand#35       SMALL POLISHED BRASS      18             4
174  Brand#35       SMALL POLISHED STEEL      42             4
175  Brand#35     STANDARD BRUSHED BRASS       3             4
176  Brand#35     STANDARD PLATED COPPER      48             4
177  Brand#41    ECONOMY ANODIZED COPPER      33             4
178  Brand#41      ECONOMY BRUSHED STEEL       8             4
179  Brand#41           LARGE PLATED TIN       8             4
180  Brand#41     MEDIUM ANODIZED COPPER      18             4
181  Brand#41          MEDIUM PLATED TIN      18             4
182  Brand#41          PROMO BRUSHED TIN      33             4
183  Brand#41        SMALL BRUSHED STEEL      48             4
184  Brand#41         SMALL PLATED STEEL      18             4
185  Brand#41         SMALL POLISHED TIN      10             4
186  Brand#41    STANDARD ANODIZED BRASS      42             4
187  Brand#41     STANDARD BRUSHED BRASS      10             4
188  Brand#41   STANDARD BURNISHED STEEL      10             4
189  Brand#42        ECONOMY BRUSHED TIN      42             4
190  Brand#42    ECONOMY BURNISHED BRASS      16             4
191  Brand#42       LARGE POLISHED BRASS      10             4
192  Brand#42        PROMO BRUSHED BRASS      48             4
193  Brand#42       SMALL POLISHED STEEL      18             4
194  Brand#42  STANDARD BURNISHED COPPER       8             4
195  Brand#42   STANDARD POLISHED NICKEL      16             4
196  Brand#43      ECONOMY BRUSHED BRASS      33             4
197  Brand#43     ECONOMY BRUSHED COPPER      48             4
198  Brand#43      ECONOMY BRUSHED STEEL      16             4
199  Brand#43        ECONOMY BRUSHED TIN      42             4
200  Brand#43     LARGE BURNISHED COPPER       3             4
201  Brand#43        LARGE PLATED COPPER      10             4
202  Brand#43    MEDIUM BURNISHED COPPER      48             4
203  Brand#43        MEDIUM PLATED STEEL      42             4
204  Brand#43        PROMO BRUSHED BRASS      33             4
205  Brand#43        PROMO BRUSHED STEEL      42             4
206  Brand#43      PROMO BURNISHED STEEL       3             4
207  Brand#43          SMALL BRUSHED TIN      10             4
208  Brand#43          SMALL BRUSHED TIN      16             4
209  Brand#43    STANDARD ANODIZED BRASS       3             4
210  Brand#43   STANDARD ANODIZED COPPER      18             4
211  Brand#44     ECONOMY ANODIZED BRASS      42             4
212  Brand#44          LARGE BRUSHED TIN       3             4
213  Brand#44          MEDIUM PLATED TIN      10             4
214  Brand#44          MEDIUM PLATED TIN      18             4
215  Brand#44        PROMO PLATED COPPER      16             4
216  Brand#44   STANDARD ANODIZED COPPER       3             4
217  Brand#44   STANDARD BURNISHED BRASS      10             4
218  Brand#44  STANDARD BURNISHED COPPER      16             4
219  Brand#44      STANDARD PLATED STEEL      16             4
220  Brand#44        STANDARD PLATED TIN      33             4
221  Brand#45       LARGE ANODIZED BRASS      16             4
222  Brand#45      LARGE POLISHED COPPER      33             4
223  Brand#45         LARGE POLISHED TIN      48             4
224  Brand#45     MEDIUM ANODIZED NICKEL      16             4
225  Brand#45     MEDIUM BURNISHED BRASS       8             4
226  Brand#45     MEDIUM BURNISHED BRASS      33             4
227  Brand#45          MEDIUM PLATED TIN       8             4
228  Brand#45          MEDIUM PLATED TIN      48             4
229  Brand#45         PROMO ANODIZED TIN      16             4
230  Brand#45        PROMO PLATED NICKEL       3             4
231  Brand#45           PROMO PLATED TIN      18             4
232  Brand#45       PROMO POLISHED BRASS       3             4
233  Brand#45      PROMO POLISHED NICKEL       8             4
234  Brand#45       SMALL BRUSHED COPPER      33             4
235  Brand#45     SMALL BURNISHED NICKEL       8             4
236  Brand#45   STANDARD ANODIZED COPPER      10             4
237  Brand#51       ECONOMY ANODIZED TIN      42             4
238  Brand#51     ECONOMY BRUSHED COPPER       8             4
239  Brand#51    ECONOMY BURNISHED BRASS      10             4
240  Brand#51    ECONOMY BURNISHED BRASS      48             4
241  Brand#51         LARGE ANODIZED TIN      42             4
242  Brand#51     LARGE BURNISHED NICKEL      48             4
243  Brand#51        LARGE PLATED COPPER      48             4
244  Brand#51           LARGE PLATED TIN      33             4
245  Brand#51       MEDIUM BRUSHED BRASS      48             4
246  Brand#51      PROMO ANODIZED COPPER      18             4
247  Brand#51     SMALL BURNISHED NICKEL      33             4
248  Brand#51        SMALL PLATED NICKEL      33             4
249  Brand#51      SMALL POLISHED NICKEL      10             4
250  Brand#51    STANDARD BRUSHED COPPER       3             4
251  Brand#51   STANDARD BURNISHED STEEL      10             4
252  Brand#51   STANDARD POLISHED COPPER       8             8
253  Brand#51      STANDARD POLISHED TIN       8             4
254  Brand#52     ECONOMY ANODIZED STEEL       8             4
255  Brand#52        ECONOMY BRUSHED TIN       8             4
256  Brand#52    ECONOMY POLISHED COPPER      10             4
257  Brand#52    ECONOMY POLISHED NICKEL      16             4
258  Brand#52        MEDIUM ANODIZED TIN       8             4
259  Brand#52     MEDIUM BURNISHED BRASS      48             4
260  Brand#52        MEDIUM PLATED BRASS      48             4
261  Brand#52       MEDIUM PLATED NICKEL      16             4
262  Brand#52    STANDARD ANODIZED STEEL      33             4
263  Brand#52      STANDARD ANODIZED TIN      10             4
264  Brand#52      STANDARD PLATED BRASS       8             4
265  Brand#53        LARGE BRUSHED STEEL      42             4
266  Brand#53     LARGE BURNISHED COPPER       8             4
267  Brand#53      LARGE POLISHED NICKEL      48             4
268  Brand#53      MEDIUM BRUSHED COPPER       3             4
269  Brand#53     MEDIUM BURNISHED STEEL      10             4
270  Brand#53      MEDIUM POLISHED STEEL      16             4
271  Brand#53      MEDIUM POLISHED STEEL      48             4
272  Brand#53        PROMO BRUSHED BRASS      42             4
273  Brand#53        PROMO PLATED COPPER      18             4
274  Brand#53       PROMO POLISHED BRASS      16             4
275  Brand#53      PROMO POLISHED NICKEL      33             4
276  Brand#53         SMALL POLISHED TIN      42             4
277  Brand#53     STANDARD BRUSHED STEEL       8             4
278  Brand#53       STANDARD BRUSHED TIN      10             4
279  Brand#54    ECONOMY ANODIZED COPPER      10             4
280  Brand#54     ECONOMY ANODIZED STEEL      42             4
281  Brand#54     ECONOMY BRUSHED NICKEL      42             4
282  Brand#54    ECONOMY POLISHED COPPER      48             4
283  Brand#54       LARGE BRUSHED NICKEL      18             4
284  Brand#54        LARGE BURNISHED TIN      10             4
285  Brand#54        LARGE BURNISHED TIN      42             4
286  Brand#54     MEDIUM ANODIZED COPPER      42             4
287  Brand#54     MEDIUM ANODIZED NICKEL      10             4
288  Brand#54       MEDIUM BRUSHED BRASS      18             4
289  Brand#54     MEDIUM BURNISHED STEEL       3             4
290  Brand#54      PROMO POLISHED NICKEL      42             4
291  Brand#54       PROMO POLISHED STEEL      42             4
292  Brand#54     SMALL BURNISHED NICKEL      18             4
293  Brand#54       SMALL POLISHED BRASS      48             4
294  Brand#54    STANDARD ANODIZED BRASS      18             4
295  Brand#55         LARGE PLATED BRASS       8             4
296  Brand#55         LARGE POLISHED TIN      42             4
297  Brand#55       MEDIUM PLATED COPPER      18             4
298  Brand#55      PROMO ANODIZED NICKEL      16             4
299  Brand#55        PROMO BURNISHED TIN      18             4
300  Brand#55           PROMO PLATED TIN       8             4
301  Brand#55      SMALL BURNISHED BRASS      42             4
302  Brand#55     SMALL BURNISHED COPPER      16             4
303  Brand#55       SMALL POLISHED BRASS      10             4
304  Brand#55    STANDARD ANODIZED STEEL      10             4
305  Brand#55    STANDARD ANODIZED STEEL      42             8
306  Brand#55    STANDARD BRUSHED COPPER       3             4
307  Brand#55     STANDARD BURNISHED TIN      10             4
308  Brand#55    STANDARD POLISHED BRASS      10             4

# TPCH - 17 ✅

### SQL - 17

```
select
	sum(l_extendedprice) / 7.0 as avg_yearly
from
	lineitem,
	part,
	(SELECT l_partkey AS agg_partkey, 0.2 * avg(l_quantity) AS avg_quantity FROM lineitem GROUP BY l_partkey) part_agg
where
	p_partkey = l_partkey
	and agg_partkey = l_partkey
	and p_brand = ':1'
	and p_container = ':2'
	and l_quantity < avg_quantity
```

### pysdql - 17

In [34]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#11'
var2 = 'WRAP CASE'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

# Co-related Nested Queries
part_agg = lineitem.groupby(['l_partkey'], as_index=False).agg(tmp_val=('l_quantity', 'mean'))
part_agg['avg_quantity'] = 0.2 * part_agg['tmp_val']
part_agg['agg_partkey'] = part_agg['l_partkey']

part_agg = part_agg[['avg_quantity', 'agg_partkey']]
part_agg.columns.name = 'part_agg'

sub_p = part[(part['p_brand'] == var1) & (part['p_container'] == var2)]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(lineitem, left_on='p_partkey', right_on='l_partkey')

r = r.merge(part_agg, left_on='l_partkey', right_on='agg_partkey')
r = r[r['l_quantity'] < r['avg_quantity']]

r['tmp_val'] = r['l_extendedprice'].sum()

r['avg_yearly'] = r['tmp_val'] / 7.0

r = r[['avg_yearly']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-17').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let tmp = sum (<lin_k, lin_v> in lineitem) { < l_partkey=lin_k.l_partkey > -> < tmp_val_sum=lin_k.l_quantity * lin_v, tmp_val_count=lin_v > }
let agg_lineitem = sum (<t_k, t_v> in tmp) { < l_partkey=t_k.l_partkey, tmp_val=(t_v.tmp_val_sum / t_v.tmp_val_count) > -> 1 }
let amp = sum (<al_k, al_v> in agg_lineitem) { concat(al_k, < avg_quantity=(0.2 * al_k.tmp_val) >) -> 1 }
let tmpa = sum (<a_k, a_v> in amp) { concat(a_k, < agg_partkey=a_k.l_partkey >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { < avg_quantity=ta_k.avg_quantity, agg_partkey=ta_k.agg_partkey > -> 1 }
let part_agg = tmpb
let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (((par_k.p_brand == "Brand#11") && (par_k.p_container == "WRAP CASE"))) then { par_k -> 1 } else {  }
let sub_p = pmp
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_partkey=lin_k.l_partkey > -> { lin_k -> lin_v } }
let Rm0 = sum (<sp_k, sp_v> in sub_p) if ((part_lineitem(<l_partkey=sp_k.p_partkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_partkey=sp_k.p_partkey>)) { concat(sp_k, p_k) -> sp_v * p_v } else {  }
let part_part_agg = sum (<pa_k, pa_v> in part_agg) { < agg_partkey=pa_k.agg_partkey > -> { pa_k -> pa_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_part_agg(<agg_partkey=r0_k.l_partkey>) != {  })) then sum(<p_k, p_v> in part_part_agg(<agg_partkey=r0_k.l_partkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let rmp = sum (<r1_k, r1_v> in Rm1) if ((r1_k.l_quantity < r1_k.avg_quantity)) then { r1_k -> 1 } else {  }
let l_extendedprice_sum = sum (<r_k, r_v> in rmp) r_k.l_extendedprice * r_v
let tmpb = { < tmp_val=l_extendedprice_sum > -> 1 }
let tmpc = sum (<tb_k, tb_v> in tmpb) { concat(tb_k, < avg_yearly=(tb_k.tmp_val / 7.0) >) -> 1 }
let tmpd = sum (<tc_k, tc_v> in tmpc) { < avg_yearly=tc_k.avg_yearly > -> 1 }
tmpd

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<avg_yearly = 7725.5> -> 1}
[success] Total time: 4 s, completed 2022年7月30日 上午6:35:52
========================================================
pysdql execution time: 19.24833655357361
export sdql script "tpch-17.sdql" to "T:/UG4-Proj/output/tpch-17.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-17.sdql

{<avg_yearly = 7725.5> -> 1}

### pandas - 17

In [35]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#11'
var2 = 'WRAP CASE'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

# Co-related Nested Queries
part_agg = lineitem.groupby(['l_partkey'], as_index=False).agg(tmp_val=('l_quantity', 'mean'))
part_agg['avg_quantity'] = 0.2 * part_agg['tmp_val']
part_agg['agg_partkey'] = part_agg['l_partkey']

part_agg = part_agg[['avg_quantity', 'agg_partkey']]
part_agg.columns.name = 'part_agg'

sub_p = part[(part['p_brand'] == var1) & (part['p_container'] == var2)]
sub_p.columns.name = 'sub_p'

r = sub_p.merge(lineitem, left_on='p_partkey', right_on='l_partkey')

r = r.merge(part_agg, left_on='l_partkey', right_on='agg_partkey')
r = r[r['l_quantity'] < r['avg_quantity']]

r['tmp_val'] = r['l_extendedprice'].sum()

r['avg_yearly'] = r['tmp_val'] / 7.0

r = r[['avg_yearly']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-17').run(r).export().to()

   avg_yearly
6      7725.5

# TPCH - 18 ✅

### SQL - 18

```
select
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice,
	sum(l_quantity)
from
	customer,
	orders,
	lineitem
where
	o_orderkey in (
		select
			l_orderkey
		from
			lineitem
		group by
			l_orderkey having
				sum(l_quantity) > :1
	)
	and c_custkey = o_custkey
	and o_orderkey = l_orderkey
group by
	c_name,
	c_custkey,
	o_orderkey,
	o_orderdate,
	o_totalprice
```

### pysdql - 18

In [36]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 251

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

agg_l = lineitem.groupby(['l_orderkey']).filter(lambda x: x['l_quantity'].sum() > var1)
agg_l.columns.name = 'agg_l'

sub_o = orders[(orders['o_orderkey'].isin(agg_l['l_orderkey']))]

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')

r = r.groupby(['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice'], as_index=False)\
    .agg(l_quantity_sum=('l_quantity', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-18').run(r).export().to()

let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let tmp = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let lmp = sum (<t_k, t_v> in tmp) { < l_orderkey=t_k.l_orderkey, group=t_v > -> 1 }
let hvmp = sum (<l_k, l_v> in lmp) sum (<g_k, g_v> in l_k.group) { < l_orderkey=l_k.l_orderkey > -> < val=(g_k.l_quantity * g_v) > }
let hvR = sum (<hv_k, hv_v> in hvmp) if ((251 < hv_v.val)) then { < l_orderkey=hv_k.l_orderkey > -> 1 } else {  }
let fhv_lineitem = sum (<lin_k, lin_v> in lineitem) sum (<h_k, h_v> in hvR) if ((h_k.l_orderkey == lin_k.l_orderkey)) then { lin_k -> 1 } else {  }
let agg_l = fhv_lineitem
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) sum (<al_k, al_v> in agg_l) if ((ord_k.o_orderkey == al_k.l_orderkey)) then { ord_k -> 1 } else {  }
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let part_omp = sum (<o_k, o_v> in omp) { < o_custkey=o_k.o_custkey > -> { o_k -> o_v } }
let Rm0 = sum (<cus_k, cus_v> in customer) if ((part_omp(<o_custkey=cus_k.c_custkey>) != {  })) then sum(<p_k, p_v> in part_omp(<o_custkey=cus_k.c_custkey>)) { concat(cus_k, p_k) -> cus_v * p_v } else {  }
let part_lineitem = sum (<lin_k, lin_v> in lineitem) { < l_orderkey=lin_k.l_orderkey > -> { lin_k -> lin_v } }
let Rm1 = sum (<r0_k, r0_v> in Rm0) if ((part_lineitem(<l_orderkey=r0_k.o_orderkey>) != {  })) then sum(<p_k, p_v> in part_lineitem(<l_orderkey=r0_k.o_orderkey>)) { concat(r0_k, p_k) -> r0_v * p_v } else {  }
let tmpa = sum (<r1_k, r1_v> in Rm1) { < c_name=r1_k.c_name, c_custkey=r1_k.c_custkey, o_orderkey=r1_k.o_orderkey, o_orderdate=r1_k.o_orderdate, o_totalprice=r1_k.o_totalprice > -> < l_quantity_sum=promote[nullable[real]](r1_k.l_quantity * r1_v) > }
let agg_Rm1 = sum (<ta_k, ta_v> in tmpa) { < c_name=ta_k.c_name, c_custkey=ta_k.c_custkey, o_orderkey=ta_k.o_orderkey, o_orderdate=ta_k.o_orderdate, o_totalprice=ta_k.o_totalprice, l_quantity_sum=promote[real](ta_v.l_quantity_sum) > -> 1 }
agg_Rm1

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<c_name = Customer#000001360, c_custkey = 1360, o_orderkey = 23943, o_orderdate = DateValue(19950624), o_totalprice = 372934.56, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000035, c_custkey = 35, o_orderkey = 23168, o_orderdate = DateValue(19930916), o_totalprice = 326036.51, l_quantity_sum = 1799> -> 1, <c_name = Customer#000001489, c_custkey = 1489, o_orderkey = 7523, o_orderdate = DateValue(19970408), o_totalprice = 344628.33, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000667, c_custkey = 667, o_orderkey = 29158, o_orderdate = DateValue(19951021), o_totalprice = 439687.23, l_quantity_sum = 2135> -> 1, <c_name = Customer#000000178, c_custkey = 178, o_orderkey = 6882, o_orderdate = DateValue(19970409), o_totalprice = 422359.65, l_quantity_sum = 2121> -> 1, <c_name = Customer#000001063, c_custkey = 1063, o_orderkey = 27236, o_orderdate = DateValue(19930303), o_totalprice = 343707.16, l_quantity_sum = 1778> -> 1, <c_name = Customer#000001279, c_custkey = 1279, o_orderkey = 39620, o_orderdate = DateValue(19941005), o_totalprice = 406938.36, l_quantity_sum = 1904> -> 1, <c_name = Customer#000000625, c_custkey = 625, o_orderkey = 29411, o_orderdate = DateValue(19920407), o_totalprice = 337745.42, l_quantity_sum = 1827> -> 1, <c_name = Customer#000001375, c_custkey = 1375, o_orderkey = 11142, o_orderdate = DateValue(19971003), o_totalprice = 395039.05, l_quantity_sum = 1820> -> 1, <c_name = Customer#000000331, c_custkey = 331, o_orderkey = 38405, o_orderdate = DateValue(19930716), o_totalprice = 359455.08, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000715, c_custkey = 715, o_orderkey = 11623, o_orderdate = DateValue(19951216), o_totalprice = 335923.49, l_quantity_sum = 1778> -> 1, <c_name = Customer#000000583, c_custkey = 583, o_orderkey = 52480, o_orderdate = DateValue(19930728), o_totalprice = 403464.01, l_quantity_sum = 1827> -> 1, <c_name = Customer#000000538, c_custkey = 538, o_orderkey = 55234, o_orderdate = DateValue(19930729), o_totalprice = 367176.04, l_quantity_sum = 1960> -> 1, <c_name = Customer#000000772, c_custkey = 772, o_orderkey = 35424, o_orderdate = DateValue(19960104), o_totalprice = 397797.8, l_quantity_sum = 1771> -> 1, <c_name = Customer#000001117, c_custkey = 1117, o_orderkey = 10787, o_orderdate = DateValue(19970212), o_totalprice = 372954.4, l_quantity_sum = 1813> -> 1, <c_name = Customer#000000107, c_custkey = 107, o_orderkey = 8516, o_orderdate = DateValue(19960408), o_totalprice = 377636.63, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000109, c_custkey = 109, o_orderkey = 27680, o_orderdate = DateValue(19930127), o_totalprice = 321405.21, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000214, c_custkey = 214, o_orderkey = 32129, o_orderdate = DateValue(19950703), o_totalprice = 379837.62, l_quantity_sum = 1806> -> 1, <c_name = Customer#000000676, c_custkey = 676, o_orderkey = 52965, o_orderdate = DateValue(19960922), o_totalprice = 466001.28, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000694, c_custkey = 694, o_orderkey = 2567, o_orderdate = DateValue(19980227), o_totalprice = 366949.49, l_quantity_sum = 1862> -> 1, <c_name = Customer#000000545, c_custkey = 545, o_orderkey = 36803, o_orderdate = DateValue(19920805), o_totalprice = 372488.09, l_quantity_sum = 1862> -> 1, <c_name = Customer#000000676, c_custkey = 676, o_orderkey = 2208, o_orderdate = DateValue(19950501), o_totalprice = 346978.53, l_quantity_sum = 1792> -> 1, <c_name = Customer#000000085, c_custkey = 85, o_orderkey = 4421, o_orderdate = DateValue(19970404), o_totalprice = 401055.62, l_quantity_sum = 1785> -> 1, <c_name = Customer#000000424, c_custkey = 424, o_orderkey = 56321, o_orderdate = DateValue(19930417), o_totalprice = 316056.46, l_quantity_sum = 1771> -> 1, <c_name = Customer#000000538, c_custkey = 538, o_orderkey = 30592, o_orderdate = DateValue(19960914), o_totalprice = 346813.52, l_quantity_sum = 1820> -> 1, <c_name = Customer#000001300, c_custkey = 1300, o_orderkey = 29058, o_orderdate = DateValue(19930104), o_totalprice = 320149.44, l_quantity_sum = 1827> -> 1, <c_name = Customer#000000454, c_custkey = 454, o_orderkey = 52001, o_orderdate = DateValue(19920807), o_totalprice = 340337.98, l_quantity_sum = 1855> -> 1, <c_name = Customer#000000061, c_custkey = 61, o_orderkey = 41445, o_orderdate = DateValue(19960208), o_totalprice = 392172.9, l_quantity_sum = 1792> -> 1, <c_name = Customer#000001165, c_custkey = 1165, o_orderkey = 57216, o_orderdate = DateValue(19930730), o_totalprice = 366277.63, l_quantity_sum = 1883> -> 1, <c_name = Customer#000000286, c_custkey = 286, o_orderkey = 16736, o_orderdate = DateValue(19971024), o_totalprice = 295316.65, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000955, c_custkey = 955, o_orderkey = 59841, o_orderdate = DateValue(19930528), o_totalprice = 370518.49, l_quantity_sum = 1614> -> 1, <c_name = Customer#000001436, c_custkey = 1436, o_orderkey = 51975, o_orderdate = DateValue(19941219), o_totalprice = 393923.76, l_quantity_sum = 1890> -> 1, <c_name = Customer#000000424, c_custkey = 424, o_orderkey = 48483, o_orderdate = DateValue(19941211), o_totalprice = 392614.07, l_quantity_sum = 1862> -> 1, <c_name = Customer#000001477, c_custkey = 1477, o_orderkey = 38530, o_orderdate = DateValue(19950418), o_totalprice = 376904.18, l_quantity_sum = 1890> -> 1, <c_name = Customer#000000805, c_custkey = 805, o_orderkey = 27746, o_orderdate = DateValue(19931205), o_totalprice = 381170.13, l_quantity_sum = 1834> -> 1, <c_name = Customer#000000136, c_custkey = 136, o_orderkey = 19968, o_orderdate = DateValue(19971207), o_totalprice = 359373.75, l_quantity_sum = 1911> -> 1, <c_name = Customer#000000430, c_custkey = 430, o_orderkey = 54563, o_orderdate = DateValue(19931005), o_totalprice = 358340.33, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000953, c_custkey = 953, o_orderkey = 59106, o_orderdate = DateValue(19961024), o_totalprice = 430619.75, l_quantity_sum = 1932> -> 1, <c_name = Customer#000000737, c_custkey = 737, o_orderkey = 26631, o_orderdate = DateValue(19931102), o_totalprice = 362967.77, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000266, c_custkey = 266, o_orderkey = 56160, o_orderdate = DateValue(19940918), o_totalprice = 332655.5, l_quantity_sum = 1778> -> 1, <c_name = Customer#000001499, c_custkey = 1499, o_orderkey = 59873, o_orderdate = DateValue(19940213), o_totalprice = 359414.77, l_quantity_sum = 1855> -> 1, <c_name = Customer#000001210, c_custkey = 1210, o_orderkey = 10209, o_orderdate = DateValue(19931130), o_totalprice = 400191.77, l_quantity_sum = 1841> -> 1, <c_name = Customer#000001003, c_custkey = 1003, o_orderkey = 15779, o_orderdate = DateValue(19980224), o_totalprice = 405401.76, l_quantity_sum = 1792> -> 1, <c_name = Customer#000001168, c_custkey = 1168, o_orderkey = 32231, o_orderdate = DateValue(19921102), o_totalprice = 353334.19, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000260, c_custkey = 260, o_orderkey = 58371, o_orderdate = DateValue(19930512), o_totalprice = 366479.63, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000742, c_custkey = 742, o_orderkey = 53920, o_orderdate = DateValue(19940319), o_totalprice = 351797.6, l_quantity_sum = 1890> -> 1, <c_name = Customer#000001013, c_custkey = 1013, o_orderkey = 44707, o_orderdate = DateValue(19970814), o_totalprice = 431771.98, l_quantity_sum = 1674> -> 1, <c_name = Customer#000001126, c_custkey = 1126, o_orderkey = 12261, o_orderdate = DateValue(19931024), o_totalprice = 362237.85, l_quantity_sum = 1792> -> 1, <c_name = Customer#000001186, c_custkey = 1186, o_orderkey = 45510, o_orderdate = DateValue(19961213), o_totalprice = 335701.59, l_quantity_sum = 1869> -> 1, <c_name = Customer#000000808, c_custkey = 808, o_orderkey = 3460, o_orderdate = DateValue(19951003), o_totalprice = 354036.76, l_quantity_sum = 1778> -> 1, <c_name = Customer#000000007, c_custkey = 7, o_orderkey = 14404, o_orderdate = DateValue(19961103), o_totalprice = 354885.81, l_quantity_sum = 1806> -> 1, <c_name = Customer#000000166, c_custkey = 166, o_orderkey = 55937, o_orderdate = DateValue(19940127), o_totalprice = 402930.49, l_quantity_sum = 1876> -> 1, <c_name = Customer#000001147, c_custkey = 1147, o_orderkey = 54819, o_orderdate = DateValue(19941011), o_totalprice = 386714.93, l_quantity_sum = 1799> -> 1, <c_name = Customer#000001006, c_custkey = 1006, o_orderkey = 33252, o_orderdate = DateValue(19920326), o_totalprice = 347058.46, l_quantity_sum = 1827> -> 1, <c_name = Customer#000001303, c_custkey = 1303, o_orderkey = 45670, o_orderdate = DateValue(19920808), o_totalprice = 397549.76, l_quantity_sum = 1827> -> 1, <c_name = Customer#000001016, c_custkey = 1016, o_orderkey = 39456, o_orderdate = DateValue(19980216), o_totalprice = 409770.83, l_quantity_sum = 1596> -> 1, <c_name = Customer#000000364, c_custkey = 364, o_orderkey = 45440, o_orderdate = DateValue(19920810), o_totalprice = 369658.21, l_quantity_sum = 1848> -> 1, <c_name = Customer#000001355, c_custkey = 1355, o_orderkey = 15202, o_orderdate = DateValue(19930710), o_totalprice = 371804.24, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000163, c_custkey = 163, o_orderkey = 45638, o_orderdate = DateValue(19970827), o_totalprice = 328804.37, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000955, c_custkey = 955, o_orderkey = 24610, o_orderdate = DateValue(19930119), o_totalprice = 301207.03, l_quantity_sum = 1778> -> 1, <c_name = Customer#000000710, c_custkey = 710, o_orderkey = 5989, o_orderdate = DateValue(19951015), o_totalprice = 351029.36, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000718, c_custkey = 718, o_orderkey = 36483, o_orderdate = DateValue(19961103), o_totalprice = 329897.27, l_quantity_sum = 1799> -> 1, <c_name = Customer#000001082, c_custkey = 1082, o_orderkey = 48229, o_orderdate = DateValue(19971230), o_totalprice = 371624.55, l_quantity_sum = 1841> -> 1, <c_name = Customer#000001226, c_custkey = 1226, o_orderkey = 36673, o_orderdate = DateValue(19930914), o_totalprice = 364437.75, l_quantity_sum = 1953> -> 1}

[success] Total time: 11 s, completed 2022年7月30日 上午6:36:18
========================================================
pysdql execution time: 26.101406574249268
export sdql script "tpch-18.sdql" to "T:/UG4-Proj/output/tpch-18.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-18.sdql

{<c_name = Customer#000001360, c_custkey = 1360, o_orderkey = 23943, o_orderdate = DateValue(19950624), o_totalprice = 372934.56, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000035, c_custkey = 35, o_orderkey = 23168, o_orderdate = DateValue(19930916), o_totalprice = 326036.51, l_quantity_sum = 1799> -> 1, <c_name = Customer#000001489, c_custkey = 1489, o_orderkey = 7523, o_orderdate = DateValue(19970408), o_totalprice = 344628.33, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000667, c_custkey = 667, o_orderkey = 29158, o_orderdate = DateValue(19951021), o_totalprice = 439687.23, l_quantity_sum = 2135> -> 1, <c_name = Customer#000000178, c_custkey = 178, o_orderkey = 6882, o_orderdate = DateValue(19970409), o_totalprice = 422359.65, l_quantity_sum = 2121> -> 1, <c_name = Customer#000001063, c_custkey = 1063, o_orderkey = 27236, o_orderdate = DateValue(19930303), o_totalprice = 343707.16, l_quantity_sum = 1778> -> 1, <c_name = Customer#000001279, c_custkey = 1279, o_orderkey = 39620, o_orderdate = DateValue(19941005), o_totalprice = 406938.36, l_quantity_sum = 1904> -> 1, <c_name = Customer#000000625, c_custkey = 625, o_orderkey = 29411, o_orderdate = DateValue(19920407), o_totalprice = 337745.42, l_quantity_sum = 1827> -> 1, <c_name = Customer#000001375, c_custkey = 1375, o_orderkey = 11142, o_orderdate = DateValue(19971003), o_totalprice = 395039.05, l_quantity_sum = 1820> -> 1, <c_name = Customer#000000331, c_custkey = 331, o_orderkey = 38405, o_orderdate = DateValue(19930716), o_totalprice = 359455.08, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000715, c_custkey = 715, o_orderkey = 11623, o_orderdate = DateValue(19951216), o_totalprice = 335923.49, l_quantity_sum = 1778> -> 1, <c_name = Customer#000000583, c_custkey = 583, o_orderkey = 52480, o_orderdate = DateValue(19930728), o_totalprice = 403464.01, l_quantity_sum = 1827> -> 1, <c_name = Customer#000000538, c_custkey = 538, o_orderkey = 55234, o_orderdate = DateValue(19930729), o_totalprice = 367176.04, l_quantity_sum = 1960> -> 1, <c_name = Customer#000000772, c_custkey = 772, o_orderkey = 35424, o_orderdate = DateValue(19960104), o_totalprice = 397797.8, l_quantity_sum = 1771> -> 1, <c_name = Customer#000001117, c_custkey = 1117, o_orderkey = 10787, o_orderdate = DateValue(19970212), o_totalprice = 372954.4, l_quantity_sum = 1813> -> 1, <c_name = Customer#000000107, c_custkey = 107, o_orderkey = 8516, o_orderdate = DateValue(19960408), o_totalprice = 377636.63, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000109, c_custkey = 109, o_orderkey = 27680, o_orderdate = DateValue(19930127), o_totalprice = 321405.21, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000214, c_custkey = 214, o_orderkey = 32129, o_orderdate = DateValue(19950703), o_totalprice = 379837.62, l_quantity_sum = 1806> -> 1, <c_name = Customer#000000676, c_custkey = 676, o_orderkey = 52965, o_orderdate = DateValue(19960922), o_totalprice = 466001.28, l_quantity_sum = 1897> -> 1, <c_name = Customer#000000694, c_custkey = 694, o_orderkey = 2567, o_orderdate = DateValue(19980227), o_totalprice = 366949.49, l_quantity_sum = 1862> -> 1, <c_name = Customer#000000545, c_custkey = 545, o_orderkey = 36803, o_orderdate = DateValue(19920805), o_totalprice = 372488.09, l_quantity_sum = 1862> -> 1, <c_name = Customer#000000676, c_custkey = 676, o_orderkey = 2208, o_orderdate = DateValue(19950501), o_totalprice = 346978.53, l_quantity_sum = 1792> -> 1, <c_name = Customer#000000085, c_custkey = 85, o_orderkey = 4421, o_orderdate = DateValue(19970404), o_totalprice = 401055.62, l_quantity_sum = 1785> -> 1, <c_name = Customer#000000424, c_custkey = 424, o_orderkey = 56321, o_orderdate = DateValue(19930417), o_totalprice = 316056.46, l_quantity_sum = 1771> -> 1, <c_name = Customer#000000538, c_custkey = 538, o_orderkey = 30592, o_orderdate = DateValue(19960914), o_totalprice = 346813.52, l_quantity_sum = 1820> -> 1, <c_name = Customer#000001300, c_custkey = 1300, o_orderkey = 29058, o_orderdate = DateValue(19930104), o_totalprice = 320149.44, l_quantity_sum = 1827> -> 1, <c_name = Customer#000000454, c_custkey = 454, o_orderkey = 52001, o_orderdate = DateValue(19920807), o_totalprice = 340337.98, l_quantity_sum = 1855> -> 1, <c_name = Customer#000000061, c_custkey = 61, o_orderkey = 41445, o_orderdate = DateValue(19960208), o_totalprice = 392172.9, l_quantity_sum = 1792> -> 1, <c_name = Customer#000001165, c_custkey = 1165, o_orderkey = 57216, o_orderdate = DateValue(19930730), o_totalprice = 366277.63, l_quantity_sum = 1883> -> 1, <c_name = Customer#000000286, c_custkey = 286, o_orderkey = 16736, o_orderdate = DateValue(19971024), o_totalprice = 295316.65, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000955, c_custkey = 955, o_orderkey = 59841, o_orderdate = DateValue(19930528), o_totalprice = 370518.49, l_quantity_sum = 1614> -> 1, <c_name = Customer#000001436, c_custkey = 1436, o_orderkey = 51975, o_orderdate = DateValue(19941219), o_totalprice = 393923.76, l_quantity_sum = 1890> -> 1, <c_name = Customer#000000424, c_custkey = 424, o_orderkey = 48483, o_orderdate = DateValue(19941211), o_totalprice = 392614.07, l_quantity_sum = 1862> -> 1, <c_name = Customer#000001477, c_custkey = 1477, o_orderkey = 38530, o_orderdate = DateValue(19950418), o_totalprice = 376904.18, l_quantity_sum = 1890> -> 1, <c_name = Customer#000000805, c_custkey = 805, o_orderkey = 27746, o_orderdate = DateValue(19931205), o_totalprice = 381170.13, l_quantity_sum = 1834> -> 1, <c_name = Customer#000000136, c_custkey = 136, o_orderkey = 19968, o_orderdate = DateValue(19971207), o_totalprice = 359373.75, l_quantity_sum = 1911> -> 1, <c_name = Customer#000000430, c_custkey = 430, o_orderkey = 54563, o_orderdate = DateValue(19931005), o_totalprice = 358340.33, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000953, c_custkey = 953, o_orderkey = 59106, o_orderdate = DateValue(19961024), o_totalprice = 430619.75, l_quantity_sum = 1932> -> 1, <c_name = Customer#000000737, c_custkey = 737, o_orderkey = 26631, o_orderdate = DateValue(19931102), o_totalprice = 362967.77, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000266, c_custkey = 266, o_orderkey = 56160, o_orderdate = DateValue(19940918), o_totalprice = 332655.5, l_quantity_sum = 1778> -> 1, <c_name = Customer#000001499, c_custkey = 1499, o_orderkey = 59873, o_orderdate = DateValue(19940213), o_totalprice = 359414.77, l_quantity_sum = 1855> -> 1, <c_name = Customer#000001210, c_custkey = 1210, o_orderkey = 10209, o_orderdate = DateValue(19931130), o_totalprice = 400191.77, l_quantity_sum = 1841> -> 1, <c_name = Customer#000001003, c_custkey = 1003, o_orderkey = 15779, o_orderdate = DateValue(19980224), o_totalprice = 405401.76, l_quantity_sum = 1792> -> 1, <c_name = Customer#000001168, c_custkey = 1168, o_orderkey = 32231, o_orderdate = DateValue(19921102), o_totalprice = 353334.19, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000260, c_custkey = 260, o_orderkey = 58371, o_orderdate = DateValue(19930512), o_totalprice = 366479.63, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000742, c_custkey = 742, o_orderkey = 53920, o_orderdate = DateValue(19940319), o_totalprice = 351797.6, l_quantity_sum = 1890> -> 1, <c_name = Customer#000001013, c_custkey = 1013, o_orderkey = 44707, o_orderdate = DateValue(19970814), o_totalprice = 431771.98, l_quantity_sum = 1674> -> 1, <c_name = Customer#000001126, c_custkey = 1126, o_orderkey = 12261, o_orderdate = DateValue(19931024), o_totalprice = 362237.85, l_quantity_sum = 1792> -> 1, <c_name = Customer#000001186, c_custkey = 1186, o_orderkey = 45510, o_orderdate = DateValue(19961213), o_totalprice = 335701.59, l_quantity_sum = 1869> -> 1, <c_name = Customer#000000808, c_custkey = 808, o_orderkey = 3460, o_orderdate = DateValue(19951003), o_totalprice = 354036.76, l_quantity_sum = 1778> -> 1, <c_name = Customer#000000007, c_custkey = 7, o_orderkey = 14404, o_orderdate = DateValue(19961103), o_totalprice = 354885.81, l_quantity_sum = 1806> -> 1, <c_name = Customer#000000166, c_custkey = 166, o_orderkey = 55937, o_orderdate = DateValue(19940127), o_totalprice = 402930.49, l_quantity_sum = 1876> -> 1, <c_name = Customer#000001147, c_custkey = 1147, o_orderkey = 54819, o_orderdate = DateValue(19941011), o_totalprice = 386714.93, l_quantity_sum = 1799> -> 1, <c_name = Customer#000001006, c_custkey = 1006, o_orderkey = 33252, o_orderdate = DateValue(19920326), o_totalprice = 347058.46, l_quantity_sum = 1827> -> 1, <c_name = Customer#000001303, c_custkey = 1303, o_orderkey = 45670, o_orderdate = DateValue(19920808), o_totalprice = 397549.76, l_quantity_sum = 1827> -> 1, <c_name = Customer#000001016, c_custkey = 1016, o_orderkey = 39456, o_orderdate = DateValue(19980216), o_totalprice = 409770.83, l_quantity_sum = 1596> -> 1, <c_name = Customer#000000364, c_custkey = 364, o_orderkey = 45440, o_orderdate = DateValue(19920810), o_totalprice = 369658.21, l_quantity_sum = 1848> -> 1, <c_name = Customer#000001355, c_custkey = 1355, o_orderkey = 15202, o_orderdate = DateValue(19930710), o_totalprice = 371804.24, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000163, c_custkey = 163, o_orderkey = 45638, o_orderdate = DateValue(19970827), o_totalprice = 328804.37, l_quantity_sum = 1764> -> 1, <c_name = Customer#000000955, c_custkey = 955, o_orderkey = 24610, o_orderdate = DateValue(19930119), o_totalprice = 301207.03, l_quantity_sum = 1778> -> 1, <c_name = Customer#000000710, c_custkey = 710, o_orderkey = 5989, o_orderdate = DateValue(19951015), o_totalprice = 351029.36, l_quantity_sum = 1799> -> 1, <c_name = Customer#000000718, c_custkey = 718, o_orderkey = 36483, o_orderdate = DateValue(19961103), o_totalprice = 329897.27, l_quantity_sum = 1799> -> 1, <c_name = Customer#000001082, c_custkey = 1082, o_orderkey = 48229, o_orderdate = DateValue(19971230), o_totalprice = 371624.55, l_quantity_sum = 1841> -> 1, <c_name = Customer#000001226, c_custkey = 1226, o_orderkey = 36673, o_orderdate = DateValue(19930914), o_totalprice = 364437.75, l_quantity_sum = 1953> -> 1}

### pandas - 18

In [37]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 251

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)

agg_l = lineitem.groupby(['l_orderkey']).filter(lambda x: x['l_quantity'].sum() > var1)
agg_l.columns.name = 'agg_l'

sub_o = orders[(orders['o_orderkey'].isin(agg_l['l_orderkey']))]

r = customer.merge(sub_o, left_on='c_custkey', right_on='o_custkey')
r = r.merge(lineitem, left_on='o_orderkey', right_on='l_orderkey')

r = r.groupby(['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice'], as_index=False)\
    .agg(l_quantity_sum=('l_quantity', 'sum'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-18').run(r).export().to()

                c_name  c_custkey  o_orderkey o_orderdate  o_totalprice  \
0   Customer#000000007          7       14404  1996-11-03     354885.81
1   Customer#000000035         35       23168  1993-09-16     326036.51
2   Customer#000000061         61       41445  1996-02-08     392172.90
3   Customer#000000085         85        4421  1997-04-04     401055.62
4   Customer#000000107        107        8516  1996-04-08     377636.63
5   Customer#000000109        109       27680  1993-01-27     321405.21
6   Customer#000000136        136       19968  1997-12-07     359373.75
7   Customer#000000163        163       45638  1997-08-27     328804.37
8   Customer#000000166        166       55937  1994-01-27     402930.49
9   Customer#000000178        178        6882  1997-04-09     422359.65
10  Customer#000000214        214       32129  1995-07-03     379837.62
11  Customer#000000260        260       58371  1993-05-12     366479.63
12  Customer#000000266        266       56160  1994-09-18     332655.50
13  Customer#000000286        286       16736  1997-10-24     295316.65
14  Customer#000000331        331       38405  1993-07-16     359455.08
15  Customer#000000364        364       45440  1992-08-10     369658.21
16  Customer#000000424        424       48483  1994-12-11     392614.07
17  Customer#000000424        424       56321  1993-04-17     316056.46
18  Customer#000000430        430       54563  1993-10-05     358340.33
19  Customer#000000454        454       52001  1992-08-07     340337.98
20  Customer#000000538        538       30592  1996-09-14     346813.52
21  Customer#000000538        538       55234  1993-07-29     367176.04
22  Customer#000000545        545       36803  1992-08-05     372488.09
23  Customer#000000583        583       52480  1993-07-28     403464.01
24  Customer#000000625        625       29411  1992-04-07     337745.42
25  Customer#000000667        667       29158  1995-10-21     439687.23
26  Customer#000000676        676        2208  1995-05-01     346978.53
27  Customer#000000676        676       52965  1996-09-22     466001.28
28  Customer#000000694        694        2567  1998-02-27     366949.49
29  Customer#000000710        710        5989  1995-10-15     351029.36
30  Customer#000000715        715       11623  1995-12-16     335923.49
31  Customer#000000718        718       36483  1996-11-03     329897.27
32  Customer#000000737        737       26631  1993-11-02     362967.77
33  Customer#000000742        742       53920  1994-03-19     351797.60
34  Customer#000000772        772       35424  1996-01-04     397797.80
35  Customer#000000805        805       27746  1993-12-05     381170.13
36  Customer#000000808        808        3460  1995-10-03     354036.76
37  Customer#000000953        953       59106  1996-10-24     430619.75
38  Customer#000000955        955       24610  1993-01-19     301207.03
39  Customer#000000955        955       59841  1993-05-28     370518.49
40  Customer#000001003       1003       15779  1998-02-24     405401.76
41  Customer#000001006       1006       33252  1992-03-26     347058.46
42  Customer#000001013       1013       44707  1997-08-14     431771.98
43  Customer#000001016       1016       39456  1998-02-16     409770.83
44  Customer#000001063       1063       27236  1993-03-03     343707.16
45  Customer#000001082       1082       48229  1997-12-30     371624.55
46  Customer#000001117       1117       10787  1997-02-12     372954.40
47  Customer#000001126       1126       12261  1993-10-24     362237.85
48  Customer#000001147       1147       54819  1994-10-11     386714.93
49  Customer#000001165       1165       57216  1993-07-30     366277.63
50  Customer#000001168       1168       32231  1992-11-02     353334.19
51  Customer#000001186       1186       45510  1996-12-13     335701.59
52  Customer#000001210       1210       10209  1993-11-30     400191.77
53  Customer#000001226       1226       36673  1993-09-14     364437.75
54  Customer#000001279       1279       39620  1994-10-05     406938.36
55  Customer#000001300       1300       29058  1993-01-04     320149.44
56  Customer#000001303       1303       45670  1992-08-08     397549.76
57  Customer#000001355       1355       15202  1993-07-10     371804.24
58  Customer#000001360       1360       23943  1995-06-24     372934.56
59  Customer#000001375       1375       11142  1997-10-03     395039.05
60  Customer#000001436       1436       51975  1994-12-19     393923.76
61  Customer#000001477       1477       38530  1995-04-18     376904.18
62  Customer#000001489       1489        7523  1997-04-08     344628.33
63  Customer#000001499       1499       59873  1994-02-13     359414.77

    l_quantity_sum
0              258
1              257
2              256
3              255
4              271
5              257
6              273
7              252
8              268
9              303
10             258
11             257
12             254
13             252
14             271
15             264
16             266
17             253
18             257
19             265
20             260
21             280
22             266
23             261
24             261
25             305
26             256
27             271
28             266
29             257
30             254
31             257
32             252
33             270
34             253
35             262
36             254
37             276
38             254
39             269
40             256
41             261
42             279
43             266
44             254
45             263
46             259
47             256
48             257
49             269
50             252
51             267
52             263
53             279
54             272
55             261
56             261
57             257
58             271
59             260
60             270
61             270
62             257
63             265

# TPCH - 19 ✅

### SQL - 19

```
select
	sum(l_extendedprice* (1 - l_discount)) as revenue
from
	lineitem,
	part
where
	(
		p_partkey = l_partkey
		and p_brand = ':1'
		and p_container in ('SM CASE', 'SM BOX', 'SM PACK', 'SM PKG')
		and l_quantity >= :4 and l_quantity <= :4 + 10
		and p_size between 1 and 5
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = ':2'
		and p_container in ('MED BAG', 'MED BOX', 'MED PKG', 'MED PACK')
		and l_quantity >= :5 and l_quantity <= :5 + 10
		and p_size between 1 and 10
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
	or
	(
		p_partkey = l_partkey
		and p_brand = ':3'
		and p_container in ('LG CASE', 'LG BOX', 'LG PACK', 'LG PKG')
		and l_quantity >= :6 and l_quantity <= :6 + 10
		and p_size between 1 and 15
		and l_shipmode in ('AIR', 'AIR REG')
		and l_shipinstruct = 'DELIVER IN PERSON'
	)
```

### pysdql - 19

In [38]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#54'
var2 = 'Brand#22'
var3 = 'Brand#33'
var4 = 1
var4_1 = var4 + 10
var5 = 18
var5_1 = var5 + 10
var6 = 26
var6_1 = var6 + 10

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

r = lineitem.merge(part, left_on='l_partkey', right_on='p_partkey')

r = r[((r['p_brand'] == var1)
       & (r['p_container'].isin(['SM CASE', 'SM BOX', 'SM PACK', 'SM PKG']))
       & (r['p_size'] >= 1) & (r['p_size'] <= 5)
       & (r['l_quantity'] >= var4)
       & (r['l_quantity'] <= var4_1)
       & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
       & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
       )
      | ((r['p_brand'] == var2)
         & (r['p_container'].isin(['MED BAG', 'MED BOX', 'MED PKG', 'MED PACK']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 10)
         & (r['l_quantity'] >= var5) & (r['l_quantity'] <= var5_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         )
      | ((r['p_brand'] == var3)
         & (r['p_container'].isin(['LG CASE', 'LG BOX', 'LG PACK', 'LG PKG']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 15)
         & (r['l_quantity'] >= var6)
         & (r['l_quantity'] <= var6_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON'))]

r['tmp_val'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['revenue'] = r['tmp_val'].sum()

r = r[['revenue']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-19').run(r).export().to()

let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let part_part = sum (<par_k, par_v> in part) { < p_partkey=par_k.p_partkey > -> { par_k -> par_v } }
let Rm0 = sum (<lin_k, lin_v> in lineitem) if ((part_part(<p_partkey=lin_k.l_partkey>) != {  })) then sum(<p_k, p_v> in part_part(<p_partkey=lin_k.l_partkey>)) { concat(lin_k, p_k) -> lin_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if (((((((((((r0_k.p_brand == "Brand#54") && ((((r0_k.p_container == "SM PKG") || (r0_k.p_container == "SM PACK")) || (r0_k.p_container == "SM CASE")) || (r0_k.p_container == "SM BOX"))) && (1 <= r0_k.p_size)) && (r0_k.p_size <= 5)) && (1 <= r0_k.l_quantity)) && (r0_k.l_quantity <= 11)) && ((r0_k.l_shipmode == "AIR REG") || (r0_k.l_shipmode == "AIR"))) && (r0_k.l_shipinstruct == "DELIVER IN PERSON")) || ((((((((r0_k.p_brand == "Brand#22") && ((((r0_k.p_container == "MED PACK") || (r0_k.p_container == "MED PKG")) || (r0_k.p_container == "MED BAG")) || (r0_k.p_container == "MED BOX"))) && (1 <= r0_k.p_size)) && (r0_k.p_size <= 10)) && (18 <= r0_k.l_quantity)) && (r0_k.l_quantity <= 28)) && ((r0_k.l_shipmode == "AIR REG") || (r0_k.l_shipmode == "AIR"))) && (r0_k.l_shipinstruct == "DELIVER IN PERSON"))) || ((((((((r0_k.p_brand == "Brand#33") && ((((r0_k.p_container == "LG PKG") || (r0_k.p_container == "LG PACK")) || (r0_k.p_container == "LG CASE")) || (r0_k.p_container == "LG BOX"))) && (1 <= r0_k.p_size)) && (r0_k.p_size <= 15)) && (26 <= r0_k.l_quantity)) && (r0_k.l_quantity <= 36)) && ((r0_k.l_shipmode == "AIR REG") || (r0_k.l_shipmode == "AIR"))) && (r0_k.l_shipinstruct == "DELIVER IN PERSON")))) then { r0_k -> 1 } else {  }
let tmp = sum (<r_k, r_v> in rmp) { concat(r_k, < tmp_val=(r_k.l_extendedprice * (1 - r_k.l_discount)) >) -> 1 }
let tmp_val_sum = sum (<t_k, t_v> in tmp) t_k.tmp_val * t_v
let tmpa = { < revenue=tmp_val_sum > -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { < revenue=ta_k.revenue > -> 1 }
tmpb

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<revenue = 30969.279> -> 1}
[success] Total time: 3 s, completed 2022年7月30日 上午6:36:37
========================================================
pysdql execution time: 17.508813619613647
export sdql script "tpch-19.sdql" to "T:/UG4-Proj/output/tpch-19.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-19.sdql

{<revenue = 30969.279> -> 1}

### pandas - 19

In [39]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'Brand#54'
var2 = 'Brand#22'
var3 = 'Brand#33'
var4 = 1
var4_1 = var4 + 10
var5 = 18
var5_1 = var5 + 10
var6 = 26
var6_1 = var6 + 10

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)

r = lineitem.merge(part, left_on='l_partkey', right_on='p_partkey')

r = r[((r['p_brand'] == var1)
       & (r['p_container'].isin(['SM CASE', 'SM BOX', 'SM PACK', 'SM PKG']))
       & (r['p_size'] >= 1) & (r['p_size'] <= 5)
       & (r['l_quantity'] >= var4)
       & (r['l_quantity'] <= var4_1)
       & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
       & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
       )
      | ((r['p_brand'] == var2)
         & (r['p_container'].isin(['MED BAG', 'MED BOX', 'MED PKG', 'MED PACK']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 10)
         & (r['l_quantity'] >= var5) & (r['l_quantity'] <= var5_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON')
         )
      | ((r['p_brand'] == var3)
         & (r['p_container'].isin(['LG CASE', 'LG BOX', 'LG PACK', 'LG PKG']))
         & (r['p_size'] >= 1) & (r['p_size'] <= 15)
         & (r['l_quantity'] >= var6)
         & (r['l_quantity'] <= var6_1)
         & (r['l_shipmode'].isin(['AIR', 'AIR REG']))
         & (r['l_shipinstruct'] == 'DELIVER IN PERSON'))]

r['tmp_val'] = r['l_extendedprice'] * (1 - r['l_discount'])
r['revenue'] = r['tmp_val'].sum()

r = r[['revenue']].drop_duplicates()

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-19').run(r).export().to()

         revenue
32710  30969.279

# TPCH - 20 ✅

### SQL - 20

```
select
	s_name,
	s_address
from
	supplier,
	nation
where
	s_suppkey in (
		select
			ps_suppkey
		from
			partsupp,
			(
				select
					l_partkey agg_partkey,
					l_suppkey agg_suppkey,
					0.5 * sum(l_quantity) AS agg_quantity
				from
					lineitem
				where
					l_shipdate >= date ':2'
					and l_shipdate < date ':2' + interval '1' year
				group by
					l_partkey,
					l_suppkey
			) agg_lineitem
		where
			agg_partkey = ps_partkey
			and agg_suppkey = ps_suppkey
			and ps_partkey in (
				select
					p_partkey
				from
					part
				where
					p_name like ':1%'
			)
			and ps_availqty > agg_quantity
	)
	and s_nationkey = n_nationkey
	and n_name = ':3'
```

### pysdql - 20

In [40]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'orange'
var2 = '1995-01-01'
var2_1 = '1996-01-01'  # var2 + 1 year
var3 = 'UNITED STATES'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var2) & (lineitem['l_shipdate'] < var2_1)]
sub_l.columns.name = 'sub_l'

agg_lineitem = sub_l.groupby(['l_partkey', 'l_suppkey'], as_index=False).agg(tmp_val=('l_quantity', 'sum'))

agg_lineitem['agg_partkey'] = agg_lineitem['l_partkey']
agg_lineitem['agg_suppkey'] = agg_lineitem['l_suppkey']
agg_lineitem['agg_quantity'] = agg_lineitem['tmp_val'] * 0.5

agg_lineitem.columns.name = 'agg_lineitem'

r = partsupp.merge(agg_lineitem, left_on=['ps_partkey', 'ps_suppkey'], right_on=['agg_partkey', 'agg_suppkey'])
r = r[r['ps_availqty'] > r['agg_quantity']]

sub_p = part[part['p_name'].str.startswith(var1)]
sub_p.columns.name = 'sub_p'

r = r[(r['ps_partkey'].isin(sub_p['p_partkey']))]

sub_n = nation[(nation['n_name'] == var3)]
sub_n.columns.name = 'sub_n'

s = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')

s = s[(s['s_suppkey'].isin(r['ps_suppkey']))]

s = s[['s_name', 's_address']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-20').run(s).export().to()

let part = load[{<p_partkey: int, p_name: string, p_mfgr: string, p_brand: string, p_type: string, p_size: int, p_container: string, p_retailprice: double, p_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/part.tbl")
let pmp = sum (<par_k, par_v> in part) if (ext(`StrStartsWith`, par_k.p_name, "orange")) then { par_k -> 1 } else {  }
let sub_p = pmp
let lineitem = load[{<l_orderkey: int, l_partkey: int, l_suppkey: int, l_linenumber: int, l_quantity: int, l_extendedprice: double, l_discount: double, l_tax: double, l_returnflag: string, l_linestatus: string, l_shipdate: date, l_commitdate: date, l_receiptdate: date, l_shipinstruct: string, l_shipmode: string, l_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let lmp = sum (<lin_k, lin_v> in lineitem) if (((date(19950101) <= lin_k.l_shipdate) && (lin_k.l_shipdate < date(19960101)))) then { lin_k -> 1 } else {  }
let sub_l = lmp
let tmp = sum (<sl_k, sl_v> in sub_l) { < l_partkey=sl_k.l_partkey, l_suppkey=sl_k.l_suppkey > -> < tmp_val=promote[nullable[real]](sl_k.l_quantity * sl_v) > }
let agg_sub_l = sum (<t_k, t_v> in tmp) { < l_partkey=t_k.l_partkey, l_suppkey=t_k.l_suppkey, tmp_val=promote[real](t_v.tmp_val) > -> 1 }
let amp = sum (<asl_k, asl_v> in agg_sub_l) { concat(asl_k, < agg_partkey=asl_k.l_partkey >) -> 1 }
let tmpa = sum (<a_k, a_v> in amp) { concat(a_k, < agg_suppkey=a_k.l_suppkey >) -> 1 }
let tmpb = sum (<ta_k, ta_v> in tmpa) { concat(ta_k, < agg_quantity=(ta_k.tmp_val * 0.5) >) -> 1 }
let agg_lineitem = tmpb
let partsupp = load[{<ps_partkey: int, ps_suppkey: int, ps_availqty: int, ps_supplycost: double, ps_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/partsupp.tbl")
let part_agg_lineitem = sum (<al_k, al_v> in agg_lineitem) { < agg_partkey=al_k.agg_partkey, agg_suppkey=al_k.agg_suppkey > -> { al_k -> al_v } }
let Rm0 = sum (<psup_k, psup_v> in partsupp) if ((part_agg_lineitem(< agg_partkey=psup_k.ps_partkey, agg_suppkey=psup_k.ps_suppkey >) != {  })) then sum(<p_k, p_v> in part_agg_lineitem(< agg_partkey=psup_k.ps_partkey, agg_suppkey=psup_k.ps_suppkey >)) { concat(psup_k, p_k) -> psup_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((r0_k.agg_quantity < r0_k.ps_availqty)) then { r0_k -> 1 } else {  }
let tmpc = sum (<r_k, r_v> in rmp) sum (<sp_k, sp_v> in sub_p) if ((r_k.ps_partkey == sp_k.p_partkey)) then { r_k -> 1 } else {  }
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "UNITED STATES")) then { nat_k -> 1 } else {  }
let sub_n = nmp
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let part_sub_n = sum (<sn_k, sn_v> in sub_n) { < n_nationkey=sn_k.n_nationkey > -> { sn_k -> sn_v } }
let Rm0 = sum (<sup_k, sup_v> in supplier) if ((part_sub_n(<n_nationkey=sup_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_sub_n(<n_nationkey=sup_k.s_nationkey>)) { concat(sup_k, p_k) -> sup_v * p_v } else {  }
let tmpd = sum (<r0_k, r0_v> in Rm0) sum (<tc_k, tc_v> in tmpc) if ((r0_k.s_suppkey == tc_k.ps_suppkey)) then { r0_k -> 1 } else {  }
let tmpe = sum (<td_k, td_v> in tmpd) { < s_name=td_k.s_name, s_address=td_k.s_address > -> 1 }
tmpe

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_name = Supplier#000000055, s_address = OqdYSiOQeG4eGi636Tj> -> 1}
[success] Total time: 3 s, completed 2022年7月30日 上午6:36:55
========================================================
pysdql execution time: 17.517042875289917
export sdql script "tpch-20.sdql" to "T:/UG4-Proj/output/tpch-20.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-20.sdql

{<s_name = Supplier#000000055, s_address = OqdYSiOQeG4eGi636Tj> -> 1}

### pandas - 20

In [41]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
# import pysdql as pd  # get answer in pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'orange'
var2 = '1995-01-01'
var2_1 = '1996-01-01'  # var2 + 1 year
var3 = 'UNITED STATES'

lineitem = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=pysdql.LINEITEM_COLS)
part = pd.read_table(rf'{data_path}/part.tbl', sep='|', index_col=False, header=None, names=pysdql.PART_COLS)
partsupp = pd.read_table(rf'{data_path}/partsupp.tbl', sep='|', index_col=False, header=None, names=pysdql.PARTSUPP_COLS)
supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)

sub_l = lineitem[(lineitem['l_shipdate'] >= var2) & (lineitem['l_shipdate'] < var2_1)]
sub_l.columns.name = 'sub_l'

agg_lineitem = sub_l.groupby(['l_partkey', 'l_suppkey'], as_index=False).agg(tmp_val=('l_quantity', 'sum'))

agg_lineitem['agg_partkey'] = agg_lineitem['l_partkey']
agg_lineitem['agg_suppkey'] = agg_lineitem['l_suppkey']
agg_lineitem['agg_quantity'] = agg_lineitem['tmp_val'] * 0.5

agg_lineitem.columns.name = 'agg_lineitem'

r = partsupp.merge(agg_lineitem, left_on=['ps_partkey', 'ps_suppkey'], right_on=['agg_partkey', 'agg_suppkey'])
r = r[r['ps_availqty'] > r['agg_quantity']]

sub_p = part[part['p_name'].str.startswith(var1)]
sub_p.columns.name = 'sub_p'

r = r[(r['ps_partkey'].isin(sub_p['p_partkey']))]

sub_n = nation[(nation['n_name'] == var3)]
sub_n.columns.name = 'sub_n'

s = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')

s = s[(s['s_suppkey'].isin(r['ps_suppkey']))]

s = s[['s_name', 's_address']]

print(s)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-20').run(s).export().to()

               s_name            s_address
4  Supplier#000000055  OqdYSiOQeG4eGi636Tj

# TPCH - 21 ✅

### SQL - 21

```
select
	s_name,
	count(*) as numwait
from
	supplier,
	lineitem l1,
	orders,
	nation
where
	s_suppkey = l1.l_suppkey
	and o_orderkey = l1.l_orderkey
	and o_orderstatus = 'F'
	and l1.l_receiptdate > l1.l_commitdate
	and exists (
		select
			*
		from
			lineitem l2
		where
			l2.l_orderkey = l1.l_orderkey
			and l2.l_suppkey <> l1.l_suppkey
	)
	and not exists (
		select
			*
		from
			lineitem l3
		where
			l3.l_orderkey = l1.l_orderkey
			and l3.l_suppkey <> l1.l_suppkey
			and l3.l_receiptdate > l3.l_commitdate
	)
	and s_nationkey = n_nationkey
	and n_name = ':1'
group by
	s_name
```

### pysdql - 21

In [42]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'UNITED KINGDOM'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
l1_cols = ['l1_orderkey', 'l1_partkey', 'l1_suppkey', 'l1_linenumber', 'l1_quantity', 'l1_extendedprice',
           'l1_discount', 'l1_tax', 'l1_returnflag', 'l1_linestatus', 'l1_shipdate', 'l1_commitdate',
           'l1_receiptdate', 'l1_shipinstruct', 'l1_shipmode', 'l1_comment']
l1 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l1_cols)
l1.columns.name = 'l1'
l2_cols = ['l2_orderkey', 'l2_partkey', 'l2_suppkey', 'l2_linenumber', 'l2_quantity', 'l2_extendedprice',
           'l2_discount', 'l2_tax', 'l2_returnflag', 'l2_linestatus', 'l2_shipdate', 'l2_commitdate',
           'l2_receiptdate', 'l2_shipinstruct', 'l2_shipmode', 'l2_comment']
l2 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l2_cols)
l2.columns.name = 'l2'
l3_cols = ['l3_orderkey', 'l3_partkey', 'l3_suppkey', 'l3_linenumber', 'l3_quantity', 'l3_extendedprice',
           'l3_discount', 'l3_tax', 'l3_returnflag', 'l3_linestatus', 'l3_shipdate', 'l3_commitdate',
           'l3_receiptdate', 'l3_shipinstruct', 'l3_shipmode', 'l3_comment']
l3 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l3_cols)
l3.columns.name = 'l3'

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'
join_ns = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')
join_ns.columns.name = 'join_ns'
sub_l1 = l1[(l1['l1_receiptdate'] > l1['l1_commitdate'])]
sub_l1.columns.name = 'sub_l1'
r = join_ns.merge(sub_l1, left_on='s_suppkey', right_on='l1_suppkey')

sub_o = orders[(orders['o_orderstatus'] == 'F')]
sub_o.columns.name = 'sub_o'
r = r.merge(sub_o, left_on='l1_orderkey', right_on='o_orderkey')

main_cols = pysdql.SUPPLIER_COLS + pysdql.ORDERS_COLS + pysdql.NATION_COLS + l1_cols

r = r.merge(l2, left_on='l1_orderkey', right_on='l2_orderkey')
r['exists_l2'] = np.select(
    [
        (r['l1_suppkey'] != r['l2_suppkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l2=('exists_l2', 'sum'))
r = r[r['exists_l2'] > 0]

r = r.merge(l3, left_on='l1_orderkey', right_on='l3_orderkey')
r['exists_l3'] = np.select(
    [
        (r['l1_suppkey'] != r['l3_suppkey'])
        & (r['l3_receiptdate'] > r['l3_commitdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l3=('exists_l3', 'sum'))
r = r[r['exists_l3'] == 0]

r = r.groupby(['s_name'], as_index=False).agg(numwait=('l1_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-21').run(r).export().to()

let lineitem = load[{<l3_orderkey: int, l3_partkey: int, l3_suppkey: int, l3_linenumber: int, l3_quantity: int, l3_extendedprice: double, l3_discount: double, l3_tax: double, l3_returnflag: string, l3_linestatus: string, l3_shipdate: date, l3_commitdate: date, l3_receiptdate: date, l3_shipinstruct: string, l3_shipmode: string, l3_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let l3 = lineitem
let lineitem = load[{<l2_orderkey: int, l2_partkey: int, l2_suppkey: int, l2_linenumber: int, l2_quantity: int, l2_extendedprice: double, l2_discount: double, l2_tax: double, l2_returnflag: string, l2_linestatus: string, l2_shipdate: date, l2_commitdate: date, l2_receiptdate: date, l2_shipinstruct: string, l2_shipmode: string, l2_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let l2 = lineitem
let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let omp = sum (<ord_k, ord_v> in orders) if ((ord_k.o_orderstatus == "F")) then { ord_k -> 1 } else {  }
let sub_o = omp
let lineitem = load[{<l1_orderkey: int, l1_partkey: int, l1_suppkey: int, l1_linenumber: int, l1_quantity: int, l1_extendedprice: double, l1_discount: double, l1_tax: double, l1_returnflag: string, l1_linestatus: string, l1_shipdate: date, l1_commitdate: date, l1_receiptdate: date, l1_shipinstruct: string, l1_shipmode: string, l1_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/lineitem.tbl")
let l1 = lineitem
let lmp = sum (<l1_k, l1_v> in l1) if ((l1_k.l1_commitdate < l1_k.l1_receiptdate)) then { l1_k -> 1 } else {  }
let sub_l1 = lmp
let nation = load[{<n_nationkey: int, n_name: string, n_regionkey: int, n_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/nation.tbl")
let nmp = sum (<nat_k, nat_v> in nation) if ((nat_k.n_name == "UNITED KINGDOM")) then { nat_k -> 1 } else {  }
let sub_n = nmp
let supplier = load[{<s_suppkey: int, s_name: string, s_address: string, s_nationkey: int, s_phone: string, s_acctbal: double, s_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/supplier.tbl")
let part_sub_n = sum (<sn_k, sn_v> in sub_n) { < n_nationkey=sn_k.n_nationkey > -> { sn_k -> sn_v } }
let Rm0 = sum (<sup_k, sup_v> in supplier) if ((part_sub_n(<n_nationkey=sup_k.s_nationkey>) != {  })) then sum(<p_k, p_v> in part_sub_n(<n_nationkey=sup_k.s_nationkey>)) { concat(sup_k, p_k) -> sup_v * p_v } else {  }
let join_ns = Rm0
let part_sub_l1 = sum (<s1_k, s1_v> in sub_l1) { < l1_suppkey=s1_k.l1_suppkey > -> { s1_k -> s1_v } }
let Rm1 = sum (<jn_k, jn_v> in join_ns) if ((part_sub_l1(<l1_suppkey=jn_k.s_suppkey>) != {  })) then sum(<p_k, p_v> in part_sub_l1(<l1_suppkey=jn_k.s_suppkey>)) { concat(jn_k, p_k) -> jn_v * p_v } else {  }
let part_sub_o = sum (<so_k, so_v> in sub_o) { < o_orderkey=so_k.o_orderkey > -> { so_k -> so_v } }
let Rm2 = sum (<r1_k, r1_v> in Rm1) if ((part_sub_o(<o_orderkey=r1_k.l1_orderkey>) != {  })) then sum(<p_k, p_v> in part_sub_o(<o_orderkey=r1_k.l1_orderkey>)) { concat(r1_k, p_k) -> r1_v * p_v } else {  }
let part_l2 = sum (<l2_k, l2_v> in l2) { < l2_orderkey=l2_k.l2_orderkey > -> { l2_k -> l2_v } }
let Rm3 = sum (<r2_k, r2_v> in Rm2) if ((part_l2(<l2_orderkey=r2_k.l1_orderkey>) != {  })) then sum(<p_k, p_v> in part_l2(<l2_orderkey=r2_k.l1_orderkey>)) { concat(r2_k, p_k) -> r2_v * p_v } else {  }
let rmp = sum (<r3_k, r3_v> in Rm3) if ((r3_k.l1_suppkey != r3_k.l2_suppkey)) then { concat(r3_k, < exists_l2=1 >) -> 1 } else { concat(r3_k, < exists_l2=0 >) -> 1 }
let tmpa = sum (<r_k, r_v> in rmp) { < s_suppkey=r_k.s_suppkey, s_name=r_k.s_name, s_address=r_k.s_address, s_nationkey=r_k.s_nationkey, s_phone=r_k.s_phone, s_acctbal=r_k.s_acctbal, s_comment=r_k.s_comment, o_orderkey=r_k.o_orderkey, o_custkey=r_k.o_custkey, o_orderstatus=r_k.o_orderstatus, o_totalprice=r_k.o_totalprice, o_orderdate=r_k.o_orderdate, o_orderpriority=r_k.o_orderpriority, o_clerk=r_k.o_clerk, o_shippriority=r_k.o_shippriority, o_comment=r_k.o_comment, n_nationkey=r_k.n_nationkey, n_name=r_k.n_name, n_regionkey=r_k.n_regionkey, n_comment=r_k.n_comment, l1_orderkey=r_k.l1_orderkey, l1_partkey=r_k.l1_partkey, l1_suppkey=r_k.l1_suppkey, l1_linenumber=r_k.l1_linenumber, l1_quantity=r_k.l1_quantity, l1_extendedprice=r_k.l1_extendedprice, l1_discount=r_k.l1_discount, l1_tax=r_k.l1_tax, l1_returnflag=r_k.l1_returnflag, l1_linestatus=r_k.l1_linestatus, l1_shipdate=r_k.l1_shipdate, l1_commitdate=r_k.l1_commitdate, l1_receiptdate=r_k.l1_receiptdate, l1_shipinstruct=r_k.l1_shipinstruct, l1_shipmode=r_k.l1_shipmode, l1_comment=r_k.l1_comment > -> < exists_l2=promote[nullable[real]](r_k.exists_l2 * r_v) > }
let agg_rmp = sum (<ta_k, ta_v> in tmpa) { < s_suppkey=ta_k.s_suppkey, s_name=ta_k.s_name, s_address=ta_k.s_address, s_nationkey=ta_k.s_nationkey, s_phone=ta_k.s_phone, s_acctbal=ta_k.s_acctbal, s_comment=ta_k.s_comment, o_orderkey=ta_k.o_orderkey, o_custkey=ta_k.o_custkey, o_orderstatus=ta_k.o_orderstatus, o_totalprice=ta_k.o_totalprice, o_orderdate=ta_k.o_orderdate, o_orderpriority=ta_k.o_orderpriority, o_clerk=ta_k.o_clerk, o_shippriority=ta_k.o_shippriority, o_comment=ta_k.o_comment, n_nationkey=ta_k.n_nationkey, n_name=ta_k.n_name, n_regionkey=ta_k.n_regionkey, n_comment=ta_k.n_comment, l1_orderkey=ta_k.l1_orderkey, l1_partkey=ta_k.l1_partkey, l1_suppkey=ta_k.l1_suppkey, l1_linenumber=ta_k.l1_linenumber, l1_quantity=ta_k.l1_quantity, l1_extendedprice=ta_k.l1_extendedprice, l1_discount=ta_k.l1_discount, l1_tax=ta_k.l1_tax, l1_returnflag=ta_k.l1_returnflag, l1_linestatus=ta_k.l1_linestatus, l1_shipdate=ta_k.l1_shipdate, l1_commitdate=ta_k.l1_commitdate, l1_receiptdate=ta_k.l1_receiptdate, l1_shipinstruct=ta_k.l1_shipinstruct, l1_shipmode=ta_k.l1_shipmode, l1_comment=ta_k.l1_comment, exists_l2=promote[real](ta_v.exists_l2) > -> 1 }
let amp = sum (<ar_k, ar_v> in agg_rmp) if ((0 < ar_k.exists_l2)) then { ar_k -> 1 } else {  }
let part_l3 = sum (<l3_k, l3_v> in l3) { < l3_orderkey=l3_k.l3_orderkey > -> { l3_k -> l3_v } }
let Rm0 = sum (<a_k, a_v> in amp) if ((part_l3(<l3_orderkey=a_k.l1_orderkey>) != {  })) then sum(<p_k, p_v> in part_l3(<l3_orderkey=a_k.l1_orderkey>)) { concat(a_k, p_k) -> a_v * p_v } else {  }
let rmp = sum (<r0_k, r0_v> in Rm0) if (((r0_k.l1_suppkey != r0_k.l3_suppkey) && (r0_k.l3_commitdate < r0_k.l3_receiptdate))) then { concat(r0_k, < exists_l3=1 >) -> 1 } else { concat(r0_k, < exists_l3=0 >) -> 1 }
let tmpc = sum (<r_k, r_v> in rmp) { < s_suppkey=r_k.s_suppkey, s_name=r_k.s_name, s_address=r_k.s_address, s_nationkey=r_k.s_nationkey, s_phone=r_k.s_phone, s_acctbal=r_k.s_acctbal, s_comment=r_k.s_comment, o_orderkey=r_k.o_orderkey, o_custkey=r_k.o_custkey, o_orderstatus=r_k.o_orderstatus, o_totalprice=r_k.o_totalprice, o_orderdate=r_k.o_orderdate, o_orderpriority=r_k.o_orderpriority, o_clerk=r_k.o_clerk, o_shippriority=r_k.o_shippriority, o_comment=r_k.o_comment, n_nationkey=r_k.n_nationkey, n_name=r_k.n_name, n_regionkey=r_k.n_regionkey, n_comment=r_k.n_comment, l1_orderkey=r_k.l1_orderkey, l1_partkey=r_k.l1_partkey, l1_suppkey=r_k.l1_suppkey, l1_linenumber=r_k.l1_linenumber, l1_quantity=r_k.l1_quantity, l1_extendedprice=r_k.l1_extendedprice, l1_discount=r_k.l1_discount, l1_tax=r_k.l1_tax, l1_returnflag=r_k.l1_returnflag, l1_linestatus=r_k.l1_linestatus, l1_shipdate=r_k.l1_shipdate, l1_commitdate=r_k.l1_commitdate, l1_receiptdate=r_k.l1_receiptdate, l1_shipinstruct=r_k.l1_shipinstruct, l1_shipmode=r_k.l1_shipmode, l1_comment=r_k.l1_comment > -> < exists_l3=promote[nullable[real]](r_k.exists_l3 * r_v) > }
let agg_rmp = sum (<tc_k, tc_v> in tmpc) { < s_suppkey=tc_k.s_suppkey, s_name=tc_k.s_name, s_address=tc_k.s_address, s_nationkey=tc_k.s_nationkey, s_phone=tc_k.s_phone, s_acctbal=tc_k.s_acctbal, s_comment=tc_k.s_comment, o_orderkey=tc_k.o_orderkey, o_custkey=tc_k.o_custkey, o_orderstatus=tc_k.o_orderstatus, o_totalprice=tc_k.o_totalprice, o_orderdate=tc_k.o_orderdate, o_orderpriority=tc_k.o_orderpriority, o_clerk=tc_k.o_clerk, o_shippriority=tc_k.o_shippriority, o_comment=tc_k.o_comment, n_nationkey=tc_k.n_nationkey, n_name=tc_k.n_name, n_regionkey=tc_k.n_regionkey, n_comment=tc_k.n_comment, l1_orderkey=tc_k.l1_orderkey, l1_partkey=tc_k.l1_partkey, l1_suppkey=tc_k.l1_suppkey, l1_linenumber=tc_k.l1_linenumber, l1_quantity=tc_k.l1_quantity, l1_extendedprice=tc_k.l1_extendedprice, l1_discount=tc_k.l1_discount, l1_tax=tc_k.l1_tax, l1_returnflag=tc_k.l1_returnflag, l1_linestatus=tc_k.l1_linestatus, l1_shipdate=tc_k.l1_shipdate, l1_commitdate=tc_k.l1_commitdate, l1_receiptdate=tc_k.l1_receiptdate, l1_shipinstruct=tc_k.l1_shipinstruct, l1_shipmode=tc_k.l1_shipmode, l1_comment=tc_k.l1_comment, exists_l3=promote[real](tc_v.exists_l3) > -> 1 }
let amp = sum (<ar_k, ar_v> in agg_rmp) if ((ar_k.exists_l3 == 0)) then { ar_k -> 1 } else {  }
let tmpa = sum (<a_k, a_v> in amp) { < s_name=a_k.s_name > -> < numwait=a_v > }
let agg_amp = sum (<ta_k, ta_v> in tmpa) { < s_name=ta_k.s_name, numwait=ta_v.numwait > -> 1 }
agg_amp

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
{<s_name = Supplier#000000007, numwait = 8> -> 1, <s_name = Supplier#000000066, numwait = 16> -> 1, <s_name = Supplier#000000032, numwait = 6> -> 1}
[success] Total time: 21 s, completed 2022年7月30日 上午6:37:31
========================================================
pysdql execution time: 35.55110502243042
export sdql script "tpch-21.sdql" to "T:/UG4-Proj/output/tpch-21.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-21.sdql

{<s_name = Supplier#000000007, numwait = 8> -> 1, <s_name = Supplier#000000066, numwait = 16> -> 1, <s_name = Supplier#000000032, numwait = 6> -> 1}

### pandas - 21

In [43]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = 'UNITED KINGDOM'

supplier = pd.read_table(rf'{data_path}/supplier.tbl', sep='|', index_col=False, header=None, names=pysdql.SUPPLIER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)
nation = pd.read_table(rf'{data_path}/nation.tbl', sep='|', index_col=False, header=None, names=pysdql.NATION_COLS)
l1_cols = ['l1_orderkey', 'l1_partkey', 'l1_suppkey', 'l1_linenumber', 'l1_quantity', 'l1_extendedprice',
           'l1_discount', 'l1_tax', 'l1_returnflag', 'l1_linestatus', 'l1_shipdate', 'l1_commitdate',
           'l1_receiptdate', 'l1_shipinstruct', 'l1_shipmode', 'l1_comment']
l1 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l1_cols)
l1.columns.name = 'l1'
l2_cols = ['l2_orderkey', 'l2_partkey', 'l2_suppkey', 'l2_linenumber', 'l2_quantity', 'l2_extendedprice',
           'l2_discount', 'l2_tax', 'l2_returnflag', 'l2_linestatus', 'l2_shipdate', 'l2_commitdate',
           'l2_receiptdate', 'l2_shipinstruct', 'l2_shipmode', 'l2_comment']
l2 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l2_cols)
l2.columns.name = 'l2'
l3_cols = ['l3_orderkey', 'l3_partkey', 'l3_suppkey', 'l3_linenumber', 'l3_quantity', 'l3_extendedprice',
           'l3_discount', 'l3_tax', 'l3_returnflag', 'l3_linestatus', 'l3_shipdate', 'l3_commitdate',
           'l3_receiptdate', 'l3_shipinstruct', 'l3_shipmode', 'l3_comment']
l3 = pd.read_table(rf'{data_path}/lineitem.tbl', sep='|', index_col=False, header=None, names=l3_cols)
l3.columns.name = 'l3'

sub_n = nation[(nation['n_name'] == var1)]
sub_n.columns.name = 'sub_n'
join_ns = supplier.merge(sub_n, left_on='s_nationkey', right_on='n_nationkey')
join_ns.columns.name = 'join_ns'
sub_l1 = l1[(l1['l1_receiptdate'] > l1['l1_commitdate'])]
sub_l1.columns.name = 'sub_l1'
r = join_ns.merge(sub_l1, left_on='s_suppkey', right_on='l1_suppkey')

sub_o = orders[(orders['o_orderstatus'] == 'F')]
sub_o.columns.name = 'sub_o'
r = r.merge(sub_o, left_on='l1_orderkey', right_on='o_orderkey')

main_cols = pysdql.SUPPLIER_COLS + pysdql.ORDERS_COLS + pysdql.NATION_COLS + l1_cols

r = r.merge(l2, left_on='l1_orderkey', right_on='l2_orderkey')
r['exists_l2'] = np.select(
    [
        (r['l1_suppkey'] != r['l2_suppkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l2=('exists_l2', 'sum'))
r = r[r['exists_l2'] > 0]

r = r.merge(l3, left_on='l1_orderkey', right_on='l3_orderkey')
r['exists_l3'] = np.select(
    [
        (r['l1_suppkey'] != r['l3_suppkey'])
        & (r['l3_receiptdate'] > r['l3_commitdate'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(main_cols, as_index=False).agg(exists_l3=('exists_l3', 'sum'))
r = r[r['exists_l3'] == 0]

r = r.groupby(['s_name'], as_index=False).agg(numwait=('l1_orderkey', 'count'))

print(r)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-21').run(r).export().to()

               s_name  numwait
0  Supplier#000000007        8
1  Supplier#000000032        6
2  Supplier#000000066       16

# TPCH - 22 ✅

### SQL - 22

```
select
	cntrycode,
	count(*) as numcust,
	sum(c_acctbal) as totacctbal
from
	(
		select
			substring(c_phone from 1 for 2) as cntrycode,
			c_acctbal
		from
			customer
		where
			substring(c_phone from 1 for 2) in
				(':1', ':2', ':3', ':4', ':5', ':6', ':7')
			and c_acctbal > (
				select
					avg(c_acctbal)
				from
					customer
				where
					c_acctbal > 0.00
					and substring(c_phone from 1 for 2) in
						(':1', ':2', ':3', ':4', ':5', ':6', ':7')
			)
			and not exists (
				select
					*
				from
					orders
				where
					o_custkey = c_custkey
			)
	) as custsale
group by
	cntrycode
```

### pysdql - 22

In [44]:
# Try replace pysdql with pandas to get result in pandas!
# import pandas as pd  # get answer in pandas
# import numpy as np  # for numpy.select(), must use together with pandas
import pysdql as pd  # get answer in pysdql
import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = ('16', '12', '18', '14', '30', '27', '25')

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_c = customer[(customer['c_acctbal'] > 0.00)
                 & (customer['c_phone'].str.slice(0, 2).isin(var1))]
sub_c.columns.name = 'sub_c'

avg_acctbal = sub_c['c_acctbal'].mean()

r = customer[customer['c_phone'].str.slice(0, 2).isin(var1)]

r = r[r['c_acctbal'] > avg_acctbal]

r = r.merge(orders, how='cross')
r['exists'] = np.select(
    [
        (r['o_custkey'] == r['c_custkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(pysdql.CUSTOMER_COLS, as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] == 0]

r['cntrycode'] = r['c_phone'].str.slice(0, 2)

custsale = r[['cntrycode', 'c_acctbal']]
custsale.columns.name = 'custsale'

custsale.groupby(['cntrycode'], as_index=False).agg(numcust=('c_acctbal', 'count'), totacctbal=('c_acctbal', 'sum'))

print(custsale)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-22').run(custsale).export().to()

let orders = load[{<o_orderkey: int, o_custkey: int, o_orderstatus: string, o_totalprice: double, o_orderdate: date, o_orderpriority: string, o_clerk: string, o_shippriority: int, o_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/orders.tbl")
let customer = load[{<c_custkey: int, c_name: string, c_address: string, c_nationkey: int, c_phone: string, c_acctbal: double, c_mktsegment: string, c_comment: string> -> int}]("T:/UG4-Proj/datasets/10M/customer.tbl")
let cmp = sum (<cus_k, cus_v> in customer) if (((0.0 < cus_k.c_acctbal) && (((((((ext(`SubString`, cus_k.c_phone, 0, 2) == "25") || (ext(`SubString`, cus_k.c_phone, 0, 2) == "27")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "16")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "12")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "18")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "14")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "30")))) then { cus_k -> 1 } else {  }
let sub_c = cmp
let c_acctbal_mean = let c_acctbal_sumcount = sum (<sc_k, sc_v> in sub_c) < c_acctbal_sum=sc_k.c_acctbal * sc_v, c_acctbal_count=sc_v > in c_acctbal_sumcount.c_acctbal_sum / c_acctbal_sumcount.c_acctbal_count
let tmp = sum (<cus_k, cus_v> in customer) if ((((((((ext(`SubString`, cus_k.c_phone, 0, 2) == "25") || (ext(`SubString`, cus_k.c_phone, 0, 2) == "27")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "16")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "12")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "18")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "14")) || (ext(`SubString`, cus_k.c_phone, 0, 2) == "30"))) then { cus_k -> 1 } else {  }
let tmpa = sum (<t_k, t_v> in tmp) if ((c_acctbal_mean < t_k.c_acctbal)) then { t_k -> 1 } else {  }
let Rm0 = sum (<ta_k, ta_v> in tmpa) sum (<ord_k, ord_v> in orders) { concat(ta_k, ord_k) -> ta_v * ord_v }
let rmp = sum (<r0_k, r0_v> in Rm0) if ((r0_k.o_custkey == r0_k.c_custkey)) then { concat(r0_k, < exists=1 >) -> 1 } else { concat(r0_k, < exists=0 >) -> 1 }
let tmpc = sum (<r_k, r_v> in rmp) { < c_custkey=r_k.c_custkey, c_name=r_k.c_name, c_address=r_k.c_address, c_nationkey=r_k.c_nationkey, c_phone=r_k.c_phone, c_acctbal=r_k.c_acctbal, c_mktsegment=r_k.c_mktsegment, c_comment=r_k.c_comment > -> < exists=promote[nullable[real]](r_k.exists * r_v) > }
let agg_rmp = sum (<tc_k, tc_v> in tmpc) { < c_custkey=tc_k.c_custkey, c_name=tc_k.c_name, c_address=tc_k.c_address, c_nationkey=tc_k.c_nationkey, c_phone=tc_k.c_phone, c_acctbal=tc_k.c_acctbal, c_mktsegment=tc_k.c_mktsegment, c_comment=tc_k.c_comment, exists=promote[real](tc_v.exists) > -> 1 }
let amp = sum (<ar_k, ar_v> in agg_rmp) if ((ar_k.exists == 0)) then { ar_k -> 1 } else {  }
let tmp = sum (<a_k, a_v> in amp) { concat(a_k, < cntrycode=ext(`SubString`, a_k.c_phone, 0, 2) >) -> 1 }
let tmpa = sum (<t_k, t_v> in tmp) { < cntrycode=t_k.cntrycode, c_acctbal=t_k.c_acctbal > -> 1 }
let custsale = tmpa
custsale

[info] welcome to sbt 1.6.0 (Oracle Corporation Java 17)
[info] loading project definition from T:\sdql\project
[info] loading settings for project sdql from build.sbt ...
[info] set current project to sdql (in build file:/T:/sdql/)
[info] sbt server started at local:sbt-server-ec9dcaf7bfc5935dead3
[warn] sbt server could not start in 10s
>....[info] running sdql.driver.Main interpret T:/UG4-Proj/output/Q00.sdql
[warn] In the last 10 seconds, 5.139 (53.1%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.023 (92.0%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.487 (95.8%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 9.36 (96.0%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[warn] In the last 10 seconds, 13.552 (138.6%) were spent in GC. [Heap: 0.40GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.
[success] Total time: 96 s (01:36), completed 2022年7月30日 上午6:39:22
========================================================
pysdql execution time: 110.88185429573059
export sdql script "tpch-22.sdql" to "T:/UG4-Proj/output/tpch-22.sdql"
excute by:
run interpret T:/UG4-Proj/output/tpch-22.sdql

[warn] In the last 10 seconds, 5.139 (53.1%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.023 (92.0%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.487 (95.8%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 9.36 (96.0%) were spent in GC. [Heap: 0.00GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.[warn] In the last 10 seconds, 13.552 (138.6%) were spent in GC. [Heap: 0.40GB free of 1.00GB, max 1.00GB] Consider increasing the JVM heap using `-Xmx` or try a different collector, e.g. `-XX:+UseG1GC`, for better performance.

### pandas - 22

In [45]:
# Try replace pysdql with pandas to get result in pandas!
import pandas as pd  # get answer in pandas
import numpy as np  # for numpy.select(), must use together with pandas
# import pysdql as pd  # get answer in pysdql
# import pysdqlnp as np  # for pysdqlnp.select(), must use together with pysdql

# display all columns
pd.set_option('display.max_columns', None)
# display all rows
pd.set_option('display.max_rows', None)

var1 = ('16', '12', '18', '14', '30', '27', '25')

customer = pd.read_table(rf'{data_path}/customer.tbl', sep='|', index_col=False, header=None, names=pysdql.CUSTOMER_COLS)
orders = pd.read_table(rf'{data_path}/orders.tbl', sep='|', index_col=False, header=None, names=pysdql.ORDERS_COLS)

sub_c = customer[(customer['c_acctbal'] > 0.00)
                 & (customer['c_phone'].str.slice(0, 2).isin(var1))]
sub_c.columns.name = 'sub_c'

avg_acctbal = sub_c['c_acctbal'].mean()

r = customer[customer['c_phone'].str.slice(0, 2).isin(var1)]

r = r[r['c_acctbal'] > avg_acctbal]

r = r.merge(orders, how='cross')
r['exists'] = np.select(
    [
        (r['o_custkey'] == r['c_custkey'])
    ],
    [
        1
    ],
    default=0)
r = r.groupby(pysdql.CUSTOMER_COLS, as_index=False).agg(exists=('exists', 'sum'))
r = r[r['exists'] == 0]

r['cntrycode'] = r['c_phone'].str.slice(0, 2)

custsale = r[['cntrycode', 'c_acctbal']]
custsale.columns.name = 'custsale'

custsale.groupby(['cntrycode'], as_index=False).agg(numcust=('c_acctbal', 'count'), totacctbal=('c_acctbal', 'sum'))

print(custsale)

pysdql.db_driver(db_path=sdql_database_path, name='tpch-22').run(custsale).export().to()

custsale cntrycode  c_acctbal
0               30    7638.57
2               18    8324.07
3               16    5494.43
5               12    6264.31
9               18    6323.92
15              16    5454.26
17              18    6268.99
20              30    7250.14
24              30    6868.12
25              25    9584.96
30              30    7276.72
31              12    5339.43
33              25    7096.32
35              30    7718.77
36              18    8762.16
37              30    8244.73
38              12    9241.49
39              12    7095.95
40              27    6542.83
43              25    5562.22
45              14    8862.18
48              18    7358.53
50              25    9247.21
52              12    6217.46
56              18    5678.18
59              12    8432.74
60              14    5716.90
63              14    8255.83
64              18    8635.18
71              27    6089.13
74              25    5486.52
77              14    6307.59
78              25    8480.87
83              30    6344.66
87              25    5826.68
94              30    5295.26
97              25    8545.90
101             25    9591.51
104             30    8947.26
107             27    8114.44
109             30    5683.33
112             30    9097.52
113             18    9874.12
123             25    9615.39
127             18    8601.63
129             18    9850.64
131             12    8191.74
133             27    7188.35
134             27    9699.28
135             25    6252.18
139             18    9726.83
144             30    6019.10
145             30    6319.21
146             14    8655.98
155             16    8814.39
160             30    8437.76
161             18    8124.15
163             30    6936.72
165             18    6539.15
166             12    8810.83
169             30    8972.46
170             25    7461.69
171             25    6407.13
172             30    5139.00
176             25    6376.18
177             27    8839.15
179             18    7004.90
181             14    5912.72
182             27    8389.50
183             25    7703.84
184             27    8839.32
189             27    7033.49
191             14    7929.51

In [46]:
tpch_query_end = time()

tpch_query_end - tpch_query_start

1036.1559989452362